<template>

    <div class="event-miniature-horizontal">

        <div class="image">
            <a :href="eventUrl"><img :src="getPlaceHolder" alt="Event Image"></a>
        </div>

        <section class="title-informations">

            <div class="title-action-button">
                <h2><a :href="eventUrl">{{ name | capitalize }}</a></h2>

                <div v-if="!eventIsAlreadyPast"
                     class="action-button">
                    <group-status-action :id="id" :status="status" :discr="'event'"></group-status-action>
                </div>

            </div>

            <div class="informations">

                <div v-if="startDate && endDate">
                    <small v-if="startDate">
                        <i class="mdi mdi-calendar"></i> {{ startDate | readableDate }}
                        <i class="mdi mdi-clock"></i> {{ startDate | readableTime }}
                    </small>

                    <br>

                    <small v-if="endDate">
                        <i class="mdi mdi-calendar"></i> {{ endDate | readableDate }}
                        <i class="mdi mdi-clock"></i> {{ endDate | readableTime }}
                    </small>
                </div>

                <div>
                    <small v-if="location">
                        <i class="mdi mdi-map-marker"></i>
                        {{ location | capitalize }}
                    </small>

                    <br>

                    <i class="mdi mdi-account-multiple"></i>&nbsp
                    <small>
                        <span v-if="numberParticipants <= 1">{{ 'social.number_participant' | $t({'%number%': numberParticipants}) }}</span>
                        <span v-else-if="numberParticipants > 1">{{ 'social.number_participants' | $t({'%number%': numberParticipants}) }}</span>
                    </small>
                </div>

            </div>
        </section>
    </div>

</template>

<script>

  import moment from 'moment'
  import capitalize from './../../../filters/capitalize'
  import readableDate from './../../../filters/readableDate'
  import readableTime from './../../../filters/readableTime'
  import PlaceholderManager from './../../../manager/ACTPlaceholderManager'

  import GroupStatusAction from './view/ACTGroupStatusAction.vue'

  import eventHub from './../../../events/eventHub'

  export default {

    name: 'ACTMiniatureEventHorizontal',

    props: {
      id: {type: Number, required: true},
      name: {type: String, required: true},
      numberParticipants: {type: Number},
      picture: {type: String },
      public: {type: Boolean, default: false},
      status: {type: String},
      numberNotifications: {type: Number, default: 0},
      startDate: {type: String, default:''},
      endDate: {type: String, default:''},
      location: {type: String, default:''},
    },

    components: {
      'group-status-action': GroupStatusAction
    },

    created () {
      eventHub.$on('hasjoinedgroup', this.hasJoinedGroup)
    },

    computed: {
      eventUrl() {
        return `/social/group/${this.id}`
      },
      getPlaceHolder () {
        if (this.picture) {
          return this.picture
        }

        return PlaceholderManager.getRandomPlaceholder()
      },
      eventIsAlreadyPast() {
        let startDate = new Date(this.startDate).getTime()
        return new Date().getTime() > startDate
      }
    },

    methods : {
      hasJoinedGroup(groupId) {
        if (this.id === groupId) {
          this.$emit('status-changed', 'joined')
        }
      },
    },

    filters: {
      readableDate,
      readableTime,
    }
  }
</script>

