<template>
    <div>
        <!-- <transition-group name="list" appear> -->
        <div class="list-item" v-for="( group, index ) in groupList" :key="group.id">

            <miniature-group :id="group.id"
                             :name="group.title"
                             :number-participants="group.participants"
                             :status="group.status"
                             :public="group.public"
                             :picture="(group.header_img) ? group.header_img : null"
                             :number-notifications="group.last_comments.length">

            </miniature-group>

        </div>
        <!-- </transition-group> -->
    </div>
</template>

<script>
    // Vue components
    import MiniatureGroup from './ACTMiniatureGroup';

    export default {

        name: 'ACTMiniatureGroupsList',

        components: {
            'miniature-group': MiniatureGroup
        },

        props: {
            groupList: {type: Array}
        },

    }
</script>
