<template>
    <div>
        <div class="list-item" v-for="( invitation, index ) in invitationList" :key="invitation.id">

            <miniature-event v-if="invitation.discr === 'event'"
                             :id="invitation.id"
                             :name="invitation.title"
                             :status="invitation.status"
                             :public="invitation.public"
                             :number-participants="invitation.participants"
                             :picture="(invitation.header_img) ? invitation.header_img : null"
                             :number-notifications="invitation.last_comments.length"
                             :start-date="invitation.start_date"
                             :end-date="invitation.end_date"
                             :location="invitation.address">

            </miniature-event>

            <miniature-group v-else
                             :id="invitation.id"
                             :name="invitation.title"
                             :status="invitation.status"
                             :public="invitation.public"
                             :number-participants="invitation.participants"
                             :picture="(invitation.header_img) ? invitation.header_img : null"
                             :number-notifications="invitation.last_comments.length">

            </miniature-group>

        </div>

    </div>
</template>

<script>

  import querystring from 'querystring';
  import Api from '../../../manager/apiManager'

  //Vue components
  import MiniatureGroup from './ACTMiniatureGroup';
  import MiniatureEvent from './ACTMiniatureEvent';

  export default {

    name: 'ACTMiniatureInvitationsList',

    components: {
      'miniature-group': MiniatureGroup,
      'miniature-event': MiniatureEvent
    },

    props: {
      invitationList: {type: Array}
    }
  }
</script>

