<template>
    <article :id="id" class="td-social-card">

        <section class="card-image">
            <a :href="groupUrl"
               :style="'background-image: url(' + getPlaceHolder + '), radial-gradient(rgba(0,0,0,.3), rgba(0,0,0,.2)), url(' + getPlaceHolder + ');'">
            </a>
        </section>

        <div class="card-content">
            <a :href="groupUrl">
                <header class="media">
                    <div class="media-content">
                        <h3 class="title">{{ name | capitalize }}</h3>
                    </div>
                </header>
            </a>
            <footer class="content margin-top">
                <div>
                    <i class="mdi mdi-account-multiple"></i>&nbsp;
                    <small>
                        <span v-if="numberParticipants <= 1">{{'social.number_participant' | $t({'%number%': numberParticipants})}}</span>
                        <span v-else-if="numberParticipants > 1">{{'social.number_participants' | $t({'%number%': numberParticipants})}}</span>
                    </small>
                </div>

                <slot name="content-event"></slot>
            </footer>

            <div v-if="!eventIsAlreadyPast"
                 class="action-footer">
                <group-status-action :id="id" :status="status" :discr="discr"></group-status-action>
            </div>
        </div>

    </article>

</template>

<script>
  import translation from './../../../filters/translation'
  import Api from '../../../manager/apiManager'
  import PlaceholderManager from './../../../manager/ACTPlaceholderManager'
  import capitalize from './../../../filters/capitalize'

  import GroupStatusAction from './view/ACTGroupStatusAction.vue'

  export default {

    name: 'ACTMiniatureGroup',

    components: {
      'group-status-action': GroupStatusAction
    },
    computed: {
      groupUrl() {
        return `/social/group/${this.id}`
      },
      getPlaceHolder() {
        if (this.picture) {
          if (this.picture.social_box && this.picture.social_box.absolute_url) {
            return this.picture.social_box.absolute_url
          } else if (this.picture.reference && this.picture.reference.absolute_url) {
            return this.picture.reference.absolute_url
          }
        }

        return PlaceholderManager.getRandomPlaceholder()
      },
      eventIsAlreadyPast() {
        if (this.discr === 'group') {
          return false;
        }

        let startDate = new Date(this.startDate).getTime()
        return new Date().getTime() > startDate
      }
    },
    props: {
      id: {type: Number, required: true}, discr: {type: String, default: 'group'},
      name: {type: String, required: true},
      numberParticipants: {type: Number || ''},
      picture: {type: Object},
      public: {type: Boolean, default: false},
      status: {type: String},
      startDate: {type: String, default:''},
      numberNotifications: {type: Number, default: 0},
    },
  }
</script>

<style lang="scss">
    .card-image {
        position: relative;
        /* C'est ici que tu peux changer le ratio.
            100% = carré
            56.25% = 16/9
            66.6% = 3/2
            75% = 4/3
            */
        padding-top: 66.666%;
        overflow: hidden;

        a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background-size: contain, cover, cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;

            transition: all .2s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
</style>