<template>
    <div>
        <div class="list-item" v-for="( event, index ) in eventList" :key="event.id">

            <miniature-event :id="event.id"
                             :name="event.title"
                             :status="event.status"
                             :public="event.public"
                             :number-participants="event.participants"
                             :picture="(event.header_img) ? event.header_img : null"
                             :number-notifications="event.last_comments.length"
                             :start-date="event.start_date"
                             :end-date="event.end_date"
                             :location="event.address">

            </miniature-event>

        </div>

    </div>
</template>

<script>
    //Vue components
    import MiniatureEvent from './ACTMiniatureEvent.vue'

    export default {

        name: 'ACTMiniatureEventsList',

        components: {
            'miniature-event': MiniatureEvent
        },

        props: {
            eventList: {type: Array}
        },
    }
</script>

