<template>

    <miniature-group :id="id"
                     discr="event"
                     :name="name"
                     :number-participants="numberParticipants"
                     :picture="picture"
                     :public="public"
                     :status="status"
                     :start-date="startDate"
                     :number-notifications="numberNotifications">

        <div slot="content-event" class="content-event">

            <p class="grid">
                <small v-if="startDate">
                    <i class="mdi mdi-calendar"></i> {{ startDate | readableDate }}
                    <i class="mdi mdi-clock"></i> {{ startDate | readableTime }}
                </small>

                <small v-if="endDate">
                    <i class="mdi mdi-calendar"></i> {{ endDate | readableDate }}
                    <i class="mdi mdi-clock"></i> {{ endDate | readableTime }}
                </small>
            </p>
            <p v-if="location"><i class="mdi mdi-map-marker"></i> {{ location | capitalize }}</p>

        </div>

    </miniature-group>

</template>

<script>

  import MiniatureGroup from './ACTMiniatureGroup.vue'
  import capitalize from './../../../filters/capitalize'
  import readableDate from './../../../filters/readableDate'
  import readableTime from './../../../filters/readableTime'

  export default {

    name: 'ACTMiniatureEvent',

    components: {
      'miniature-group': MiniatureGroup
    },

    props: {
      id: {type: Number, required: true},
      name: {type: String, required: true},
      numberParticipants: {type: Number},
      picture: {type: Object },
      public: {type: Boolean, default: false},
      status: {type: String},
      numberNotifications: {type: Number, default: 0},
      startDate: {type: String, default:''},
      endDate: {type: String, default:''},
      location: {type: String, default:''},
    },

    filters: {
      readableDate,
      readableTime,
    }
  }
</script>

