<template>
    <div id="viewGroup">
        <viewGroup :groupId="groupId"></viewGroup>
    </div>
</template>

<script>
    import viewGroup from './viewGroup'

    export default {
        name: 'viewGroup',
        props: ['groupId', 'token'],
        components: {
            viewGroup
        }
    }
</script>

<style>
</style>
