<template>
    <div class="main-content">
        <back-button @click="cancel" class="back-button-container"></back-button>

        <div class="box">
            <h1>{{ 'event.create_group' | $t }}</h1>
            <form-adherent-new-group @submitForm="submitGroup($event)" @cancel="cancel"></form-adherent-new-group>
        </div>
    </div>
</template>


<script>

  import querystring from 'querystring'
  import formdata from 'form-data'
  import translation from './../../../filters/translation'
  import Api from '../../../manager/apiManager'
  import eventHub from './../../../events/eventHub'

  import FormAdherentCreateNewGroup from './form/ACTAdherentCreateNewGroup.vue'
  import BackButton from './view/ACTBackButton.vue'

  export default {

    name: 'AppAdherentCreateNewGroup',

    components: {
      'form-adherent-new-group': FormAdherentCreateNewGroup,
      'back-button': BackButton,
    },

    methods: {

      cancel: function () {
        this.$emit('cancel')
      },

      submitGroup: function (group) {
        Api.api_post('/social/group', querystring.stringify(
          {
            title: group.name,
            headerImg: group.image,
            description: group.description,
            public: true,
          },
          )
        ).then(
          (response) => {
            let groupId = response.data.id
            this.$emit('created', groupId)
            this.sendFinishToForm(true)
          }
        ).catch(
          (error) => {
            console.log(error)
            this.sendFinishToForm(false)
          })
      },

      sendFinishToForm(success) {
        eventHub.$emit('ACTAdherentCreateNew.api_call_finish', success)
      }
    }
  }
</script>

