<template>
    <div class="main-content">
        <back-button @click="cancel" class="back-button-container"></back-button>

        <div class="box">
            <h1>{{ 'event.create_event' | $t }}</h1>
            <form-adherent-new-event @submitForm="submitEvent($event)" @cancel="cancel"></form-adherent-new-event>
        </div>
    </div>
</template>


<script>

  import translation from './../../../filters/translation'
  import Api from '../../../manager/apiManager'
  import querystring from 'querystring'
  import eventHub from './../../../events/eventHub'

  import FormAdherentCreateNewEvent from './form/ACTAdherentCreateNewEvent.vue'
  import BackButton from './view/ACTBackButton.vue'

  export default {

    name: 'AppAdherentCreateNewEvent',

    components: {
      'form-adherent-new-event': FormAdherentCreateNewEvent,
      'back-button': BackButton,
    },
    methods: {

      cancel () {
        this.$emit('cancel')
      },

      submitEvent (event) {
        Api.api_post('/social/event',
          {
            title: event.name,
            public: true,
            description: event.description,
            headerImg: event.picture,
            address: event.location,
            capacity: event.capacity,
            startDate: new Date(event.startDate),
            endDate: new Date(event.endDate),
          },
        ).then(
          (response) => {
            let eventId = response.data.id
            this.$emit('created', eventId)
            this.sendFinishToForm(true)
          }
        ).catch(
          (error) => {
            console.log(error)
            this.sendFinishToForm(false)
          })
      },

      sendFinishToForm(success) {
        eventHub.$emit('ACTAdherentCreateNew.api_call_finish', success)
      }
    }
  }
</script>

<style lang="scss">
</style>
