<template>
    <div class="main-content">
        <back-button @click="cancel" class="back-button-container"></back-button>

        <div class="box">
            <h1>{{ 'social.header_group_edit' | $t }}</h1>
            <form-edit-group
              v-if="form"
              :form-data="form"
              @submitForm="submitGroup($event)"
              @cancel="cancel"
            ></form-edit-group>
        </div>
    </div>
</template>


<script>
  import querystring from 'querystring'
  import formdata from 'form-data'
  import translation from './../../../filters/translation'
  import Api from '../../../manager/apiManager'
  import eventHub from './../../../events/eventHub'
  import BackButton from './view/ACTBackButton.vue'
  import FormEditGroup from "./form/FormEditGroup";

  export default {
    name: 'AppEditGroup',
    components: {
      'form-edit-group': FormEditGroup,
      'back-button': BackButton,
    },
    props: ['entityId'],
    data() {
      return {
        form: null,
      };
    },
    mounted() {
      this.getGroup();
    },
    methods: {
      cancel: function () {
        this.$emit('cancel', this.entityId);
      },

      getGroup() {
        Api.api_get(`/social/${this.entityId}`, {}).then(({data}) => {
          this.form = data;
        });
      },

      submitGroup: function (group) {
        let data = {
          title: group.name,
          description: group.description,
          public: true,
        };

        if (group.image) {
          data = {...data, ...{headerImg: group.image}};
        }

        Api.api_post(`/social/edit/group/${this.entityId}`, querystring.stringify(data))
          .then((response) => {
            let groupId = response.data.id
            this.$emit('created', groupId)
            this.sendFinishToForm(true)
          })
          .catch((error) => {
            console.log(error)
            this.sendFinishToForm(false)
          })
      },

      sendFinishToForm(success) {
        eventHub.$emit('ACTAdherentCreateNew.api_call_finish', success)
      }
    }
  }
</script>

