<template>
    <div class="main-content">
        <back-button @click="cancel" class="back-button-container"></back-button>

        <div class="box">
            <h1>{{ 'social.header_event_edit' | $t }}</h1>
            <form-edit-event
              v-if="form"
              :form-data="form"
              @submitForm="submitEvent($event)"
              @cancel="cancel"
            ></form-edit-event>
        </div>
    </div>
</template>


<script>
  import querystring from 'querystring'
  import formdata from 'form-data'
  import translation from './../../../filters/translation'
  import Api from '../../../manager/apiManager'
  import eventHub from './../../../events/eventHub'
  import BackButton from './view/ACTBackButton.vue'
  import FormEditEvent from "./form/FormEditEvent";

  export default {
    name: 'AppEditEvent',
    components: {
      'form-edit-event': FormEditEvent,
      'back-button': BackButton,
    },
    props: ['entityId'],
    data() {
      return {
        form: null,
      };
    },
    mounted() {
      this.getGroup();
    },
    methods: {
      cancel: function () {
        this.$emit('cancel', this.entityId);
      },

      getGroup() {
        Api.api_get(`/social/${this.entityId}`, {}).then(({data}) => {
          this.form = data;
        });
      },

      submitEvent: function (event) {
        const startDate = new Date(event.startDate);
        const endDate = new Date(event.endDate);
        let data = {
          title: event.name,
          public: true,
          description: event.description,
          address: event.location,
          capacity: event.capacity,
          startDate: startDate.toISOString(),
          endDate: endDate.toISOString(),
        };

        if (event.picture) {
          data = {...data, ...{headerImg: event.picture}};
        }

        Api.api_post(`/social/edit/event/${this.entityId}`, querystring.stringify(data))
          .then((response) => {
            let groupId = response.data.id
            this.$emit('created', groupId)
            this.sendFinishToForm(true)
          })
          .catch((error) => {
            console.log(error)
            this.sendFinishToForm(false)
          })
      },

      sendFinishToForm(success) {
        eventHub.$emit('ACTAdherentCreateNew.api_call_finish', success)
      }
    }
  }
</script>

