<template>
    <div class="main-content">
        <nav class="td-horizontal-nav">
            <div :class="{ 'active': page === 'home' }" class="btn-home">
                    <a :class="{ 'active': page === 'home' }" @click="switchPage('home')"><i class="mdi mdi-home btn-home-social"></i></a>
            </div>
            <ul class="social-menu-tabs" :class="{ 'open' : socialMenuOpen}" @click="socialMenuOpen = !socialMenuOpen">
                <li :class="{ 'active': page === 'home' }">
                    <a :class="{ 'active': page === 'home' }" @click="switchPage('home')">{{ 'social.title' | $t }}</a>
                </li>

                <li :class="{ 'active': page === 'groups_me' }">
                    <a :class="{ 'active': page === 'groups_me' }" @click="switchPage('groups_me')">{{ 'social.your_groups' | $t }}</a>
                    <button @click="createGroup" class="btn-create tooltip-toggle"
                            :aria-label="'event.create_group' | $t">
                        <i class="mdi mdi-plus"></i>
                        <span>{{ 'event.create_group' | $t }}</span>
                    </button>
                </li>

                <li :class="{ 'active': page === 'events_me' }">
                    <a :class="{ 'active': page === 'events_me' }" @click="switchPage('events_me')">{{ 'social.your_events' | $t }}</a>
                    <button @click="createEvent" class="btn-create tooltip-toggle"
                            :aria-label="'event.create_event' | $t">
                        <i class="mdi mdi-plus"></i>
                        <span>{{ 'event.create_event' | $t }}</span>
                    </button>
                </li>

                <li v-if="numberInvitations > 0" @click="switchPage('invits')" :class="{ 'active': page === 'invits' }">
                    <a :class="{ 'active': page === 'invits' }">{{ 'social.your_invit' | $t }}</a>

                    <a class="td-pastille tooltip-toggle" :aria-label="'social.number_invitations' | $t({'%invitation_number%': numberInvitations})">{{ numberInvitations }}</a>
                </li>

                <li :class="{ 'active': page === 'groups' }">
                    <a :class="{ 'active': page === 'groups' }" @click="switchPage('groups')">
                        {{ 'social.all_groups' | $t }}
                    </a>
                </li>

                <li :class="{ 'active': page === 'events' }">
                    <a :class="{ 'active': page === 'events' }" @click="switchPage('events')">
                        {{ 'social.all_events' | $t }}
                    </a>
                </li>
            </ul>
        </nav>

        <div class="disclaimer">{{ 'social.disclaimer' | $t }}</div>

        <loader class="app-groups-events-loader"
                size="large"
                :is-visible="pageIsChanging">
        </loader>

        <div v-if="!pageIsChanging">
            <transition name="fade" mode="out-in">
                <!--<div v-show="!pageIsChanging">-->
                    <div v-if="page === 'groups'">
                        <miniature-groups-list :group-list="getAllGroups" class="grid-2 has-gutter-l">
                        </miniature-groups-list>

                        <p v-if="noGroups" class="empty-group">{{ 'social.group_empty' | $t }}</p>
                    </div>
                    <div v-else-if="page === 'events'">
                        <miniature-events-list :event-list="getAllEvents" class="grid-2 has-gutter-l">
                        </miniature-events-list>

                        <p v-if="noEvents" class="empty-group">{{ 'social.event_empty' | $t }}</p>
                    </div>
                    <div v-else-if="page === 'invits' && numberInvitations > 0">
                        <miniature-invitations-list :invitation-list="getInvitations"
                                                    class="grid-2 has-gutter-l">
                        </miniature-invitations-list>
                    </div>
                    <div v-else-if="page === 'groups_me'">
                        <miniature-groups-list :group-list="getGroups" class="grid-2 has-gutter-l">
                        </miniature-groups-list>

                        <p v-if="myGroupsEmpty" class="empty-group">{{ 'social.group_me_empty' | $t }}</p>
                    </div>
                    <div v-else-if="page === 'events_me'">
                        <miniature-events-list :event-list="getEvents" class="grid-2 has-gutter-l">
                        </miniature-events-list>

                        <p v-if="myEventsEmpty" class="empty-group">{{ 'social.event_me_empty' | $t }}</p>
                    </div>
                    <div v-else>
                        <div>
                            <h2 :class="{ 'no-content': noInvitations }">
                                <span class="main-title">{{ 'social.your_invit' | $t }}</span>
                                <a class="subheading-option" @click="switchInvitation">{{ invitationSwitcher | $t }}</a>
                            </h2>
                            <!-- {{ getInvitations.length }} -->
                            <div>
                                <transition name="fade">
                                    <miniature-invitations-list v-show="showInvitations" :invitation-list="getInvitations"
                                                                class="grid-2 has-gutter-l">
                                    </miniature-invitations-list>
                                </transition>

                                <loader class="app-groups-events-loader"
                                        size="normal"
                                        :is-visible="isLoadingSocial">
                                </loader>

                                <p v-if="noInvitations && !isLoadingSocial">{{ 'social.empty_invit' | $t }}</p>
                            </div>
                        </div>
                        <h2 :class="{ 'no-content': myGroupsEmpty }">
                            <span class="main-title">{{ 'social.your_groups' | $t }}</span>
                            <a class="subheading-option" @click="switchPage('groups')">{{ 'social.watch_groups' | $t }}</a>
                        </h2>
                        <!-- {{ getGroups.length }} -->
                        <div>
                            <miniature-groups-list :group-list="getGroups" class="grid-2 has-gutter-l"></miniature-groups-list>

                            <loader class="app-groups-events-loader"
                                    size="normal"
                                    :is-visible="isLoadingSocialMe">
                            </loader>

                            <p v-if="myGroupsEmpty && !isLoadingSocialMe">{{ 'social.group_me_empty' | $t }}</p>
                        </div>

                        <h2 :class="{ 'no-content': myEventsEmpty }">
                            <span class="main-title">{{ 'social.your_events' | $t }}</span>
                            <a class="subheading-option" @click="switchPage('events')">{{ 'social.watch_events' | $t }}</a>
                        </h2>
                        <!-- {{ getEvents.length }} -->
                        <div>
                            <miniature-events-list :event-list="getEvents" class="grid-2 has-gutter-l"></miniature-events-list>

                            <loader class="app-groups-events-loader"
                                    size="normal"
                                    :is-visible="isLoadingSocialMe">
                            </loader>

                            <p v-if="myEventsEmpty && !isLoadingSocialMe">{{ 'social.event_me_empty' | $t }}</p>
                        </div>
                    </div>
                <!--</div>-->
            </transition>
        </div>
    </div>
</template>


<script>
  import translation from './../../../filters/translation.js';

  import Loader from './../../../components/base/ACTLoader.vue';
  import MiniatureGroupsList from './ACTMiniatureGroupsList.vue';
  import MiniatureEventsList from './ACTMiniatureEventsList.vue';
  import MiniatureInvitationsList from './ACTMiniatureInvitationsList.vue';
  import Api from '../../../manager/apiManager';
  import MixinSocialHistory from './../../../mixins/ACTMixinSocialHistory.vue'
  import eventHub from './../../../events/eventHub'

  const fileName = 'app-invitations-groups-and-events'

  export default{

    name: 'AppInvitationsGroupsAndEvents',

    components: {
      'miniature-groups-list': MiniatureGroupsList,
      'miniature-events-list': MiniatureEventsList,
      'miniature-invitations-list': MiniatureInvitationsList,
      'loader': Loader,
    },

    props: ['token'],

    mixins: [
      MixinSocialHistory,
    ],

    created() {
      eventHub.$on('invitsgroupseventshistory', this.setPageWithHistoryOrUrl)
      eventHub.$on('hasjoinedgroup', this.hasJoinedGroup)
    },

    mounted() {
      const full = window.location.host;
      const parts = full.split('.');
      const dataToken = JSON.parse(this.token);
      Api.setParameters(dataToken.jwt, parts[0]);
      this.getSocialData();
    },

    data() {
      return {
        social_me: [],
        showInvitations: true,
        page: 'home',
        pageIsChanging: false,
        isLoadingSocialMe: true,
        isLoadingSocial: true,
        socialMenuOpen: false
      };
    },

    computed: {
      invitationSwitcher() {
        return this.showInvitations ? 'social.mask_invits' : 'social.show_invits';
      },
      getInvitations() {
        return this.social_me.filter(group => group.status === 'invited');
      },
      numberInvitations() {
        return this.getInvitations.length
      },
      noInvitations() {
        return this.numberInvitations <= 0
      },
      getGroups() {
        return this.social_me.filter(group => group.status === 'joined' && group.discr === 'group');
      },
      getAllGroups() {
        return this.social_me.filter(group => group.public && group.discr === 'group');
      },
      myGroupsEmpty() {
        return this.getGroups.length <= 0
      },
      noGroups() {
        return this.getAllGroups.length <= 0
      },
      getAllEvents() {
        return this.social_me.filter(group => group.public && group.discr === 'event');
      },
      getEvents() {
        return this.social_me.filter(group => group.status === 'joined' && group.discr === 'event');
      },
      myEventsEmpty() {
        return this.getEvents.length <= 0
      },
      noEvents() {
        return this.getAllEvents.length <= 0
      },
    },

    methods: {
      switchInvitation() {
        this.showInvitations = !this.showInvitations;
      },
      switchPage(page, isAddingToHistory = true) {
        this.pageIsChanging = true;

        if(isAddingToHistory && (this.page !== page)) {
          let pageName = (page === 'home') ? '' : page
          this.addToHistory(pageName, fileName, pageName)
        }

        this.page = page;

        setTimeout(() => {
          this.pageIsChanging = false
        }, 400)
      },
      getSocialData() {
        const $this = this;

        Api.api_get('/social/me/').then((response) => {
          $this.social_me = $this.social_me.concat(response.data);
          this.isLoadingSocialMe = false;
        }).catch((error) => {
          console.log('API error : ', error)
          this.isLoadingSocialMe = false;
        });

        Api.api_get('/social/').then((response) => {
          $this.social_me = $this.social_me.concat(response.data);
          this.isLoadingSocial = false;
          let endUrl = this.getEndCurrentUrl()

          this.setPageWithHistoryOrUrl(endUrl)
        }).catch((error) => {
          console.log('API error : ', error)
          this.isLoadingSocial = false;
        });
        // pas besoin de faire ce call car le api_get('/social/') récupère déjà tous les groupes/events
//        Api.api_get('/social/invit').then((response) => {
//          $this.social_me = $this.social_me.concat(response.data);
//        });
      },
      createGroup(event) {
        this.$emit('createGroup', event);
      },
      createEvent(event) {
        this.$emit('createEvent', event);
      },
      whenNoHistory() {
        this.switchPage('home', false)
      },
      setPageWithHistoryOrUrl(data) {
        if (data) {
          this.switchPage(data, false)
        } else {// if no data, this is the main page
          this.whenNoHistory()
        }
      },
      changeStatus(groupId, status) {
        let group = this.social_me.find(group => group.id === groupId)
        group.status = status
      },
      hasJoinedGroup(groupId) {
        this.changeStatus(groupId, 'joined')
      },
    },
  };
</script>

<style lang="scss">
</style>
