<template>
  <div class="textarea-emoji">
    <label for="comment-input" class="checkbox">{{ 'comment.add_comment' | $t }}</label>

    <at-textarea
      name-key="name"
      :members="tagMembers"
      :delete-match="deleteMatch"
      v-model="mentionContent"
      @at="taggedUser"
    >
      <textarea id="comment-input" class="input comment" ref="input"
                :placeholder="'comment.add_comment' | $t"
                :class="{ loading: loading }"
                :disabled="loading"
                v-model="textareaContent"
                @input="handleInput($event.target.value)"
      >
      </textarea>
    </at-textarea>

    <a href="#" v-click-outside="hideEmojiPicker" class="emoji-toggle" @click.prevent="toggleDialogEmoji">
      <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"/>
      </svg>
    </a>
    <VEmojiPicker
      v-show="showDialog"
      :showSearch="true"
      :showCategories="true"
      @select="onSelectEmoji"
    />

    <div v-if="hasErrors">
      <div class="alert-warning form-error">
        <p>{{hasErrors}}</p>
      </div>
    </div>
  </div>
</template>

<script>
  import VEmojiPicker from 'v-emoji-picker';
  import ClickOutside from 'vue-click-outside';
  import AtTextarea from 'vue-at/dist/vue-at-textarea'
  import stringSimilarity from 'string-similarity';

  /**
   * @todo v-emoji-picker insert a emoji to the caret position vs end (maybe with selectionStart and selectionEnd)
   * @todo factorize stringSimilarity checks in handleDelete and selectCurrentUserByName
  */
  export default {
    name: "CommentTextarea",
    components: {
      VEmojiPicker,
      AtTextarea,
    },
    directives: {
      ClickOutside,
    },
    props: {
      taggingData: {
        type: Array,
        default: () => [],
      },
      loading: Boolean,
      hasErrors: String,
      value: String,
      id: String,
    },
    data() {
      return {
        showDialog: false,
        mentionContent: this.value,
        internalData: this.value,
        textareaContent: this.value,
      };
    },
    computed: {
      tagMembers() {
        return this.taggingData.map((item) => {
          return {
            id: item.adherent.id,
            name: item.adherent.full_name,
          };
        });
      },
    },
    watch: {
      value(oldVal, newVal) {
        if (oldVal === '') {
          this.textareaContent = '';
        }
      }
    },
    methods: {
      deleteMatch(name, chunk, suffix){
        this.handleDelete(name, chunk, suffix)
        return chunk === name + suffix
      },
      handleInput (e) {
        this.$emit('input', this.textareaContent)
      },
      toggleDialogEmoji() {
        this.showDialog = !this.showDialog;
      },
      hideEmojiPicker() {
        this.showDialog = false;
      },
      onSelectEmoji(emoji) {
        this.textareaContent += emoji.data;
        this.$emit('input', this.textareaContent)
        this.toggleDialogEmoji();
      },
      taggedUser(ev) {
        if (ev.length) {
          this.selectCurrentUserByName(ev)
        }
      },
      selectCurrentUserByName(selectedName) {
        // force exact similarity with the member name
        const member = this.tagMembers.find(({ name }) => stringSimilarity.compareTwoStrings(name, selectedName) === 1)

        if (member) {
          this.$emit('taggedMember', member)
          this.textareaContent = this.$refs.input.value
          this.$emit('input', this.textareaContent)
        }
      },
      handleDelete(name, chunk, suffix) {
        const check = (chunk.trim() === name)
        if (check) {
          // force exact similarity with the member name
          const member = this.tagMembers.find(({ name }) => stringSimilarity.compareTwoStrings(name, chunk) === 1)
          if(member){
            this.$emit('untaggedMember', member)
          }
        }
      }
    },
  }
</script>

<style scoped>
  .atwho-wrap {
    padding: 0;
    border: none;
  }
</style>
