<template>
  <div class="comment-list">
    <div class="media" v-for="(comment, index) in messageList" :key="comment.id">
      <article v-if="comment.discr === 'bot'" class="media social-bot-comment">
        <div class="media-left">
          <div class="profile-badge">
            TDTD
          </div>
        </div>

        <div class="media-content">
          <p class="comment-meta">
            <small class="comment-author-nickname">
              {{ comment.plugin.slug | $t }}
            </small>
            <small class="comment-date">{{ comment.created_at | moment }}</small>
          </p>
          <p class="comment-content">
            {{ comment.content }}
          </p>
          <a :href="comment.url" target="_blank" class="btn btn-secondaire right"
             v-if="comment.url">{{ 'read_more' | $t }}</a>
        </div>
        <div class="media-right one-sixth">
          <img :src="comment.media.reference.absolute_url" alt="">
        </div>
      </article>

      <article v-else=""
               class="media social-comment"
               :class="{ 'highlighted': isHighlightingFirstComment && (index === 0) }"
               :id="'comment-' + comment.id">

        <div class="media-left">
          <div
            v-if="comment.discr === 'human' && comment.author && (comment.author.first_name !== '?') && (comment.author.last_name !== '?')"
            class="profile-badge"
          >
            {{ comment.author.first_name | first }}{{ comment.author.last_name | first }}
          </div>

          <div v-else-if="comment.discr === 'human' && comment.author" class="profile-badge">
          </div>
        </div>
        <div class="media-content"
             :class="{'has-links': hasLinkInside(comment.content)}"
        >
          <div class="content">
            <p class="comment-meta">
              <span
                v-if="comment.discr === 'human' && comment.author && (comment.author.first_name !== '?') && (comment.author.last_name !== '?') ">
                  {{ comment.author.first_name }}
                  {{ comment.author.last_name }}
              </span>
              <span v-else-if="comment.discr ==='human' && comment.author">
                  {{ 'social.comment.author_deleted' | $t }}
              </span>
              <small class="comment-date">
                {{ comment.created_at | moment }}
              </small>

              <small class="comment-answer" v-if="!comment.clicked" @click="toggleForm(comment)">{{ 'social.comment.answer' | $t }}</small>
              <small class="comment-answer" v-if="comment.clicked" @click="toggleForm(comment)">{{ 'social.comment.cancel' | $t }}</small>

              <small class="comment-delete" v-if="deleteAllowed(comment)" @click="deleteToggle(comment)">{{ 'general.delete' | $t }}</small>
            </p>
            <div class="comment-content">
              <div class="comment-content-container">
                <span class="comment-confirm-delete" v-if="comment.deleteConfirmed">
                  <span class="comment-confirm-delete-container">
                    <a class="btn small" @click="deleteToggle(comment)">{{ 'social.comment.cancel' | $t }}</a>
                    <a class="btn btn-secondaire small" @click="deleteComment(comment)">{{ 'social.comment.confirm' | $t }}</a>
                  </span>
                </span>
                <span class="comment-body"
                      v-html="transformContent(comment.content)"
                ></span>
              </div>
              <template v-if="comment.media">
                <media-display
                  v-if="comment.media.metadata"
                  :metadata="comment.media.metadata"
                  :media="comment.media"
                >
                </media-display>
                <span class="comment-media" v-else>
                  <lazy-component v-if="isGif(comment.media.reference.relative_url)">
                    <img :src="comment.media.reference.relative_url">
                  </lazy-component>
                  <lazy-component v-else>
                    <img :src="comment.media.social_comments_big.absolute_url">
                  </lazy-component>
                </span>
              </template>

              <comment :id="'comment-form-' + comment.id" v-show="comment.clicked" :group-id="groupId" :parent-id="comment.id" :token="token" @change="pushMessage($event, comment)" :members="activeMembers"></comment>

              <comment-children-list :group-id="groupId" :parent-index="index" :message-list="comment.children_comments"></comment-children-list>

              <button class="btn-action mdi mdi-more" v-if="comment.children_count > comment.children_comments.length" v-on:click="getMoreChildrenComments(comment.id, comment)">{{ 'social.comment.next_children' | $t }}</button>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
  import Api from '../../../manager/apiManager'
  import vue from 'vue';
  import VueLazyload from 'vue-lazyload'
  import translation from './../../../filters/translation'
  import mediaDisplay from './MediaDisplay'
  import Comment from './Comment.vue'
  import CommentChildrenList from './CommentChildrenList.vue'
  import moment from 'moment'
  import eventHub from '../../../events/eventHub'
  import Vue from "vue";
  import nl2br from "../../../filters/nl2br";

  const URLMatcher = /(?:(?:https?|ftp|file):\/\/|www\.|ftp\.)(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[-A-Z0-9+&@#\/%=~_|$?!:,.])*(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[A-Z0-9+&@#\/%=~_|$])/igm

  Vue.use(VueLazyload, {
    lazyComponent: true
  });

  export default {
    name: 'comment-list',
    props: ['messageList','groupId','token','activeMembers'],
    components: {
      Comment,
      CommentChildrenList,
      mediaDisplay
    },
    data() {
      return {
        isHighlightingFirstComment: false
      }
    },
    created() {
      eventHub.$on('new-comment', this.highlightFirstComment)
    },
    methods: {
      highlightFirstComment() {
        this.isHighlightingFirstComment = true

        setTimeout(() => {
          this.isHighlightingFirstComment = false
        }, 500)
      },
      createVideoUrl(media) {
        if (media.metadata) {
          return `${media.metadata.provider_url}watch?v=${media.reference.properties.video}`;
        }
      },
      isGif(url) {
        return this.getFileExtension(url) === 'gif';
      },
      getFileExtension(filename) {
        return filename.split('.').pop()
      },
      transformContent(value) {
        if (!value) {
          return '';
        }

        const content = value.replace(URLMatcher, match => `<a target="_blank" href="${match}">${match}</a>`);
        return nl2br(content);
      },
      hasLinkInside(value) {
        if (!value) {
          return '';
        }

        return URLMatcher.test(value);
      },
      pushMessage(message, comment) {
        comment.children_comments.unshift(message)
        let firstComment = document.querySelector('#comment-' + comment.id)
        firstComment.scrollIntoView(true)
        eventHub.$emit('new-comment')
        comment.clicked = false
      },
      toggleForm(data) {
        if(data.hasOwnProperty('clicked')){
          data.clicked = !data.clicked;
        }else{
          this.$set(data, 'clicked', true);
        }

        if(data.clicked){
          let commentForm = document.querySelector('#comment-form-' + data.id)
          setTimeout(() => {
            commentForm.scrollIntoView({behavior: 'smooth'})
          }, 100)
        }
      },
      getMoreChildrenComments(parentId, comment) {
        let url = Routing.generate(
          'todotoday.social.api.social_comment.get_children_comments',
          {id: parentId, limit: 5, offset: comment.children_comments.length}
        )

        Api.api_get(url)
          .then((response) => {
            comment.children_comments = comment.children_comments.concat(response.data)
          })
          .catch((error) => {
            console.log('API error : ', error)
          })
      },
      deleteAllowed(comment) {
        if(comment.delete_permission && (comment.children_count == 0 || comment.is_admin)){
          return true
        }
        return false
      },
      deleteToggle(comment) {
        if(comment.hasOwnProperty('deleteConfirmed')){
          comment.deleteConfirmed = !comment.deleteConfirmed;
        }else{
          this.$set(comment, 'deleteConfirmed', true);
        }
      },
      deleteComment(comment) {
        if(comment.deleteConfirmed){
          let commentToDelete = document.querySelector('#comment-' + comment.id)
          Api.api_delete('/social/comment/' + comment.id + '/delete-comment')
            .then((response) => {
              commentToDelete.classList.add('hide')
              setTimeout(() => {
                commentToDelete.remove()
              },350)
            })
            .catch((error) => {
              console.log('API error : ', error)
            })
        }
      },
    },
    filters: {
      moment(date) {
        moment.locale(jwtManager.locale);
        return moment(date).fromNow()
      },
      first(name) {
        return name.charAt(0)
      },
    },
  }
</script>

<style scoped>
  .social-bot-comment {
    display: flex;
  }

  .media-right img {
    max-width: 100%;
  }
  .has-links {
    word-break: break-all;
  }
</style>
