<template>
  <div class="comment-add">
    <article class="media">
      <div class="media-left">
        <div class="profile-badge">{{ user.fname | first }}{{ user.name | first }}</div>

      </div>
      <div class="media-content">
        <CommentTextarea
          v-model="message"
          :id="'comment-ta-' + id"
          :has-errors="hasErrorComments"
          :loading="loading"
          :tagging-data="members"
          @taggedMember="onTagMember"
          @untaggedMember="onUntaggedMember"
        >
        </CommentTextarea>

        <loader-content :is-loading="loading" loader-size="small">
          <div class="media-display">
            <div class="group-flex">
              <div class="item">
              <span class="file-styler">
              <input type="file" name="file" :id="'file_' + id" @change="onFileChange" class="inputfile"/>
              <label :for="'file_' + id" class="btn btn-action mdi mdi-image">Image</label>
            </span>
              </div>
              <div class="item">
                <a class="btn btn-action mdi mdi-video" @click="openVideoInput">{{ 'comment.video_label' | $t }}</a>
              </div>
            </div>

            <div class="has-media" v-if="file">
              <div class="media-image" v-if="isMediaImage">
                <img :src="file" alt="thumb image">
                <span class="hover-bg"></span>
                <a href="#" @click.prevent="cleanMedia">
                  <svg version="1.1" id="IconsRepoEditor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="0"><g id="IconsRepo_bgCarrier"></g> <path d="M199.992,0C89.717,0,0,89.72,0,200s89.717,200,199.992,200C310.273,400,400,310.28,400,200S310.273,0,199.992,0z M199.992,373.77C104.178,373.77,26.23,295.816,26.23,200c0-95.817,77.947-173.769,173.762-173.769 c95.822,0,173.776,77.953,173.776,173.769C373.769,295.816,295.814,373.77,199.992,373.77z"></path> <path d="M265.473,134.529c-5.123-5.123-13.422-5.123-18.545,0L200,181.454l-46.928-46.925c-5.123-5.123-13.424-5.123-18.547,0 c-5.123,5.12-5.123,13.426,0,18.546L181.447,200l-46.928,46.926c-5.123,5.119-5.123,13.422,0,18.547 c2.561,2.562,5.918,3.842,9.273,3.842s6.711-1.28,9.271-3.842L200,218.543l46.928,46.932c2.562,2.562,5.916,3.842,9.271,3.842 c3.354,0,6.711-1.279,9.272-3.842c5.123-5.119,5.123-13.426,0-18.545L218.545,200l46.928-46.925 C270.596,147.955,270.596,139.652,265.473,134.529z"></path> </svg>
                </a>
              </div>
            </div>

            <div class="has-media" v-if="isOpenUrlPopover && !isMediaImage">
                <input class="input" id="url-input" v-model="url" :placeholder="'comment.video_title' | $t" />
                <div v-if="hasErrorUrl">
                  <div class="alert-warning form-error">
                    <p>{{hasErrorUrl}}</p>
                  </div>
                </div>
            </div>
          </div>

          <nav class="btn-group">
            <div class="">
              <input type="checkbox" v-model="isEnterValidation" id="enterValidation">
              <label class="checkbox" for="enterValidation">{{ 'comment.press_enter_submit' | $t
                }}</label>
            </div>
            <a class="btn btn-primaire" @click="postComment()">{{ 'comment.post_comment' | $t }}</a>
          </nav>
        </loader-content>
      </div>
    </article>
    <br>
  </div>
</template>

<script>
  import ClickOutside from 'vue-click-outside'
  import Api from '../../../manager/apiManager';
  import LoaderContent from './../../../components/base/ACTLoaderContent.vue'
  import querystring from "querystring";
  import CommentTextarea from "./CommentTextarea.vue";

  export default {
    name: 'comment',
    data() {
      return {
        id: null,
        input: '',
        search: '',
        showDialog: false,
        isOpenUrlPopover: false,
        showPhotoVideo: true,
        isMediaImage: null,
        file: null,
        url: '',
        message: '',
        imagePreview: '',
        hasErrorComments: "",
        hasErrorUrl: "",
        loading: false,
        isEnterValidation: true,
        user: store.state.user,
        taggedMembers: [],
      }
    },
    components: {
      'loader-content': LoaderContent,
      CommentTextarea
    },
    props: ['groupId','parentId', 'members'],
    computed: {
      messageList() {
        return store.state.messages
      }
    },
    mounted() {
      // prevent click outside event with popupItem.
      this.popupItem = this.$el
      this.id = this._uid
    },
    methods: {
      postComment: function () {
        if (this.isMediaImage || this.isOpenUrlPopover) {
          if (this.isOpenUrlPopover && !this.isValidUrl(this.url)) {
            this.hasErrorUrl = $t('comment.video_invalid');
            return;
          }
        } else {
          if (this.message.trim() === '') {
            this.hasErrorComments = $t('comment.message.empty');
            return;
          }
        }

        this.loading = true;
        var self = this;

        if (this.isOpenUrlPopover && this.url.trim() !== '') {
          this.file = this.url;
        }

        Api.api_post('/social/' + this.groupId + '/comments', querystring.stringify({
            content: this.message,
            taggedMembers: this.taggedMembers.join(','),
            media: this.file,
            parent: this.parentId
          }
          ), false, null, {
          headers: {'Language': jwtManager.locale}
        }
        ).then((response) => {
          self.emmitComment(response.data);
          self.cleanMedia();
          self.message = '';
          this.taggedMembers = [];
          self.loading = false
          self.isOpenUrlPopover = false;
        }).catch(({ response }) => {
          if (response.status === 422) {
            this.hasErrorUrl = response.data.errors;
          }
          self.loading = false
        })
      },
      emmitComment: function (message) {
        this.$emit('change', message)
      },
      onFileChange(e) {
        const files = e.target.files || e.dataTransfer.files;
        if (!files.length) {
          return;
        }
        this.cleanMedia();

        this.file = files[0];
        this.createImage(files[0]);
      },
      createImage(file) {
        const image = new Image();
        const reader = new FileReader();
        const vm = this;

        reader.onload = (e) => {
          vm.file = e.target.result;
          this.isMediaImage = true;
        };
        reader.readAsDataURL(file);
      },
      openVideoInput() {
        this.cleanMedia();
        this.isOpenUrlPopover = true;
      },
      cleanMedia() {
        this.file = '';
        this.url = '';
        this.isOpenUrlPopover = false;
        this.isMediaImage = false;
      },
      toggleDialogEmoji() {
        this.showDialog = !this.showDialog;
      },
      hideEmojiPicker() {
        this.showDialog = false;
      },
      onSelectEmoji(emoji) {
        this.message += emoji.data;
        this.toggleDialogEmoji();
      },
      onTagMember(member) {
        if (!this.taggedMembers.includes(member.id)) {
          this.taggedMembers.push(member.id)
        }
      },
      /**
       * Validate video URL
       * https://gist.github.com/yangshun/9892961
       * @param url
       * @returns {boolean}
       */
      isValidUrl(url) {
        if (!url) {
          return false;
        }

        url.match(/(http:|https:|)\/\/(player.|www.)?(vimeo\.com|youtu(be\.com|\.be|be\.googleapis\.com))\/(video\/|embed\/|watch\?v=|v\/)?([A-Za-z0-9._%-]*)(\&\S+)?/);

        if (RegExp.$3.indexOf('youtu') > -1) {
          return true
        } else return RegExp.$3.indexOf('vimeo') > -1;
      },
      onUntaggedMember(member){
        if (this.taggedMembers.includes(member.id)) {
          const indexMember = this.taggedMembers.indexOf(member.id)
          this.taggedMembers.splice(indexMember,1)
        }
      }
    },
    filters: {
      first: function (name) {
        return name.charAt(0);
      }
    },
    directives: {
      ClickOutside
    },
  }
</script>

<style>
  .tribute-container {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-height: 300px;
    max-width: 500px;
    overflow: auto;
    display: block;
    z-index: 999999;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(#000, 0.13);
  }
  .tribute-container ul {
    margin: 0;
    margin-top: 2px;
    padding: 0;
    list-style: none;
    background: #fff;
    border-radius: 4px;
    border: 1px solid rgba(#000, 0.13);
    background-clip: padding-box;
    overflow: hidden;
  }
  .tribute-container li {
    color: #3f5efb;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
  }
  .tribute-container li.highlight,
  .tribute-container li:hover {
    background: #3f5efb;
    color: #fff;
  }
  .tribute-container li span {
    font-weight: bold;
  }
  .tribute-container li.no-match {
    cursor: default;
  }
  .tribute-container .menu-highlighted {
    font-weight: bold;
  }
</style>
