
<template>
  <div @focusout="blur" id="google-places-autocomplete">
    <input ref="autocomplete"
        class="block" 
        :placeholder="'social.eventform_adrs' | $t"
        v-on:keyup="keymonitor"
        autocomplete="off"
        v-model="defaultInputValue"
        v-on:focus="clear" 
        type="text" />
    <ul ref="resultList" v-if="mutableList.length">
      <li v-for="(result, index) in mutableList" :key="result.id" @click="updateInput(result)">
        {{result.description}}
      </li>
    </ul>
  </div>
</template>

<script>

import script from './../../../helpers/script';

export default {
  name: 'GooglePlacesAutocomplete',

  props: {

    resultList : {
        type: Array,
        default() {
            return [];
        }
    },

    libraries: {
        type: Array,
        default() {
            return ['places'];
        }
    },

    baseUri: {
        type: String,
        default: 'https://maps.googleapis.com/maps/api/js'
    },

    defaultValue: {
        type: String,
        default: ''
    },
  },

  data: function () {
      return {
          mutableList: this.resultList,
          defaultInputValue: ''
      }
  },

  beforeMount: function() {
    this.defaultInputValue = this.defaultValue
  },

  mounted() {
   if(google_platform_api_key) {

      script(`${this.baseUri}?key=${google_platform_api_key}&libraries=${this.libraries.join(',')}`).then(() => {
          this.$geocoder = new window.google.maps.Geocoder();
          this.$service = new window.google.maps.places.AutocompleteService();
          this.sessionToken = new google.maps.places.AutocompleteSessionToken();
      })
      
    }
  },
  methods: {
    clear: function(e) {
      (this.$refs.autocomplete).value = ""
      this.$emit('updateLocationEvent', (this.$refs.autocomplete).value)
    },

    keymonitor: function(e) {
      if( e.target.value != '') {
        this.$service.getPlacePredictions({
          input: e.target.value,
          componentRestrictions: {country: 'fr'},
          sessionToken: this.sessionToken
        },
        this.displaySuggestions)
      }

      this.$emit('updateLocationEvent', e.target.value)
    },
    displaySuggestions: function (predictions, status) {
      if (status != google.maps.places.PlacesServiceStatus.OK) {
        return;
      }

      this.mutableList = predictions
      if((this.$refs.resultList)){
        (this.$refs.resultList).classList.add('show')
      }
    },
    updateInput: function (result) {
      (this.$refs.autocomplete).value = result.description
      this.$emit('updateLocationEvent', result.description)

      if((this.$refs.resultList)){
        (this.$refs.resultList).classList.remove('show')
      }
    },
    blur: function (result) {
      if((this.$refs.resultList)){
        (this.$refs.resultList).classList.remove('show')
      }
    }
  }
}
</script>

