<template>
  <v-popover
    trigger="manual"
    offset="16"
    placement="top"
    :open="isOpenPopover"
    :auto-hide="false"
  >
    <slot></slot>

    <template slot="popover">
      <label for="url-input" class="checkbox">{{ 'comment.video_title' | $t }}</label>
      <input class="input" id="url-input" v-model="url" placeholder="Lien"/>
      <div v-if="isError">
        <span class="form-error alert-danger" >{{isError}}</span>
      </div>

      <div class="btn-group">
        <a class="btn" @click="saveUrl">{{ 'action.validate' | $t }}</a>
        <a href="#" @click.prevent="closePopover">{{ 'social.invitation_list.close' | $t }}</a>
      </div>
    </template>
  </v-popover>
</template>

<script>
  import Vue from 'vue'
  import {VTooltip, VPopover, VClosePopover} from 'v-tooltip'

  Vue.directive('tooltip', VTooltip)
  Vue.directive('close-popover', VClosePopover)
  Vue.component('v-popover', VPopover)

  export default {
    name: "InputPopover",
    props: ['isOpenPopover'],
    data() {
      return {
        url: '',
        isError: '',
      };
    },
    methods: {
      saveUrl() {
        if (!this.isValidUrl(this.url)) {
          this.isError = $t('comment.video_invalid');
          return
        }

        this.$emit('save', this.url);
        this.url = '';
        this.isError = '';
      },

      closePopover() {
        this.url = '';
        this.isError = '';
        this.$emit('close');
      },

      /**
       * Validate video URL
       * https://gist.github.com/yangshun/9892961
       * @param url
       * @returns {boolean}
       */
      isValidUrl(url) {
        if (!url) {
          return false;
        }

        url.match(/(http:|https:|)\/\/(player.|www.)?(vimeo\.com|youtu(be\.com|\.be|be\.googleapis\.com))\/(video\/|embed\/|watch\?v=|v\/)?([A-Za-z0-9._%-]*)(\&\S+)?/);

        if (RegExp.$3.indexOf('youtu') > -1) {
          return true
        } else return RegExp.$3.indexOf('vimeo') > -1;
      }
    }
  }
</script>

<style>
  .btn-group {
    margin-top: 10px;
  }
</style>
