<script>
  import Message from './../../../components/base/ACTMessage.vue'
  import Api from '../../../manager/apiManager'
  import browserDetect from "vue-browser-detect-plugin";

/*eslint-disable*/
  const validators = {
    email : new RegExp(/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/),
    url : new RegExp(/^(https?|ftp|rmtp|mms):\/\/(([A-Z0-9][A-Z0-9_-]*)(\.[A-Z0-9][A-Z0-9_-]*)+)(:(\d+))?\/?/i),
    text : new RegExp(/^[a-zA-Z]+$/),
    digits : new RegExp(/^[\d() \.\:\-\+#]+$/),
    isodate : new RegExp(/^\d{4}[\/\-](0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])$/)
  }
  /*eslint-enable*/
  export default {
    name: 'InputTag',

    components: {
      'message': Message,
      browserDetect,
    },

    props: {
      placeholder: {
        type: String,
        default: '',
      },
      onChange: {
        type: Function,
      },
      readOnly: {
        type: Boolean,
        default: false,
      },
      validate: {
        type: String,
        default: '',
      },
      reinitializeTags: {
        type: Boolean,
        default: false
      },
      enableFocus: {
        type: Boolean,
        default: false
      },
      emailsErrors: {
        type: Object,
        default: () => {}
      },
      token: {
        type: String,
        default: '',
      },
      idGroup: {
        type: Number,
        default: 0,
      }
    },
    data() {
      return {
        tags: [],
        suggestions: [],
        newTag: '',
        emailIsInvalid: false,
        emailIsAlreadExist: false,
      };
    },
    mounted: function () {
        let full = window.location.host
        let parts = full.split('.')
        let dataToken = JSON.parse(this.token)
        Api.setParameters(dataToken.jwt, parts[0])
    },

    methods: {
      focusNewTag() {
        if (this.readOnly) { return; }
        this.$el.querySelector('.new-tag').focus();
      },
      addNew(tag, text = false) {
        this.emailIsInvalid = false;
        this.emailIsAlreadExist = false;

        if(!tag){
          return;
        } else if(this.tags.includes(tag)){
          this.emailIsAlreadExist = true;
        } else if (!this.validateIfNeeded(tag)) {
          this.emailIsInvalid = true;
        } else {
          let pushTag = (text) ? {'text': text, 'email': tag} : {'email': tag};
          this.tags.push(pushTag);
          this.tagChange();
          this.newTag = '';
        }
      },
      validateIfNeeded(tagValue) {
        if (this.validate === '' || this.validate === undefined) {
          return true;
        } else if (Object.keys(validators).indexOf(this.validate) > -1) {
          return validators[this.validate].test(tagValue);
        }
        return true;
      },
      remove(index) {
        this.tags.splice(index, 1);
        this.tagChange();
      },
      removeLastTag() {
        if (this.newTag) { return; }
        this.tags.pop();
        this.tagChange();
      },
      getPlaceholder() {
        if (!this.tags.length) {
          return this.placeholder;
        }
        return '';
      },
      tagChange() {
        if (this.onChange) {
          // avoid passing the observer
          this.onChange(JSON.parse(JSON.stringify(this.tags)));
        }
      },
      tagIsInError(tag) {
        return this.emailsErrors.hasOwnProperty(tag)
      },
      autosuggest() {
        if (this.newTag) {
          let searchVar = encodeURI(this.newTag)
          const url = `/social/${this.idGroup}/suggestions/${searchVar}`
          Api.api_get(url)
            .then(response => {
              this.suggestions = response.data
              this.showSuggestions()
            })
            .catch(error => {
              console.log('autosuggest error : ', error)
            })
        }else{
          this.hideSuggestions()
        }
      },
      selectSuggestion(suggestion) {
        this.newTag = suggestion.email
        this.addNew(this.newTag, suggestion.full_name)
        this.hideSuggestions()
      },
      showSuggestions() {
        let list = document.querySelector('.vue-input-tag-container ul.suggestions')
        if(list){
          list.classList.add('show')
        }
      },
      hideSuggestions() {
        let list = document.querySelector('.vue-input-tag-container ul.suggestions')
        if(list){
          list.classList.remove('show')
        }
        this.suggestions = []
      }
    },
    computed: {
      hasError() {
        return this.emailIsInvalid || this.emailIsAlreadExist
      }
    },
    watch: {
      reinitializeTags(newValue) {
        if(newValue) {
          this.tags = [];
          this.newTag = '';
          this.$emit('updatereinit', false)
        }
      },
      enableFocus(newValue) {
        if(newValue) {
          this.focusNewTag()
          this.$emit('updatefocus', false)
        }
      },
    }
  };
</script>

<template>

  <div>
    <div class="vue-input-tag-container">
      <div @click="focusNewTag()" v-bind:class="{'read-only': readOnly}" class="vue-input-tag-wrapper">

        <span v-for="(tag, index) in tags" class="input-tag" :class="{ 'input-tag-error': tagIsInError(tag) }">

          <span v-if="tag.text">{{ tag.text }}</span>
          <span v-else>{{ tag.email }}</span>

          <a v-if="!readOnly"
            @click.prevent.stop="remove(index)"
            class="remove"
            :class="{ 'tag-error': tagIsInError(tag) }">
          </a>
        </span>

          <input autocomplete="disabled" 
                v-if="!readOnly"
                v-bind:placeholder="getPlaceholder()"
                type="text" v-model="newTag"
                @keydown.delete.stop="removeLastTag()"
                @keydown.enter.prevent.stop="addNew(newTag)"
                @keydown.space.prevent.stop="addNew(newTag)"
                @blur="addNew(newTag)"
                @keyup="autosuggest"
                class="new-tag"/>

      </div>
      <ul class="suggestions" v-if="suggestions.length">
        <li v-for="(suggestion, index) in suggestions" :key="suggestion.id" @click="selectSuggestion(suggestion)">
          {{suggestion.full_name}}
        </li>
      </ul>
    </div>

    <message class="email-invalid-warning"
             type="warning"
             :is-visible="hasError">
      <small v-show="emailIsInvalid">{{ 'social.guest_email_error' | $t }}</small>
      <small v-show="emailIsAlreadExist">{{ 'social.invitation_list.email_already_exist' | $t }}</small>
    </message>
  </div>

</template>
