<template>
  <div>
    <app-invits-groups-events v-if="showHomepage" :token="token" @createGroup="showCreateGroup"
                              @createEvent="showCreateEvent"></app-invits-groups-events>
    <app-adherent-create-event v-if="showAdherentCreateEvent" @created="goToViewGroup"
                               @cancel="cancelAdherentCreateEvent"></app-adherent-create-event>
    <app-adherent-create-group v-if="showAdherentCreateGroup" @created="goToViewGroup"
                               @cancel="cancelAdherentCreateGroup"></app-adherent-create-group>

    <app-edit-group v-if="showEditGroup"
                    :entity-id="entityId"
                    @created="goToViewGroup"
                    @cancel="goToViewGroup"
    ></app-edit-group>
    <app-edit-event v-if="showEditEvent"
                    :entity-id="entityId"
                    @created="goToViewGroup"
                    @cancel="goToViewGroup"
    ></app-edit-event>
  </div>
</template>
<script>

  import AppInvitationsGroupsAndEvents from './AppInvitationsGroupsAndEvents';
  import AppAdherentCreateNewEvent from './AppAdherentCreateNewEvent';
  import AppAdherentCreateNewGroup from './AppAdherentCreateNewGroup';
  import AppEditGroup from "./AppEditGroup";
  import MixinSocialHistory from './../../../mixins/ACTMixinSocialHistory.vue'
  import eventHub from './../../../events/eventHub'
  import AppEditEvent from "./AppEditEvent";

  const fileName = 'social-group'
  const createGroup = 'create-group'
  const createEvent = 'create-event'
  const editGroup = 'edit-group'
  const editEvent = 'edit-event'

  export default {

    name: fileName,

    props: ['token'],

    components: {
      'app-invits-groups-events': AppInvitationsGroupsAndEvents,
      'app-adherent-create-event': AppAdherentCreateNewEvent,
      'app-adherent-create-group': AppAdherentCreateNewGroup,
      'app-edit-group': AppEditGroup,
      'app-edit-event': AppEditEvent,
    },

    mixins: [
      MixinSocialHistory,
    ],

    data() {
      return {
        showAdherentCreateGroup: false,
        showAdherentCreateEvent: false,
        showEditEvent: false,
        showEditGroup: false,
        entityId: null,
      }
    },

    created() {
      eventHub.$on('socialgrouphistory', this.getHistory)
    },

    mounted() {
      let currentUrl = this.getEndCurrentUrl()

      if(currentUrl === createGroup){
        this.showAdherentCreateGroup = true
      } else if(currentUrl === createEvent) {
        this.showAdherentCreateEvent = true
      } else if(currentUrl === editGroup) {
        this.showEditGroup = true;
        this.entityId = this.getQueryStringValue('id');
      } else if(currentUrl === editEvent) {
        this.showEditEvent = true;
        this.entityId = this.getQueryStringValue('id');
      }
    },

    methods: {

      /* Adherent create group */
      showCreateGroup() {
        this.showAdherentCreateGroup = true
        this.addToHistory(createGroup, fileName, 'showAdherentCreateGroup')
      },
      cancelAdherentCreateGroup() {
        this.showAdherentCreateGroup = false
        this.addToHistory('', fileName)
      },

      /* Adherent create event */
      showCreateEvent() {
        this.showAdherentCreateEvent = true
        this.addToHistory(createEvent, fileName, 'showAdherentCreateEvent')
      },
      cancelAdherentCreateEvent() {
        this.showAdherentCreateEvent = false
        this.addToHistory('', fileName)
      },
      goToViewGroup(groupId) {
        let url = Routing.generate(
          'todotoday_social_view_group',
          {id: groupId}
        );

        location.href = window.location.origin + url
      },

      whenNoHistory() {
        this.showAdherentCreateGroup = false
        this.showAdherentCreateEvent = false
        this.showditEvent = false;
        this.editGroup = false;
      },

      getHistory(data) {
        if (data && this.hasOwnProperty(data)) {
          this[data] = true
        } else if (!data) {// if no data, this is the main page
          this.whenNoHistory()
        }
      },
    },

    computed: {
      showHomepage() {
        return (!this.showAdherentCreateGroup
          && !this.showAdherentCreateEvent
          && !this.showEditEvent
          && !this.showEditGroup);
      }
    }
  }
</script>

<style lang="scss">

</style>
