<template>
    <div v-if="backgroundImage" class="viewGroup">
        <main class="td-social-full">
            <header class="td-social-full-header"
                    :style="'background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)), url(' + backgroundImage + '), radial-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2)), url(' + backgroundImage + ');'">

                <div class="main-content ">
                    <h2 class="title-shadow">
                        {{ group.title | capitalize }}
                    </h2>
                </div>
            </header>

            <div class="main-content td-social-content">
                <div class="td-social-content-description">
                    <div class="grid has-gutter">
                        <p class="two-thirds">{{ group.description }}</p>
                        <div v-if="!eventIsAlreadyPast"
                             class="td-social-content-buttons one-third">

                            <div v-if="group.status === 'joined'">
                                <div>
                                    <i class="mdi mdi-check-circle"></i>
                                    <small>{{ 'social.participating' | $t }}</small>
                                </div>

                                <p v-if="group.isCreator">
                                  <a class="btn btn-action mdi mdi-pencil"
                                     @click="editGroup(group)">{{ 'social.edit_group' | $t }}
                                  </a>
                                </p>

                                <p class="">
                                  <a class="btn btn-action mdi mdi-delete" v-if="group.discr === 'group'"
                                     @click="quitInvit(group)">{{ 'social.leave_group_short' | $t }}
                                  </a>
                                  <a class="btn btn-action mdi mdi-delete" v-else
                                     @click="quitInvit(group)">{{ 'social.leave_event_short' | $t }}
                                  </a>
                                </p>

                            </div>

                            <div v-else-if="group.status === 'invited'">
                                <div>
                                    <i class="mdi mdi-alert-circle"></i>
                                    <small>{{ 'social.state_not_joined' | $t }}</small>
                                </div>

                                <p v-if="group.isCreator">
                                  <a class="btn btn-action mdi mdi-pencil"
                                     @click="editGroup(group)">{{ 'social.edit_group' | $t }}
                                  </a>
                                </p>

                                <p><a class="btn btn-action mdi mdi-checkbox-marked-outline"
                                      @click="acceptInvit(group)">{{ 'social.state_accept' | $t }}</a>
                                </p>

                                <!--<p><a href="#" class="btn btn-action mdi mdi-eye-off">Masquer l'invitation</a></p>-->
                                <p><a class="btn btn-action mdi mdi-delete"
                                      @click="refuseInvit(group)">{{ 'social.state_refuse' | $t }}</a>
                                </p>
                            </div>

                            <div v-else>
                                <div>
                                    <i class="mdi mdi-alert-circle"></i>
                                    <small>{{ 'social.state_not_joined' | $t }}</small>
                                </div>

                                <p v-if="group.isCreator">
                                  <a class="btn btn-action mdi mdi-pencil"
                                     @click="editGroup(group)">{{ 'social.edit_group' | $t }}
                                  </a>
                                </p>

                                <p><a class="btn btn-action mdi mdi-checkbox-marked-outline"
                                      @click="join(group)">{{ 'social.join_group_short' | $t }}</a>
                                </p>
                            </div>

                            <div v-show="group.status === 'joined'">
                                <p>
                                    <a class="btn btn-action mdi mdi-account-multiple-plus" @click="showInvits = true">
                                        <span>{{ 'social.open_invitation' | $t }}</span>
                                    </a>
                                </p>
                                <p v-if="group.discr==='group'">
                                    <a class="btn btn-action mdi mdi-plus"
                                       @click="showAddEvents = true">
                                        <span>{{ 'social.group.add_event_button' | $t }}</span>
                                    </a>
                                </p>
                            </div>

                        </div>
                        <!--<p><a href="#" class="btn btn-action mdi mdi-pencil">Modifier le groupe</a></p>-->
                        <!--<p>-->
                        <!--<small><a href="#" class="">Supprimer le groupe</a></small>-->
                        <!--</p>-->
                    </div>

                    <div id="invitation-box">
                        <div class="invitation-box" v-show="showInvits">
                            <span @click="showInvits = false" class="close-button">
                                <small>{{ 'social.invitation_list.close' | $t }}</small>
                                <i class="mdi mdi-close"></i>
                            </span>

                            <p>{{ 'social.group.invit_members' | $t }}</p>
                            <p>
                                <small>{{ 'social.group.invit_members_explanation' | $t }}</small>
                                <br>
                                <small>{{ 'social.group.invit_members_explanation_2' | $t }}</small>
                                <br>
                                <small class="disclaimer">{{ 'social.group.disclaimer' | $t }}</small>
                            </p>

                            <input-tag :on-change="getTags"
                                       :emails-errors="emailsFailedToInvited"
                                       :reinitialize-tags="reinitializeTags"
                                       @updatereinit="reinitializeTags = $event"
                                       :enable-focus="focusInputTag"
                                       @updatefocus="focusInputTag = $event"
                                       class="input-guest-emails"
                                       :token="token"
                                       :idGroup="group.id"
                                       validate="email"></input-tag>

                            <resume-added-emails :emails="invitedEmailsAdded"
                                                 class="resume-emails-invited"></resume-added-emails>

                            <error-add-emails :emails-failed="allEmailsFailed"
                                              :show-errors="showErrorsEmailsFailed"
                                              @showerrorsupdate="showErrorsEmailsFailed = $event"
                                              class="emails-failed">
                            </error-add-emails>

                            <loader-content :is-loading="isSendingInvitations" loader-size="small">
                                <button @click="invitMembers" :disabled="noGuestsEmail"
                                        type="button" class="btn btn-primaire">
                                    {{ 'social.add_participants' | $t }}
                                </button>
                            </loader-content>
                        </div>
                    </div>

                    <div id="addEventsBox" class="add-event-to-group-box"
                         v-show="group.discr==='group' && showAddEvents">

                       <span @click="showAddEvents=false" class="close-button">
                            <small>{{ 'social.invitation_list.close' | $t }}</small>
                            <i class="mdi mdi-close"></i>
                        </span>

                        <h2>{{ 'social.group.add_event_label' | $t }}</h2>

                        <v-select
                                multiple
                                :options="eventsAvailable"
                                :placeholder="'social.group.add_event_placeholder' | $t"
                                @change="addMoreEvent"
                                class="select-event"
                        >
                            <template #no-options="{ search, searching, loading }">
                                {{ socialGroupNoOptions }}
                            </template>
                            <template #options="option">
                                <div class="v-select-tdtd-item">
                                    <img :src="option.image"/>
                                    <div>
                                        <h3>
                                            {{option.label}}
                                        </h3>
                                        <p>
                                            {{option.start_date | readableDate}}
                                            <br>
                                            {{option.end_date | readableDate}}
                                        </p>
                                    </div>
                                </div>
                            </template>
                        </v-select>

                        <message v-if="addEventsSuccess.isSuccess === true"
                                 :is-visible="addEventsSuccess.isSuccess === true"
                                 type="success">
                            <span v-if="addEventsSuccess.numberEvents === 1">
                                <small>{{ 'social.add_events_to_group.success.one' | $t }}</small>
                            </span>

                            <span v-else-if="addEventsSuccess.numberEvents > 1">
                                <small>{{ 'social.add_events_to_group.success.many' | $t({'%number%': addEventsSuccess.numberEvents})
                                    }}</small>
                            </span>
                        </message>

                        <message :is-visible="addEventsSuccess.isSuccess === false"
                                 v-if="addEventsSuccess.isSuccess === false"
                                 type="error">
                            <small>{{ 'social.add_events_to_group.failed' | $t }}</small>
                        </message>

                        <loader-content :is-loading="isSendingAddEvents" loader-size="small">
                            <button @click="addEvents" :disabled="noEventsToAdd"
                                    type="button" class="btn btn-primaire btn-submit-add-event">
                                {{ 'social.group.add_event_button_submit' | $t }}
                            </button>
                        </loader-content>

                    </div>

                    <p>
                        <small>
                            <!--<span v-if="group.public">{{ 'social.this_group_is_public' | $t }}</span>
                            <span v-else>{{ 'social.this_group_is_not_public' | $t }}</span>
                            &nbsp;•&nbsp;-->

                            <span v-if="group.participants <= 1">{{'social.number_participant' | $t({'%number%': group.participants})}}</span>
                            <span v-else-if="group.participants > 1">{{'social.number_participants' | $t({'%number%': group.participants})}}</span>
                            &nbsp;•&nbsp;

                            <span v-if="group.created_by">
                                {{ 'event.created_by' | $t({'%author%': group.created_by.full_name})}}
                            </span>

                            <div class="list_participants" v-if="group.participants > 0 && !showParticipants">
                              <span v-for="(participant, index) in group.list_first_participants" :key="participant.id">
                                  {{ participant.firstName }} {{ participant.lastName }}<span v-if="index+1 < group.list_first_participants.length">, </span>
                              </span>
                              <span v-if="group.participants > 5">
                                ...
                              </span>
                              <br />
                              <button v-if="group.participants > 5" class="btn btn-action small mdi mdi-account-network" @click="showParticipants = true">
                                {{ 'social.see_other_list_participants' | $t }}
                              </button>
                            </div>

                            <div class="list_participants" v-if="group.participants > 5 && showParticipants">
                              <span v-for="(participant, index) in group.list_participants" :key="participant.id">
                                  {{ participant.firstName }} {{ participant.lastName }}<span v-if="index+1 < group.list_participants.length">, </span>
                              </span>
                              <br />
                              <button class="btn btn-action small mdi mdi-close-network" @click="showParticipants = false">
                                {{ 'social.see_less_list_participants' | $t }}
                              </button>
                            </div>
                        </small>
                    </p>
                </div>
                <div v-if="group.discr === 'event'" class="td-social-content-event">

                    <p class="grid">
                        <small v-if="group.start_date">
                            <i class="mdi mdi-calendar"></i> {{ group.start_date | readableDate }}
                            <i class="mdi mdi-clock"></i> {{ group.start_date | readableTime }}
                        </small>
                        <small v-if="group.end_date">
                            <i class="mdi mdi-calendar"></i> {{ group.end_date | readableDate }}
                            <i class="mdi mdi-clock"></i> {{ group.end_date | readableTime }}
                        </small>
                    </p>
                    <p v-if="group.address">
                        <small>
                            <i class="mdi mdi-map-marker"></i> {{ group.address | capitalize }}
                        </small>
                    </p>

                </div>

                <div v-if="group.discr === 'group'" class="add-event-to-group-content">
                    <h2 class="main-title">{{ 'social.group_events' | $t }}</h2>

                    <div class="events-box">
                        <nav>
                            <div v-for="menuOption in [{ id: 'future-events', label: 'social.group_future_events' }, { id: 'past-events', label: 'social.group_passed_events' }]"
                                 @click="menuEventToGroup = menuOption.id"
                                 class="option-menu"
                                 :class="{ 'active': menuEventToGroup === menuOption.id  }">

                                <small>{{ menuOption.label | $t }}</small>
                            </div>
                        </nav>

                        <article class="events-list">
                            <div v-for="event in eventsLinkedToGroup" class="event-section">

                                <miniature-event-horizontal :key="event.id"
                                                            @status-changed="event.status = $event"
                                                            :id="event.id"
                                                            :name="event.title"
                                                            :status="event.status"
                                                            :public="event.public"
                                                            :number-participants="event.participants"
                                                            :picture="(event.header_img && event.header_img.social_banner) ? event.header_img.social_banner.absolute_url : null"
                                                            :number-notifications="event.last_comments.length"
                                                            :start-date="event.start_date"
                                                            :end-date="event.end_date"
                                                            :location="event.address">
                                </miniature-event-horizontal>
                            </div>

                            <div v-if="noEventsLinked">
                                <small>{{ 'social.event_empty' | $t }}</small>
                            </div>
                        </article>
                    </div>
                </div>

                <section v-if="group.status === 'joined'" class="comment-section">
                    <comment :group-id="groupId"
                             :token="token"
                             :members="activeMembers"
                             @change="pushMessage($event)"
                    >
                    </comment>

                    <comment-list :group-id="groupId" :message-list="group.last_comments" :active-members="activeMembers"></comment-list>

                    <infinite-loading v-if="!allCommentsReach"
                                      :handler="scrollLastCommentHandler"
                                      :should-handle="!loadingInfiniteScroll">
                        <loader :is-visible="loadingInfiniteScroll" size="normal"></loader>
                    </infinite-loading>
                </section>
                <footer>

                </footer>
            </div>
        </main>
    </div>


</template>

<script>
  import Api from '../../../manager/apiManager'
  import Axios from 'axios'
  import translation from './../../../filters/translation'
  import capitalize from './../../../filters/capitalize'
  import readableDate from './../../../filters/readableDate'
  import readableTime from './../../../filters/readableTime'
  import PlaceholderManager from './../../../manager/ACTPlaceholderManager'
  import eventHub from '../../../events/eventHub'

  import InputTag from './InputTag.vue'
  import ACTMiniatureEventHorizontal from './ACTMiniatureEventHorizontal.vue'
  import Comment from './Comment.vue'
  import CommentList from './CommentList.vue'
  import Message from './../../../components/base/ACTMessage.vue'
  import LoaderContent from './../../../components/base/ACTLoaderContent.vue'
  import Loader from './../../../components/base/ACTLoader.vue'
  import vSelect from 'vue-select'
  import InfiniteLoading from 'vue-mugen-scroll'
  import ErrorAddEmail from './view/ACTErrorAddEmail.vue'
  import ResumeAddedEmails from './view/ACTResumeAddedEmails.vue'
  import MixinSocialHistory from "../../../mixins/ACTMixinSocialHistory";

  export default {
    name: 'viewGroup',
    components: {
      Comment,
      CommentList,
      InputTag,
      'message': Message,
      'loader': Loader,
      'loader-content': LoaderContent,
      'miniature-event-horizontal': ACTMiniatureEventHorizontal,
      'v-select': vSelect,
      'infinite-loading': InfiniteLoading,
      'error-add-emails': ErrorAddEmail,
      'resume-added-emails': ResumeAddedEmails,
    },
    data() {
      return {
        guestsEmail: [],
        activeMembers: [],
        showInvits: false,
        showParticipants: false,
        showAddEvents: false,
        group: {
          last_comments: [],
          created_by: ''
        },
        api: Api,
        rdmImageUrl: '',
        isSendingInvitations: false,
        isSendingAddEvents: false,
        reinitializeTags: false,
        focusInputTag: false,
        eventsAvailable: [],
        eventsToAdd: [],
        addEventsSuccess: {isSuccess: null},
        menuEventToGroup: 'future-events',
        invitedEmailsAdded: {},
        emailsFailedToInvited: {},
        showErrorsEmailsFailed: true,

        loadingInfiniteScroll: false,
      }
    },
    mixins: [
      MixinSocialHistory,
    ],
    computed: {
      backgroundImage() {
        if (this.group.header_img && this.group.header_img.social_banner && this.group.header_img.social_banner.absolute_url) {
          return this.group.header_img.social_banner.absolute_url
        } else if (this.group.header_img && this.group.header_img.reference && this.group.header_img.reference.absolute_url) {
          return this.group.header_img.reference.absolute_url
        }

        return this.rdmImageUrl
      },
      noGuestsEmail() {
        return this.guestsEmail.length <= 0
      },
      noEventsToAdd() {
        return this.eventsToAdd.length === 0
      },
      isCreator() {
        return this.group.isCreator && this.group.isCreator === true
      },
      eventsLinkedToGroup() {
        if (this.group && this.group.discr === 'group') {
          return (this.menuEventToGroup === 'future-events') ? this.group.futureEvents : this.group.pastEvents
        }

        return []
      },
      noEventsLinked() {
        return this.eventsLinkedToGroup.length <= 0
      },
      allCommentsReach() {
        return this.group.last_comments.length >= this.group['count_message']
      },
      allEmailsFailed() {
        if (Object.keys(this.emailsFailedToInvited).length > 0) {
          return this.emailsFailedToInvited
        } else if (Object.keys(this.invitedEmailsAdded.exception).length > 0) {
          return this.invitedEmailsAdded.exception
        }

        return {}
      },
      eventIsAlreadyPast() {
        if (this.group.discr === 'group') {
          return false;
        }

        let startDate = new Date(this.group.start_date).getTime()
        return new Date().getTime() > startDate
      },
      socialGroupNoOptions() {
        // vue-select does not display translation directly. weird bug
        return $t('social.group.no_options');
      }
    },

    props: ['groupId', 'token'],

    created() {
      this.reinitInvitedEmailsAdded()
    },

    mounted() {
      const full = window.location.host
      const parts = full.split('.')
      const dataToken = JSON.parse(this.token)
      Api.setParameters(dataToken.jwt, parts[0])
      this.getGroupInformations()

      this.getActiveMembers()
    },
    methods: {
      getEventsAvailable() {
        const url = Routing.generate('todotoday.social.api.social_group.get_future_event')
        Api.api_get(url).then(events => {
          events.data.forEach(event => {
            if (!this.group.futureEvents.find((value) => {
                return value.id === event.id
              })) {
              this.eventsAvailable.push({
                label: event.title,
                value: event.id,
                image: event.header_img ? event.header_img.social_header.relative_url : PlaceholderManager.getRandomPlaceholder(),
                start_date: event.start_date,
                end_date: event.end_date
              })
            }
          })
        })
      },
      getGroupInformations() {
        const $this = this
        const url = '/social/' + $this.groupId

        Api.api_get(url).then((response) => {
          this.group = response.data
          if ((this.group.participants === 1) && (this.group.status === 'joined')) {
            this.showInvits = true
          }
          if (!(this.group.header_img && this.group.header_img.social_banner && this.group.header_img.social_banner.absolute_url)) {
            this.rdmImageUrl = PlaceholderManager.getRandomPlaceholder()
          }
          this.getEventsAvailable()
        })
      },
      getTags($event) {
        this.guestsEmail = $event
      },
      invitMembers() {
        this.reinitInvitedEmailsAdded()

        if (this.guestsEmail.length > 0) {
          let finalEmails = []
          this.guestsEmail.forEach(item => {
            finalEmails.push(item.email)
          })

          this.isSendingInvitations = true
          this.emailsFailedToInvited = {}
          const url = `/social/${this.groupId}/action/invited`

          Api.api_post(url, {emails: finalEmails})
            .then(response => {

              this.isSendingInvitations = false
              if (response.data.hasOwnProperty('errors')) {
                this.emailsFailedToInvited = response.data.errors
                this.showErrorsEmailsFailed = true
              } else {
                this.reinitializeTags = true
                this.invitedEmailsAdded = response.data
                if (this.invitedEmailsAdded.hasOwnProperty('exception') && Array.isArray(this.invitedEmailsAdded.exception)
                  && this.invitedEmailsAdded.exception.length === 0) {
                  this.invitedEmailsAdded.exception = {}
                }
              }
            })
            .catch(error => {
              this.isSendingInvitations = false
              console.log('invitation error : ', error)
            })
        }
      },
      getActiveMembers() {
        const url = `/social/${this.groupId}/members`

        Api.api_get(url).then(({ data }) => {
          this.activeMembers = data;
        }).catch(error => {
          console.log('cannot get active members : ', error)
        });
      },
      pushMessage(message) {
        this.group.last_comments.unshift(message)
        let firstComment = document.querySelector('.comment-section')
        firstComment.scrollIntoView(true)
        eventHub.$emit('new-comment')
      },
      acceptInvit(group) {
        Api.api_post('/social/' + group.id + '/action/accepted')
          .then((responce) => {
            group.status = 'joined'
          }).catch((error) => {
          console.log('API error : ', error)
        })
      },
      refuseInvit(group) {
        Api.api_post('/social/' + group.id + '/action/refused')
          .then((responce) => {
            group.status = 'refused'
          }).catch((error) => {
          console.log('API error : ', error)
        })
      },
      quitInvit(group) {
        Api.api_post('/social/' + group.id + '/action/exited')
          .then((responce) => {
            group.status = 'exited'
          }).catch((error) => {
          console.log('API error : ', error)
        })
      },
      join(group) {
        Api.api_post('/social/' + group.id + '/action/joined')
          .then((responce) => {
            group.status = 'joined'
          }).catch((error) => {
          console.log('API error : ', error)
        })
      },
      toggleInvits() {
        this.showInvits = !this.showInvits
      },
      addEvents() {
        this.isSendingAddEvents = true
        let eventToAdd = []
        let eventIds = []

        this.eventsToAdd.forEach(event => {
          let url = Routing.generate('todotoday.social.api.social_group.post_social_add_event', {
            idGroup: this.group.id,
            idEvent: event.value
          })
          eventIds.push(event.value)
          eventToAdd.push(Api.api_post(url, {}))
        })

        Axios.all(eventToAdd).then(responses => {
          // Get the last socialGroup that should contains all futureEvents
          this.group.futureEvents = responses[responses.length - 1].data.futureEvents
          this.removeEventsFromDropdown(eventIds)
          this.addEventsSuccess = {
            isSuccess: true,
            numberEvents: eventIds.length
          }
        }).catch(error => {
          console.log(error)
          this.addEventsSuccess = {isSuccess: false}
        }).then(() => {
          this.eventsToAdd = []
          this.isSendingAddEvents = false
        })
      },
      addMoreEvent(e) {
        if (e.length) {
          this.eventsToAdd = e;
        }
      },
      removeEventsFromDropdown(eventIdList) {
        this.eventsAvailable.forEach((event, index) => {
          if (eventIdList.includes(event.value)) {
            this.eventsAvailable.splice(index, 1)
          }
        })
      },
      scrollLastCommentHandler() {
        this.loadingInfiniteScroll = true
        this.getMoreComments()
      },
      getMoreComments() {
        let url = Routing.generate(
          'todotoday.social.api.social_group.get_comments',
          {id: this.group.id, limit: 20, offset: this.group.last_comments.length}
        )

        Api.api_get(url)
          .then((response) => {
            this.group.last_comments = this.group.last_comments.concat(response.data)
            this.loadingInfiniteScroll = false
          })
          .catch((error) => {
            console.log('API error : ', error)
            this.loadingInfiniteScroll = false
          })
      },
      reinitInvitedEmailsAdded() {
        this.invitedEmailsAdded = {
          'adherents': [],
          'exception': {}
        }
      },
      editGroup(group) {
        window.location = `/social/edit-${group.discr}?id=${group.id}`
      }
    },
    filters: {
      readableDate,
      readableTime,
    },
    watch: {
      showInvits(newValue) {
        if (newValue) {
          let invitBox = document.getElementById('invitation-box')
          if (invitBox) {
            invitBox.scrollIntoView(true)
          }
          this.$nextTick(() => {
            this.focusInputTag = true
          })
        }
      },
      showAddEvents(newValue) {
        if (newValue) {
          let addEventBox = document.getElementById('addEventsBox')
          if (addEventBox) {
            this.$nextTick(() => {
              addEventBox.scrollIntoView(true)
            })
          }
        }
      },
    }
  }
</script>
<style>
    .v-select .selected-tag {
        font-size: .8em;
        line-height: 1.5rem;
    }

    .v-select .selected-tag .close {
        line-height: 1.5rem;
        height: 1.5rem;
    }

    .v-select-tdtd-item {
        display: flex;
    }

    .v-select a, .v-select a:hover {
        text-decoration: none;
    }

    .v-select-tdtd-item img {
        flex: 0 0 auto;
        margin-right: 1em;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .v-select-tdtd-item div {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .v-select-tdtd-item h3 {
        margin: 0;
    }

    .v-select-tdtd-item p {
        font-size: .8em;
        margin: 0;
        line-height: 1.2em;
    }
</style>
