{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent_noclass %}

    {# <section class="cms-homepage"> #}
    {# PARAMETRER LA NAVIGATION #}
    <nav class="nav-ariane">
        <a href="/">{{ 'homepage' | trans({}, 'todotoday') }}</a> <i class="mdi mdi-chevron-right"></i> <a href="/articles" class="active">{{ 'agency.title_news' | trans({}, 'todotoday') }}</a>
    </nav>

    <main class="main-content ">

        <section class="news-feed content-block">
            <h2>
                {{ "agency.title_news"|trans({}, "todotoday") }}
            </h2>
            {% for post in item.results %}
                {% include(':CMS:miniNews.html.twig') %}
            {% endfor %}

            {{ actiane_paginator_render_pagination(item) }}
        </section>
    </main>

{% endblock %}