<div class="center-block text-center" style="margin-top:40px;">

    <b>{{ 'mobile.disclaimer'|trans({},'todotoday') }}</b><br><br>

    <a href="{{smartbannerapp_manager.link}}">
        <img src="{{ asset('bundles/todotodaycore/img/android_' ~ app.request.locale ~ '.svg') }}"
             alt="Android" height="50px">
    </a>
    <a href="{{smartbannerapp_manager.link}}">
        <img src="{{ asset('bundles/todotodaycore/img/ios_'~ app.request.locale ~ '.svg') }}" alt="IOS"
             height="50px">
    </a>
</div>