{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent %}
    {# <section class="cms-homepage"> #}
    {# <header class="content-header text-center">
        <h1>{{ context_manager.currentContext.agency.name }}</h1>
        <h2>Les services de votre Conciergerie</h2>
        <div><img src="{{ asset("images/logos/todotoday/logo-couleur.svg") }}" alt="TODOTODAY"></div>
    </header> #}

    <section class="full-width home-header bg-presentation">
    </section>

    <section class="catalogue-home ">
            {#<h2>#}
                {#<img src="{{ asset("images/logos/todotoday/logo-couleur.svg") }}" alt="TO DO TODAY">#}
            {#</h2>#}

        {% for family in mainFamilies %}
            <div class="catalogue-bloc-home">
                <a href="{{ catalogRoute }}{{ family[constant('Todotoday\\CatalogBundle\\Services\\CatalogManager::FAMILY_ID')] }}">
                    <img src="{{ family[constant('Todotoday\\CatalogBundle\\Services\\CatalogManager::PICTOS_URL')] }}">
                    <span>{{ family.name }}</span>
                    <i class="mdi mdi-chevron-right"></i>
                </a>
            </div>
        {% endfor %}
        {% if is_module_granted('iwm') %}
            <div class="catalogue-bloc-home">
                <a href="#">
                    <img src="{{ asset(constant('Todotoday\\CatalogBundle\\Services\\CatalogManager::PICTO_DEFAULT')) }}">
                    <span>I want more</span>
                    <i class="mdi mdi-chevron-right"></i>
                </a>
            </div>
        {% endif %}
        {#<div class="catalogue-bloc-primaire">#}
            {#<a href="#"><img#}
                        {#src="{{ asset(constant('Todotoday\\CatalogBundle\\Services\\CatalogManager::PICTO_DEFAULT')) }}">#}
                {#<span>Demande de devis</span>#}
                {#<i class="mdi mdi-chevron-right"></i>#}
            {#</a>#}
        {#</div>#}
        {#<div class="catalogue-bloc-primaire">#}
            {#<a href="#"><img#}
                        {#src="{{ asset(constant('Todotoday\\CatalogBundle\\Services\\CatalogManager::PICTO_DEFAULT')) }}">#}
                {#<span>Autres Services</span>#}
                {#<i class="mdi mdi-chevron-right"></i>#}
            {#</a>#}
        {#</div>#}

    </section>

    {% include ':CMS:newsFeed.html.twig' with  {'item': item } %}


    {# </section> #}


{% endblock %}