{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent_noclass %}
    {% if app.request.locale == 'fr' %}
        {% include(":CMS:cnil_fr.html.twig") %}
    {% else %}
        {% include(":CMS:cnil_en.html.twig") %}
    {% endif %}
{% endblock %}