{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent_noclass %}
    <nav class="nav-ariane">
        <a href="/">{{ 'homepage' | trans({}, 'todotoday') }}</a> <i class="mdi mdi-chevron-right"></i>
        <a href="" class="active">{{ "contact.ariane"|trans({}, "todotoday") }}</a>
    </nav>
    <main class="main-content">
        {% for flash_message in app.session.flashBag.get('submit_form_contact') %}
            <div>{{ flash_message|trans({}, 'todotoday') }}</div>
        {% endfor %}
        <header class="td-wf-box-xl td-cart-header">
            <h2>{{ "contact.title"|trans({}, "todotoday") }}</h2>
        </header>

        <section class="td-wf-box td-wf-box-xl td-cart">
            {{ "contact.content"|trans({'%our_faq%': '<a href="'~path('cms_concierge_page_faq')~'">'~"our_faq" | trans({}, 'todotoday')~'</a>'}, "todotoday")| raw  }}
            {{ form(form) }}
        </section>
    </main>
{% endblock %}