<article class="news-feed-article">
    {% if post.media is not null and post.media is defined %}
        <aside>
            {% media post.media, 'small_news' %}
        </aside>
    {% endif %}
    <div class="news-feed-article-main">
        <header>
            <h3 class="news-feed-title">
                <a href="{{ path('cms_concierge_show_post', { slug: post.slug }) }}">{{ post.title }}</a>
            </h3>
            <small class="news-feed-date">{{ "news.enum_published_f"|trans({}, "todotoday") }}
                <time>{{ post.agencies.first.publicationDate|ago }}</time>
            </small>
        </header>
        <div class="news-feed-article-content">
            {{  post.subtitle|raw }}
        </div>
        <footer>
            <p class="read-more">
                <a href="{{ path('cms_concierge_show_post', { slug: post.slug }) }}">
                    {{ "news.read_more"|trans({}, "todotoday") }}
                </a>
            </p>
        </footer>
    </div>
</article>