<section class="news-feed content-block">
    <h2>
        {{ "agency.title_news"|trans({}, "todotoday") }}
        <small><a href="{{ path('cms_all_news') }}">{{ "news.homepage_subtitle"|trans({}, "todotoday") }}</a></small>
    </h2>
    {% for post in item.results %}
        {% include(':CMS:miniNews.html.twig') %}
    {% endfor %}

    <p class="text-center"><a href="{{ path('cms_all_news') }}"
                              class="btn btn-primaire">{{ "news.homepage_subtitle"|trans({}, "todotoday") }}</a></p>
    {# {{ actiane_paginator_render_pagination(item) }} #}
</section>
