{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent %}
    <article class="new-full">
        <header class="new-full-header">
            <h2 class="title-shadow">
            </h2>
        </header>
    </article>

{% endblock %}