{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent_noclass %}
    <nav class="nav-ariane">
        <a href="/">{{ 'homepage' | trans({}, 'todotoday') }}</a> <i class="mdi mdi-chevron-right"></i>
        <a href="" class="active active-nav">{{ 'downloads' | trans({}, 'todotoday') }}</a>
    </nav>
    <main class="main-content">
        {% if form %}
            <section class="td-wf-box td-wf-box-xl td-cart">
                {% for flash_message in app.session.flashBag.get('submit_form_upload_file') %}
                    <div class="alert-success"><p>{{ flash_message|trans({}, 'todotoday') }}</p></div>
                {% endfor %}

                <div id="uploadDocument" token="{{ getJwt() }}">
                    <div class="dotted-loader dotted-loader-black"></div>
                </div>
            </section>
        {% endif %}

        <div class="content-downloads">
            {% if cgvMedia is null and files is empty and shared_files is empty %}
                <div class="alert-warning">
                    <p>
                        {{ 'no_files_available' | trans({}, 'todotoday') }}
                    </p>
                </div>
            {% endif %}

            {% if cgvMedia is not null %}
                <h2>{{ 'available_cgv_title' | trans({}, 'todotoday') }}</h2>
                <div>
                    <i class="mdi mdi-download"></i>
                    <a href="{% path cgvMedia, 'reference' %}"
                       target="_blank">{{ cgvMedia.name }} </a>
                </div>
            {% endif %}

            {% if files is not empty %}
                <h2>{{ 'available_file_title' | trans({}, 'todotoday') }}</h2>
                {% for file in files %}
                    {% set fileMedia = file.getMediaWithLocale(app.request.locale) %}
                    {% if fileMedia is not null %}
                        <div class="download-box">
                            <div class="download-box-info">
                                <span><i class="mdi mdi-file"></i> {{ file.title }}</span>
                                <div class="download-box-desc">
                                    {{ file.description }}
                                </div>
                            </div>
                            <div class="download-box-action">
                                <a class="btn btn-secondaire mdi mdi-download"
                                   href="{% path fileMedia, 'reference' %}"
                                   target="_blank">{{ 'download'|trans({}, 'todotoday') }}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}


            <div id="sharedFiles" token="{{ getJwt() }}">
            
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/uploadDocument.js') }}"></script>
    <script src="{{ asset('build/sharedFiles.js') }}"></script>
{% endblock %}
