{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent_noclass %}
    {#{% set agency = context_manager.currentContext.agency %}#}
    <section class="concierge-infos">
        <header class="concierge-infos-header"
                style="background-image:
                        linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.66) 60%),
                        url({% path context_manager.currentContext.agency.imagePresentation, 'banner' %});">
            <div class="main-content">
                <h1 class="title-shadow">
                    {{ agency.name }}
                </h1>

                {% if agency.address %}
                    {#{{ context_manager.currentContext.agency.schedule|markdown }}#}
                    <p>{{ 'sidebar.concierge_place' | trans({}, 'todotoday') }}
                        <strong>{{ agency.address|replace({"FRA":'France', "GER": "Deutschland", "\n":' ', "\r":' '}) }}</strong>
                    </p>
                {% endif %}

                {% if agency.quickinfo %}
                    {{ agency.quickInfo | markdown }}
                {% endif %}
            </div>
        </header>

        <main class="main-content">
            <div class="concierge-infos-contact-bar">
                <p><a href="tel:{{ agency.phone}}">
                    <i class="mdi mdi-phone-in-talk"></i> {{ agency.phone }}
                    </a>
                </p>

                <p><a href="{{ path('cms_concierge_page_contact') }}"><i
                                class="mdi mdi-email"></i> {{ 'sidebar.contact_send_message' | trans({}, "todotoday") }}
                    </a></p>
                <p>
                    {% if app.session and is_granted('ROLE_TODOTODAY_CHAT') and is_module_granted('chat') %}
                        <a href="{{ '/chat/?lang=' ~ app.request.locale }}" target="_blank"><i
                                    class="mdi mdi-message-text"></i> {{ 'sidebar.run_chat' | trans({}, "todotoday") }}
                        </a>
                    {% else %}
                        <a href="{{ path('cms_concierge_page_faq') }}"><i
                                    class="mdi mdi-help-circle"></i> {{ "sidebar.faq_link"|trans({}, "todotoday") }}</a>
                    {% endif %}
                </p>

            </div>

            {% include ':CMS:newsFeed.html.twig' with  {'item': item } %}

        </main>


    </section>

{% endblock %}