{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent_noclass %}

    {# PARAMETRER LA NAVIGATION #}
    <main class="new-full">

        <header class="new-full-header"
                style="background-image:
                        linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)),
                        url({% path post.media, 'banner' %}),
                        radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                        url({% path post.media, 'banner' %});">

            <div class="main-content ">
                <h2 class="title-shadow">

                    {{ post.title }}
                </h2>
            </div>
        </header>
        {#<nav class="nav-ariane">#}
            {#<a href="/">{{ 'homepage' | trans({}, 'todotoday') }}</a> <i class="mdi mdi-chevron-right"></i>#}
            {#<a href="{{ path('cms_all_news') }}">{{ 'agency.title_news' |trans({},'todotoday')|capitalize }}</a>#}
            {#<i class="mdi mdi-chevron-right"></i>#}
            {#<a href="#" class="active active-nav">{{ post.title }} </a>#}
        {#</nav>#}
        <div class="main-content ">
            {% if post.synopsis is not empty %}
                <h2 class="synopsis">{{ post.synopsis|raw }}</h2>
            {% endif %}
            <div class="news-feed-date new-full-date">{{ "news.enum_published_f"|trans({}, "todotoday") }}
                <time>{{ post.agencies.current.publicationDate|ago }}</time>
            </div>
            <p>
                {{ post.content|markdown }}
            </p>
            <footer>

            </footer>
        </div>
    </main>

{% endblock %}