{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent_noclass %}
    <nav class="nav-ariane">
        <a href="/">{{ 'homepage' | trans({}, 'todotoday') }}</a> <i class="mdi mdi-chevron-right"></i>
        <a href="" class="active">FAQ</a>
    </nav>
    <main class="main-content">
        <div class="content-faq">
            <h2 id="top">FAQ</h2>
            <p>{{ "faq.content"|trans({}, "todotoday") }}</p>
            {#<h4>{{ "message.faq.summary"|trans({}, "messages") }}</h4>#}
            <ul>

            {% if not questions %}
                {{ "faq.no_faq_for_country"|trans({}, "todotoday") }}
            {% endif %}

            {% for question in questions %}
                <li><a href="#{{ question.slug }}">{{ question.title }}</a></li>
            {% endfor %}
            </ul>
            {% for question in questions %}
                <div id="{{ question.slug }}">
                    <h3>{{ question.title }}</h3>
                    <p>{{ question.answer }}</p>
                    <span><a href="#top"><i
                                    class="mdi mdi-arrow-up"></i>{{ "faq.go_top"|trans({'%our_faq%': '<a href="'~path('cms_concierge_page_faq')~'">'~"our_faq" | trans({}, 'todotoday')~'</a>'}, "todotoday") }}</a></span>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}