{% extends 'TodotodayCoreBundle:Admin:standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/todotodayaccount/js/lib/dropzone/dropzone.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/todotodayaccount/js/lib/dropzone/basic.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/todotodayaccount/css/custom-dropzone.css') }}"/>
    <script src="{{ asset('bundles/todotodayaccount/js/lib/dropzone/dropzone.min.js') }}"></script>
{% endblock %}

{% block sonata_admin_content %}
    {{ parent() }}

    <h1>{{ agency.name }}</h1>
    <h2>{{ 'label_mailchimp'|trans({},'messages') }}</h2>

    <div class="col-md-6">
        <div class="cms-block cms-block-element">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'mailchimp.export.title'|trans({},'todotoday') }}</h3>
                </div>
                <div class="box-body">
                    <div>
                    {% if optinStats %}
                        <ul>
                            {% for stat in optinStats %}
                                <li>
                                    {{ stat.label|trans({},'todotoday') }} : <strong>{{stat.count}}</strong>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </div>
                </div>
                <div class="box-footer"> 
                    <form action="{{ path('admin_todotoday_account_mailchimp_download') }}" method="post">
                        <input type="hidden" name="agency" value="{{ agency.getSlug() }}" />
                        <button type="submit" class="btn btn-primary btn-block">
                            {{ 'mailchimp.export.btn'|trans({},'todotoday') }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="cms-block cms-block-element">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'mailchimp.import.title'|trans({},'todotoday') }}</h3>
                </div>
                <div class="box-body">
                    <div>
                        <p>
                            {{ 'mailchimp.import.description'|trans({},'todotoday') | nl2br }}
                        </p>
                        <div id="actions" class="row">
                            <div class="col-lg-7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>{{ 'mailchimp.import.add_file'|trans({},'todotoday') | nl2br }}</span>
                                </span>
                            </div>

                        </div>
                        <strong class="upload-results error text-success show" role="alert"></strong>

                        <strong class="error text-danger maxfilesexceeded">{{ 'mailchimp.import.max_file'|trans({},'todotoday') | nl2br }}</strong>

                        <div class="table table-striped dropzone-mailchimp" class="files" id="previews">

                            <div id="dropzone-mailchimp" class="file-row">
                                <!-- This is used as the file preview template -->
                                <div>
                                    <span class="preview"><img data-dz-thumbnail /></span>
                                </div>
                                <div>
                                    <strong class="name" data-dz-name></strong>
                                </div>
                                <div class="progressions">
                                    <p class="size" data-dz-size></p>
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                    </div>
                                </div>
                                <div class="results alert alert-warning" role="alert">

                                </div>
                                <div class="btns">
                                    <button class="btn btn-primary start">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>{{ 'mailchimp.import.start'|trans({},'todotoday') }}</span>
                                    </button>
                                    <button data-dz-remove class="btn btn-danger delete">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <span>{{ 'mailchimp.import.cancel'|trans({},'todotoday') }}</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="box-footer"> 
                    <button type="button" class="btn btn-primary btn-block upload-validate">
                        {{ 'mailchimp.import.btn'|trans({},'todotoday') }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" defer>
        var previewNode = document.querySelector("#dropzone-mailchimp");
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
            url: "{{ path('admin_todotoday_account_mailchimp_check') }}", 
            params: {
                'agency': '{{agency.getSlug()}}'
            },
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            maxFiles: 1,
            previewTemplate: previewTemplate,
            autoQueue: false, // Make sure the files aren't queued until manually added
            previewsContainer: "#previews", // Define the container to display the previews
            clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
            acceptedFiles: "text/csv"
        });

        myDropzone.on("addedfile", function(file) {
            document.querySelector(".maxfilesexceeded").classList.remove("show");
            document.querySelector(".upload-validate").classList.remove("show");
            document.querySelector(".upload-results").classList.remove('text-danger');
            document.querySelector(".upload-results").innerHTML = '';

            // Hookup the start button
            file.previewElement.querySelector(".start").onclick = function() {
                myDropzone.enqueueFile(file); 
                document.querySelector(".maxfilesexceeded").classList.remove("show");
                document.querySelector(".upload-validate").classList.remove("show");
            };
            file.previewElement.querySelector(".delete").onclick = function() {
                document.querySelector(".maxfilesexceeded").classList.remove("show");
                document.querySelector(".upload-validate").classList.remove("show");
            };
        });


        myDropzone.on("sending", function(file) {
            // And disable the start button
            file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
        });

        myDropzone.on("maxfilesexceeded", function(file){
            document.querySelector(".maxfilesexceeded").classList.add("show");
        });

        myDropzone.on("success", function(file, response){
            file.previewElement.querySelector(".results").classList.add('show');
            file.previewElement.querySelector(".progressions").classList.add('hide');

            if (response.stats) {
                var html = '<ul>';
                for (key in response.stats){
                    html += '<li>'+key+' : <strong>'+response.stats[key]+'</strong></li>';
                }
                html += '</ul>';

                file.previewElement.querySelector(".results").innerHTML = html;

                document.querySelector(".upload-validate").classList.add("show");
                
                document.querySelector(".upload-validate").onclick = function() { 
                    var btn = this;
                    btn.classList.add("loading");
                    btn.setAttribute("disabled", "disabled");
                    
                    xhr = new XMLHttpRequest();

                    xhr.open('POST', "{{ path('admin_todotoday_account_mailchimp_update') }}");
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    xhr.responseType = 'json';
                    xhr.onload = function() {
                        if (xhr.status === 200 && xhr.response.length) {
                            document.querySelector(".upload-results").innerHTML = xhr.response[1];
                            if (xhr.response[0] !== 200) {
                                document.querySelector(".upload-results").classList.add('text-danger');
                            } else {
                                document.querySelector(".upload-results").classList.remove('text-danger');
                            }
                            myDropzone.removeAllFiles(true); 

                            btn.classList.remove("loading");
                            btn.classList.remove("show");
                            btn.removeAttribute("disabled");
                        }
                    };
                    
                    xhr.send(encodeURI('filename=' + file.name + '&agency={{ agency.getSlug() }}'));
                };
            }

        });

        


    </script>
{% endblock %}