<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <style>

        table, tr, td {
            width: 100%;
        }

        table.with-border {
            border-collapse: collapse;
        }

        table.with-border,
        table.with-border td {
            width: 100%;
            border: 1px solid black;
        }

        td {
            vertical-align: top;
        }

        .width-55 {
            width: 55% !important;
        }

        .width-50 {
            width: 50% !important;
        }

        .width-30 {
            width: 30% !important;
        }

        .width-20 {
            width: 20% !important;
        }

        .width-15 {
            width: 15% !important;
        }

        .width-10 {
            width: 10% !important;
        }

        .center-text,
        .center-text td {
            text-align: center !important;
            vertical-align: middle !important;
        }

        .bold {
            font-weight: bold;
        }

        .main-title {
            color: #008080;
        }

        .monthly-total {
            background-color: #E0E0E0;
            font-weight: bold;
            font-size: 21px;
        }

        .align-center {
            text-align: center;
        }

        .align-right {
            text-align: right;
        }

        .contact-informations {
            font-size: 13px;
        }

        .contact-informations .society-description{
            font-size: 8px;
        }

        .invoice-lines td {
            padding: 3px;
        }
    </style>
</head>
<body>

<table>

    {% set date_slash_format = 'invoice.date_format_year_month_day'|trans({}, "todotoday") %}

    <tr>
        <td>
            <table class="center-text" style="margin-top: 15px;">
                <tr>
                    <td>
                        <h1 class="main-title">
                            {{ "invoice.invoice"|trans({}, "todotoday") }}
                        </h1>
                    </td>
                </tr>
            </table>
            <hr>
        </td>
    </tr>

    <tr>
        <td>
            <table>
                <tr>
                    <td class="width-50">
                        {{ adherent.titleString }}&nbsp;{{ adherent.firstName|upper }}
                        &nbsp;{{ adherent.lastName|upper }}
                        <br>

                        {{ "account.adherent_number"|trans({}, "todotoday") }}&nbsp;:&nbsp;
                        {{ adherent.customerAccount }}
                        <br>

                        {{ adherent.email }}
                        <br>

                        Ref N°&nbsp;:&nbsp;{{ refinvoice.invoiceId }}
                    </td>

                    <td class="align-right width-50">
                        {{ refinvoice.invoiceDate|localizeddate('long', 'none', app.request.locale ) }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table style="margin-top: 15px;">
                <tr>
                    <td>
                        {{ "invoice.statement_expenses_information"|trans({'%date%': refinvoice.invoiceDate|localizeddate('long', 'none', app.request.locale )}, "todotoday") }}
                        <br><br>

                        <span class="bold">{{ "invoice.expenses_account"|trans({}, "todotoday") }}</span>
                    </td>
                </tr>
            </table>
            <hr>
        </td>
    </tr>

    <tr>
        <td>
            <table style="margin-top: 15px;">
                <tr>
                    <td>
                        <table class="invoice-lines">
                            <tr>
                                <th class="width-55"></th>
                                <th class="width-20">
                                    {{ "invoice.unitary_price_title"|trans({}, "todotoday") }}&nbsp;
                                    {{ currency_symbol(currency) }}
                                </th>
                                <th class="width-10">{{ "quantity"|trans({}, "todotoday") }}</th>
                                <th class="width-15">{{ "invoice.amount_in_currency"|trans({'%currency%': currency_symbol(currency)}, "todotoday") }}</th>
                            </tr>

                            {% for invoice in invoices %}
                                {% set totalLineAmount = invoice.lineAmount + invoice.lineTax %}
                                <tr>
                                    <td class="bold width-55">
                                        {{ invoice.invoiceDate|date(date_slash_format) }}&nbsp;-&nbsp;
                                        {{ invoice.name }}
                                    </td>
                                    <td class="align-center width-20">{{ invoice.salesPrice }}</td>
                                    <td class="align-center width-10">{{ invoice.lineQty }}</td>
                                    <td class="align-center width-15">{{ totalLineAmount }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table style="margin-top: 15px;">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <th class="width-55"></th>
                                <td class="align-right width-15 bold">{{ "invoice.base_h_t"|trans({}, "todotoday") }} {{ currency_symbol(currency) }}</td>
                                <td class="align-right width-15 bold">{{ "invoice.rate"|trans({}, "todotoday") }} %</td>
                                <td class="align-right width-15 bold">{{ "invoice.vat"|trans({}, "todotoday") }} {{ currency_symbol(currency) }}</td>
                            </tr>
                            {% for rate, htAndVat in htAndVatByRates %}
                                <tr>
                                    <th class="width-55"></th>
                                    <td class="align-right width-15">{{ htAndVat.ht }}</td>
                                    <td class="align-right width-15">{{ rate }}</td>
                                    <td class="align-right">{{ htAndVat.vat }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="monthly-total">
                        <table>
                            <tr>
                                <td class="width-50">{{ "invoice.monthly_total"|trans({}, "todotoday")|upper }}</td>
                                <td class="align-right width-50">{{ total_invoice_amount }} {{ currency_symbol(currency) }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table style="margin-top: 80px;">
                <tr>
                    <td>
                        <p>
                            {% if payment_is_paypal %}
                                {{ "invoice.paypal.invoice_auto_debit_date"|trans({}, "todotoday") }}
                            {% else %}
                                {{ "invoice.invoice_auto_debit_date"|trans({'%date%': refinvoice.dueDate|localizeddate('long', 'none', app.request.locale )}, "todotoday") }}
                            {% endif %}
                        </p>

                        <p>
                            {{ "invoice.for_information_contact_concierge"|trans({}, "todotoday") }}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table style="margin-top: 15px;">
                <tr>
                    <td class="contact-informations">
                        {% if agency_data_area_id == 'eus' %}
                            <div>{{ "invoice.us.todotoday.society_description"|trans({}, "todotoday")|raw }}</div>
                        {% else %}
                            <div>{{ "invoice.todotoday.address"|trans({}, "todotoday")|raw }}</div>
                            <br>
                            <div>{{ "invoice.todotoday.tel_fax"|trans({}, "todotoday")|raw }}</div>
                            <br>
                            <div class="society-description">
                                {{ "invoice.todotoday.society_description"|trans({}, "todotoday")|raw }}
                                {{ refinvoice.coRegNum }}
                            </div>
                        {% endif %}

                        <br>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>

</body>
</html>