{% extends ":default:fullWidth.html.twig" %}
{% block mainContent_noclass %}
    <div id="getDisplayPriceExclTax" price-excl-tax="{{ displayPriceExclTaxes }}"></div>
    <header class="td-wf-box-xl td-cart-header">
        <h2>{{ "cart.header_digest"|trans({}, "todotoday") }}</h2>
        {#<nav>#}
        {#<strong>{{ "cart.title"|trans({}, "todotoday") }}</strong>#}
        {#{% if deposit %}<i#}
        {#class="mdi mdi-chevron-right"></i> {{ "cart.ariane_deposit"|trans({}, "todotoday") }}{% endif %}#}
        {#<i class="mdi mdi-chevron-right"></i> {{ "cart.ariane_delivery"|trans({}, "todotoday") }}#}
        {#<i class="mdi mdi-chevron-right"></i> {{ "cart.ariane_checkout"|trans({}, "todotoday") }}#}
        {#<i class="mdi mdi-chevron-right"></i> {{ "cart.ariane_validation"|trans({}, "todotoday") }}#}
        {#</nav>#}
    </header>
    <section class="td-wf-box td-wf-box-xl td-cart">
        {% if isEmpty %}
            <div class="text-center empty-cart">
                <p>{{ 'cart.empty' | trans({}, "todotoday") }}</p>
                <a href="{{ path('todotoday_catalog_index') }}" class="btn btn-blanc">
                    {{ "catalog.services"|trans({}, "todotoday") }}
                </a>
            </div>
        {% else %}
            <ul class="td-cart-list">
                <transition-group name="fade" tag="p" appear>
                    <cart-item v-for="(product, index) in state.cartProducts" v-bind:key="product.item_id"
                               :product="product" :index="index">
                        <div class="loader loading-container" style="margin: 25px; margin-bottom: 50px">
                            <object data="/images/loader/loader-img.svg"
                                    class="loading-img loading-img-size-large"
                                    type="image/svg+xml">

                                <img src="/images/loader/loader-img.png" alt="loading">
                            </object>
                        </div>
                    </cart-item>
                </transition-group>
                <li class="td-cart-list-item cart-total">
                    <div class="td-cart-list-update">
                        <a href="{{ path('todotoday_cart_cart_emptycart') }}"
                           class="btn btn-blanc">{{ "cart.empty_cart"|trans({}, "todotoday") }}</a>
                    </div>
                    <div class="td-cart-list-info text-right">
                        {% set targetCurrency = products[0].currency %}
                        {% if displayPriceExclTaxes %}
                            <span>{{ "cart.total.excluding.taxes"|trans({'%price%': '' }, "todotoday") }}
                                <animated-integer v-bind:value="totalCart"></animated-integer></span>
                        {% else %}
                            <span>{{ "cart.total"|trans({'%price%': '' }, "todotoday") }}
                                <animated-integer v-bind:value="totalCart"></animated-integer></span>
                        {% endif %}
                    </div>
                </li>
            </ul>
            <footer class="td-cart-footer">
                <a href="{{ path('todotoday_catalog_index') }}" class="btn btn-blanc">
                    {{ "cart.button_cancel"|trans({}, "todotoday") }}
                </a>
                {% if allowCheckout %}
                    <a href="{{ path('order_checkout') }}" class="btn btn-primaire disabled">
                        {{ "cart.button_submit"|trans({}, "todotoday") }}
                    </a>
                {% elseif isCoAdherent %}
                    <span>{{ 'cart.co_adherent_checkout_disabled'|trans({}, 'todotoday') }}</span>
                {% else %}
                    <span>{{ 'cart.checkout_disabled'|trans({}, 'todotoday') }}</span>
                {% endif %}
            </footer>
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="x-template" id="actiane-quantifier">
        <div class="td-cart-list-info-quantity cart-quantity">
            <button class="mdi mdi-minus" @click="decrementItems"></button>
            <input class="td-car-input" type="text" v-model="quantity" disabled>
            <button class="mdi mdi-plus" @click="incrementItems"></button>
        </div>
    </script>
    <script type="x-template" id="actiane-deleter">
        <div class="td-cart-list-button">
            <a href="#" class="btn btn-action mdi mdi-delete"
               @click="deleteProduct()">
                {{ "cart.delete_product"|trans({}, "todotoday") }}
            </a>
        </div>
    </script>
    <script type="x-template" id="actiane-cart-item">
        <li class="td-cart-list-item">
            {% if displayPriceExclTaxes %}
            <div class="td-cart-list-product">
                <h3>${ product.name_trans }</h3>
                <span>{{ "cart.unitary_price"|trans({'%price%': '' }, "todotoday") }}
                    ${ product.amount_excl_tax|currency }</span>
            </div>
            {% else %}
            <div class="td-cart-list-product">
                <h3>${ product.name_trans }</h3>
                <span>{{ "cart.unitary_price"|trans({'%price%': '' }, "todotoday") }}
                    ${ product.amount|currency }</span>
            </div>
            {% endif %}
            <actiane-quantifier
                    :quantity="product.quantity"
                    :product-id="product.item_id"
                    :index="index">
            </actiane-quantifier>
            <span class="td-cart-list-prix">
                <animated-integer :value="productTotal"></animated-integer>
            </span>
            {#{{ product.product }}#}
            <actiane-cartdel :productid="product.item_id">
            </actiane-cartdel>
        </li>
    </script>
    <script src="https://unpkg.com/tween.js@16.3.4"></script>
    <script src="{{ asset('build/filters/currency.js') }}"></script>
    <script src="{{ asset('build/components/tweeningValue.js') }}"></script>
    <script src="{{ asset('build/cart.js') }}"></script>
{% endblock %}
