{% extends ":default:fullWidth.html.twig" %}

{% block mainContent_noclass %}
    {% set targetCurrency = currency %}
    <header class="td-wf-box-xl td-cart-header">
        <h2>{{ "order.validation_title"|trans({}, "todotoday") }} : {{ product.nameTrans }}</h2>
    </header>
    <section class="td-wf-box td-wf-box-xl td-cart  ">

        <ul class="td-cart-list">
            <li id="product-cart-12" class="td-cart-list-item">
                <div class="td-cart-list-product">
                    <h3>{{ product.nameTrans }}</h3>
                    <span>{{ "order.appointment_duration"|trans({'%s': product.serviceLength / 60}, "todotoday") }} </span>
                </div>
                <span class="td-cart-list-prix">
                    {{ product.amount|localizedcurrency(targetCurrency) }}
                </span>
                <div class="td-cart-list-button">
                    <a href="#" class="btn btn-action mdi mdi-close" onclick="history.go(-1); event.preventDefault(); return false;">
                        {{ "cancel"|trans({}, "todotoday") }}
                    </a>
                </div>
            </li>
            <li class="td-cart-list-item"></li>
        </ul>


        <div id="bookingProduct"
             productId="{{ product.itemId }}"
             serviceId="{{ product.crmIdService }}"
             name="{{ product.nameTrans }}"
             amount="{{ product.amount }}"
             serviceLength="{{ product.serviceLength / 60 }}">
        </div>
        <div id="bookingRules" rules="{{ rules }}"></div>
        <div id="defaultPaymentMethod" method="{{ defaultPaymentMethod }}" status="{{ paymentMethodStatus }}"></div>
        <div id="activateBooking" value="{{ activation }}"></div>
        <div id="bookingCalendar"></div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/bookingCalendar.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/bookingCalendar.css') }}" rel="stylesheet"/>
{% endblock %}
