
{% if not object.state %}
    <a href="{{ admin.generateObjectUrl('change-state', object) }}" class="btn btn-sm btn-default delete_link" title="{{ 'admin_notification_action_change_state'|trans({}, 'messages') }}">
        <i class="fa fa-times" aria-hidden="true"></i>
        {{ 'admin_notification_action_change_state'|trans({}, 'messages') }}
    </a>
{% endif %}