{% if admin.hasAccess('delete', object) and admin.hasRoute('delete') %}
    <a {% if object.getChildrenCount() > 0 %}onclick="return confirm('{{ 'admin_notification_action_comment_delete'|trans({}, 'messages') }}');" {% endif %}href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-default delete_link" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-times" aria-hidden="true"></i>
        {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}
