{% if object.state == constant('Todotoday\\CMSBundle\\Enum\\LinkPostAgencyStateEnum::PUBLISHED') %}
    <a href="{{ admin.generateObjectUrl('switch_state', object, {'state': constant('Todotoday\\CMSBundle\\Enum\\LinkPostAgencyStateEnum::UNPUBLISHED')}) }}"
       class="btn btn-sm btn-success">
        {{ 'published'|trans({},'messages')  }}
    </a>
{% else %}
    <a href="{{ admin.generateObjectUrl('switch_state', object, {'state': constant('Todotoday\\CMSBundle\\Enum\\LinkPostAgencyStateEnum::PUBLISHED')}) }}"
       class="btn btn-sm btn-danger">
        {{ 'unpublished'|trans({},'messages')  }}
    </a>
{% endif %}
