{# {% extends 'TodotodayAccountBundle::layout.html.twig' %} #}
{% trans_default_domain 'FOSUserBundle' %}
{% extends "@Twig/Exception/error.html.twig" %}

{% block error_icon %}<i class="mdi mdi-help-circle-outline"></i>{% endblock %}
{% block error_title %}{{ "error.404_title" | trans({}, 'todotoday') }}{% endblock %}
{% block error_desc %}{{ "error.404_disclaimer" | trans({}, 'todotoday') }}{% endblock %}