{# {% extends 'TodotodayAccountBundle::layout.html.twig' %} #}
{% trans_default_domain 'FOSUserBundle' %}
{% extends ":default:rightsideWidth.html.twig" %}
{% block mainContent %}
    <div class="td-wf-box td-wf-box-md error-box">
        <header class="td-wf-box-header text-center">
            <div class="icon-illustration">
                {% block error_icon %}<i class="mdi mdi-alert-outline"></i>{% endblock %}
            </div>
            <h2>{% block error_title %}{{ "error.title" | trans({}, 'todotoday') }}{% endblock %}</h2>
        </header>
        <p>
            {% block error_desc %}{{ "error.disclaimer" | trans({}, 'todotoday') }}{% endblock %}
        </p>
        {{ include(":default:contactDisclaimer.html.twig") }}
    </div>
{% endblock %}




