{% trans_default_domain 'FOSUserBundle' %}
{% extends ":default:fullWidth.html.twig" %}
{% block mainContent_noclass %}
    <section class="fw-content fw-content-bgi">
    {% block fos_user_content %}
        <div class="td-wf-box td-wf-box-sm">
            <header class="td-wf-box-header text-center">
                <h2>{{ 'account.checkmail_title'|trans({}, "todotoday") }}</h2>
            </header>

            <p>{{ 'account.checkmail_content'|trans({}, "todotoday") }}</p>

            {#{{ include(":default:contactDisclaimer.html.twig") }}#}
            
        </div>
    {% endblock fos_user_content %}
    </section>
{% endblock %}
