{# {% extends 'TodotodayAccountBundle::layout.html.twig' %} #}
{% trans_default_domain 'FOSUserBundle' %}
{% extends ":default:fullWidth.html.twig" %}
{% block mainContent_noclass %}
    <div class="fw-content fw-content-bgi">
        {% block fos_user_content %}
            <div class="td-wf-box td-wf-box-lg">
                <header class="td-wf-box-header">
                    <h2>{{ 'signin.password_title'|trans({}, "todotoday") }}</h2>
                </header>
                <div class="grid has-gutter password-creation">

                    {{ form(form) }}


                    <div class="td-wf-inscription-column">
                        <p>{{ 'signin.password_disclaimer'|trans({}, "todotoday") }}</p>
                        <p>{{ 'signin.password_disclaimer_additional'|trans({}, "todotoday") }}</p>
                    </div>
                </div>

                {#{{ include(":default:contactDisclaimer.html.twig") }}#}

            </div>
        {% endblock fos_user_content %}
    </div>
{% endblock %}
