{# {% extends 'TodotodayAccountBundle::layout.html.twig' %} #}
{% trans_default_domain 'FOSUserBundle' %}
{% extends ":default:fullWidth.html.twig" %}
{% block mainContent_noclass %}
    <div class="fw-content fw-content-bgi registration_flow_form">
        {% block fos_user_content %}
            <nav class="ariane-validate">
                {% use ':checkout:stepList_blocks.html.twig' %}
                {%- if flow.getStepLabels() is not empty -%}
                    <ol class="craue_formflow_steplist">
                        {% for stepLabel in flow.getStepLabels() %}
                            <li{{ block('craue_flow_stepList_class') }}>

                                {%- if craue_isStepLinkable(flow, loop.index) -%}
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all
                                    | merge(app.request.attributes.get('_route_params'))
                                    | craue_addDynamicStepNavigationParameters(flow, loop.index)) }}">
                                        {{- block('craue_flow_stepLabel') -}}
                                    </a>
                                {%- else -%}
                                    {{ block('craue_flow_stepLabel') }}
                                {%- endif -%}

                                {%- if loop.index < flow.getStepLabels()|length -%}
                                <i class="mdi mdi-chevron-right"></i>
                                {%- endif -%}
                            </li>
                        {% endfor %}
                    </ol>
                {%- endif -%}
            </nav>

            <div class="td-wf-box td-wf-box-lg">

                {% if flow.currentStepLabel == 'signin.ariane_cgv' %}
                    <section class="cgv-reader relativist">
                        <h2>{{ "signin.cgv_header"|trans({}, "todotoday") }}</h2>
                        {{ cgv|markdown }}

                    </section>
                {% endif %}

                {{ form_start(form, {'attr': {'id': 'form_btn_loader'}}) }}
                {{ form_errors(form) }}
                {% for message in app.flashes('stripe_error') %}
                    <div class="alert-error">
                        <p>{{ message|trans({},'todotoday') }}</p>
                    </div>
                {% endfor %}
                
                {% if flow.currentStepLabel == 'signin.password_title' %}
                    <header class="td-wf-box-header">
                        <h2>{{ 'signin.password_title'|trans({}, "todotoday") }}</h2>
                    </header>
                    <div class="grid has-gutter password-creation">
                        {{ form_row(form) }}
                        <div class="td-wf-inscription-column">
                            <p>{{ 'signin.password_disclaimer'|trans({}, "todotoday") }}</p>
                            <p>{{ 'signin.password_disclaimer_additional'|trans({}, "todotoday") }}</p>
                        </div>
                    </div>
                {% else %}
                    {{ form_row(form) }}
                {% endif %}

                <div id="app-btn-formflow" class="btn-row btn-row-formflow">
                    <loader-content
                            content-class="full-width"
                            :is-loading="isFormSubmitting"
                            loader-size="small"
                    >
                        {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                        craue_formflow_button_class_last: 'btn-primaire text-capitalize',
                        craue_formflow_button_class_back: 'btn-blanc text-capitalize',
                        craue_formflow_button_render_reset: false,
                        } %}
                    </loader-content>
                </div>
                {{ form_end(form) }}


                {#{{ include(":default:contactDisclaimer.html.twig") }}#}

            </div>

        {% endblock fos_user_content %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/bundles/buttons_form_flow.js') }}"></script>
{% endblock %}

