

{# {% extends 'TodotodayAccountBundle::layout.html.twig' %} #}
{% trans_default_domain 'FOSUserBundle' %}
{% extends ":default:fullWidth.html.twig" %}
{% block mainContent_noclass %}
  <div class="fw-content fw-content-bgi">
    {% block fos_user_content %}
        <div class="td-wf-box td-wf-box-lg">
            <header class="td-wf-box-header">
                <h2>{{ "account.personal_info"|trans({}, "todotoday") }}</h2>
            </header>
            <div class="grid has-gutter container-login">
                {{ form(form) }}
            </div>

            {#{{ include(":default:contactDisclaimer.html.twig") }}#}

        </div>
    {% endblock fos_user_content %}
  </div>
{% endblock %}