{# {% extends 'TodotodayAccountBundle::layout.html.twig' %} #}
{% trans_default_domain 'FOSUserBundle' %}
{% extends ":default:fullWidth.html.twig" %}
{% block mainContent_noclass %}
    <div class="fw-content fw-content-bgi">
        {% block fos_user_content %}
            <div class="td-wf-box td-wf-box-lg container-subscribed">
                <header class="td-wf-box-header text-center">
                    <div class="icon-illustration">
                        <i class="mdi mdi-checkbox-marked-circle-outline"></i>
                    </div>
                    <p class="text-left">{{ 'account.registration_success'|trans({},'todotoday') }}
                        <span class="text-capitalize">{{ context_manager.currentContext.agency.name }}</span>.</p>

                    <p class="text-left">{{ 'account.registration_success2'|trans({},'todotoday') }}</p>
                </header>

                {% if not is_granted('ROLE_CO_ADHERENT') %}
                    <p class="text-center"><a href="{{ path('account.profile_index') }}"
                                              class="btn btn-primaire full-width">{{ 'signin.link_account'|trans({},'todotoday') }}</a>
                    </p>
                {% endif %}
                <p class="text-center"><a href="{{ path('todotoday_catalog_index') }}" class="btn btn-blanc full-width">
                        {{ "checkout.exploration"|trans([], "todotoday") }}
                    </a>
                </p>

                {% include(':CMS:appContent.html.twig') %}
                {#{{ include(":default:contactDisclaimer.html.twig") }}#}

            </div>
        {% endblock fos_user_content %}
    </div>
{% endblock %}
