
<template>
  <div class="banner" v-if="isVisible">
    <div class="dismiss">
      <button @click="close" class="close"><i class="mdi mdi-close"></i></button>
    </div>
    <div class="logo">
      <img src="/images/logos/todotoday/app-logo.png">
    </div>
    <div class="text">
      <p>TO DO TODAY</p>
      <p v-if="os == 'iOS'">{{ 'smartbanner.appstore' | $t }}</p>
      <p v-if="os == 'Android'">{{ 'smartbanner.googleplay' | $t }}</p>
    </div>
    <div class="action">
      <a :href="dynamicLink" role="noopener">{{ 'smartbanner.button' | $t }}</a>
    </div>
  </div>
</template>

<script>

import translation from './../../../filters/translation.js';
import ua from 'ua-parser-js';

export default {
  name: 'SmartBannerApp',

  props: {

    link: {
        type: String,
        default: '#'
    },
    sso: {
        type: Boolean,
        default: false
    },

  },

  data: function () {
      return {
        os: null,
        isVisible: false,
        isDismissed: false,
        dynamicLink: this.link
      }
  },

  mounted() {
    const agent = ua(navigator.userAgent);
    this.os = agent.os.name;
    this.isDismissed = this.getCookie('smartbanner-closed')
    if( (this.os === 'iOS' || this.os === 'Android') && !this.isDismissed){
      this.isVisible = true;
      document.body.classList.add('smart-banner-open')
    }

    if (this.os === 'Android' && this.sso) {
      this.isVisible = false
      document.body.classList.add('smart-banner-close')
    }
  },
  methods: {
    close(){
      document.body.classList.add('smart-banner-close')
      setTimeout(() => {
        this.isVisible = false
        this.isDismissed = false
        this.setCookie('smartbanner-closed', 'true', 2);
      }, 550)
    },

    setCookie(name,value,days) {
      let expires = "";
      if (days) {
        let date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    },

    getCookie(name) {
      let nameEQ = name + "=";
      let ca = document.cookie.split(';');
      for(let i=0;i < ca.length;i++) {
          let c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
    }

  }
}
</script>

