<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <style>

        table, tr, td {
            width: 100%;
        }

        table.with-border {
            border-collapse: collapse;
        }

        table.with-border,
        table.with-border td {
            width: 100%;
            border: 1px solid black;
        }

        td {
            vertical-align: top;
        }

        .width-50 {
            width: 50% !important;
        }

        .width-30 {
            width: 30% !important;
        }

        .width-15 {
            width: 15% !important;
        }

        .center-text,
        .center-text td {
            text-align: center !important;
            vertical-align: middle !important;
        }

        .bold {
            font-weight: bold;
        }
    </style>
</head>
<body>

<table>

    <tr>
        <td>
            <table class="center-text" style="margin-top: 15px;">
                <tr>
                    <td>
                        <h1>
                            {{ "quotation.request_for_quotation"|trans({}, "todotoday") }}
                        </h1>
                        <h3>
                            {{ "agency"|trans({}, "todotoday")|capitalize }}&nbsp;:&nbsp;{{ agency }}
                        </h3>
                    </td>
                </tr>
            </table>
            <hr>
        </td>
    </tr>

    <tr>
        <td>
            <table>
                <tr>
                    <td class="width-50">
                        {{ "account.adherent_number"|trans({}, "todotoday") }}&nbsp;:&nbsp;{{ user.numAdherent }}<br>
                        {{ "lastname"|trans({}, "todotoday") }}&nbsp;:&nbsp;{{ user.lastname|capitalize }}<br>
                        {{ "firstname"|trans({}, "todotoday") }}&nbsp;:&nbsp;{{ user.firstname|capitalize }}<br>
                        {{ "quotation.phone"|trans({}, "todotoday") }}&nbsp;:&nbsp;{{ user.phone }}<br>
                        {{ "personal_address"|trans({}, "todotoday") }}&nbsp;:&nbsp;{{ user.address }}<br>
                    </td>

                    <td class="width-50">
                        {{ "quotation"|trans({}, "todotoday") }}&nbsp;:&nbsp;
                        {{ product.nameTrans }}&nbsp;({{ product.itemId }})
                        <br>
                        {{ "catalog.family"|trans({}, "todotoday") }}&nbsp;:&nbsp;
                        {{ productFamilyName }}
                    </td>
                </tr>
            </table>
            <hr>
        </td>
    </tr>

    <tr>
        <td>
            <table style="margin-top: 15px;">
                {% for input in inputs %}
                    <tr>
                        <td>
                            <span class="bold">{{ input.label|markdown }}</span>
                            <span>
                                {% if input.value is instanceOf ('\DateTime') %}
                                    {{ input.value|localizeddate('long') }}
                                {% elseif input.value is instanceOf ('\Symfony\\Component\\HttpFoundation\\File\\UploadedFile') %}
                                    {{ input.value.clientOriginalName }}
                                {% elseif input.value is iterable %}
                                    {% for val in input.value %}
                                        {{ val }} <br>
                                    {% endfor %}
                                {% else %}
                                    {{ input.value }}
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>

</table>

</body>
</html>