<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <style>

        table, tr, td {
            width: 100%;
        }

        .header-title{
            text-align: center; color: #5F174C;
        }
        .header-title .main-title{
            font-size: 18px;
            font-weight: bold;
        }

        .header-title .sub-title{
            font-size: 20px;
        }

        table.with-border {
            border-collapse: collapse;
        }

        table.with-border,
        table.with-border td {
            width: 100%;
            border: 1px solid black;
        }

        td {
            vertical-align: top;
        }

        .width-50{
            width: 50% !important;
        }

        .width-30{
            width: 30% !important;
        }

        .width-15{
            width: 15% !important;
        }

        .two-first-tables{
            height: 45px;"
        }

        .height-name{
            height: 75px;
        }

        .center-text,
        .center-text td{
            text-align: center !important;
            vertical-align: middle !important;
        }

        .height-iban{
            height: 182px;
        }
    </style>
</head>
<body>

    <table>

        <tr>
            <td>
                <table style="margin-top: 15px;">
                    <tr>
                        <td class="width-30">&nbsp;</td>
                        <td class="header-title width-30">
                            <span class="main-title">La Conciergerie</span>
                        </td>
                        <td class="width-30">&nbsp;</td>
                    </tr>

                    <tr>
                        <td class="width-30"></td>
                        <td class="header-title width-30">
                            <span class="sub-title">{{ agency }}</span>
                        </td>
                        <td class="width-30" style="text-align: right;">
                            <span style="font-weight: bold">Mandat de prélévement SEPA</span>
                            <br>
                            EPA061_CGV5_010216
                        </td>
                    </tr>
                </table>
                <hr>
            </td>
        </tr>

        <tr>
            <td>
                <table>

                    <tr>
                        <td colspan="2">
                            <h3 style="color: #F36F21">Mandat de prélévement SEPA</h3>

                            <h4 style="font-weight: bold;">
                                Identifiant de l’adhérent (numéro EPA) = Référence Unique de Mandat (RUM):
                                <span>{{ user.rum }}</span>
                            </h4>

                            <p>
                                En signant ce formulaire de mandat, vous autorisez (A) TO DO TODAY à envoyer des instructions à votre banque pour débiter
                                votre compte et (B) votre banque à débiter votre compte conformément aux instructions de TO DO TODAY
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td class="width-50">
                            <table class="with-border">
                                <tr class="center-text two-first-tables" >
                                    <td>Nom, prénom et adresse du débiteur</td>
                                </tr>
                                <tr>
                                    <td class="height-name center-text">
                                        {{ user.lastname }} {{ user.surname }}
                                        <br>
                                        {{ user.address }}
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td class="width-50">
                            <table class="with-border">
                                <tr class="center-text two-first-tables">
                                    <td>Désignation de l’établissement teneur du compte à débiter</td>
                                </tr>
                                <tr>
                                    <td class="height-name">

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2"><br></td>
                    </tr>

                    <tr>
                        <td class="width-50">
                            <table class="with-border">
                                <tr style="text-align: center;">
                                    <td class="width-15" style="padding: 0 5px;">Pays</td>
                                    <td class="width-15" style="padding: 0 5px;">Clé</td>
                                    <td style="width: 45%;">Iban</td>
                                    <td style="width: 25%;">Bic</td>
                                </tr>
                                <tr class="center-text">
                                    <td class="width-15 height-iban">
                                        {{ customerBankAccount.countryCode }}
                                    </td>
                                    <td class="width-15 height-iban">
                                        {{ customerBankAccount.keyCode }}
                                    </td>
                                    <td style="width: 45%; padding: 0 5px;" class="height-iban">
                                        {{ customerBankAccount.iban }}
                                    </td>
                                    <td style="width: 25%; padding: 0 5px;" class="height-iban">
                                        {{ customerBankAccount.swiftCode }}
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td class="width-50">
                            <table class="with-border">
                                <tr>
                                    <td class="center-text">Nom et adresse de créancier</td>
                                </tr>
                                <tr>
                                    <td class="center-text height-iban">
                                        <br>
                                        TO DO TODAY<br>
                                        SAS<br>
                                        S.A. au capital de € 447.835<br>
                                        RCS Paris B440 021 368<br>
                                        4 rue Cimarosa<br>
                                        75016 Paris FRANCE<br><br>
                                        <span style="font-weight: bold">iCs : Fr 55 ZZZ 467627</span><br>
                                        <br>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2"><br></td>
                    </tr>

                    <tr>

                        <td class="width-50">
                            <table style="text-align: left;">
                                <tr>
                                    <td class="width-50">Date:</td>
                                    <td class="width-50">Signature:</td>
                                </tr>
                            </table>
                        </td>

                        <td class="width-50">
                            <table>
                                <tr >
                                <td style="border: 1px solid black; padding: 7px;">Les informations contenues dans le présent mandat, qui doit être complété, sont
                                destinées à n’être utilisées par le créancier que pour la gestion de sa relation avec son
                                client. Elles pourront donner lieu à l’exercice, par ce dernier, de ses droits d’oppositions,
                                d’accès et de rectification tels que prévus aux articles 38 et suivants de la loi n° 78-17
                                du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2"><br></td>
                    </tr>

                    <tr>

                        <td class="width-50">
                            <br>
                        </td>

                        <td class="width-50">
                            <table>
                                <tr style="text-align: center;">
                                    <td style="border: 1px solid black;">Prière de joindre un relevé d'identité bancaire (IBAN)</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>

</body>
</html>