{% extends 'default/conciergeLayout.html.twig' %}

{% block bodyContent %}
    <div class="btn"><a href="{{ path("fos_user_profile_edit") }}">Editer</a></div>
    {% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock  %}
