<template>
    <div>
        <catalog @updatecart="incrementCart"></catalog>
    </div>
</template>


<script>

  import ACTCatalog from './../../components/catalog/ACTCatalog.vue';

  export default {

    name: 'AppCatalog',

    components: {
      'catalog': ACTCatalog,
    },
    methods: {
      incrementCart() {
        store.incrementCart();
      },
    },

  }
</script>

<style lang="scss">

</style>
