{% extends 'TodotodayCoreBundle:Admin/AgencyOperation:agency_operation_header.html.twig' %}

{% block sonata_admin_content %}
    <h1>{{ agency.name }}</h1>
    <h2>{{ 'copy_adherent_to_another_conciergerie'|trans({'%ccgie%':agency.name},'messages') }}</h2>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Avertissement</h3>
        </div>
        <div class="panel-body">
            <p>Cette opération permet de copier les adhérents d'une conciergerie pour leur donner un accès à une autre
                conciergerie</p>
            <p>Il n'est possible d'utiliser cette fonctionnalité uniquement sur une conciergerie de la même entité
                légale (EPA, ECH, etc.)</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="row col-md-4 col-offset-md-4">
                {{ form(form) }}
            </div>
        </div>
    </div>

    {{ parent() }}
{% endblock %}