{% extends 'TodotodayCoreBundle:Admin/AgencyOperation:agency_operation_header.html.twig' %}

{#{% set filterAdherent = '[linkAgencies__agency][value]='~agency.id~']' %}#}

{% block sonata_admin_content %}
    <h1>{{ agency.name }}</h1>
    <div class="btn-group">
        <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {{ 'label_operation'|trans({},'messages') }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ path('admin_todotoday_account_adherent_list', {
                    'filter[linkAgencies__agency][value]': agency.id
                }) }}">{{ 'see_all_adherent' | trans({'%ccgie%': agency.slug},'messages') }}</a></li>
            {#<li>#}
            {#<a href="{{ path('admin.agency_operation_compare', {'id': agency.id}) }}">{{ 'compare_adherent' | trans({'%ccgie%': agency.slug},'messages') }}</a>#}
            {#</li>#}
            <li role="separator" class="divider"></li>
            <li>
                <a href="{{ path('admin.agency_operation_copy', {'id': agency.id}) }}">{{ 'copy_adherent_to_another_conciergerie' | trans({'%ccgie%': agency.slug},'messages') }}</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="{{ path('admin.agency_operation_import_adherent', {'id': agency.id}) }}">
                    {{ 'import_adherent_from_ax'|trans({},'messages') }}
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li role="separator" class="divider"></li>
                <li>
                    <a href="{{ path('admin.agency_operation_cache_catalog_handler', {'id': agency.id}) }}">
                        {{ 'catalog_cache_handler'|trans({},'messages') }}
                    </a>
                </li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li>
                <a href="{{ path('admin.agency_operation_mailchimp', {'id': agency.id}) }}">
                    {{ 'label_mailchimp'|trans({},'messages') }}
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Stats</div>
                    <table class="table">
                        <tr>
                            <td>{{ 'active_members'|trans({},'messages') }}</td>
                            <td>{{ count }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}