{% extends 'TodotodayCoreBundle:Admin/AgencyOperation:agency_operation_header.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/adherentMigration.css') }}">
    <link href="{{ asset('css/materialdesignicons.min.css') }}" media="all" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block sonata_admin_content %}
    {{ parent() }}
    <div id="parameters" scheme="{{ scheme }}"></div>
    <div id="getJwtToken" token="{{ getJwt() }}"></div>
    <div class="container-fluid">
        <h1>{{ agency.name }}</h1>
        <h2>{{ 'import_adherent_from_ax'|trans({'%ccgie%': agency.name},'messages') }}</h2>

        <div id="app">
            <adherent-migration
                    agency="{{ agency.slug }}"
                    data-area-id="{{ agency.dataAreaId }}"
            ></adherent-migration>
        </div>
    </div>

{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('build/adherentMigration.js') }}"></script>
{% endblock %}