{% extends 'TodotodayAccountBundle:Admin/Mailchimp:list.html.twig' %}

{% block sonata_breadcrumb %}
    <div class="navbar-left">
        <div class="hidden-xs">
            <ol class="nav navbar-top-links breadcrumb">
                <li>
                    <a href="{{ path('admin_todotoday_core_agency_list') }}">{{ 'Agency'|trans({},'messages') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_todotoday_core_agency_edit',{'id': agency.id}) }}">
                        {{ agency.name }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin.agency_operation',{'id': agency.id}) }}">
                        {{ 'label_operation'|trans({},'messages') }}
                    </a>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}