{% extends 'TodotodayCoreBundle:Admin/AgencyOperation:agency_operation_header.html.twig' %}

{% block sonata_admin_content %}
    <h1>{{ agency.name }}</h1>
    <h2>{{ 'compare_adherent'|trans({'%ccgie%': agency.name},'messages') }}</h2>

    <div class="container">
        <div class="row">
            <div class="row col-md-4 col-offset-md-4">
                {{ form(form) }}
            </div>
        </div>
    </div>
    {{ parent() }}

    <div class="container">
        <div class="row">
            <ul>
                {% for account in accounts %}
                    <li>{{ account.username }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}