{% extends 'TodotodayCoreBundle:Admin/AgencyOperation:agency_operation_header.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/adherentMigration.css') }}">
    <link href="{{ asset('css/materialdesignicons.min.css') }}" media="all" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block sonata_admin_content %}
    {{ parent() }}
    <div id="parameters" scheme="{{ scheme }}"></div>
    <div id="getJwtToken" token="{{ getJwt() }}"></div>
    <div class="container-fluid">
        <h1>{{ 'catalog_cache_handler'|trans({},'messages') }}</h1>
        <div id="app">
            <div class="row" style="margin-top:40px;">
                <catalog-clear-cache
                        agency="{{ agency.slug }}"
                        lang="fr">
                </catalog-clear-cache>
            </div>
            <div class="row" style="margin-top:40px;">
                <catalog-clear-cache
                        agency="{{ agency.slug }}"
                        lang="en">
                </catalog-clear-cache>
            </div>
            <div class="row" style="margin-top:40px;">
                <catalog-clear-cache
                        type="danger"
                        label="catalog.clear_all_cache_label"
                >
                </catalog-clear-cache>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('build/catalogCache.js') }}"></script>
{% endblock %}