{% extends ':order:order.html.twig' %}

{% block main_title %}
    {{ "my_refused_orders"|trans({}, "todotoday") }}
{% endblock %}

{% block order_button %}
    {# TODO: AJOUTER UN BOUTON POUR MODIFIER LA COMMANDE REFUSÉE. PRÉVU POUR LA LIVRAISON 2 #}
    {% block cancel_button %}
        {# NE PAS AFFICHER LE BOUTON ANNULER SI LA COMMANDE EST Confirmed #}
        <button @click.prevent="openAnnulationModal('{{ order.salesOrderNumber }}')"
                class="btn-action mdi mdi-close btn-annulation">
            {{ "cancel"|trans({}, "todotoday") }}
        </button>
    {% endblock %}
{% endblock %}

{% block order_modal %}
    {% block cancel_modal %}
        <order-cancel-modal :sales-order-number="salesOrderNumber"
                            :annulation-modal-visible="annulationModalVisible"
                            body-message="order.supplier_cancel_message_confirmation"
                            @ordercanceled="orderCanceled"
                            @updatemodalvisible="annulationModalVisible = $event">
        </order-cancel-modal>
    {% endblock %}
    {% block edit_modal %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block information_label %}
    <div class="alert-info">
        <p>{{ 'checkout_fournisseur_cancelled_order_information'|trans({},'todotoday') }}</p>
        <span class="fournisseur_cancelled_order_info">
            <a href="{{ path('cms_concierge_page_contact') }}"><i
                        class="mdi mdi-email"></i> {{ 'sidebar.contact_send_message' | trans({}, 'todotoday') }}
            </a>
        </span>
        <span class="fournisseur_cancelled_order_info">
            {% if app.session and is_granted('ROLE_TODOTODAY_CHAT') and is_module_granted('chat') %}
                <a href="{{ '/chat/?lang=' ~ app.request.locale }}" target="_blank"><i class="mdi mdi-message-text"></i>
                    {{ 'sidebar.run_chat' |trans({}, 'todotoday') }}
                </a>
            {% endif %}
        </span>
    </div>
{% endblock %}