{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent_noclass %}
   <div class="main-content">
        {% include 'order/order_nav.html.twig' %}
    </div>
    <main class="td-cmd main-content has_nav">
        
        <nav class="td-horizontal-nav">
            {% include 'order/order_menu.html.twig' %}
        </nav>
        <section class="">
            <header>
                <h3>
                    {% block main_title %}
                        {{ "my_running_orders"|trans({}, "todotoday") }}
                    {% endblock %}
                    ({{ orders|length }})
                </h3>
            </header>
            {% block information_label %}
            {% endblock %}
            {% if not orders %}
                {{ "order.empty_short"|trans({}, "todotoday") }}
            {% endif %}

            <div id="app">

                <ul class="td-cmd-list">
                    {% for order in orders %}
                        {% set targetCurrency = order.currencyCode %}
                        {% set orderCanceled = (order.orderStatus == 'canceled') %}
                        {% set ownedByCoAdherent = order.ownedByCoAdherent and (adherent.customerAccount == order.invoiceCustomerAccountNumber) %}

                        <li id="order-section-{{ order.salesOrderNumber }}"
                            class="{% if orderCanceled %}canceled{% endif %}{% if ownedByCoAdherent %} owned-by-coadherent{% endif %}">

                            <article class="td-cmd-list-item grid-3 has-gutter">

                                <div class="cmd-content cmd-icons one-sixth">
                                    {% for picto in order.pathPictos %}
                                        {% if picto %}
                                            <img src="{{ asset(picto.url) }}" style='height:30px;'
                                                 class="cmd-icon-thumb">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="cmd-content two-thirds relativist">
                                    {% if ownedByCoAdherent %}
                                        <small class="co-adherent-title">
                                            {{ "order.placed.co_adherent"|trans({'%full_name%': getFullNameWithCustomerAccount(order.orderingCustomerAccountNumber)}, "todotoday") }}
                                        </small>
                                    {% endif %}

                                    <header class="grid-2 has-gutter">
                                        <h4 class="five-sixths">
                                            {{ "order.list_orders_header"|trans({}, "todotoday") }}
                                            {{ order.creationDate | localizeddate('full', 'none', app.request.locale ) }}
                                            <br>
                                            <small>ref: {{ order.salesOrderNumber }} </small>
                                            <br>
                                            {# s'il y a des commandes fournisseur alors on n'affiche pas le status global de la commande #}
                                            {# sauf si le status est pending #}
                                            {% if (order.supplierOrder is null or order.supplierOrder.responseState == constant('Todotoday\\CheckoutBundle\\Enum\\OrderStatusEnum::SUPPLIER_PENDING')) %}
                                                <small class="order-status">{{ order.orderStatusDisplay }}
                                                    {% if order.orderStatus == constant('Todotoday\\CheckoutBundle\\Enum\\OrderStatusEnum::READY') %}
                                                        {% set deliveryTranslation = constant('Todotoday\\CoreBundle\\Serializer\\DeliveryModeTranslatorHandler::DELIVERY_PREFIX')~order.deliveryModeCode %}
                                                        ({{ deliveryTranslation|trans({},'todotoday') }})
                                                    {% endif %}
                                                </small>
                                            {% endif %}
                                            <br>
                                        </h4>
                                        <span class="cmd-content-total one-sixth">
                                            {{ order.totalAmount|localizedcurrency(targetCurrency) }}
                                        </span>
                                    </header>
                                    <section>
                                        <ul class="td-cmd-products">
                                            {% set orderLinesSumup = [] %}
                                            {% for line in order.orderLines %}
                                                {% set lineSumup = {'description' : line.lineDescription, 'inventoryLotId': line.inventoryLotId, 'customerRef': line.customerRef, 'quantity': line.orderedSalesQuantity} %}
                                                {% set orderLinesSumup = orderLinesSumup|merge([lineSumup]) %}
                                                <li class="grid-2">
                                                    <div class="td-cmd-products-content five-sixths">
                                                        {{ line.lineDescription }}
                                                    </div>
                                                    <div class="td-cmd-products-price one-sixth">
                                                        {{ line.lineAmount|localizedcurrency(targetCurrency) }}
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </section>
                                </div>

                                {# ACTION BUTTONS #}
                                <div class="cmd-content cmd-actions one-sixth">
                                    {% block order_button %}
                                        {% if orderCanceled == false %}
                                            {% if order.ratable %}
                                                <button @click.prevent="openRatingModal('{{ order.salesOrderNumber }}')"
                                                        class="btn-action mdi mdi-star-half btn-rate">
                                                    {{ "order.rate"|trans({}, "todotoday") }}
                                                </button>
                                            {% endif %}

                                            {% block cancel_button %}
                                                {% if order.cancellable %}
                                                    {% set cancelModalBody = (order.supplierOrder and order.supplierOrder.responseState == constant('Todotoday\\CheckoutBundle\\Enum\\OrderStatusEnum::SUPPLIER_REJECTED')) ? 'order.supplier_cancel_message_confirmation' : '' %}
                                                    <button @click.prevent="openAnnulationModal('{{ order.salesOrderNumber }}', '{{ cancelModalBody }}')"
                                                            class="btn-action mdi mdi-close btn-annulation">
                                                        {{ "cancel"|trans({}, "todotoday") }}
                                                    </button>
                                                {% endif %}
                                            {% endblock %}

                                        {% endif %}
                                    {% endblock %}
                                </div>
                                <div class="cmd-content full">
                                    {% block supplier_order_info %}
                                        {% if order.supplierOrder %}
                                            {% if order.supplierOrder.responseState == constant('Todotoday\\CheckoutBundle\\Enum\\OrderStatusEnum::SUPPLIER_REJECTED') %}
                                                <div class="alert-warning">
                                                    {% set keyStatusTranslated = constant('Todotoday\\CheckoutBundle\\Entity\\Api\\Microsoft\\SalesOrderDigHeaders::BASE_KEY_TRANSLATION') ~ order.supplierOrder.responseState|lower %}
                                                    <p>{{ keyStatusTranslated|trans({},'todotoday') }}
                                                        - {{ order.supplierOrder.responseDateTime|localizeddate('long','short') }} </p>

                                                    <div class="refused-description">
                                                        <span>{{ order.supplierOrder.responseNote }}</span>
                                                        {% block update_order_button %}
                                                        <button @click.prevent="openEditModal('{{ order.salesOrderNumber }}','{{ order.dataAreaId }}', '{{ order.customerRefDepot }}',{{ orderLinesSumup|json_encode }})"
                                                                class="btn-action mdi mdi-pencil"
                                                                style="margin-bottom: 10px;"
                                                        >
                                                            {{ "order.modify_order"|trans({}, "todotoday") }}
                                                        </button>
                                                    </div>
                                                    {% endblock %}
                                                </div>
                                            {% endif %}
                                            {% if order.supplierOrder.responseState == constant('Todotoday\\CheckoutBundle\\Enum\\OrderStatusEnum::SUPPLIER_CONFIRMED') %}
                                                <div class="alert-success">
                                                    {% set keyStatusTranslated = constant('Todotoday\\CheckoutBundle\\Entity\\Api\\Microsoft\\SalesOrderDigHeaders::BASE_KEY_TRANSLATION') ~ order.supplierOrder.responseState|lower %}
                                                    <p>{{ keyStatusTranslated|trans({},'todotoday') }}
                                                        - {{ order.supplierOrder.responseDateTime|localizeddate('long','short') }} </p>
                                                    {% if order.supplierOrder.responseDateTime %}
                                                        {# alors là comme je ne peux pas savoir à quel item de la commande correspond la commande fournisseur#}
                                                        {# je prends donc le premier item de la commande et OSEF... :(#}
                                                        {% set deliveryDate  = get_delivery_date(order.supplierOrder.responseDateTime, order.orderLines[0].salesProductCategoryName)|localizeddate('full','none') %}
                                                        <span>{{ 'order.supplier_delivery_date_estimation_label'|trans({},'todotoday') }}
                                                            : {{ deliveryDate }}</span>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endblock %}
                                    {% if order.depotModeCode == 'Casier' and order.customersOrderReference
                                        and (
                                        order.orderStatus == constant('Todotoday\\CheckoutBundle\\Enum\\OrderStatusEnum::READY')
                                        or order.orderStatus == constant('Todotoday\\CheckoutBundle\\Enum\\OrderStatusEnum::CANCELED')
                                        or (order.supplierOrder and order.supplierOrder.responseState == constant('Todotoday\\CheckoutBundle\\Enum\\OrderStatusEnum::SUPPLIER_REJECTED'))
                                        ) %}
                                        <div class="alert-info">
                                            <p>
                                                {{ 'order.return.case'|trans({'%num_casier%' : order.customersOrderReference }, 'todotoday') }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </article>
                        </li>
                    {% endfor %}
                </ul>

                {# MODALS #}
                {% block order_modal %}
                    <order-rating-modal :sales-order-number="salesOrderNumber"
                                        :rating-modal-visible="ratingModalVisible"
                                        :satisfaction-subjects="{{ satisfactionOrderSubjects|json_encode }}"
                                        @orderrated="orderRated"
                                        @updatemodalvisible="ratingModalVisible = $event">
                    </order-rating-modal>

                    {% block cancel_modal %}
                        <order-cancel-modal :sales-order-number="salesOrderNumber"
                                            :annulation-modal-visible="annulationModalVisible"
                                            :body-message="cancelModalBodyMessage"
                                            @ordercanceled="orderCanceled"
                                            @updatemodalvisible="annulationModalVisible = $event">
                        </order-cancel-modal>
                    {% endblock %}

                    {% block edit_modal %}
                        <order-edit-modal :sales-order-number="salesOrderNumber"
                                          :data-area-id="dataAreaId"
                                          :locker-number="lockerNumber"
                                          :lines="lines"
                                          :edit-modal-visible="editModalVisible"
                                          @order-edited="orderEdited"
                                          @updatemodalvisible="editModalVisible = $event"
                        >
                        </order-edit-modal>
                    {% endblock %}
                {% endblock %}

            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/bundles/order.js') }}"></script>
    <script src="{{ asset('build/horizontalNav.js') }}"></script>
{% endblock %}