{% extends ':order:order.html.twig' %}

{% block main_title %}
    {{ "my_ratable_orders"|trans({}, "todotoday") }}
{% endblock %}

{% block cancel_button %}
{% endblock %}

{% block cancel_modal %}
{% endblock %}