{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent_noclass %}
    <div class="main-content">
        {% include 'order/order_nav.html.twig' %}
    </div>
    <main class="td-cmd main-content has_nav">

        <nav class="td-horizontal-nav">
            {% include 'order/order_menu.html.twig' %}
        </nav>

        <section class="history-orders">
            <header>
                {% set currentRoute = app.request.attributes.get('_route') %}
                {% if currentRoute == 'order.booked_history' %}
                    {% set targetUrl = 'order.booked' %}
                    {% set nameUrl = 'order.booked.future' %}
                {% else %}
                    {% set targetUrl = 'order.booked_history' %}
                    {% set nameUrl = 'order.booked.history' %}
                {% endif %}

                <h3>{{ "sidebar.link_appointment"|trans({}, "todotoday") }} ({{ services|length }})
                    <small><a href="{{ path(targetUrl) }}">{{ nameUrl|trans({}, "todotoday") }}</a></small>
                </h3>

            </header>

            <div id="app">
                <ul class="td-cmd-list">
                    {% for service in services %}
                        {% set rdvCanceled = service.cancelled %}
                        {% set ownedByCoAdherent = (service.apsClientsadherentsValue != adherent.crmIdAdherent) %}

                        <li id="order-section-{{ service.apsCommandeid }}"
                            class="{% if rdvCanceled %}canceled{% endif %}{% if ownedByCoAdherent %} owned-by-coadherent{% endif %}">

                            <article class="td-cmd-list-item grid-3 has-gutter">
                                <div class="cmd-content cmd-icons one-sixth">
                                    {#<img src="/images/catalog/icone-catalogue-1.svg" class="cmd-icon-thumb">#}
                                </div>
                                <div class="cmd-content two-thirds relativist">
                                    {% if ownedByCoAdherent %}
                                        <small class="co-adherent-title">
                                            {{ "order.placed.co_adherent"|trans({'%full_name%': ''}, "todotoday") }}
                                        </small>
                                    {% endif %}

                                    <header class="grid-2 has-gutter">
                                        <h4 class="five-sixths">
                                            {{ service.subject }}
                                            <br>
                                            <small>
                                                <span class="order-status">
                                                    {% if rdvCanceled %}
                                                        {{ "order.status.booking_canceled"|trans({}, "todotoday") }}
                                                    {% else %}
                                                        {{ "booking.booking_the"|trans({}, "todotoday") }}
{#                                                        <strong>{{ service.scheduledstart | localizeddate('full', 'short', app.request.locale ) }}</strong>#}
                                                        <order-display-booked
                                                            :time="{{ service.scheduledstart | json_encode }}"
                                                            locale="{{ app.request.locale }}"
                                                        >
                                                        </order-display-booked>
                                                        <br>
                                                        {{ "order.appointment_duration"|trans({'%s' : service.scheduleddurationminutes}, "todotoday") }}
                                                    {% endif %}
                                                </span>
                                            </small>
                                            <br>
                                            <small> {{ "order.list_reference"|trans({'%reference%' : service.apsCommandeid}, "todotoday") }}
                                            </small>
                                        </h4>
                                    </header>
                                </div>
                                <div class="cmd-content cmd-actions one-sixth">
                                    {% if rdvCanceled == false %}
                                        <a href="#"
                                           @click.prevent="openAnnulationModal('{{ service.apsCommandeid }}')"
                                           class="btn btn-action mdi mdi-close">{{ "cancel"|trans({}, "todotoday") }}
                                        </a>
                                    {% endif %}
                                </div>
                            </article>
                        </li>

                    {% endfor %}
                </ul>

                {# MODALS #}
                <order-cancel-modal :sales-order-number="salesOrderNumber"
                                    :annulation-modal-visible="annulationModalVisible"
                                    @ordercanceled="orderCanceled"
                                    @updatemodalvisible="annulationModalVisible = $event">
                </order-cancel-modal>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/bundles/order_booked.js') }}"></script>
    <script src="{{ asset('build/horizontalNav.js') }}"></script>
{% endblock %}
