{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent_noclass %}
    <div class="main-content">
        {% include 'order/order_nav.html.twig' %}
    </div>
    <main class="td-cmd main-content has_nav">

        <nav class="td-horizontal-nav">
            {% block navigation_menu %}
                {% include 'order/order_menu.html.twig' %}
            {% endblock %}
        </nav>

        <section class="history-orders">
            <header>
                {% block page_header_title %}
                <h3>
                    {{ "my_finished_orders"|trans({}, "todotoday") }}
                </h3>
                {% endblock %}
            </header>

            <div id="app" v-cloak>

                <div class="month-year-selector">
                    {{ "order.period_displayed"|trans({}, "todotoday") }}&nbsp;:

                    <div class="styled-select">
                        <select v-model="currentMonthYear">

                            <template v-for="year in availableYears">

                                <option v-if="isDateValid(year, month.value)"
                                        v-for="month in availableMonths"
                                        :value="year + '-' + month.value">

                                    ${ month.name|capitalize }&nbsp;${ year }
                                </option>

                            </template>

                        </select>
                    </div>

                </div>

                <div class="orders-loader">
                    <loader :is-visible="isLoadingOrders" size="large"></loader>

                    <message type="error"
                             :is-visible="getOrderFailed">
                        {% block error_get_orders %}
                            {{ "order.error.get_history"|trans({}, "todotoday") }}
                        {% endblock %}
                    </message>
                </div>

                <div v-if="noOrders">
                    {{ "order.empty_short"|trans({}, "todotoday") }}
                </div>

                <ul class="td-cmd-list">

                    <li v-for="order in orders"
                        :class="{ 'canceled': (order['order_status'] === 'canceled'),
                                'owned-by-coadherent': (!isCoAdherent && order.owned_by_coadherent) }">

                        <article class="td-cmd-list-item grid-3 has-gutter">

                            <div v-for="picto in order['path_pictos']"
                                 v-if="!picto.url"
                                 class="cmd-content cmd-icons one-sixth">

                                <img :src="picto.url" style="height:30px;" class="cmd-icon-thumb">
                            </div>
                            <div class="cmd-content flex-item-fluid relativist">
                                <small v-if="(!isCoAdherent && order['owned_by_coadherent'])" class="co-adherent-title">
                                    {{ "order.placed.co_adherent"|trans({'%full_name%': ''}, "todotoday") }}
                                </small>

                                <header class="grid-2 has-gutter">
                                    <h4 class="five-sixths">
                                        {{ "order.list_orders_header"|trans({}, "todotoday") }}
                                        ${ order['creation_date']|dateFormater('auto', dateTitleFormat) }
                                        <br>
                                        <small>ref: ${ order['sales_order_number'] }</small>
                                        <br>
                                        <small class="order-status">
                                            ${ order['order_status_display'] }
                                        </small>
                                    </h4>
                                    <span class="cmd-content-total one-sixth">
                                        ${ order['total_amount']|currency(order['currency_code']) }
                                    </span>
                                </header>
                                <section>
                                    <ul class="td-cmd-products">
                                        <li v-for="line in order['order_lines']"
                                            class="grid-2">

                                            <div class="td-cmd-products-content five-sixths">
                                                ${ line['line_description'] }
                                            </div>
                                            <div class="td-cmd-products-price one-sixth">
                                                ${ line['line_amount']|currency(order['currency_code']) }
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                            </div>

                            {# ACTION BUTTONS #}
                            {% block action_buttons %}
                                <div v-if="(order.ratable) && (order['order_status'] !== 'canceled')"
                                     class="cmd-content cmd-actions one-fifth">

                                    <button @click.prevent="openRatingModal(order)"
                                            class="btn-action mdi mdi-star-half">
                                        {{ "order.rate"|trans({}, "todotoday") }}
                                    </button>
                                </div>
                            {% endblock %}

                        </article>
                    </li>

                </ul>

                {# MODALS #}
                {% block modals %}
                <order-rating-modal :sales-order-number="salesOrderNumber"
                                    :rating-modal-visible="ratingModalVisible"
                                    :satisfaction-subjects="{{ satisfactionOrderSubjects|json_encode }}"
                                    @orderrated="orderRated"
                                    @updatemodalvisible="ratingModalVisible = $event">
                </order-rating-modal>
                {% endblock %}

            </div>

        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/bundles/order_history.js') }}"></script>
    <script src="{{ asset('build/horizontalNav.js') }}"></script>
{% endblock %}