{% set currentPath = app.request.attributes.get('_route') %}
{% set numberOrdersRefused = getNumberOrderRefused() %}
{% set orderRefusedMenuLine = { 'route': 'order.refused', 'display': "my_refused_orders"|trans({}, "todotoday") ~ ' (' ~ numberOrdersRefused ~ ')', 'class': '' } %}

{% set menuLines = [
    [
        { 'route': 'order.pending', 'display': "my_running_orders"|trans({}, "todotoday"), 'class': '' },
        { 'route': 'order.ratable', 'display': "my_ratable_orders"|trans({}, "todotoday"), 'class': '' },
        { 'route': 'order.history', 'display': "my_finished_orders"|trans({}, "todotoday"), 'class': 'end-row' },
        numberOrdersRefused > 0 ? orderRefusedMenuLine : {},
        { 'route': 'invoice_index', 'display': "my_ro"|trans({}, "todotoday"), 'class': '' },
        { 'route': 'order.booked', 'display': "sidebar.link_appointment"|trans({}, "todotoday"), 'class': '' },
        { 'route': 'order.quotation', 'display': "my_quotations"|trans({}, "todotoday"), 'class': '' }
    ]
] %}

<nav class="nav-ariane account-ariane">
    <a href="/">{{ 'homepage' | trans({}, 'todotoday') }}</a> <i class="mdi mdi-chevron-right"></i>
    {% for line in menuLines %}
        {% for subMenu in line if subMenu.route is defined %}
            {% set route = subMenu.route %}
            {% set display = subMenu.display %}

            {% if currentPath == route %}
                <a href="{{ path(route) }}" class="active active-nav">{{ display }}</a>
            {% endif %}
        {% endfor %}
    {% endfor %}
</nav>