<div class="navigation pagination-centered">
    <div class="pagination">
        {% if item.page > 1 %}
            <span class="first">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : 1})) }}">&lt;&lt;</a>
            </span>
        {% else %}
            <span class="first">
                &lt;&lt;
            </span>
        {% endif %}
        {% if item.page > 1 %}
            <span class="previous">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : item.page - 1})) }}">&lt;</a>
            </span>
        {% else %}
            <span class="previous">
                &lt;
            </span>
        {% endif %}

        {% if item.page > (item.nbSideDisplayPage + 1) %}
            <span class="page">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : 1})) }}">1</a>
            </span>
        {% endif %}

        {% if item.page == (item.nbSideDisplayPage + 3) %}
            <span class="page">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : 2})) }}">2</a>
            </span>
        {% elseif item.page > (item.nbSideDisplayPage + 3) %}
            <span class="page">
                …
            </span>
        {% endif %}

        {% for iteration in (item.firstDisplayPage)..(item.lastDisplayPage) %}
            {% if iteration == item.page %}
                <span class="current">
                    {{ iteration }}
                </span>
            {% else %}
                <span class="page">
                    <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : iteration})) }}">{{ iteration }}</a>
                </span>
            {% endif %}
        {% endfor %}

        {% if item.page == (item.nbPage - item.nbSideDisplayPage - 2) %}
            <span class="page">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : item.nbPage - 1})) }}">{{ item.nbPage - 1 }}</a>
            </span>
        {% elseif item.page < (item.nbPage - item.nbSideDisplayPage - 2) %}
            <span class="page">
                …
            </span>
        {% endif %}

        {% if item.page < (item.nbPage - item.nbSideDisplayPage) %}
            <span class="page">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : item.nbPage})) }}">{{ item.nbPage }}</a>
            </span>
        {% endif %}

        {% if item.page < item.nbPage %}
            <span class="next">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : item.page + 1})) }}">
                    &gt;
                </a>
            </span>
        {% else %}
            <span class="next">
                &gt;
            </span>
        {% endif %}

        {% if item.page < item.nbPage %}
            <span class="last">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : item.nbPage })) }}">
                    &gt;&gt;
                </a>
            </span>
        {% else %}
            <span class="last">
                &gt;&gt;
            </span>
        {% endif %}
    </div>
</div>