.textarea-emoji {
    position: relative;
}
.emoji-toggle {
    position: absolute;
    right: 4px;
    top: 36px;

    > svg {
        fill: #b1c6d0;
    }
}
#EmojiPicker {
    z-index: 999;
    position: absolute;
    top: 63px;
    right: 0px;
}
