<template>

    <form>
        <div class="form-row">
            <label for="name" class="label">{{ initNameLabel }}</label>
            <form-error :active="showFormErrors"
                        :input-value="name"
                        :validations-enabled="['empty']"
                        :error-manager-field="getFormErrorManagerField('name')">
            </form-error>
            <input v-model="name" type="text" id="name" class="block" :placeholder="initNameLabel">
        </div>

        <div class="form-row">
            <label for="description" class="label">{{ initDescriptionLabel }}</label>
            <form-error :active="showFormErrors"
                        :input-value="description"
                        :validations-enabled="['empty']"
                        :error-manager-field="getFormErrorManagerField('description')">
            </form-error>
            <textarea maxlength="500" v-model="description" id="description" class="textarea"
                      :placeholder="initDescriptionLabel"></textarea>
        </div>

        <div class="form-row">
            <p>
                <label for="social-file" class="label">{{ 'social.groupform_image' | $t }}</label>
                <input id="social-file" type="file" @change="onFileChange">
            </p>
            <p v-if="displayImage">
              <img :src="displayImage" style="max-width: 100%;"/>
            </p>
        </div>

        <slot name="practicalInformations"></slot><!-- Pour la création d'événements -->

        <message class="margin-top-bottom"
                 type="error"
                 :is-visible="hasApiError">
            {{ 'social.group_creation_failed' | $t }}
        </message>

        <div class="btn-group">
            <a @click="cancel" class="btn btn-blanc">{{ 'cancel' | $t }}</a>

            <loader-content :is-loading="isPostingNewSocial" loader-size="small">
                <a @click="submitForm" class="btn btn-primaire ">{{ initSubmitButtonLabel }}</a>
            </loader-content>
        </div>
    </form>

</template>

<script>
  import translation from './../../../../../filters/translation';
  import LoaderContent from './../../../../../components/base/ACTLoaderContent.vue'
  import Message from './../../../../../components/base/ACTMessage.vue'
  import FormError from './../../../../../components/base/form/ACTFormError.vue'
  import eventHub from './../../../../../events/eventHub'
  import FormMixin from './../../../../../mixins/ACTMixinForm.vue'

  const fileName = 'ACTAdherentCreateNew'

  export default {

    name: fileName,

    components: {
      'loader-content': LoaderContent,
      'message': Message,
      'form-error': FormError,
    },

    mixins: [FormMixin],

    props: {
      initNameLabel: {type: String, required: true},
      initDescriptionLabel: {type: String, required: true},
      initSubmitButtonLabel: {type: String, required: true},
      form: {
        type: Object,
        required: false
      }
    },

    data() {
      return {
        mainForm: fileName,

        name: '',
        description: '',
        image: '',
        displayImage: null,
        isPostingNewSocial: false,
        hasApiError: false,
      }
    },

    created() {
      eventHub.$on('ACTAdherentCreateNew.api_call_finish', this.apiCallFinish)
      this.addFieldsName(['name', 'description'])
    },

    mounted() {
      this.initFormWithData();
    },

    methods: {
      cancel() {
        this.$emit('cancel');
      },

      submitForm() {
        this.hasApiError = false
        this.setShowFormErrors(true)

        if(this.formHasNoError()){
          this.isPostingNewSocial = true
          this.$emit('submitForm', this.$data)
        }
      },

      onFileChange(e) {
        var files = e.target.files || e.dataTransfer.files
        if (!files.length)
          return;
        this.createImage(files[0]);
      },
      createImage(file) {
        var image = new Image();
        var reader = new FileReader();
        var vm = this;

        reader.onload = (e) => {
          vm.image = e.target.result;
          vm.displayImage = e.target.result;
        };
        reader.readAsDataURL(file);
      },

      apiCallFinish(isSuccess) {
        this.isPostingNewSocial = false
        this.hasApiError = !isSuccess
      },

      initFormWithData() {
        if (this.form) {
          if (this.form.title) {
            this.name = this.form.title;
            this.description = this.form.description;
            this.displayImage = this.form.header_img.reference.absolute_url;
          }
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
</style>
