{% block fgs_row %}
    {{ form_label(form) }}
    {{ form_widget(form) }}
{% endblock fgs_row %}

{% block fgs_label %}
    {{ form_label(form) }}
{% endblock fgs_label %}

{% block fgs_errors %}
    {% if form.vars.errors|length > 0 %}
        {% for error in form.vars.errors %}
            <div class="alert-warning">
                <p>{{ error.message }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock fgs_errors %}

{% block fgs_widget %}
    <div id="fgs-app" v-cloak>
        {{ form_row(form.inventoryLotId) }}

        {{ form_row(form.listSubjectsHierarchy) }}

        {{ form_row(form.subject) }}

        <template v-if="subjectLevelOnehasValue">

            <template v-if="hasLevelTwoList">
                {{ form_row(form.subjectLevel2) }}

                <label for="fgs_subject_level_2_vuejs">
                    ${ 'fgs.motif' | $t }
                </label>

                <div class="styled-select">
                    <select v-model="subjectLevelTwo" id="fgs_subject_level_2_vuejs" required="required">

                        <option v-for="subject in subjectsLevelTwoList" :value="subject.value">
                            ${ subject.text | $t }
                        </option>

                    </select>
                </div>

            </template>

            {{ form_row(form.observation) }}

            {{ form_widget(form) }}
        </template>
    </div>
{% endblock fgs_widget %}