<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    {% if context_manager.currentContext.agency and context_manager.currentContext.agency.idAnalytics %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ context_manager.currentContext.agency.idAnalytics }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', '{{ context_manager.currentContext.agency.idAnalytics }}');

            {% block ga %}

            {% endblock %}
        </script>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        {% if context_manager.currentContext.agency %}
            <title>{{ 'page_title'|trans({'%title%': context_manager.currentContext.agency.name }, 'todotoday') }}</title>
        {% else %}
            <title>{{ 'page_title'|trans({'%title%': ''}, 'todotoday') }}</title>
        {% endif %}
    {% endblock %}
    {% block stylesheets %}
        {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css">#}
        <link href="{{ asset('css/reset.css') }}" media="all" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/materialdesignicons.min.css') }}" media="all" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/fontello-codes.css') }}" media="all" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/fontello.css') }}" media="all" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('build/main.css') }}">
    {% endblock %}
    {{ render_css() }}
    <link rel="shortcut icon" href="{{ asset('shortcuts_icon/apple-icon-120x120.png') }}" type="image/x-icon">
    <link rel="icon" href="{% block favicon %}{{ asset('shortcuts_icon/favicon-32x32.png') }}{% endblock %}"
          type="image/x-icon">

    {% if context_manager.currentContext.agency %}
    <style>
        .fw-content-bgi, .home-header {
            background-image: url("{% path context_manager.currentContext.agency.imageBackground, 'background' %}");
        }

        .bg-presentation {
            background-image: url("{% path context_manager.currentContext.agency.imagePresentation, 'background' %}");
        }
    </style>
    {% endif %}
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#6582ce",
                        "text": "#ffffff"
                    },
                    "button": {
                        "background": "#fff",
                        "text": "#237afc"
                    }
                },
                "theme": "edgeless",
                "position": "top",
                "static": true,
                "content": {
                    "message": "{{ 'alert-cookies-message' | trans({}, 'todotoday') }}",
                    "dismiss": "{{ 'ok' | trans({}, 'todotoday') }}",
                    "deny": "{{ 'action.refuse' | trans({}, 'todotoday') }}",
                    {#"link": "{{ 'alert-cookies-know-more' | trans({}, 'todotoday') }}",#}
                    {#"href": "{{ path('cms_page_cnil') }}"#}
                    {# demande de Morgane de supprimer le lien en attendant que TDTD ponde le texte de la page en savoir plus#}
                    "href": "",
                    "link": "",
                }
            })
        });
    </script>
</head>

{% set currentPath = app.request.attributes.get('_route') %}
<body tabIndex=0 class="{{ currentPath }}">
{% set jwt = getJwt() %}
<div id="getJwtToken" token="{{ jwt }}"></div>
<div id="parameters" scheme="{{ scheme }}"></div>
{% block body %}{% endblock %}
{% block javascripts %}

    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>#}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/store/LayoutStore.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>

    {% if app.user %}
    <script>
        store.state.user.fname = '{{ app.user.firstName }}';
        store.state.user.name = '{{ app.user.lastName }}';
        document.cookie = 'jwt={{ json_decode(jwt).jwt }};domain=' + window.location.hostname.split('.').splice(1).join('.')
    </script>
    {% endif %}

    {% if google_platform_api_key %}
    <script>
        google_platform_api_key = '{{ google_platform_api_key }}';
    </script>
    {% endif %}


{% endblock %}



<script src="{{ asset('build/sidebar.js') }}"></script>
<script src="{{ asset('build/burgermenu.js') }}"></script>

{{ render_template() }}
{{ render_block() }}
{{ render_block_template() }}
{{ render_extra() }}
{{ render_javascript() }}
</body>
</html>
