<template>
    <div>
        <table class="sonata-order-block-order-container table table-condensed">
            <thead>
                <tr>
                    <th>{{ 'title' | $t }}</th>
                    <th>{{ 'author' | $t }}</th>
                    <th colspan="3">{{ 'actions' | $t }}</th>
                </tr>
            </thead>

            <tbody>
                <tr v-if="noPosts">
                    <td colspan="5">
                        {{ 'no_posts_to_validate' | $t }}
                    </td>
                </tr>

                <tr v-for="(post, index) in posts">
                    <td><a :href="post.previewUrl"
                           target="_blank">{{ post.title }}</a></td>
                    <td>{{ post.username }}</td>
                    <td>
                        <a :href="post.previewUrl"
                           target="_blank"
                           class="btn btn-info">{{ 'action.preview' | $t }}</a>
                    </td>
                    <td>
                        <a class="btn btn-success" @click="switchState(post, index, 'validate')">{{ 'action.validate' | $t }}</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" @click="switchState(post, index, 'refused')">{{ 'action.refuse' | $t }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import translation from './../../filters/translation';
    import Api from '../../manager/apiManager';
    import PostFormatter from '../../models/cms/ACTPostFormatter';

    export default {
        name: 'postsToValidate',
        props: ['token'],
        data() {
            return {
                callTry: 0,
                posts: []
            }
        },
        mounted () {
            let full = window.location.host;
            let parts = full.split('.');
            if (this.token) {
                let dataToken = JSON.parse(this.token);
                Api.setParameters(dataToken.jwt, parts[0]);
                this.getPostsToValidate();
            }
        },
        methods: {
            getPostsToValidate () {
                let $this = this;
                let url = Routing.generate('todotoday.cms.api.post.get_to_validate');
                Api.api_get(url).then((response) => {
                    $this.posts = PostFormatter.format(response.data);
                }).catch((error) => {
                    console.log(error);
                    if ($this.callTry++ < 3) {
                        $this.getPostsToValidate();
                    }
                });
            },
            switchState (post, index, state) {
                let url = Routing.generate('todotoday.cms.api.post.put_changed_state', {
                    id: post.id,
                    state: state
                });
                let $this = this;
                Api.api_put(url).then((response) => {
//                    console.log(response);
                    if (response.status == 200) {
                        $this.posts.splice(index, 1);
                    }
                });
            }
        },
        computed: {
            noPosts(){
                return (this.posts.length === 0);
            }
        }
    };
</script>

<style lang="scss">
</style>
