[TODO TODAY] - {{ agency }}

{{ 'contact_email_subject_title'|trans({},'todotoday') }}

Nom : {{ lastname }}
Prénom : {{ firstname }}
Email : {{ email }}

-------------

Rubrique {{ subject|trans({},'todotoday' ) }}
----
{{ content }}