<html>
<head>
</head>
<body>
<table>
    <tr>
        <td><h1>[TODO TODAY] - {{ agency }}</h1></td>
    </tr>
    <tr>
        <td><h2>{{ 'contact_email_subject_title'|trans({},'todotoday') }}</h2></td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>Nom</td>
                    <td>{{ lastname }}</td>
                </tr>
                <tr>
                    <td>Prénom</td>
                    <td>{{ firstname }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ email }}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <hr>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>{{ subject|trans({},'todotoday' ) }}</td>
                </tr>
                <tr>
                    <td>{{ content }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
