{% block security_roles_widget %}
    {% apply spaceless %}
        <div class="editable">
            <h4>{{ 'field.label_roles_editable'|trans({}, "SonataUserBundle") }}</h4>
            {{ block('choice_widget') }}
        </div>
        {% if read_only_choices|length > 0 %}
            <div class="readonly">
                <h4>{{ 'field.label_roles_readonly'|trans({}, "SonataUserBundle") }}</h4>
                <ul>
                    {% for choice in read_only_choices %}
                        <li>{{ choice }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endapply %}
{% endblock security_roles_widget %}
