.dropzone-mailchimp .dz-error *, .dropzone-mailchimp .results,
.maxfilesexceeded, .upload-validate {
    display: none;
}

.dropzone-mailchimp .results.show, .dropzone-mailchimp .progressions.hide,
.maxfilesexceeded.show, .upload-validate.show {
    display: block;
    margin: 10px 0;
}

.upload-validate {
    transition: opacity .35s;
}

.upload-validate.loading {
    opacity: .4;
}