{# {% extends 'default/conciergeLayout.html.twig' %} #}
{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent_noclass %}
    <main class="td-social">
        {% if is_module_granted('social') %}
            <div id="social-group" token="{{ getJwt() }}" class="td-social"></div>
        {% else %}
           <div class="social-group"><center><h3>{{ 'social.unavailable'|trans({},'todotoday') }}</h3></center></div>
        {% endif %}
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/socialGroup.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/socialGroup.css') }}" rel="stylesheet" />
{% endblock %}