{# {% extends 'default/conciergeLayout.html.twig' %} #}
{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent_noclass %}
    <main class="td-social">
        <div id="viewGroup" group="{{ idgroup }}" token="{{ getJwt() }}">
            <div class="dotted-loader dotted-loader-black"></div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/viewGroup.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/viewGroup.css') }}" rel="stylesheet" />
{% endblock %}