<div class="td-wf-box-contact">
    <div class="td-wf-box-contact-icon">
        <i class="mdi mdi-help-circle-outline"></i>
    </div>
    {% if context_manager.currentContext.agency %}
    <div class="td-wf-box-contact-content">
        <p>
            {{ "general.help_message"|trans({
                '%agency.phone%': '<a href="tel:' ~ context_manager.currentContext.agency.phone ~ '"><span class="nowrap">' ~ context_manager.currentContext.agency.phone ~ '</span></a>', 
                '%agency.email%': '<a href="mailto:' ~ context_manager.currentContext.agency.email ~ '">' ~ context_manager.currentContext.agency.email ~ '</a>.' 
                }, "todotoday")|raw }}

        </p>
    </div>
    {% endif %}
</div>
