{% extends 'default/conciergeLayout.html.twig' %}

{% block bodyContent %}
    <main class="fw-content relativist">
        {% block mainContent_noclass %}
        <div class="fw-main-content">
            {% block mainContent %}
            {% endblock %}
        </div>
        {% endblock %}
    </main>

    {% include ':default:mainFooter.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/filters/translation.js') }}"></script>
{% endblock %}