{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <style>
        .news-feed-article {
            display: flex;
        }

        .news-feed-article aside {
            width: 20%;
            height: 20%;
        }

        .news-feed-article-main {
            width: 70%;
        }

        .news-feed-article img {
            width: 250px;
            height: auto;
        }
    </style>
{% endblock %}
{% block body %}
    <header class="header-bar grid-1-small-1 header-bar-iframe">
        <div class="menu-bar-main menu-bar-main-iframe">
            <div class="concierge-logo concierge-logo-iframe">
                <a href="{{ path("index_cms_concierge") }}">
                    {% if context_manager.currentContext.agency and app.request.locale == 'fr' and context_manager.currentContext.agency.headerImg %}
                        {% media context_manager.currentContext.agency.headerImg, 'big' %}
                    {% elseif context_manager.currentContext.agency and app.request.locale != 'fr' and attribute(context_manager.currentContext.agency, 'headerImg' ~ app.request.locale) %}
                        {% media attribute(context_manager.currentContext.agency, 'headerImg' ~ app.request.locale), 'big' %}
                    {% else %}
                        <img src="{{ asset("images/logos/LOGO-simple@2x.png") }}" alt="logo ">
                    {% endif %}
                </a>
            </div>
        </div>

        <div class="menu-bar-side menu-bar-side-iframe">
            <nav class="header-bar-button">
            </nav>
            <nav class="header-bar-loggedout">
                <a class="btn btn-primaire">LINK TDTD APP</a>
            </nav>
        </div>
    </header>
    <div class="body-content-iframe">
        {% block bodyContent %}{% endblock %}
    </div>
{% endblock %}