{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    
    {% set currentRoute = app.request.attributes.get('_route') %}
    {% set isSSO = app.session.get('samlUserdata') is not null  ? 'true' : 'false' %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if currentRoute == 'index_cms_concierge' %}
        <div id="smart-banner-app">
            <smart-banner-app :sso="{{ isSSO }}" link="{{smartbannerapp_manager.link}}">
            </smart-banner-app>
        </div>
        {% endif %}
    {% endif %}

    <header class="header-bar grid-2-small-1">
        <div class="menu-bar-main">
            <div class="concierge-logo">
                <a href="{{ path("index_cms_concierge") }}">
                    {% if context_manager.currentContext.agency and app.request.locale == 'fr' and context_manager.currentContext.agency.headerImg %}
                        {% thumbnail context_manager.currentContext.agency.headerImg, 'big' %}
                    {% elseif context_manager.currentContext.agency and app.request.locale != 'fr' and attribute(context_manager.currentContext.agency, 'headerImg' ~ app.request.locale) %}
                        {% thumbnail attribute(context_manager.currentContext.agency, 'headerImg' ~ app.request.locale), 'big' %}
                    {% else %}
                        <img src="{{ asset("images/logos/LOGO-simple@2x.png") }}" alt="logo ">
                    {% endif %}
                </a>
            </div>
            <nav class="header-bar-menu">
                <div class="header-menu-element">
                    <a href="{{ path('cms_all_news') }}">{{ "agency.title_news"|trans({}, "todotoday") }}</a>
                </div>
                <div class="header-menu-element">
                    <a href="{{ path("todotoday_catalog_index") }}">{{ "agency.title_product_services"|trans({}, "todotoday") }}</a>
                </div>
                <div class="header-menu-element">
                    <a href="{{ path("todotoday_social_homepage") }}">{{ "social.title"|trans({}, "todotoday") }}</a>
                </div>
                <div class="header-menu-element">
                    <a href="{{ path("animation_index") }}">{{ "animation.title"|trans({}, "todotoday") }}</a>
                </div>
            </nav>
            {% if context_manager.currentContext.agency and context_manager.currentContext.agency.languages|length > 1 %}
                <div class="header-bar-lang">
                    <i class="mdi mdi-flag"></i>
                    <a href="{{ path('cms_set_lang', {lang: 'fr'}) }}" class="{{ app.request.locale == 'fr' ? 'active' : '' }}">FR</a> | <a href="{{ path('cms_set_lang', {lang: 'en'}) }}" class="{{ app.request.locale == 'en' ? 'active' : '' }}">EN</a>
                </div>
            {% endif %}
            <div class="header-bar-burger">
                <button class="burger burger-toggle" @click="burgerSwitcher">
                    <i class="mdi" :class="burgerClass"></i>
                </button>
            </div>
        </div>
        <div class="menu-bar-side">
            {% if app.session %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_TODOTODAY_ACCOUNT') %}
                    <nav class="header-bar-button">
                        <ul id="menu-element">
                            {% if is_granted('ROLE_CHECKOUT') %}
                                <menu-element-cart url="{{ path('todotoday_cart_cart_index') }}"
                                                title="{{ 'cart.title'|trans({}, 'todotoday') }}"></menu-element-cart>
                            {% endif %}
                            {% if is_granted('ROLE_ADHERENT') %}
                                <menu-element-ts url="{{ path('account.profile_index') }}"
                                                text="{{ 'profil.title'|trans({}, 'todotoday') }}"
                                                icon="mdi-account-circle"></menu-element-ts>
                            {% endif %}
                            {% if is_granted('ROLE_CUSTOMER_SERVICE') or is_granted('ROLE_CONCIERGE') and is_module_granted('chat') %}
                                <menu-element-ts url="{{ '/chat/?lang=' ~ app.request.locale }}"
                                                :target-blank="true"
                                                text="{{ 'admin.menu_chat'|trans({}, 'todotoday') }}"
                                                icon="mdi-forum"></menu-element-ts>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_BACKOFFICE') %}

                                <menu-element-ts url="{{ path('sonata_admin_dashboard') }}"
                                                text="{{ 'layout.menu.admin'|trans({}, 'layout') }}"
                                                icon="mdi-wrench"></menu-element-ts>
                            {% endif %}
                            {# <menu-element-ts url="" #}
                            {# text="{{ 'layout.menu.close'|trans({}, 'layout') }}" #}
                            {# icon="mdi-format-indent-increase"  @click="menuSwitcher"> #}
                            {# </menu-element-ts> #}
                            {#<div id="shoppingCartApp"></div>#}
                        </ul>
                    </nav>
                    {#<ul>#}
                    {#<li style="display: inline-block;"><span id="shoppingCartApp"></span></li>#}
                    {#<li style="display: inline-block;"><span id="profileAccountDropdownApp"></span></li>#}
                    {#<li style="display: inline-block;"><span id="notificationApp"></span></li>#}
                    {#</ul>#}
                    {% endif %}
                {% else %}
                <nav class="header-bar-loggedout">
                    {% if context_manager.currentContext.agency %}
                        {% if context_manager.currentContext.agency.allowAdherent and
                        context_manager.currentContext.agency.allowRegistration %}
                            <a href="{{ path('todotoday_account_registration_new') }}"
                            class="btn btn-secondaire">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}
                    {% endif %}
                    <a href="{{ path('fos_user_security_login') }}"
                    class="btn btn-blanc">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </nav>
                {% endif %}
            {% endif %}
        </div>
    </header>
    <div class="body-content">
        {% if app.user and (showAlert??true) %}
            {% for alert in get_alerts(app.user) %}
                <section class="full-width sitewide-alert">
                    <div class="alert-{{ alert.status }} alert-header">
                        {{ alert.message|trans({}, alert.messageDomain) }}
                        {% if alert.url %}
                            <a href="{{ alert.url }}" target="{{ alert.targetUrl }}"
                            >{{ alert.linkLabel|trans({},alert.messageDomain) }}</a>
                        {% endif %}
                    </div>
                </section>
            {% endfor %}
        {% endif %}
        {% block bodyContent %}{% endblock %}
    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {% block vuecli %}
            {# TRANSLATION MANAGER init the JWTMANAGER & the APIMANAGER #}
            <script src="{{ asset('build/translationManager.js') }}"></script>
        {% endblock %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('build/smartBannerApp.js') }}"></script>
        {% if app.session %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_USER') %}
                    <script type="application/ecmascript" src="{{ asset('build/menuIcon.js') }}"></script>
                {% endif %}
                {% if is_granted('ROLE_CHECKOUT') %}
                    <script type="application/ecmascript" src="{{ asset('build/dataLoader.js') }}"></script>
                {% endif %}
            {% endif %}
        {% endif %}

    {% endblock %}
