<footer class="pageFooter">
    <ul>
        <li>© {{ date().format('Y') }} TO DO TODAY</li>
        {#<li><a href="#">{{ 'legal_notice' | trans({}, 'todotoday') }}</a></li>#}
        {#<li><a href="#">{{ 'CNIL_declaration' | trans({}, 'todotoday') }}</a></li>#}
        <li><a href="{{ path('cms_concierge_page_faq') }}">{{ "sidebar.faq_link"|trans({}, "todotoday") }}</a></li>
        <li><a href="{{ path('cms_concierge_page_contact') }}">{{ "sidebar.contact_send_message"|trans({}, "todotoday") }}</a></li>
    </ul>
</footer>
