{% extends 'default/conciergeLayout.html.twig' %}

{% set agency = context_manager.currentContext.agency %}

{% block bodyContent %}
    <div id="rs-content" class="rs-content">
        {% if is_granted('ROLE_NOT_ADHERENT') %}
            <div class="top-notice">
                {{ 'profil.become_member_description'|trans({}, 'todotoday') }}
                <a href="{{ path('account.profile_type_migration') }}" 
                            class="btn btn-orange">{{ 'profil.become_member'|trans({}, 'todotoday') }}</a>
            </div>
        {% endif %}
        {% block mainContent_noclass %}
            <main class="main-content ">
                {% block mainContent %}
                {% endblock %}
            </main>
        {% endblock %}
        <aside class="right-sidebar">
            <div class="side-concierge">
                <div class="side-concierge-info">
                    <header class="info-header">
                        <div class="info-header-content title-shadow">
                            <h4>
                                {% if agency %}
                                    {{ context_manager.currentContext.agency.name }}
                                {% endif %}
                            </h4>
                            <a href="{{ path('cms_concierge_page_info') }}">{{ 'sidebar.concierge_more_info' | trans({}, 'todotoday') }}</a>
                        </div>
                    </header>
                    <nav class="info-content sidebar-box">
                        {{ 'sidebar.contact_subtitle' | trans({}, 'todotoday') }}
                        <ul class="vertical-menu">
                            {% if agency %}
                                <li><i class="mdi mdi-phone-in-talk"></i><a
                                            href="tel:{{ context_manager.currentContext.agency.phone }}">{{ context_manager.currentContext.agency.phone }}</a>
                                </li>
                            {% endif %}
                            <li><a href="{{ path('cms_concierge_page_contact') }}"><i
                                            class="mdi mdi-email"></i> {{ 'sidebar.contact_send_message' | trans({}, 'todotoday') }}
                                </a></li>
                            {% if app.session and is_granted('ROLE_TODOTODAY_CHAT') and is_module_granted('chat') %}
                                <li><a href="{{ '/chat/?lang=' ~ app.request.locale }}" target="_blank"><i
                                                class="mdi mdi-message-text"></i> {{ 'sidebar.run_chat' |trans({}, 'todotoday') }}
                                    </a></li>
                            {% endif %}
                            <li><a href="{{ path('cms_concierge_page_faq') }}"><i
                                            class="mdi mdi-help-circle"></i> {{ 'sidebar.faq_link' |trans({}, 'todotoday') }}
                                </a></li>
                        </ul>
                    </nav>
                </div>
                {% if app.session %}
                        <nav class="side-rapid-access sidebar-box">

                            <h4 class="side-title upercased">{{ 'sidebar.rapid_access' | trans({}, 'todotoday') }}</h4>

                            <ul class="vertical-menu">
                                {#<li><a href="#"><i#}
                                {#class="mdi mdi-calendar"></i> {{ "sidebar.rapid.alerts"|trans({}, "sidebar") }}#}
                                {#</a></li>#}
                                {% if is_granted('ROLE_USER') %}
                                    {% if is_granted('ROLE_ORDER') %}
                                        <li><a href="{{ path('order.pending') }}"><i
                                                        class="mdi mdi-cart"></i>
                                                {{ 'sidebar.link_commands' | trans({}, 'todotoday') }}
                                            </a></li>

                                        <li id="order-refused-app" v-if="hasOneOrderRefusedAtLeast">
                                            <a href="{{ path('order.refused') }}">

                                                <span class="td-counter" v-cloak>
                                                    ${ numberOrdersRefused }
                                                </span>

                                                {{ 'sidebar.link_commands_refused' | trans({}, 'todotoday') }}
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{{ path('order.ratable') }}">

                                                <span id="order-to-rate-app">
                                                    <span v-if="numberOrdersToRate > 0" class="td-counter" v-cloak>
                                                        ${ numberOrdersToRate }
                                                    </span>

                                                    <span v-else>
                                                        <i class="mdi mdi mdi-star-half relativist"></i>
                                                    </span>
                                                </span>

                                                {{ 'sidebar.link_commands_to_rate' | trans({}, 'todotoday') }}
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if is_granted('ROLE_PROFILE') %}
                                        {#<li><a href="#"><i#}
                                        {#class="mdi mdi-file-document"></i> {{ "sidebar.rapid.sand"|trans({}, "sidebar") }}#}
                                        {#</a></li>#}
                                        <li><a href="{{ path('account.profile_index') }}"><i
                                                        class="mdi mdi-account-circle"></i> {{ 'sidebar.link_profile' | trans({}, 'todotoday') }}
                                            </a></li>
                                    {% endif %}

                                    {% if is_granted('ROLE_INVOICE') %}
                                        <li><a href="{{ path('invoice_index') }}">
                                                <i class="mdi mdi-file-document"></i> {{ "my_ro"|trans({}, "todotoday") }}
                                            </a></li>
                                    {% endif %}

                                    {% if is_granted('ROLE_FGS') and is_module_granted('FGS') %}
                                        <li>
                                            <a href="{{ path('fgs_index') }}">
                                            <i class="mdi mdi-clipboard-alert"></i> {{ "my_fgs"|trans({}, "todotoday") }}
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if is_granted('ROLE_MANAGE_CO_ADHERENT') and is_module_granted('Co-Adherent') %}
                                        <li>
                                            <a href="{{ path('account.profile_co_adherent') }}">
                                                <i class="mdi mdi-account-multiple-plus"></i> {{ "account.add_co_adherent"|trans({}, "todotoday") }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    {#<li><a href="#"><i#}
                                    {#class="mdi mdi-attachment"></i> {{ "sidebar.rapid.attached_doc"|trans({}, "sidebar") }}#}
                                    {#</a></li>#}
                                    <li>
                                        <a href="{{ path('cms_todotoday_index_cgv') }}">
                                            <i class="mdi mdi-clipboard-check"></i> {{ "cgv.menu_title"|trans({}, "todotoday") }}
                                        </a>
                                    </li>
                                {% endif %}

                                <li><a href="{{ path('cms_concierge_show_downloads') }}">
                                        <i class="mdi mdi-download"></i> {{ "downloads"|trans({}, "todotoday") }}
                                    </a></li>

                                {% set samlUserdata = app.session.get('samlUserdata') %}
                                {% if is_granted('ROLE_USER') and samlUserdata is null %}
                                    <li><a href="{{ path('fos_user_security_logout') }}"><i
                                                    class="mdi mdi-logout-variant"></i> {{ 'menu.logout' |trans({}, 'todotoday') }}
                                        </a></li>
                                {% endif %}
                            </ul>
                        </nav>
                {% endif %}
            </div>
            {% if app.session %}
                {% if is_granted('ROLE_ADHERENT') %}
                    <div class="side-chat-notif">
                        <div id="side-notification-component">
                            <div class="dotted-loader"></div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <div class="sidebar-toggle" @click="menuSwitcher"><i class="mdi" :class="arrowClass"></i></div>
        </aside>

        {% include ':default:mainFooter.html.twig' %}

    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script type="x-template" id="notification-display">
            <div class="notification-box">
                <nav class="notification-box-nav">
                    <div class="notification-box-nav-item">
                        Notifications
                        <notification-counter v-if="state.notifications !== ''"></notification-counter>
                    </div>
                    {#<div class="notification-box-nav-item nav-disabled">
                        {{ 'sidebar.menu_chat_title' | trans({}, 'todotoday') }}
                        #}{#<div id="chat-element"></div>#}{#
                    </div>#}
                </nav>
                <section>
                    <div class="notification-box-item">
                        <div v-if="state.notifications.length > 0">
                            <div class="mark-all-read" @click="markAllAsRead" v-if="totalNotification > 0">
                                {{ 'mark_all_as_read' | trans({}, 'todotoday') }}
                            </div>
                            <transition-group name="fade" tag="ul" appear>
                                <notification-box v-for="notification in state.notifications"
                                                  :key="notification.aps_notificationid"
                                                  :notification="notification">
                                </notification-box>
                            </transition-group>
                        </div>
                        <div v-else-if="state.notificationsStatus == 'loading'">
                            <div class="dotted-loader">{{ 'loading' | trans({}, 'todotoday') }}</div>
                        </div>
                        <div v-else>
                            <div class="notification-box-empty">
                                <i class="mdi mdi-bell-off"></i>
                                {{ 'notification.empty' | trans({}, 'todotoday') }}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </script>
        <script type="x-template" id="notification-box">
            <li class="relativist" :class="{lowopa: isReaded}">
                <a class="closebox" title="Marquer comme lu" v-if="!isReaded" v-on:click.once="markAsRead"></a>
                ${ notificationMessage }
                <span class="notification-box-date">${ notification.createdon | dateFormater('auto') }</span>
            </li>
        </script>
        <script src="{{ asset('build/filters/dateFormater.js') }}"></script>
        <script src="{{ asset('build/filters/capitalize.js') }}"></script>
        <script src="{{ asset('build/filters/currency.js') }}"></script>
        <script src="{{ asset('build/filters/translation.js') }}"></script>
        {% if app.session %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_ORDER') %}
                    <script src="{{ asset('build/sidebarCounters.js') }}"></script>
                    <script src="{{ asset('build/sidebarOrderRefusedCounters.js') }}"></script>
                {% endif %}
            {% endif %}
        {% endif %}

    {% endblock %}