<template>
    <!-- <main class="fw-content relativist"> -->

    <main class=" relativist">
        <nav class="nav-ariane">
            <a href="/">{{ 'homepage' | $t }}</a> <i class="mdi mdi-chevron-right"></i>
            <span v-for="( parent, index ) in breadcrumbList" :key="index">
                <a href="#" @click.prevent="goToParentFamily(parent.link)">{{ parent.title }}</a>
                <span v-if="index !== (breadcrumbList.length - 1)">  <i class="mdi mdi-chevron-right"></i> </span>
            </span>
        </nav>

        <div class="main-content">
            <header class="main-content td-cart-header">

                <message :is-visible="isFamilyNotFound" class="message-error" type="error">
                    {{ 'catalog.error_show_family' | $t }}
                </message>
                <!-- <header class="td-wf-box-xl td-cart-header"> -->
                <h3>{{ familyTitle }}</h3>


                <section class="research-catalog">
                    <nav class="reasearch-dropdown">

                        <div class="dropdown-fast">
                            <input v-model="searchingText"
                                   :disabled="!searchInputEnable"
                                   type="text"
                                   class="mdi mdi-magnify"
                                   :placeholder="'catalog.research_placeholder' | $t">

                            <!-- DROPDOWN -->
                            <transition-group name="slide-fade-top"
                                              leave-active-class="fade">
                                <div class="dropdown-fast-menu" :class="{active: showMenu}" v-show="showMenu"
                                     key="dropdown">
                                    <div v-if="itemsFound.length <= 0" class="research-not-found">
                                        <p>
                                            {{ 'catalog.no_product_founded' | $t }}
                                        </p>
                                    </div>
                                    <div v-for="(item, index) in itemsFound" class="dropdown-fast-menu-item"
                                         v-bind:key="item.value.id" v-bind:data-index="index">
                                        <div class="dropdown-fast-menu-item-content"
                                             @click="goToParentFamily(item.value.hierarchy, item.value.id, item.value.pluginSlug)">
                                            <!-- title="{{ 'see_more' | $t }}"> -->
                                            <span>
                                                <!--[Icon {{ item.value.type }}]-->
                                                <i v-if="item.value.type === 'family'"
                                                   class=""></i>
                                                <i v-else-if="item.value.type === 'plugin'"
                                                   :class="item.value.pluginMdiIcon ? 'mdi mdi-' + item.value.pluginMdiIcon + ' icon-selection' : ''"></i>
                                                <i v-else-if="item.value.product.type === 'item'"
                                                   class="mdi mdi-basket icon-selection"></i>
                                                <i v-else-if="item.value.product.type === 'quotation'"
                                                   class="mdi mdi-file-check icon-selection"></i>
                                                <i v-else-if="item.value.product.type === 'animation'"
                                                   class="mdi mdi-human-handsup icon-selection"></i>
                                                <i v-else-if="item.value.product.type === 'service'"
                                                   class="mdi mdi-hanger icon-selection"></i>

                                                <span v-html="textEnlighted(item.value.name, item.firstCharacPosition, item.numberCharac)"></span>
                                            </span>
                                        </div>

                                        <div class="dropdown-fast-menu-item-price"
                                             v-if="item.value.type === 'product' && item.value.product.type === 'item'">
                                            <strong class="nowrap">{{ item.value.product.price | currency }}</strong>
                                        </div>

                                        <div v-if="item.value.type === 'product'"
                                             style="display: inline-flex; margin: auto; margin-right: 0; text-align: right;">

                                            <button class="btn btn-action  mdi mdi-cart-plus"
                                                    v-if="item.value.product.type === 'item'"
                                                    @click="addProductToCart(item.value.product, index)">
                                                {{ 'catalog.add_to_cart' | $t }}
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </transition-group>
                        </div>
                    </nav>
                </section>
            </header>

            <section class="main-content td-cart" :class="{lowopa: showMenu}">
                <!-- <section class="td-wf-box td-wf-box-xl td-cart"> -->

                <loader size="large" :is-visible="isLoadingCatalog"></loader>

                <message :is-visible="isCatalogFailed" class="message-error" type="error">
                    {{ 'catalog.error_show_catalog' | $t }}
                </message>

                <message :is-visible="isCatalogEmpty" class="message-error" type="info">
                    {{ 'catalog.info_catalog_empty' | $t }}
                </message>

                <!--<div class="columns is-multiline catalogue-bloc full-width">-->
                <div class="columns grid-3 catalogue-bloc">
                    <div v-for="( family, index ) in familiesList" :key="family.id">

                        <family :name="family.name"
                                :picture="family.picture"
                                :mdi-icon="family.pluginMdiIcon"
                                :no-picto="family.noPicto"
                                @click="goToChildFamily(family, index)">
                        </family>
                    </div>
                </div>

                <ul class="td-cart-list catalogue-items">
                    <li v-for="( product, index ) in productsList"
                        :key="product.id"
                        :class="{ 'highlighted': (product.id === itemIdHighlighted) }">

                        <product :id="product.id"
                                 :name="product.name"
                                 :description="product.description"
                                 :price="product.price"
                                 :priceExclTax="product.priceExclTax"
                                 :taxe="product.taxe"
                                 :picture="product.picture">

                            <div class="text-right item-action" slot="last-column">

                                <!-- IF ITEM -->
                                <div v-if="product.type === 'item'">
                                    <span>
                                      <div v-show="typeof isProductAdded[index] === 'undefined'">
                                          <button-add
                                                  :is-loading="typeof isLoadingAddToCart[index] !== 'undefined'"
                                                  @click="addProductToCart(product, index)"
                                                  :disable="!isCartAvailable"
                                          >
                                              {{ 'catalog.add_to_cart' | $t }}
                                          </button-add>
                                      </div>

                                      <div v-show="typeof isProductAdded[index] !== 'undefined'">
                                          {{ 'catalog.product_added' | $t }}
                                      </div>
                                    </span>
                                </div>

                                <!-- IF SERVICE/RDV -->
                                <div v-if="product.type === 'service'">
                                    <span v-if="(product.serviceId === '' || product.serviceId === null)" class="tooltip-toggle"
                                          :aria-label="'catalog.planning_not_available' | $t">
                                        <button-add disable="true">
                                            {{ 'order.take_appointment' | $t }}
                                        </button-add>
                                    </span>

                                    <span v-else>
                                        <button-add @click="goToBookingCalendar(product.id, index)"
                                                    :is-loading="typeof isRedirectToOtherPage[index] !== 'undefined'">
                                            {{ 'order.take_appointment' | $t }}
                                        </button-add>
                                    </span>

                                </div>

                                <!-- IF ANIMATION -->
                                <div v-if="product.type === 'animation'">
                                  <span>
                                    <act-button @click="goToAnimation(product.id, index)"
                                                className="btn-action mdi mdi-plus"
                                                :is-loading="typeof isRedirectToOtherPage[index] !== 'undefined'">
                                        {{ 'animation_registration' | $t }}
                                    </act-button>
                                  </span>
                                </div>

                                <!-- IF DEVIS/QUOTATION -->
                                <div v-if="product.type === 'quotation'">
                                  <span>
                                    <act-button @click="goToQuotation(product.id, index)"
                                                className="btn-action mdi mdi-clipboard-text"
                                                :is-loading="typeof isRedirectToOtherPage[index] !== 'undefined'">
                                        {{ 'catalog.ask_quotation' | $t }}
                                    </act-button>
                                  </span>
                                </div>
                            </div>

                        </product>
                    </li>
                </ul>
            </section>
        </div>
    </main>
</template>

<script>

  const SEC_CONFIRM_ADDED = 1;
  const MIN_CHARACTERS_SEARCH = 3;

  import Vue from 'vue';
  import translation from './../../filters/translation'
  import r2b from './../../filters/replaceToBold'
  import currency from './../../filters/currency'
  import ApiManager from './../../manager/apiManager'
  import querystring from './../../../node_modules/querystring'
  import FamiliesAndProductsTree from './../../models/catalog/ACTFamiliesAndProductsTree'
  import jwtManager from './../../manager/JWTManager'

  //Vue components
  import Loader from './../base/ACTLoader.vue'
  import LoaderContent from './../base/ACTLoaderContent.vue'
  import Message from './../base/ACTMessage.vue'
  import ACTButton from './../base/ACTButton.vue'
  import ACTButtonAdd from './../base/ACTButtonAdd.vue'
  import ACTFamily from './ACTFamily.vue'
  import ACTProduct from './ACTProduct.vue'

  export default {

    name: 'ACTCatalog',

    components: {
      'act-button': ACTButton,
      'button-add': ACTButtonAdd,
      'loader': Loader,
      'loader-content': LoaderContent,
      'message': Message,
      'family': ACTFamily,
      'product': ACTProduct,
    },

    data() {
      return {
        familiesAndProductsTree: new FamiliesAndProductsTree(),
        searchingText: '',
        itemsFound: [],
        itemIdHighlighted: '',

        isLoadingCatalog: true,
        isCatalogEmpty: false,
        isCatalogFailed: false,
        isFamilyNotFound: false,
        isRedirectToOtherPage: [],
        isLoadingAddToCart: [],
        isProductAdded: [],
        isDisplayPriceExclTax: false,
      }
    },

    mounted() {
      this.addHistoryListener();
      this.getAllProducts()
    },

    methods: {
      textEnlighted(string, firstCharacter, numberCharacters) {
        return string.substring(0, firstCharacter)
          + '<b>' + string.substring(firstCharacter, firstCharacter + numberCharacters) + '</b>'
          + string.substring(firstCharacter + numberCharacters);
      },

      addHistoryListener() {
        let self = this;
        window.onpopstate = function (event) {
          if ((typeof event.state !== 'undefined') && (event.state) &&
            (typeof event.state.hierarchy !== 'undefined') && (event.state.hierarchy)) {
            let hierarchy = event.state.hierarchy;

            self.initBeforeNavigation();
            self.familiesAndProductsTree.goToParentFamilyLink(hierarchy, false)
          } else {
            self.familiesAndProductsTree.goToRootFamily(false)
          }
        }
      },

      getAllProducts() {
        let self = this;

        let url = Routing.generate('todotoday.catalog.api.catalog.get_all');
        console.log('ROUTING:', url);
        ApiManager.api_get(url, {
          headers: {'Language': jwtManager.locale}
        }).then(function (response) {
          if (!response.data) {
            self.isCatalogEmpty = true
          } else {
            self.familiesAndProductsTree.setTree(response.data);
            self.goToFamilyWithUrl();
            if (response.data.hasOwnProperty('agency_data_area')) {
              self.isDisplayPriceExclTax = self.getDisplayPriceExclTax(response.data.agency_data_area);
            }
          }
          self.isLoadingCatalog = false
        }).catch(function (error) {
          console.log(error);
          self.isCatalogFailed = true;
          self.isLoadingCatalog = false
        })
      },

      goToFamilyWithUrl() {
        let catalogUrl = Routing.generate('todotoday_catalog_index'),
          currentUrl = window.location.href,
          urlParts = currentUrl.split(catalogUrl);

        if (typeof urlParts[1] !== 'undefined' && urlParts[1] !== '') {
          let strFamilies = urlParts[1].substring(1);//to delete the '/' in first position
          let families = strFamilies.split('+');
          if (families.length > 1) {
            this.isFamilyNotFound = !this.familiesAndProductsTree.goToParentFamilyLink(families)
          }
        }
      },

      goToChildFamily(family, index) {
        this.isFamilyNotFound = false;
        if (family.isPlugin) {
          this.goToPluginView(family.pluginSlug);
        } else {
          this.initBeforeNavigation();
          this.familiesAndProductsTree.goToChildFamily(family, index)
        }
      },

      goToParentFamily(parentLink, itemId, _pluginSlug) {
        let pluginSlug = _pluginSlug || null;

        if (pluginSlug) {
          this.goToPluginView(pluginSlug)
        } else {
          this.searchingText = '';
          this.initBeforeNavigation();
          this.familiesAndProductsTree.goToParentFamilyLink(parentLink);

          this.highlightItemId(itemId);
        }
      },

      goToPluginView(pluginSlug) {
        let pluginView = Routing.generate('todotoday_catalog_plugin', {
          pluginSlug: pluginSlug
        });

        window.location.href = pluginView
      },

      highlightItemId(itemId) {
        Vue.nextTick(() => {
          itemId = itemId || false;
          if (itemId) {
            this.itemIdHighlighted = itemId;
            document.getElementById(itemId).scrollIntoView(true);
          }
        });
      },

      initBeforeNavigation() {
        this.itemIdHighlighted = '';
        this.isRedirectToOtherPage = [];
      },

      addProductToCart(product, index) {
        let self = this;

        if (this.isAddingProduct()) {
          return
        }
        this.$set(this.isLoadingAddToCart, index, true);

        ApiManager.api_post('/cart/products/me', querystring.stringify({
          product: product.id,
          quantity: 1
        })).then(function (response) {
          store.setCartProducts(response.data);
          self.isLoadingAddToCart = [];
          self.showProductAdded(index)
        }).catch(function (error) {
          console.log(error);
          self.isLoadingAddToCart = []
        })
      },

      showProductAdded(productIndex) {
        let self = this;
        this.$set(this.isProductAdded, productIndex, true);
        setTimeout(function () {
          self.isProductAdded = []
        }, 1000 * SEC_CONFIRM_ADDED)
      },

      isAddingProduct() {
        return (this.isLoadingAddToCart.length > 0) || (this.isProductAdded.length > 0)
      },

      goToBookingCalendar(productId, index) {
        this.setRedirectIndex(index);
        let urlRedirect = Routing.generate('booking_calendar', {
          productId: productId
        });
        window.location.href = urlRedirect
      },

      goToAnimation(productId, index) {
        this.setRedirectIndex(index);
        let urlRedirect = Routing.generate('categorie_index', {
          codeAx: productId
        });
        window.location.href = urlRedirect
      },

      goToQuotation(productId, index) {
        this.setRedirectIndex(index);
        let urlRedirect = Routing.generate('quotation_index', {
          itemId: productId
        });
        window.location.href = urlRedirect
      },

      setRedirectIndex(index) {
        this.isRedirectToOtherPage = [];
        this.$set(this.isRedirectToOtherPage, index, true)
      },

      getDisplayPriceExclTax(agencyArea) {
        return (typeof agencyArea == 'string' && agencyArea == "ECA" )
      }
    },

    computed: {
      actualNodeList() {
        return this.familiesAndProductsTree.getActualNode()
      },
      familiesList() {
        return this.actualNodeList.families
      },
      productsList() {
        return this.actualNodeList.products
      },

      breadcrumbList() {
        return this.familiesAndProductsTree.getBreadcrumbList()
      },

      familyTitle() {
        let familyName = (this.familiesAndProductsTree.getHierarchyLevel() === 0) ? $t('your_agency') : this.familiesAndProductsTree.getFamilyName();
        return familyName
      },

      searchInputEnable() {
        return !this.isLoadingCatalog && !this.isCatalogEmpty && !this.isCatalogFailed
      },

      showMenu() {
        return (this.itemsFound.length > 0 || this.searchingText.length >= MIN_CHARACTERS_SEARCH)
      },

      isCartAvailable() {
        return jwtManager.grantedAddCart
      }
    },

    watch: {
      searchingText(newValue, oldValue) {
        if (newValue.length >= MIN_CHARACTERS_SEARCH) {
          this.itemsFound = this.familiesAndProductsTree.searchFamilyOrProduct(newValue)
        } else {
          this.itemsFound = []
        }
      },
    },
  }
</script>

<style lang="scss">
</style>
