<template>

    <section @click="clicked" class="catalogue-bloc-primaire"
             :class="(noPicto || (!picture && !useMdiIcon)) ? 'no-picto' : ''">
        <div>
            <div class="no-style" v-if="!noPicto">
                <img v-if="picture" :src="picture">
                <span v-else-if="useMdiIcon" class="icon-no-img family-plugin-mdi-icon mdi"
                      :class="'mdi-' + mdiIcon"></span>
            </div>

            <span>{{ name }}</span>
            <i class="mdi mdi-chevron-right"></i>
        </div>
    </section>

</template>

<script>
  import catalogConf from './../../config/catalog';

    export default {

        name: 'ACTFamily',

        props: {
            name: {type: String, required: true},
            picture: {type: String},
          mdiIcon: {type: String},
            noPicto: {type: Boolean}
        },

      data() {
        return {
          useMdiIcon: catalogConf.usingMdiIconAsPluginFamilyImage
        }
      },

        methods: {
            clicked() {
                this.$emit('click');
            }

        },
    }
</script>

<style lang="scss">
</style>
