<template>
    <article :id="id" class="td-cart-list-item">

        <div class="product-info" :class="{'full-width': description || picture}">
            <img v-if="picture" :src="picture" :alt="name" class="product-img">

            <div class="product-text column is-5">
                <span class="product-name">{{ name }}</span>
                <p v-if="description">{{ description }}</p>
            </div>
        </div>

        <div class="column product-price flex-item-fluid is-2 text-right" v-if="!this.$parent.isDisplayPriceExclTax">
            {{ price|currency }}
        </div>
        <div class="column product-price flex-item-fluid is-2 text-right" v-else>
          {{ priceExclTax|currency }}
        </div>

        <slot name="last-column"></slot>

    </article>
</template>

<script>

    import currency from './../../filters/currency';

    export default {

        name: 'ACTProduct',

        props: {
            id: { type: String, required: true },
            name: { type: String, required: true },
            description: { type: String, default: "" },
            price: { type: Number, required: true },
            priceExclTax: { type: Number, required: true },
            taxe: { type: Number, required: true },
            picture: { type: String, default: "" },
        },
    }
</script>

<style lang="scss">
</style>
