{% block account_sepa_info_row %}
    <script id="account_sepa_info_widget-template" type="text/template">
        <div>
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </script>
    {% if not form.vars.as_component %}
        <div id="sepa">
            <sepa></sepa>
        </div>
    {% endif %}
{% endblock account_sepa_info_row %}

{% block account_sepa_info_errors %}
    {{ form_errors(form) }}
{% endblock account_sepa_info_errors %}

{% block account_sepa_info_label %}
    {{ form_label(form) }}
{% endblock account_sepa_info_label %}

{% block account_sepa_info_widget %}
    {{ form_widget(form) }}
{% endblock account_sepa_info_widget %}

