<template>
<div v-if="sharedFiles.length">
    <h2>{{ 'available_file_title_shared'| $t }}</h2>
    <div :class="{ 'highlighted': isHighlighting && (index === 0), 'download-box': file }" v-for="(file, index) in sharedFiles" :key="file.id">
        <header class="download-box-header">
            <span>
                <i class="mdi mdi-file"></i> {{ file.title }} <br>
                <small>
                    {{ 'files.added_date' | $t({'%date%': formatFileDate(file.created_at)}) }}
                    <span v-if="file.uploaded_by.id == file.adherent.id">{{ 'files.added_by_me'| $t }}</span>
                    <span v-else>{{ file.uploaded_by.full_name }}</span>
                </small>
            </span>
            <div class="actions">
                <a class="btn btn-secondaire mdi mdi-download"
                    :href="file.media.reference.absolute_url"
                    target="_blank">{{ 'download'| $t }}
                </a>

                <a v-if="file.uploaded_by.id == file.adherent.id" class="btn btn-danger mdi mdi-delete"
                    :href="deleteUrl (file.id)"
                >{{ 'remove'| $t }}
                </a>
            </div>
        </header>
    </div>
</div>
</template>
<script>

  import translation from './../../../filters/translation.js';
  import ClickOutside from 'vue-click-outside'
  import Api from '../../../manager/apiManager';
  import formatDate from './../../../filters/formatDate'
  import eventHub from './../../../events/eventHub'

  export default {

    name: 'sharedFiles',

    props: ['token'],

    data() {
      return {
        sharedFiles: [],
        loading: false,
        isHighlighting: false,
      }
    },

    mounted() {
        this.getSharedFiles()
    },

    created() {
        eventHub.$on('updateSharedFiles', (data) => {
            this.getSharedFiles()
            this.isHighlighting=true
        })
    },

    methods: {
        formatFileDate(date) {
            return formatDate(date)
        },

        deleteUrl (id) {
            return Routing.generate('cms_concierge_delete_file', {
                'id': id
            })
        },

        getSharedFiles: function () {

            this.loading = true;
            Api.api_get(`/document/sharedfiles`, {}).then(({data}) => {
                this.sharedFiles = data

                if (this.sharedFiles.length > 0 && document.querySelector('.content-downloads .alert-warning')) {
                    document.querySelector('.content-downloads .alert-warning').remove();
                }
            });
        },
    },

    filters: {
      formatDate,
    }
  }

</script>

<style lang="scss">

</style>
