<template>
  <div class="upload_document_container">
        <loader-content :is-loading="loading" loader-size="small">
          <div v-if="success" class="alert-success"><p>{{ 'form.document_success_message' | $t }}</p></div>
          <div v-if="error" class="alert-error"><p>{{ 'form.document_error_message' | $t }}</p></div>

          <div class="form-row">            
            <label for="upload_document_title" class="required">{{ 'form.document_name' | $t }}</label>
            <input type="text" id="title" name="title" class="full-width" required="required" v-model="title">
          </div>
          <div class="form-row">
            <div class="media-display">
              <div class="group-flex">
                <div class="item">
                <span class="file-styler">
                <input type="file" name="file" :id="'file_' + id" @change="onFileChange" class="inputfile"/>
                <label :for="'file_' + id" class="btn btn-action mdi mdi-file">{{ 'form.document_file' | $t }}</label>
              </span>
                </div>
              </div>

              <div class="has-media" v-if="file">
                <div class="media-image">
                  {{file.name}}
                </div>
              </div>
            </div>
          </div>

          <nav class="btn-row">
            <a class="btn btn-primaire" @click="postDocument()">{{ 'form.button_upload_document' | $t }}</a>
          </nav>
        </loader-content>
  </div>
</template>
<script>

  import translation from './../../../filters/translation.js'
  import ClickOutside from 'vue-click-outside'
  import Api from '../../../manager/apiManager'
  import LoaderContent from './../../../components/base/ACTLoaderContent.vue'
  import eventHub from './../../../events/eventHub'

  export default {

    name: 'uploadDocument',

    props: ['token'],

    data() {
      return {
        id: null,
        file: null,
        success: false,
        error: false,
        title: '',
        loading: false,
      }
    },

    components: {
      'loader-content': LoaderContent,
    },

    created() {
    },

    mounted() {
    },

    methods: {

      postDocument: function () {
        var self = this;

        if (!this.file || !this.title) {
          self.error = true
          self.success = false
          return
        }

        this.loading = true;
        let formData = new FormData();
        
        formData.append('file', this.file);
        formData.append('title', this.title);

        Api.api_post('/document/add',formData).then((response) => {
          self.title = '';
          self.file = null;
          self.loading = false
          self.success = true
          self.error = false
          eventHub.$emit('updateSharedFiles', response)
          
        }).catch(({ response }) => {
          self.loading = false
        })

        this.loading = false;
      },
      onFileChange(e) {
        const files = e.target.files || e.dataTransfer.files;
        if (!files.length) {
          return;
        }
        this.cleanMedia()

        this.file = files[0]
      },
      cleanMedia() {
        this.file = ''
        this.success = false
      },
    }
  }
</script>

<style lang="scss">

</style>
