{% extends ':default:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {#<div class="flex-container grid-5 container">#}
        {#<aside class="full item-first">#}
            {#<div class="searchBar fr">#}
                {#<form action="">#}
                    {#<input type="text">#}
                {#</form>#}
            {#</div>#}
            {#<div class="accountInfo fr">#}
            {#</div>#}
        {#</aside>#}
        {#<header class="full agency-header">#}
        {#</header>#}
        {#<nav class="full flex-container-h">#}
        {#</nav>#}
        {#<section class="three-quarters">#}
            {#{% block bodyContent %}{% endblock %}#}
        {#</section>#}
        {#<aside class="one-quarter">#}
            {#<li>Aside 1</li>#}
            {#<li>Aside 2</li>#}
            {#<li>Aside 3</li>#}
        {#</aside>#}
        {#<footer class="full item-last txt-center">#}
            {#Copyright © 2017 TO DO TODAY#}
        {#</footer>#}
    {#</div>#}
{% endblock %}
{% block javascripts %}{% endblock %}