<html>
<body>
<p>
    {% set keyTrad = 'notification.social_admin_notifications_new_' ~ type ~ '_email_body' %}
    {% set urlWithLink = '<a href="' ~ url ~'">' ~ url ~ '</a>' %}
    {{ keyTrad | trans({'%groupName%': groupName, '%url%': urlWithLink, '%authorName%': authorName, '%groupType%' : groupType},'todotoday')|raw|nl2br }}
</p>
</body>
</html>