{% set joinGroupLinkFR = joinGroupLink %}
{% set joinGroupLinkEN = joinGroupLink %}
{% set enrollGroupLinkFR = enrollGroupLink %}
{% set enrollGroupLinkEN = enrollGroupLink %}

{{ 'notification.new_invit_group_email_body' | trans({
        '%groupName%': groupName,
        '%userName%': userName,
        '%currentUser%': currentUser,
        '%joinGroupLinkFR%': joinGroupLinkFR,
        '%joinGroupLinkEN%': joinGroupLinkEN,
        '%enrollGroupLinkFR%': enrollGroupLinkFR,
        '%enrollGroupLinkEN%': enrollGroupLinkEN
    },'todotoday') | nl2br}}
