{% set enrollGroupLinkFR = enrollGroupLink %}
{% set enrollGroupLinkEN = enrollGroupLink %}

{{ 'notification.new_invit_group_email_body' | trans({
        '%groupName%': groupName,
        '%currentUser%': currentUser,
        '%enrollGroupLinkFR%': enrollGroupLinkFR,
        '%enrollGroupLinkEN%': enrollGroupLinkEN
    },'todotoday') | nl2br}}
