<html>
<body>
<p>
    {% set keyTrad = 'notification.new_tagged_email_body' %}
    {% set urlWithLink = '<a href="' ~ url ~'">' ~ url ~ '</a>' %}
    {{ keyTrad | trans({'%groupName%': groupName, '%url%': urlWithLink, '%authorName%': author, '%firstName%': firstName},'todotoday')|raw|nl2br }}
</p>
</body>
</html>
