<html>
<body>
<p>
    {% set keyTrad = 'notification.new_adherent_invite_' ~ type ~ '_email_body' %}
    {% set hereTransaltion = 'notification.click_here' | trans({}, 'todotoday') %}
    {% set joinGroupLinkFR = '<a href="' ~ joinGroupLink ~ '">ICI</a>' %}
    {% set joinGroupLinkEN = '<a href="' ~ joinGroupLink ~ '">HERE</a>' %}
    {% set enrollGroupLinkFR = '<a href="' ~ enrollGroupLink ~ '">ICI</a>' %}
    {% set enrollGroupLinkEN = '<a href="' ~ enrollGroupLink ~ '">HERE</a>' %}
    {{ keyTrad | trans({
        '%groupName%': groupName,
        '%userName%': userName,
        '%currentUser%': currentUser,
        '%joinGroupLinkFR%': joinGroupLinkFR,
        '%joinGroupLinkEN%': joinGroupLinkEN,
        '%enrollGroupLinkFR%': enrollGroupLinkFR,
        '%enrollGroupLinkEN%': enrollGroupLinkEN
    },'todotoday')|raw|nl2br }}
</p>
</body>
</html>
