{% set keyTrad = 'notification.social_admin_notifications_new_' ~ type ~ '_email_body' %}
{{ keyTrad | trans({'%groupName%': groupName, '%url%': url, '%authorName%': authorName, '%groupType%' : groupType},'todotoday') | nl2br}}