<html>
<body>
<p>
    {% set keyTrad = 'notification.new_invit_' ~ type ~ '_email_body' %}

    {% set enrollGroupLinkFR = '<a href="' ~ enrollGroupLink ~ '">ICI</a>' %}
    {% set enrollGroupLinkEN = '<a href="' ~ enrollGroupLink ~ '">HERE</a>' %}

    {{ keyTrad | trans({
        '%groupName%': groupName,
        '%currentUser%': currentUser,
        '%enrollGroupLinkFR%': enrollGroupLinkFR,
        '%enrollGroupLinkEN%': enrollGroupLinkEN
    },'todotoday')|raw|nl2br }}
</p>
</body>
</html>
