<template>
    <div>
        <div class="col-xs-12">
            <button
                    class="btn btn-lg"
                    :class="classType"
                    @click="clearCache"
                    v-show="!hasSucceded"
                    :disabled="isProcessing"
            >
                <span
                        v-show="isProcessing"
                        class="glyphicon gl-animated glyphicon-refresh disabled"
                >
                </span>
                {{ labelButton }}
            </button>
        </div>
        <div class="col-xs-12">
            <message class="message-success"
                     type="success"
                     :is-visible="hasSucceded"
            >
                {{ 'catalog.clear_cache_success'|$t }}
            </message>
            <message class="message-error"
                     type="error"
                     :is-visible="hasError"
            >
                {{ 'rdv.popup_error_message'|$t }}
            </message>
        </div>
    </div>
</template>

<script>
  import JWTManager from '../../manager/JWTManager'
  import Api from '../../manager/apiManager'
  import Translation from '../../filters/translation'
  import Message from '../../components/base/ACTMessage'

  export default {
    components: {
      'message': Message
    },
    name: 'catalog-clear-cache',
    props: {
      agency: {
        type: String,
        required: false,
        default: null
      },
      label: {
        type: String,
        required: false,
        default: null
      },
      lang: {
        type: String,
        required: false,
        default: null
      },
      type: {
        type: String,
        required: false,
        default: 'primary'
      }
    },
    data () {
      return {
        hasSucceded: false,
        isProcessing: false,
        hasError: false
      }
    },
    methods: {
      clearCache () {
        this.isProcessing = true
        const url = Routing.generate('todotoday.catalog.api.catalog.post_reset_catalog_cache')
        Api.api_post(url, {
          'Language': this.lang,
        }, null, this.agency).then(data => {
          console.log(data)
          this.hasSucceded = true
        }).catch(err => {
          this.hasError = true
          console.error(err)
        }).then(() => {
          this.isProcessing = false
        })
      }
    },
    computed: {
      classType () {
        return 'btn-' + this.type
      },
      labelButton () {
        if (!this.label) {
          return this.$options.filters.$t('catalog.clear_cache_label', {
            '%lang%': this.lang,
            '%ccgie%': this.agency
          })
        }
        return this.$options.filters.$t(this.label)
      }
    },
    watch: {
      hasSucceded (newVal) {
        if (newVal) {
          setTimeout(() => {
            this.hasSucceded = false
          }, 3000)
        }
      }
    }
  }
</script>

<style scoped lang="scss">

    .gl-animated {
        -webkit-animation: gl-spin 2s infinite linear;
        animation: gl-spin 2s infinite linear;
    }

    @-webkit-keyframes gl-spin {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }

    @keyframes gl-spin {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }

    /** ########################### ALERT MESSAGES ############################ */
    [class^="alert-"] {
        margin: 1.5em 0;
        border-radius: 2px;
        padding: 0em 1em;
        line-height: 20px;

        &.margin-top-bottom {
            margin: 10px 0;
        }

        &.form-error {
            margin: 0.7em 0;
        }

        p {
            margin: .5em 0;
            color: black;

            &::before {
                font-size: 1.4em;
                line-height: 20px;
                vertical-align: middle;
                display: inline-block;
                margin-right: 10px;
                font-family: "MaterialDesignIcons", "Material Design Icons", mdi;
            }
        }
    }

    .alert-error {
        background-color: rgba(#FF2D55, .2) !important;
        border: 1px solid rgba(#FF2D55, .5);
        & p::before {
            content: "\F15C";
            color: #FF2D55;
        }
    }

    .alert-header {
        margin: 0;
    }

    .alert-success {
        background-color: rgba(#29BB9C, .2) !important;;
        border: 1px solid rgba(#29BB9C, .5);
        & p::before {
            content: "\F133";
            color: #29BB9C;
        }
    }

    .alert-warning {
        background-color: rgba(#F19B2C, .2) !important;;
        border: 1px solid rgba(#F19B2C, .5);
        & p::before {
            content: "\F026";
            color: #F19B2C;
        }
    }

    .alert-info {
        background-color: rgba(#314F9C, .2) !important;;
        border: 1px solid rgba(#314F9C, .5);
        & p::before {
            content: "\F2FC";
            color: #314F9C;
        }
    }

    .alert-checked {
        background-color: rgba(#314F9C, .2) !important;;
        border: 1px solid rgba(#314F9C, .5);
        & p::before {
            content: "\F5E0";
            color: #314F9C;
        }
    }
</style>