{#{% if admin.hasAccess('edit', object) and admin.hasRoute('edit') %}#}
{% if object.registrationToken and context_manager.currentContext.agency %}
    <a href="{{ admin.generateObjectUrl('continue_registration', object) }}"
       class="btn btn-sm btn-info">
        {{ 'continue_registration'|trans({},'messages') }}
    </a>
{% endif %}
{#{% endif %}#}