{% if admin.hasAccess('edit', object) and admin.hasRoute('edit') %}
    <a href="{{ admin.generateObjectUrl('edit', object, {'_tab': 'tab_2'}) }}"
       class="btn btn-sm btn-info">
        Documents
    </a>
{% endif %}
