{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% if object.linkAgencies.first %}
    {% set agency = object.linkAgencies.first.agency.slug %}
{% else %}
    {% set agency = 'www' %}
{% endif %}

{% block field %}
    {%- if value is null -%}
    {%- else -%}
        {% set url = object.registrationToken|activation_link(agency,'registration') %}
        <a href="{{ url }}" target="_blank">{{ url }}</a>
    {%- endif -%}
{% endblock %}
