{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {%- if value is null -%}
    {%- else -%}
        {% set agency = object.linkAgencies.first ? object.linkAgencies.first.agency.slug : null %}
        {% set url = object.confirmationToken|activation_link(agency,'reset') %}
        <a href="{{ url }}" target="_blank">{{ url }}</a>
    {%- endif -%}
{% endblock %}
