{% if admin.hasAccess('edit', object) and admin.hasRoute('edit') %}
    <a href="{{ admin.generateObjectUrl('reset_password', object) }}"
       class="btn btn-sm btn-info">
        {{ 'reset_password'|trans({},'messages') }}
    </a>
{% endif %}