<!-- BLOCK TEMPLATES START (length={{ block_templates|length }}) -->
{% for key,template in block_templates %}
    <!-- BLOCK TEMPLATES {{ key }} START -->
    {{ block(key) }}
    <!-- BLOCK TEMPLATES {{ key }} END -->
{% endfor %}
<!-- BLOCK TEMPLATES END -->
