<!-- BLOCKS START (length={{ blocks|length }}) -->
{% for block in blocks %}
    <!-- BLOCK "{{ block }}" START -->
    {% include block %}
    <!-- BLOCK "{{ block }}" END -->
{% endfor %}
<!-- BLOCKS END -->
