<!-- EXTRAS START (length={{ extras|length }}) -->
{% for key,extra in extras %}
    <!-- EXTRA {{ key }} START -->
    {{ extra|raw }}
    <!-- EXTRA {{ key }} END -->
{% endfor %}
<!-- EXTRAS END -->
