<!-- JAVASCRIPT START (length={{ javascripts|length }}) -->
{% for javascript in javascripts %}
    <script src="{{ asset(javascript) }}" type="text/javascript"></script>
{% endfor %}
<!-- JAVASCRIPT END -->
