<!-- TEMPLATES START (length={{ templates|length }}) -->
{% for key,template in templates %}
    <!-- TEMPLATES {{ key }} START -->
    <template id="{{ key }}" type="text/template">
        {{ template|raw }}
    </template>
    <!-- TEMPLATES {{ key }} END -->
{% endfor %}
<!-- TEMPLATES END -->
