<template>
    <div class="arrow" :class="'arrow-' + direction"
         :style="{ 'border-color': color, 'border-width': length + 'px' }">
    </div>
</template>

<script>

    export default {

        name: 'ACTArrow',

        props: {
            direction: {
                type: String,
                default: 'top',
                validator: function (value) {
                    if( (value === 'top') || (value === 'bottom') ||
                        (value === 'left') || (value === 'right')
                    ){
                        return true;
                    }
                    console.log('ACTArrow > "direction" must equals to "top" or "bottom" or "left" or "right" but not \'', value +'\'')
                    return false;
                }
            },
            length: {
                type: Number,
                default: 10,
            },
            color: {
                type: String,
                default: '#000000',
            },
        },
    }
</script>

<style lang="scss">

    .arrow{
        width: 0;
        height: 0;
        border-style: solid;
    }

    .arrow-top{
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-width: 0 !important;
    }

    .arrow-bottom{
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-width: 0 !important;
    }

    .arrow-right{
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        border-right-width: 0 !important;
    }

    .arrow-left{
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        border-left-width: 0 !important;
    }

</style>
