<template>
    <loader-content :is-loading="isLoading" loader-size="small">

        <button @click="clicked"
                class="btn btn-action mdi mdi-cart-plus"
                :disabled="disable"
                type="button">
            <slot></slot>
        </button>

    </loader-content>
</template>

<script>
    import LoaderContent from './../base/ACTLoaderContent.vue';

    export default {

        name: 'ACTButtonAdd',

        components: {
            'loader-content': LoaderContent
        },

        props: {
            disable: {type: Boolean, default: false},
            isLoading: {type: Boolean, default: false}
        },

        methods: {
            clicked(event) {
                this.$emit('click', event)
            }
        }
    }
</script>

<style lang="scss">
</style>
