<!-- todo: gérer le overflow lorsque le texte du button est trop long !-->
<template>
    <div @click="buttonIsClicked" class="control has-addons">
        <a class="button is-small number-notifications">
            <span>{{ numberNotifications }}</span>
        </a>
        <div class="take-full-width">
            <a class="button is-small take-remaining-width text-notification">
                <span class="overflow-hidden">{{ text }}</span>
            </a>
        </div>
    </div>
</template>

<script>
    export default {

        name: 'ACTButtonNewNotifications',

        props: {
            numberNotifications: { type: Number, required: true },
            text: { type: String, required: true }
        },

        methods: {
            buttonIsClicked() {
            }
        }
    }
</script>

<style lang="scss" scoped>

    .number-notifications {
        font-weight: bold;
        color: #EEEEEE;
        background-color: #535353;
    }

    .text-notification {
        background-color: #D4D4D4;
    }

    .overflow-hidden {
        overflow: hidden;
    }

    /*todo: to delete and take bulma style */
    .take-full-width {
        width: 100% !important;
    }

    /*todo: to delete and take bulma style */
    .take-remaining-width {
        width: 90% !important;
    }

</style>
