<!--TODO: EN CHANTIER : il faut bien afficher le dropdown à droite, gauche, bas ou haut !-->
<template>

    <div>

        <div @click="toggleDropdown" class="text-toggle">
            <slot name="text-toggle-dropdown">
                Text default to toggle dropdown
            </slot>
        </div>

        <article v-on-clickaway="clickAwayFromDropdown" v-show="isDropdownVisible" class="message cart-dropdown"
                 :style="{ 'max-height': height, 'width': width, 'right': 0 } ">

            <div class="arrow-dropdown-container">
                <arrow :style="arrowDropdownStyle" class="arrow-dropdown"
                       :direction="arrowPosition" :length="arrowLength" :color="color">
                </arrow>
            </div>

            <div class="message-header">
                <slot name="text-header-dropdown">
                    Text header dropdown
                </slot>
            </div>

            <div class="message-body" :style="{ 'max-height': 'calc(' + height + ' - 31px)' }">
                <slot name="text-body-dropdown">
                    Text body dropdown
                </slot>
            </div>

        </article>

    </div>

</template>

<script>

    import ACTArrow from './../base/ACTArrow.vue';
    import { mixin as clickaway } from './../../../node_modules/vue-clickaway';

    export default {

        name: 'ACTDropdown',

        components: {
            'arrow': ACTArrow,
        },

        mixins: [ clickaway ],

        props: {
            arrowPosition: {
                type: String,
                default: 'top',
                validator: function (value) {
                    if( (value === 'top') || (value === 'bottom') || (value === 'left') || (value === 'right') ){
                        return true;
                    }
                    console.log('ACTArrow > "arrowPosition" must equals to "top" or "bottom" or "left" or "right" but not \'', value +'\'')
                    return false;
                }
            },
            arrowLength: {
                type: Number,
                default: 10,
            },
            oneDimensionPosition: {
                type: Number,
                default: 250,
            },
            color: {
                type: String,
                default: '#4A4A4A',
            },
            width: {
                type: String,
                default: '600px',
            },
            height: {
                type: String,
                default: 'calc(100vh - 60px)',
            },
        },

        data() {
            return {
                isDropdownVisible: false,
                hasBeenSetVisibleNow: false,
            }
        },

        methods: {

            toggleDropdown() {
                this.isDropdownVisible = !this.isDropdownVisible;
                if( this.isDropdownVisible ) {
                    this.hasBeenSetVisibleNow = true;
                }
            },

            clickAwayFromDropdown() {
                if( !this.isDropdownVisible ) {
                    return;
                } else if( !this.hasBeenSetVisibleNow ){
                    this.isDropdownVisible = false;
                } else{
                    this.hasBeenSetVisibleNow = false;
                }
                return true;
            }
        },

        computed: {

            //todo: "bottom" ne fonctionne pas (pareil pour "top" si on donne un calc(...) comme valeur
            //todo: pouvoir choisir si le dropdown apparait en haut, bas, droite, gauche de l'élément.
            arrowDropdownStyle() {
                let positionStyles = {};

                if( this.arrowPosition === 'top' ) {
                    positionStyles = {
                        'left': this.oneDimensionPosition + 'px',
                        'top': '-6px',
                    };
                } else if( this.arrowPosition === 'bottom' ) {
                    positionStyles = {
                        'left': this.oneDimensionPosition + 'px',
                        'bottom': 0,
                    };
                } else if( this.arrowPosition === 'right' ) {
                    positionStyles = {
                        'top': this.oneDimensionPosition + 'px',
                        'left': this.width,
                    };
                } else if( this.arrowPosition === 'left' ) {
                    positionStyles = {
                        'top': this.oneDimensionPosition + 'px',
                        'left': -1 * this.arrowLength + 'px',
                    };
                }
                return positionStyles;
            },
        },

    }
</script>

<style lang="scss" scoped>

    .text-toggle{
        cursor: pointer;
    }

    .cart-dropdown{
        position: absolute;
        z-index: 789;
    }

    .cart-dropdown .message-body{
        min-height: 200px;
        overflow: auto;
    }

    .arrow-dropdown-container{
        position: relative;
        z-index: 989;
    }

    .arrow-dropdown{
        position: absolute;
    }

</style>
