<template>
    <transition name="fade">
        <div v-show="isVisible" class="loader loading-container">
            <object data="/images/loader/loader-img.svg"
                    class="loading-img"
                    :class="'loading-img-size-' + size"
                    type="image/svg+xml">

                <img src="/images/loader/loader-img.png" alt="loading">
            </object>
        </div>
    </transition>
</template>

<script>

    export default {

        name: 'ACTLoader',

        props: {
            isVisible: {type: Boolean, default: false},
            size: {
                type: String,
                default: 'normal',
                validator: function (value) {
                    if ((value === 'xsmall') || (value === 'small') || (value === 'normal') ||
                        (value === 'large') || (value === 'xlarge')) {
                        return true;
                    }
                    console.log(
                        'ACTLoader > "size" must equals to "xsmall", "small", ' +
                        '"normal", "large" or "xlarge" but not \'', value + '\''
                    );
                    return false;
                }
            },
        },
    }
</script>

<style lang="scss">
</style>
