<template>
    <div class="loader-content">
        <div :class="[{ 'is-obscure': isLoading }, contentClass]">
            <slot></slot>
        </div>

        <loader class="loader-center"
                :class="{ hidden: !isLoading }"
                :is-visible="isLoading"
                :size="loaderSize">

        </loader>
    </div>
</template>

<script>
    import Loader from './ACTLoader.vue';

    export default {

        name: 'ACTLoaderContent',

        components: {
            'loader': Loader
        },

        props: {
            isLoading: {type: Boolean, default: false},
            contentClass: {type: String, default: ''},
            loaderSize: {
                type: String,
                default: 'normal',
                validator: function (value) {
                    if ((value === 'xsmall') || (value === 'small') || (value === 'normal') ||
                        (value === 'large') || (value === 'xlarge')) {
                        return true;
                    }
                    console.log(
                        'ACTLoader > "size" must equals to "xsmall", "small", ' +
                        '"normal", "large" or "xlarge" but not \'', value + '\''
                    );
                    return false;
                }
            },
        },
    }
</script>

<style lang="scss">
</style>
