<template>
    <div class="modal" :class="{ visible: visible, invisible: !visible }">

        <div class="modal-content"
             :class="'modal-' + size"
            v-on-clickaway="clickAway">

            <div class="modal-header">
                <span @click="close" class="close">&times;</span>
                <slot name="header"></slot>
            </div>

            <div class="modal-body">
                <slot name="body"></slot>
            </div>

            <div class="modal-footer">
                <slot name="footer"></slot>
            </div>

        </div>

    </div>
</template>

<script>
    import { mixin as clickaway } from './../../../node_modules/vue-clickaway';

    export default {

        name: 'ACTModal',

        mixins: [ clickaway ],

        props: {
            visible: { type: Boolean, default: false },
            size: {
                type: String,
                default: 'sm',
                validator: function (value) {
                    if ((value === 'sm') || (value === 'md') ||
                        (value === 'lg') || (value === 'xl')) {
                        return true;
                    }
                    console.log(
                        'ACTModal > "size" must equals to "sm", "md", ' +
                        '"lg" or "xl" but not \'', value + '\''
                    );
                    return false;
                }
            },
            disableClickAway: { type: Boolean, default: false },
        },
        data() {
            return {
                acceptClose: this.visible
            }
        },
        methods: {
            close() {
                if (this.visible && this.acceptClose) {
                    this.$emit('close');
                    this.acceptClose = false;
                }
            },
            clickAway() {
                if(!this.disableClickAway) {
                    this.close();
                }
            }
        },

        watch: {
            visible(nextValue) {
                if (nextValue) {
                    let self = this;
                    setTimeout(function () {
                        self.acceptClose = true;
                    }, 100)
                }else {
                    this.acceptClose = false;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>
