<template>
    <transition name="fade">
        <div v-show="isVisible">
            <div :class="'alert-' + type + ' ' + alertClasses">
                <p>
                    <slot></slot>
                </p>
            </div>
        </div>
    </transition>
</template>

<script>

    export default {

        name: 'ACTMessage',

        props: {
            isVisible: { type: Boolean, default: false },
            type: {
                type: String,
                required: true,
                validator: function (value) {
                    if ((value === 'error') || (value === 'success') ||
                        (value === 'warning') || (value === 'info') || (value === 'checked')) {
                        return true;
                    }
                    console.log(
                        'ACTErrorMessage > "type" must equals to "error", "success", ' +
                        '"warning", "checked" or "info" but not \'', value + '\''
                    );
                    return false;
                }
            },
          alertClasses: {
            type: String,
            default: ''
          }
        },
    }
</script>

<style lang="scss">
</style>
