<template>

    <span class="notifications-main-section">

        <slot name="text-behind-notifications">
            Text behing notifications
        </slot>

        <span v-if="!notificationTextIsEmpty" class="text-notifications tag is-danger">
            {{ notificationText }}
        </span>
    </span>

</template>

<script>

    export default {

        name: 'ACTNotifications',

        props: {
            notificationText: { type: String, default: '' }
        },

        computed: {

            notificationTextIsEmpty(){
                return (this.notificationText == false);
            }
        },

    }
</script>

<style lang="scss" scoped>

    .notifications-main-section{
        position: relative;
    }

    .text-notifications{
        position: absolute;
        top: -20px;
        right: -10px;
    }

</style>
