{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent %}
    {% set currentPath = app.request.attributes.get('_route') %}
    {% set display = currentPath|trans({}, "todotoday") %}
    <nav class="nav-ariane account-ariane">
        <a href="/">{{ 'homepage' | trans({}, 'todotoday') }}</a> <i class="mdi mdi-chevron-right"></i>
        <a href="{{ path('account.profile_index') }}">{{ "account.header_myaccount"|trans({}, "todotoday") }}</a> <i class="mdi mdi-chevron-right"></i>
        <a href="{{ path(currentPath) }}" class="active active-nav">{{ display }}</a>
    </nav>
    <article class="td-profile">
        <header class="td-profile-header relativist">
            <h2>
                {{ "account.header_myaccount"|trans({}, "todotoday") }}
            </h2>
            <div class="grid-2">
                <div class="account-email">
                    <small>{{ app.user.email }}</small>
                </div>
                <div>{{ accountNumber }}</div>
                {% if lockerCode %}
                    <div>{{ 'account.locker_code'|trans({},'todotoday') }} {{ lockerCode }}</div>
                {% endif %}
                {#<div class="account-status">{{ "account.state_active"|trans({}, "todotoday") }}</div>#}
            </div>
        </header>
    </article>
    {% block profileMenu %}
    {% endblock %}
    <section class="grid-1 has-gutter content-profile">
        <div class="full-width">
            {% block profileContent %}
            {% endblock %}
        </div>
        {#<div class="one-third">#}
            {#<div class="td-profile-disclaimer">#}
                {#<p>{{ sidetext|trans({}, "todotoday") }}</p>#}
                {#<p><a href="#">{{ "account.add_coadherent"|trans({}, "todotoday") }}</a></p>#}
            {#</div>#}
        {#</div>#}
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/horizontalNav.js') }}"></script>
{% endblock %}