{% set currentPath = app.request.attributes.get('_route') %}

<nav class="td-horizontal-nav menu-profile">
    <ul @click="menuToggle">
        {% set route = 'account.profile_index' %}
        {% set display = "account.personal_info"|trans({}, "todotoday") %}
        <li {{ currentPath == route ? " class=\"active\"": '' }}>
            <a href="{{ path(route) }}" {{ currentPath == route ? " class=\"active\"": '' }}>{{ display }}</a>
        </li>

        {% set route = 'account.profile_extra' %}
        {% set display = "account.more_info"|trans({}, "todotoday") %}
        <li {{ currentPath == route ? " class=\"active\"": '' }}>
            <a href="{{ path(route) }}" {{ currentPath == route ? " class=\"active\"": '' }}>{{ display }}</a>
        </li>

        {% set route = 'account.profile_payment' %}
        {% set display = "account.paiement_methods"|trans({}, "todotoday") %}
        <li {{ currentPath == route ? " class=\"active\"": '' }}>
            <a href="{{ path(route) }}" {{ currentPath == route ? " class=\"active\"": '' }}>{{ display }}</a>
        </li>

        {% set route = 'account.profile_option' %}
        {% set display = "account.preferences"|trans({}, "todotoday") %}
        <li {{ currentPath == route ? " class=\"active end-row\"": 'class=\"end-row\"' }}>
            <a href="{{ path(route) }}" {{ currentPath == route ? " class=\"active\"": '' }}>{{ display }}</a>
        </li>
        
        {% if is_granted('ROLE_MANAGE_CO_ADHERENT') and is_module_granted('Co-Adherent') %}
            {% set route = 'account.profile_co_adherent' %}
            {% set display = "account.manage_co_adherent"|trans({}, "todotoday") %}
            <li {{ currentPath == route ? " class=\"active\"": '' }}>
                <a href="{{ path(route) }}" {{ currentPath == route ? " class=\"active\"": '' }}>{{ display }}</a>
            </li>
        {% endif %}

        {# TODO A Reactiver quand le dev front pour afficher la conversation sera terminée#}
        {#{% if is_module_granted('chat') %}#}
            {#{% set route = 'account.profile_archived_conversation' %}#}
            {#{% set display = "account.profile_archived_conversation"|trans({}, "todotoday") %}#}
            {#<li {{ currentPath == route ? " class=\"active\"": '' }}>#}
                {#<a href="{{ path(route) }}" {{ currentPath == route ? " class=\"active\"": '' }}>{{ display }}</a>#}
            {#</li>#}
        {#{% endif %}#}

    </ul>
</nav>