{% extends ':account:layout.html.twig' %}
{% set sidetext = 'account.extra_info_disclaimer' %}
{% block profileContent %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}
    {{ form(form) }}
{% endblock %}

{% block profileMenu %}

    {% include 'account/menu.html.twig' %}
{% endblock %}
