{% extends ":default:rightsideWidth.html.twig" %}

{% block mainContent %}
    <div id="app">
        <section class="td-animation">
            <h1>{{ 'animation_index_title'|trans({}, 'todotoday') }}</h1>

            {% for message in app.session.flashbag.get('animation_unsubscribe_success') %}
                <div class="alert-success">
                    <p>
                        {{ message|trans({},'todotoday') }}
                    </p>
                </div>
            {% endfor %}

            <div class="">
                <div class="">
                    {% if animationsFront %}
                        {% for animationFront in animationsFront %}
                            <article id="8" class="td-animation-card grid-3">
                                <section class="card-image one-third"
                                         style="background-image: url('{% path animationFront.image,'big' %}');">
                                </section>
                                <div class="card-content two-thirds">
                                    <header class="">
                                        <h3 class="title">
                                            <a href="{{ path('categorie_index', {'codeAx': animationFront.animationcategory }) }}">{{ animationFront.titre }}</a>
                                            {% if animationFront.nbsessions > 0 %}
                                                <br>
                                                <small>{{ 'sessions_disponible' | trans({}, 'todotoday') }}
                                                    : {{ animationFront.nbsessions }}</small>

                                                {% if animationFront.sessions[0].price == 0 %}
                                                    <br>
                                                    <small>{{ 'animation.price_free' | trans({}, 'todotoday') }}</small>
                                                {% else %}
                                                    <br>
                                                    <small>{{ 'animation.price' | trans({}, 'todotoday') }}
                                                        : {{ animationFront.sessions[0].price }}</small>
                                                {% endif %}
                                            {% endif %}

                                        </h3>
                                    </header>
                                    <footer class="content margin-top">
                                        <p>{{ animationFront.content|markdown }}</p>
                                    </footer>
                                    {% if animationFront.nbsessions > 0 %}
                                        <div style="text-align: right;">
                                            <a href="{{ path('categorie_index', {'codeAx': animationFront.animationcategory }) }}"
                                               class="btn btn-blanc -align-right">{{ 'sessions_disponible' | trans({}, 'todotoday') }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </article>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="">
                    {#{% if animations %}#}
                    {#{% for animation in animations %}#}

                    {#<article class="td-animation-card" style="padding: 15px;">#}
                    {#<header class="grid-2">#}
                    {#<h3 class="title" style="margin-top: 5px; margin-bottom: 5px;">#}
                    {#{{ animation.apsAnimation1 }}<br>#}
                    {#<small>#}
                    {#{{ 'animation.price'|trans({},'todotoday') }} :#}
                    {#<strong>#}
                    {#{% if animation.price == 0 %}#}
                    {#{{ 'animation.price_free'|trans({},'todotoday') }}#}
                    {#{% else %}#}
                    {#{{ animation.price|localizedcurrency(animation.currency) }}#}
                    {#{% endif %}#}
                    {#</strong>#}
                    {#</small>#}
                    {#</h3>#}
                    {#<div class="action-footer"#}
                    {#style="padding-top: 8px; text-align: right; padding-right: 20px;">#}
                    {#{% if animation.register %}#}
                    {#<span class="alert-info alert-already-register">#}
                    {#{{ 'animation_already_register'|trans({},'todotoday') }}#}
                    {#</span>#}

                    {#<animation-cancellation-button#}
                    {#animation-id="{{ animation.apsAnimationid }}"#}
                    {#route-to-redirect="animation_index">#}
                    {#</animation-cancellation-button>#}

                    {#{% elseif animation.apsNbplacerestante == 0 %}#}
                    {#<span class="alert-info">#}
                    {#{{ 'animation.no_places_remaining'|trans({},'todotoday') }}#}
                    {#</span>#}
                    {#{% else %}#}
                    {#<a#}
                    {#{% if is_granted('ROLE_USER') and is_granted('ROLE_ANIMATION') %}#}
                    {#href="#"#}
                    {#@click.prevent="openConfirmationModal(#}
                    {#'{{ animation.apsAnimationid }}',#}
                    {#'{{ animation.apsAnimation1 }}',#}
                    {#'{{ animation.apsDbutestim | localizeddate('full', 'short', app.request.locale ) }}',#}
                    {#'{{ animation.apsFinestime | localizeddate('full', 'short', app.request.locale ) }}',#}
                    {#'{{ animation.price|localizedcurrency(animation.currency) }}',#}
                    {#'{{ animation.price }}'#}
                    {#)"#}
                    {#{% elseif not is_granted('ROLE_USER') %}#}
                    {#href="{{ path('fos_user_security_login') }}"#}
                    {#{% else %}#}
                    {#disabled="disabled"#}
                    {#{% endif %}#}
                    {#class="btn btn-action mdi mdi-account-check">#}
                    {#{{ 'animation_registration'|trans({},'todotoday') }}#}
                    {#</a>#}
                    {#{% endif %}#}
                    {#</div>#}

                    {#</header>#}
                    {#<footer class="grid has-gutter-l">#}
                    {#<section class="content-event">#}

                    {#{{ 'animation_start_date'|trans({},'todotoday') }} :#}
                    {#<span><i class="mdi mdi-calendar"></i>&nbsp;{{ animation.apsDbutestim | localizeddate('full', 'none', app.request.locale ) }} </span>#}
                    {#<span><i class="mdi mdi-clock"></i>&nbsp;{{ animation.apsDbutestim | localizeddate('none', 'short', app.request.locale ) }} </span>#}
                    {#<br>#}
                    {#{{ 'animation_end_date'|trans({},'todotoday') }} :#}
                    {#<span><i class="mdi mdi-calendar"></i>&nbsp;{{ animation.apsFinestime | localizeddate('full', 'none', app.request.locale ) }} </span>#}
                    {#<span><i class="mdi mdi-clock"></i>&nbsp;{{ animation.apsFinestime | localizeddate('none', 'short', app.request.locale ) }} </span>#}

                    {#</section>#}
                    {#<section class="content-event">#}

                    {#<i class="mdi mdi-account-multiple"></i>#}
                    {#{{ 'animation_participant'|trans({},'todotoday') }}&nbsp;:#}
                    {#{{ animation.apsNombredeparticipants }}#}
                    {#<br>#}
                    {#<i class="mdi mdi-ticket-account"></i>#}
                    {#{{ 'animation_slot_remaining'|trans({},'todotoday') }}&nbsp;:#}
                    {#{{ animation.apsNbplacerestante }}#}

                    {#</section>#}

                    {#</footer>#}
                    {#<animation-confirmation-modal :confirmation-modal-visible="confirmationModalVisible"#}
                    {#:animation-id="id"#}
                    {#:animation-title="title"#}
                    {#:start-date-time="start"#}
                    {#:end-date-time="end"#}
                    {#:price="price"#}
                    {#:price-without-currency="priceWithoutCurrency"#}
                    {#:token="token"#}
                    {#@updatetoken="token = $event"#}
                    {#@updatemodalvisible="confirmationModalVisible = $event">#}

                    {#{% if form is defined %}#}
                    {#<div slot="payment-area" v-if="!animationIsFree">#}
                    {#{{ form_row(form) }}#}
                    {#<stripe v-model="token"#}
                    {#public_key="{{ get_publishable_key() }}"></stripe>#}
                    {#</div>#}
                    {#{% endif %}#}

                    {#</animation-confirmation-modal>#}
                    {#</article>#}




                    {#{% endfor %}#}
                    {#{% else %}#}
                    {#{% endif %}#}
                </div>


            </div>
        </section>


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# The file animation.js is imported in AnimationController->indexAction #}
{% endblock %}