{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div class="text-center">
        {% if object.type is same as('comment') %}
            {% if admin.commentRepo.count({'id':object.relatedId}) > 0 %}
            <a disabled href="{{ admin.generateUrl('comment', {'id' : object.relatedId}) }}">
                <button type="button" class="btn btn-primary">
                    {{ 'see_messages'|transchoice(1,{},'messages')  }}
                </button>
            </a>
            {% else %}
                <button disabled type="button" class="btn btn-primary">
                    {{ 'see_messages'|transchoice(0,{},'messages')  }}
                </button>
            {% endif %}

        {% elseif object.type is same as('group') %}
            {% if admin.groupRepo.count({'id':object.relatedId}) > 0 %}
            <a href="{{ admin.generateUrl('group', {'id' : object.relatedId}) }}">
                <button type="button" class="btn btn-primary">
                    {{ 'see_groups'|transchoice(1,{},'messages')  }}
                </button>
            </a>
            {% else %}
                <button disabled type="button" class="btn btn-primary">
                    {{ 'see_groups'|transchoice(0,{},'messages')  }}
                </button>
            {% endif %}
        {% elseif object.type is same as('event') %}
            {% if admin.eventRepo.count({'id':object.relatedId}) > 0 %}
            <a href="{{ admin.generateUrl('event', {'id' : object.relatedId}) }}">
                <button type="button" class="btn btn-primary">
                    {{ 'see_events'|transchoice(1,{},'messages')  }}
                </button>
            </a>
            {% else %}
                <button disabled type="button" class="btn btn-primary">
                    {{ 'see_events'|transchoice(0,{},'messages')  }}
                </button>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
