{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div class="text-center">
        {{ ('admin_notification_type_' ~ object.type)|trans({},'messages')  }}
    </div>
{% endblock %}
