<div class="navigation pagination-centered">
    {% if item.nbPage > 1 %}
    <div class="pagination">
        {% if item.page > 1 %}
            <span class="first">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : 1})) }}"><i class="mdi mdi-chevron-double-left"></i></a>
            </span>
        {% else %}
            {# <span class="first no-link">
                <i class="mdi mdi-chevron-double-left"></i>
            </span> #}
        {% endif %}
        {% if item.page > 1 %}
            <span class="previous">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : item.page - 1})) }}"><i class="mdi mdi-chevron-left"></i></a>
            </span>
        {% else %}
            {# <span class="previous no-link">
                <i class="mdi mdi-chevron-left"></i>
            </span> #}
        {% endif %}

        {% if item.page > (item.nbSideDisplayPage + 1) %}
            <span class="page">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : 1})) }}">1</a>
            </span>
        {% endif %}

        {% if item.page == (item.nbSideDisplayPage + 3) %}
            <span class="page">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : 2})) }}">2</a>
            </span>
        {% elseif item.page > (item.nbSideDisplayPage + 3) %}
            <span class="page no-link">
                …
            </span>
        {% endif %}

        {% for iteration in (item.firstDisplayPage)..(item.lastDisplayPage) %}
            {% if iteration == item.page %}
                <span class="current no-link">
                    {{ iteration }}
                </span>
            {% else %}
                <span class="page">
                    <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : iteration})) }}">{{ iteration }}</a>
                </span>
            {% endif %}
        {% endfor %}

        {% if item.page == (item.nbPage - item.nbSideDisplayPage - 2) %}
            <span class="page">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : item.nbPage - 1})) }}">{{ item.nbPage - 1 }}</a>
            </span>
        {% elseif item.page < (item.nbPage - item.nbSideDisplayPage - 2) %}
            <span class="page no-link">
                …
            </span>
        {% endif %}

        {% if item.page < (item.nbPage - item.nbSideDisplayPage) %}
            <span class="page">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : item.nbPage})) }}">{{ item.nbPage }}</a>
            </span>
        {% endif %}

        {% if item.page < item.nbPage %}
            <span class="next">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : item.page + 1})) }}">
                    <i class="mdi mdi-chevron-right"></i>
                </a>
            </span>
        {% else %}
            {# <span class="next no-link">
                <i class="mdi mdi-chevron-right"></i>
            </span> #}
        {% endif %}

        {% if item.page < item.nbPage %}
            <span class="last">
                <a href="{{ path(item.route, item.routeParams|merge({(item.pageField) : item.nbPage })) }}">
                    <i class="mdi mdi-chevron-double-right"></i>
                </a>
            </span>
        {% else %}
            {# <span class="last no-link">
                <i class="mdi mdi-chevron-double-right"></i>
            </span> #}
        {% endif %}
    </div>
    {% endif %}
</div>