{% trans_default_domain 'FOSUserBundle' %}
{% extends ":default:fullWidth.html.twig" %}
{% block mainContent_noclass %}
    <section class="fw-content fw-content-bgi">
        <div class="td-wf-box td-wf-box-sm">
            <header class="td-wf-box-header text-center">
                <h2>{{ 'account.edit_password'|trans({}, "todotoday") }}</h2>
                {#<p>{{ 'signin.password_disclaimer_additional'|trans({}, "todotoday") }}</p>#}
            </header>
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans }}"/>
            </div>
            {{ form_end(form) }}
            {{ include(":default:contactDisclaimer.html.twig") }}
        </div>
    </section>
{% endblock %}
