/**
 Mixin pour les mediaQueries
 */
 @mixin smallmobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}
 @mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin tablet-desktop {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin belowdesktop {
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
@mixin largedesktop {
    @media (min-width: #{$largedesktop-width}) {
        @content;
    }
}

@mixin target($marg){
    &:before{
        content: '';
        display: block;
        height: calc(96px - #{$marg});
        margin: calc( (96px - #{$marg}) * -1 ) 0 0;
    }
}

@mixin aspect-ratio($width, $height) {
    &::before {
      content: "";
      float: left;
      padding-bottom: ($height / $width) * 100%;
    }
    &::after {
      clear: left;
      content: " ";
      display: table;
    }
  }