$main-color: #314F9C;
$accent-color: #F36F20;
// $alert-color: #cc0a22;
$alert-color: darken(#F36F20, 5%);
$alert-error-color: rgba(#FF2D55, .2);
$alert-error-border-color: rgba(#FF2D55, .5);

$highlight-color: #fff19c;

$dark-grey: #444444;
$light-grey: #848484;

$mobile-width: 544px;
$tablet-width: 768px;
$desktop-width: 1024px;
$largedesktop-width: 1200px;

$ft-roboto: Roboto, helvetica, arial, sans-serif;
$ft-poppins: Poppins, Avenir, Futura, sans-serif;
$ft-mdi: "Material Design Icons";

$tdtd-background-url: '../../public/images/fond-workflow.jpg';

/**
    Import des polices
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');