{% extends 'TodotodayCoreBundle:Admin:standard_layout.html.twig' %}

{% block sonata_admin_content %}
    {{ parent() }}

    <h1>{{ 'label_catalog_status'|trans({},'messages') }}</h1>
    <br />

    <div class="col-md-6">
        <div class="cms-block cms-block-element">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'catalog.status.title'|trans({},'todotoday') }}</h3>
                </div>
                <div class="box-body">
                    <div>
                        {{ 'catalog.status.description'|trans({},'todotoday')|nl2br }}
                        <br />
                    </div>
                </div>
                <div class="box-footer"> 
                    <form id="synchronizeForm" action="{{ path('admin_todotoday_catalog_status_refresh_images') }}" method="post">
                        <label for="synchronizeDate">
                            {{ 'catalog.status.date_label'|trans({},'todotoday') }}
                        </label>
                        <div class="input-group">
                            <div class="input-group date" id="synchronizeDateGroup">
                                <input type="text" readonly id="synchronizeDate" name="date" class="sonata-medium-date form-control" data-date-format="YYYY-MM-DD" />
                                <span class="input-group-addon"><span class="fa-calendar fa"></span></span>
                            </div>
                        </div>
                        <br />
                        <button type="submit" id="synchronizeBtn" class="btn btn-primary synchronize-btn" disabled>
                            <img id="synchronizeLoader" src="{{ asset('bundles/sonataadmin/ajax-loader.gif') }}" style="vertical-align: middle; margin-right: 10px; display: none;"/>
                            {{ 'catalog.status.refresh_images.btn'|trans({},'todotoday') }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script defer>

            jQuery(function ($) {
                var dateGroup = $('#synchronizeDateGroup');
                dateGroup.datetimepicker({
                    "pickTime":false,
                    "pickDate":true,
                    "useCurrent":true,
                    "minDate":"1\/1\/1900",
                    "maxDate":null,
                    "showToday":true,
                    "language":"fr",
                    "defaultDate":"",
                    "disabledDates":[],
                    "enabledDates":[],
                    "icons":{"time":"fa fa-clock-o","date":"fa fa-calendar","up":"fa fa-chevron-up","down":"fa fa-chevron-down"},
                    "useStrict":false,
                    "sideBySide":false,
                    "daysOfWeekDisabled":[],
                    "collapse":true,
                    "calendarWeeks":false,
                    "viewMode":"days",
                    "minViewMode":"days",
                    "useSeconds":false
                });

                dateGroup.on("dp.change", function (e) {
                    $('#synchronizeBtn').removeAttr('disabled');
                });

                $('#synchronizeBtn').on('click', function () {
                    $('#synchronizeLoader').show();
                });
            });
        
    </script>

    
{% endblock %}