{% extends 'TodotodayCoreBundle:Admin:standard_layout.html.twig' %}

{% block sonata_breadcrumb %}
    <div class="navbar-left">
        <div class="hidden-xs">
            <ol class="nav navbar-top-links breadcrumb">
                <li>
                    <a href="{{ path('admin_todotoday_account_adherent_list') }}">{{ 'Adherent List'|trans({},'messages') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_todotoday_account_adherent_edit',{'id': adherent.id}) }}">
                        {{ adherent.fullName}}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin.agency_operation',{'id': adherent.id}) }}">
                        {{ 'label_operation'|trans({},'messages') }}
                    </a>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block sonata_admin_content %}
    {% for label, messages in app.flashes(['success', 'error']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}