{% extends 'TodotodayAccountBundle:Admin/Adherent:adherent_operation_header.html.twig' %}

{% block sonata_admin_content %}
    {{ parent() }}
    <h1>{{ adherent.fullName }}</h1>
    <div class="btn-group">
        <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {{ 'label_operation'|trans({},'messages') }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for status,label in paymentStatus %}
                <li>
                    <a href="{{ path('adherent.admin.operation.update_payment_status', {'id': adherent.id, 'status': status}) }}">
                        {% set labelMenu = 'payment-status-update-to-' ~ label %}
                        {{ labelMenu|trans({},'messages') }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr class="sonata-ba-view-container">
                        <th>Id</th>
                        <td>{{ adherent.id }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'Username'|trans({},'messages') }}</th>
                        <td>{{ adherent.username }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'Customer Account'|trans({},'messages') }}</th>
                        <td>{{ adherent.customerAccount }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'Created At'|trans({},'messages') }}</th>
                        <td>{{ adherent.createdAt|localizeddate }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'Updated At'|trans({},'messages') }}</th>
                        <td>{{ adherent.updatedAt|localizeddate }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'Link Agencies'|trans({},'messages') }}</th>
                        <td>
                            <ul>
                                {% for agency in adherent.linkAgencies %}
                                    <li>{{ agency }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'Adhérents actifs'|trans({},'messages') }}</th>
                        <td>{% include('@SonataAdmin/CRUD/display_boolean.html.twig') with {value: adherent.enabled} %}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'Is Password Set'|trans({},'messages') }}</th>
                        <td>{% include('@SonataAdmin/CRUD/display_boolean.html.twig') with {value: adherent.passwordSet} %}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'Is Registration Complete'|trans({},'messages') }}</th>
                        <td>{% include('@SonataAdmin/CRUD/display_boolean.html.twig') with {value: adherent.registrationComplete} %}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'Last Login'|trans({},'messages') }}</th>
                        <td>{{ adherent.lastLogin|localizeddate }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'Moyen de paiement choisi'|trans({},'messages') }}</th>
                        <td>{{ adherent.paymentTypeSelectedString }}</td>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        <th>{{ 'Statut du moyen de paiement'|trans({},'messages') }}</th>
                        <td>{{ adherent.paymentMethodStatusString }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}