{% block stripe_row %}
    {{ add_extra(block('stripe_template')) }}
    {% if not form.vars.as_component %}
        <div id="stripe" class="{{ form.vars.stripe_class }}">
            <stripe public_key="{{ get_publishable_key() }}"
                    v-model="token">
            </stripe>
        </div>
    {% endif %}
{% endblock stripe_row %}

{% block stripe_label %}

{% endblock stripe_label %}

{% block stripe_widget %}
    {{ form_widget(form) }}
{% endblock stripe_widget %}

{% block stripe_errors %}
{% endblock stripe_errors %}

{% block stripe_template %}
    <script id="stripe-template" type="text/x-template">
        <div>
            {% set fields_required = (form.vars.fields_required) ? 'required="required"' : '' %}

            {{ form_label(form) }}
            {{ form_errors(form) }}
            <transition name="fade">
                <div v-if="cardCreated === false">
                    {#{% if form.vars.value and form.vars.value.stripeCardId and form.vars.value.stripeCustomerId %}#}
                        {#<p>{{ "card.already_added"|trans({}, "todotoday") }}</p>#}
                    {#{% endif %}#}
                    <div v-if="messageError" class="td-wf-box-error">
                        ${messageError}
                    </div>
                    <div class="card-showcase">
                        <div class="card-showcase-number">${ formatedNumber }</div>
                        <div class="card-showcase-brand"><i class="demo-icon" :class="cardTypeSelector"></i></div>
                        <div class="card-showcase-expiration">${ formatedMonth } / ${ formatedYear }</div>
                        <div class="card-showcase-powered"><a href="https://stripe.com/" target="_blank">{{ "stripe.secured_by"|trans({}, "todotoday") }}<i
                                        class="demo-icon p-stripe"></i></a></div>
                    </div>
                    <div class="card-input-holder">
                        <div class="form-row">
                            <label for="card-number">{{ "number"|trans({}, "todotoday") }}</label>
                            <input id="card-number" class="full-width" type="text" v-model="number"
                                   {{ fields_required }}>
                        </div>
                        <div class="grid has-gutter">
                            <div class="form-row">
                                <label for="card-month">{{ "month"|trans({}, "todotoday") }}</label>
                                <input id="card-month" class="full-width" type="text" v-model="month"
                                        {{ fields_required }}>
                            </div>
                            <div class="form-row">
                                <label for="card-year">{{ "year"|trans({}, "todotoday") }}</label>
                                <input id="card-year" class="full-width" type="text" v-model="year"
                                        {{ fields_required }}>
                            </div>
                            <div class="form-row">
                                <label for="card-cvc">{{ "cvc"|trans({}, "todotoday") }}</label>
                                <input id="card-cvc" class="full-width" type="text" v-model="cvc"
                                        {{ fields_required }}>
                            </div>
                        </div>
                        <div class="btn-row text-right">
                            <button type="button" class="btn btn-action mdi mdi-credit-card-plus"
                                    @click="createCard()">
                                {{ "card.add"|trans({}, "todotoday") }}
                            </button>
                        </div>
                    </div>
                </div>
                <div v-else-if="cardCreated === null">
                    <div class="cart-loader text-center">
                        <div class="dotted-loader dotted-loader-black"></div>
                        <h4>{{ "card.loading_disclaimer"|trans({}, "todotoday") }}</h4>
                    </div>
                </div>
                <div v-else>
                    <h3>{{ "stripe.secured_by"|trans({}, "todotoday") }}</h3>
                    <div class="card-showcase">
                        <div class="card-showcase-number">${ formatedNumber }</div>
                        <div class="card-showcase-brand"><i class="demo-icon" :class="cardTypeSelector"></i></div>
                        <div class="card-showcase-expiration">${ formatedMonth } / ${ formatedYear }</div>
                        <div class="card-showcase-powered"><a href="https://stripe.com/" target="_blank">{{ "stripe.secured_by"|trans({}, "todotoday") }}<i
                                        class="demo-icon p-stripe"></i></a></div>
                    </div>
                    <p>{{ form.vars.card_save_message_success|trans({}, "todotoday") }}</p>
                    {{ form_widget(form) }}
                </div>
            </transition>
        </div>
    </script>
{% endblock stripe_template %}