{% extends '@SonataAdmin/Core/dashboard.html.twig' %}

{% block javascripts_footer %}
    {{ parent() }}
    <script src="{{ asset('build/latestPost.js') }}"></script>
    <script src="{{ asset('build/postsToValidate.js') }}"></script>
{% endblock javascripts_footer %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/latestPost.css') }}" rel="stylesheet" />
    <link href="{{ asset('build/postsToValidate.css') }}" rel="stylesheet" />
{% endblock %}
