{#<a class="btn btn-sm" href="#">#}
<a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('operation', object) }}">
    <i class="fa fa-cog" aria-hidden="true"></i>
    Operations
</a>