{% extends sonata_block.templates.block_base %}

{% block block %}
    <div id="getJwtToken" token="{{ getJwt() }}"></div>
    <div id="parameters" scheme="{{ scheme }}"></div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-pencil"></i>
                {{ 'latest_post_published'|trans({},'messages') }}
            </h3>
        </div>
        <div class="box-body">
            <div id="latest-posts" data-token="{{ getJwt() }}"></div>
        </div>
        <div class="box-footer">
            <a href="{{ path('admin_todotoday_cms_linkpostagency_list') }}"
               class="btn btn-primary btn-block"><i class="fa fa-list"></i>
                {{ 'view_all'|trans({},'messages') }}
            </a>
        </div>
    </div>
{% endblock %}
