{% extends sonata_block.templates.block_base %}

{% block block %}
    <div id="getJwtToken" token="{{ getJwt() }}"></div>
    <div id="parameters" scheme="{{ scheme }}"></div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-pencil"></i>
                {{ 'post_to_validate'|trans({},'messages') }}
            </h3>
        </div>
        <div class="box-body">
            <div id="posts-to-validate" data-token="{{ getJwt() }}"></div>
        </div>
    </div>
{% endblock %}
