<template>

    <div>
        <span class="back-button" @click="$emit('click')">
            <i class="mdi mdi-chevron-left"></i>
            {{ 'social.general.back' | $t }}
        </span>
    </div>

</template>

<script>
  import translation from './../../../../filters/translation'

  export default {
    name: 'ACTBackButton',
  }
</script>