<template>

    <div v-if="numberEmailsFailed > 0">

        <div class="btn-toggle-show-errors">
            <div v-show="showErrors" @click="setShowErrors(false)">
                <i class="mdi mdi-chevron-up"></i>
                <small>{{ 'social.emails_errors_list.hide' | $t }}</small>
            </div>

            <div v-show="!showErrors" @click="setShowErrors(true)">
                <i class="mdi mdi-chevron-down"></i>
                <small>{{ 'social.emails_errors_list.show' | $t }}</small>
            </div>
        </div>

        <transition name="slide-fade-top">
            <div v-show="showErrors">
                <div v-if="hasOnlyOneEmailFailed">
                    {{ 'social.invited.emails.failed.one' | $t }}
                </div>
                <div v-else-if="hasMoreThanOneEmailFailed">
                    {{ 'social.invited.emails.failed.many' | $t({'%number_email%': numberEmailsFailed}) }}
                </div>

                <message v-for="(errors, email) in emailsFailed"
                         :key="email"
                         :is-visible="true"
                         type="error">

                    <span class="email-failed-title">{{ email }} :</span>

                    <div v-if="Array.isArray(errors)">
                        <div v-for="(error, index) in errors"
                             class="email-errors-description"
                             :key="index">
                            <small>{{ error }}</small>
                        </div>
                    </div>

                    <div v-else-if="typeof errors === 'string'">
                        <div class="email-errors-description">
                            <small>{{ errors }}</small>
                        </div>
                    </div>

                </message>
            </div>
        </transition>
    </div>

</template>

<script>
  import translation from './../../../../filters/translation'
  import Message from './../../../../components/base/ACTMessage.vue'

  export default {

    name: 'ACTErrorAddEmail',

    components: {
      'message': Message
    },

    props: {
      emailsFailed: {type: Object, required: true},
      showErrors: {type: Boolean, default: true},
    },

    computed: {
      numberEmailsFailed() {
        return Object.keys(this.emailsFailed).length
      },
      hasOnlyOneEmailFailed() {
        return this.numberEmailsFailed === 1
      },
      hasMoreThanOneEmailFailed() {
        return this.numberEmailsFailed > 1
      }
    },

    methods: {
      setShowErrors(showErrors) {
        this.$emit('showerrorsupdate', showErrors)
      }
    }
  }
</script>