<template>
    <div>
        <div v-if="(status != 'joined' && status != 'muted' && status != 'banned') || status == 'invited'">

            <button v-if="status == 'invited'"
                    @click="acceptInvit"
                    class="btn btn-action mdi mdi-account-check">
                {{ 'social.accept_invit' | $t}}
            </button>

            <button v-else
                    @click="join"
                    class="btn btn-action mdi mdi-account-check">
                <template v-if="isGroup">{{ 'social.join_group' | $t }}</template>
                <template v-else-if="isEvent">{{ 'social.join_event_short' | $t }}</template>
            </button>
        </div>

        <p v-else-if="status === 'joined' || status === 'muted'">
            <i class="mdi mdi-check-circle"></i>
            <small>{{ 'social.participating' | $t }}</small>
        </p>

    </div>

</template>

<script>
  import translation from './../../../../filters/translation'
  import Api from '../../../../manager/apiManager'
  import eventHub from './../../../../events/eventHub'

  export default {

    name: 'ACTGroupStatusAction',

    props: {
      id: {type: Number, required: true},
      discr: {type: String, required: true},
      status: {type: String},
    },

    computed: {
      isGroup() {
        return this.discr === 'group'
      },
      isEvent() {
        return this.discr === 'event'
      },
    },

    methods: {
      acceptInvit () {
        Api.api_post('/social/' + this.id + '/action/accepted')
          .then((responce) => {
            this.sendGlobalEventGroupJoined()
          }).catch((error) => {
          console.log('API error : ', error)
        })
      },
      join () {
        Api.api_post('/social/' + this.id + '/action/joined')
          .then(response => {
            this.sendGlobalEventGroupJoined()
          }).catch((error) => {
          console.log('API error : ', error)
        })
      },
      sendGlobalEventGroupJoined() {
        eventHub.$emit('hasjoinedgroup', this.id)
      }
    },
  }
</script>