<template>
    <div>

        <message :is-visible="hasAdherentsAdded" type="success">
            <small>
                <template v-if="numberAdherentsAdded === 1">{{ 'social.group.invited.resume.adherent.one' | $t }}
                </template>
                <template v-else>
                    {{ 'social.group.invited.resume.adherent.many' | $t({'%number_adherents%': numberAdherentsAdded}) }}
                </template>
                :
            </small>

            <div class="list-emails-added">
                <div v-for="adherentAdded in adherentsAdded" class="email-added">
                    <small>{{ adherentAdded }}</small>
                </div>
            </div>
        </message>

        <message :is-visible="hasAdherentsExceptions" type="warning">
            <small>
                <template v-if="numberAdherentsExceptions === 1">
                    {{ 'social.group.invited.resume.adherentexceptions.one' | $t}}
                </template>
                <template v-else>
                    {{ 'social.group.invited.resume.adherentexceptions.many' | $t({'%number_adherents%': numberAdherentsExceptions})}}
                </template>
            </small>
        </message>

    </div>
</template>

<script>
  import translation from './../../../../filters/translation'
  import Message from './../../../../components/base/ACTMessage.vue'

  export default {

    name: 'ACTErrorAddEmail',

    components: {
      'message': Message
    },

    props: {
      emails: {type: Object, required: true},
    },

    computed: {
      hasAdherentsAdded() {// Adherents added
        return this.emails && this.emails.hasOwnProperty('adherents')
          && Array.isArray(this.emails.adherents)
          && this.emails.adherents.length > 0
      },
      hasAdherentsExceptions() {// Adherents not added because of exception
        return this.emails && this.emails.hasOwnProperty('exception')
          && Object.keys(this.emails['exception']).length > 0
      },
      numberAdherentsAdded() {
        return (this.hasAdherentsAdded) ? this.emails.adherents.length : 0
      },
      numberAdherentsExceptions() {
        return (this.hasAdherentsExceptions) ? Object.keys(this.emails['exception']).length : 0
      },
      adherentsAdded() {
        return (this.hasAdherentsAdded) ? this.emails.adherents : []
      },
    },
  }
</script>