{% extends ":checkout:checkout_success.html.twig" %}

{% block ga %}
    gtag('event', 'checkout_success', {
    'type': 'animation',
    });
{% endblock %}
{% block command %}
    <h2>{{ 'animation.registration_success_to' | trans({}, 'todotoday') }}&nbsp;{{ animationName }}</h2>

    <ul>
        <li>{{ 'animation_start_date'|trans({},'todotoday') }} :
            <span><i class="mdi mdi-calendar"></i>&nbsp;{{ animationStartDate | localizeddate('full', 'none', app.request.locale ) }} </span>
            <span><i class="mdi mdi-clock"></i>&nbsp;{{ animationStartDate | localizeddate('none', 'short', app.request.locale ) }} </span>
        </li>
        <li>{{ 'animation_end_date'|trans({},'todotoday') }} :
            <span><i class="mdi mdi-calendar"></i>&nbsp;{{ animationEndDate | localizeddate('full', 'none', app.request.locale ) }} </span>
            <span><i class="mdi mdi-clock"></i>&nbsp;{{ animationEndDate | localizeddate('none', 'short', app.request.locale ) }} </span>
        </li>

        <li>
            {{ 'animation.price'|trans({},'todotoday') }} :
            <strong>
                {% if animationPrice == 0 %}
                    {{ 'animation.price_free'|trans({},'todotoday') }}
                {% else %}
                    {{ animationPrice|localizedcurrency(currency) }}
                {% endif %}
            </strong>
        </li>
    </ul>
{% endblock %}
