{% extends ":checkout:checkout_success.html.twig" %}
{% block ga %}
    gtag('event', 'checkout_success', {
    'type': 'quotation',
    'product': '{{ product.nameTrans }}'
    'product_family': '{{ productFamily }}',
    });
{% endblock %}
{% block command %}
    <h2>
        {{ 'quotation.confirmation_request_for_quotation'|trans({}, "todotoday") }}
    </h2>

    <h3>
        {{ 'quotation.quotation_reference' | trans({}, 'todotoday') }}&nbsp;:&nbsp;
        {{ salesOrderHeader.salesOrderNumber }}
    </h3>

    <p>
        {{ 'quotation.popup_confirm_message'|trans({}, "todotoday") }}
        {{ 'checkout.concierge_answer_shortly'|trans({}, "todotoday") }}
    </p>

    <ul>
        <li>{{ product.nameTrans }}</li>
        <li>{{ 'catalog.family'|trans({}, "todotoday") }}&nbsp;:&nbsp;{{ productFamily }}</li>
    </ul>
{% endblock %}




