{% extends ":checkout:checkout_success.html.twig" %}
{% block ga %}
    gtag('event', 'checkout_success', {
    'type': 'booking',
    'service': '{{ serviceName }}',
    'value': '{{ serviceAmount }}',
    });
{% endblock %}
{% block command %}
    <h2>{{ 'command' | trans({}, 'todotoday') }} : {{ order }}</h2>
    <ul>
        <li><strong>{{ serviceName }}</strong></li>
        <li><strong>{{ 'date'|trans({}, "todotoday") }}&nbsp;:&nbsp;</strong>{{ serviceDate }}</li>
        <li>
            <strong>{{ 'duration'|trans({}, "todotoday") }}&nbsp;:</strong>
            {{ serviceDuration }}
            {{ 'minutes_short'|trans({}, "todotoday") }}
        </li>
        <li><strong>{{ 'amout'|trans({}, "todotoday") }}&nbsp;:&nbsp;</strong>{{ serviceAmount }}</li>
    </ul>

    <br>

    <div id="app-notify">
        <booking-notify-wish-slot
                service-name="{{ serviceName }}"
                service-id="{{ serviceId }}"
                order-id="{{ order }}"
                service-length="{{ serviceDuration }}">

            <span slot="question-label">
                {{ ' booking.success.no_interesting_booking'|trans({}, "todotoday") }}
            </span>

            <span slot="activator-button-label">
                {{ 'booking.success.notify_concierge'|trans({}, "todotoday") }}
            </span>

        </booking-notify-wish-slot>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/bundles/checkout_booking_success.js') }}"></script>
{% endblock %}