{% extends ":default:fullWidth.html.twig" %}
{% block mainContent_noclass %}

    <header class="td-wf-box-xl td-cart-header">
        <h2>
            <small>{{ 'step' | trans({}, 'todotoday') }} {{ flow.currentStepNumber }}/{{ flow.stepCount }}</small>
            {{ "cart.header_digest"|trans({}, "todotoday") }}</h2>
        <nav>
            {% use ':checkout:stepList_blocks.html.twig' %}
            {%- if flow.getStepLabels() is not empty -%}
                <ol class="craue_formflow_steplist">
                    <li class="craue_formflow_done_step">
                        {# FIXME : CSS a modifier #}
                        <a href="{{ path('todotoday_cart_cart_index') }}"
                           style="line-height: 2.2em;">{{ "cart.title"|trans({}, "todotoday") }}</a>
                    </li>
                    {% for stepLabel in flow.getStepLabels() %}
                        <li{{ block('craue_flow_stepList_class') }}>
                            <i class="mdi mdi-chevron-right"></i>
                            {%- if craue_isStepLinkable(flow, loop.index) -%}
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all
                                    | merge(app.request.attributes.get('_route_params'))
                                    | craue_addDynamicStepNavigationParameters(flow, loop.index)) }}">
                                    {{- block('craue_flow_stepLabel') -}}
                                </a>
                            {%- else -%}
                                {{ block('craue_flow_stepLabel') }}
                            {%- endif -%}
                        </li>
                    {% endfor %}
                </ol>
            {%- endif -%}
        </nav>
    </header>
    <section class="td-wf-box td-wf-box-xl td-cart
        {% if flow.currentStepLabel == 'cart.ariane_delivery' or flow.currentStepLabel == 'cart.ariane_deposit' %}
            td-deliverylist
        {% endif %}">
        {% if flow.currentStepLabel == 'cart.ariane_deposit' %}
            <div>
                {{ 'checkout.depository.list_product'|trans({},'todotoday') }} :
                {% for product in flow.formData.cartProducts %}
                    {% if product.depositoryNeeded %}
                        <ul>
                            {{ product.productName }} ({{ 'quantity'|trans({},'todotoday') }} {{ product.quantity }})
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
            {% set contentBags = makeDepositoryContent() %}
            <div id="content-bag" style="display:none;">
                {% for bag in contentBags %}
                    <div class="alert-info">
                        <p>
                            {{ 'checkout.deposit_bag'|trans({},'todotoday') }}
                        </p>
                        <ul>
                            {% for content in bag.cartProducts %}
                                <li>{{ content.productName }} ({{ 'quantity'|trans({},'todotoday') }} {{ content.quantity }})</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {{ form_start(form) }}
        {#             {% if flow.currentStepNumber == 1 %}
                        <div>
                            {{ form_row(form.depository) }}
                        </div>
                    {% endif %}

                    {% if flow.currentStepNumber == 1 %}
                        <div>
                            {{ form_row(form.depository) }}
                        </div>
                    {% endif %} #}

        {% if flow.currentStepLabel == 'cart.ariane_validation' %}
            <ul class="td-cart-list">
                {% for product in flow.formData.cartProducts %}
                    {% set targetCurrency = product.currency %}
                    <li class="td-cart-list-item">
                        <div class="td-cart-list-product">
                            <h3>{{ product.productName }}</h3>
                            {% if displayPriceExclTaxes %}
                                <span>
                                        {{ "cart.unitary_price"|trans({'%price%': product.productPriceExclTax | localizedcurrency(targetCurrency) }, "todotoday") }}
                                </span>
                           {% else %}
                               <span>
                                    {{ "cart.unitary_price"|trans({'%price%': product.productPrice | localizedcurrency(targetCurrency) }, "todotoday") }}
                                </span>
                           {% endif %}
                            <br>
                            <span>
                                    {{ 'cart.ariane_comments'|trans({}, 'todotoday') }} : {{ product.comment }}
                            </span>
                            {% if product.delivery != flow.formData.delivery %}
                                <br>
                                <span>
                                    {{ 'cart.ariane_delivery'|trans({}, 'todotoday') }}
                                    : {{ ('checkout.delivery_' ~ product.delivery) |trans({}, "todotoday") }}
                                </span>
                            {% endif %}
                        </div>
                        <span class="td-cart-list-prix" style="font-weight: 400">
                            {{ product.quantity }}
                            <i class="mdi mdi-close"></i>
                            {% if displayPriceExclTaxes %}
                                {{ ( product.quantity * product.productPriceExclTax ) | localizedcurrency(targetCurrency) }}
                            {% else %}
                                {{ ( product.quantity * product.productPrice ) | localizedcurrency(targetCurrency) }}
                            {% endif %}
                            </span>
                        {# {{ product.productName }} / {{ product.quantity }} / {{ product.productPrice }} #}
                    </li>
                {% endfor %}
                <li class="td-cart-list-item grid-2-small-1">
                    <div class="td-cart-list-update one-third">
                        {#<a href="{{ path('todotoday_cart_cart_emptycart') }}">{{ "cart.empty_cart"|trans({}, "todotoday") }}</a>#}
                    </div>
                    <div class="td-cart-list-info text-right two-thirds">
                        {% set targetCurrency = flow.formData.cartProducts[0].currency %}
                        {% if displayPriceExclTaxes %}
                            <p><span><strong>{{ "cart.total.excluding.taxes"|trans({'%price%': flow.formData.totalAmountExclTax | localizedcurrency(targetCurrency) }, "todotoday") }}</strong></span></p>
                            <p><span><strong>{{ "cart.total.including.taxes"|trans({'%price%': flow.formData.totalAmount | localizedcurrency(targetCurrency) }, "todotoday") }}</strong></span></p>
                        {% else %}
                            <p><span><strong>{{ "cart.total"|trans({'%price%': flow.formData.totalAmount | localizedcurrency(targetCurrency) }, "todotoday") }}</strong></span></p>
                        {% endif %}
                        <p><strong>{{ 'account.paiement_methods'|trans({}, 'todotoday') }}
                                : </strong>{{ flow.formData.payment  | trans({}, "todotoday") }}
                        </p>
                    </div>
                </li>
            </ul>
            <span class="td-cart-list-item grid-2-small-1 has-gutter">
                    <div class="td-cart-list-update">
                        {% if flow.formData.DepositoryNeeded and flow.formData.depositoryComment %}
                            <p>
                            {% set radical = 'checkout.delivery_' ~ flow.formData.depository %}
                                <strong>{{ 'cart.ariane_deposit'|trans({}, 'todotoday') }}
                                    : </strong>{{ (radical) | trans({}, "todotoday") }}<br>
                            <strong>{{ 'checkout.comment_depository'|trans({}, 'todotoday') }}</strong> : {{ flow.formData.depositoryComment }}
                        </p>
                        {% endif %}
                    </div>

                    <div class="td-cart-list-info text-right">
                        <p>
                            {% set radical = 'checkout.delivery_' ~ flow.formData.delivery %}
                            <strong>{{ 'cart.ariane_delivery'|trans({}, 'todotoday') }}
                                : </strong>{{ (radical) |trans({}, "todotoday") }}<br>
                            <strong>{{ 'checkout.comment_delivery'|trans({}, 'todotoday') }}</strong><br>
                            <textarea disabled>{{ (flow.formData.deliveryComment) ? flow.formData.deliveryComment : 'checkout.no_comment' |trans({}, "todotoday") }}</textarea>

                        </p>
                    </div>
                </span>
        {% endif %}

        <div
                {% if flow.currentStepLabel == 'cart.ariane_validation' %}
                    style="display: none;"
                {% endif %}
        >
            {{ form_row(form) }}
        </div>

        <div class="btn-row btn-row-formflow">
            {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                craue_formflow_button_class_last: 'btn-primaire text-capitalize',
                craue_formflow_button_render_reset: false,

            } %}
        </div>

        {{ form_end(form) }}
    </section>

{% endblock %}

{# {% block stylesheets %}
    {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
    <link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {{ parent() }}

{% endblock %} #}
