{# {% extends 'TodotodayAccountBundle::layout.html.twig' %} #}
{% trans_default_domain 'FOSUserBundle' %}
{% extends ":default:fullWidth.html.twig" %}

{% block ga %}
{% endblock %}

{% block mainContent_noclass %}
    <div class="fw-content fw-content-bgi">
        <div class="td-wf-box td-wf-box-lg">

            <header class="td-wf-box-header text-center">
                <div class="icon-illustration">
                    <i class="mdi mdi-checkbox-marked-circle-outline"></i>
                </div>

                {% for order_checkout in orders_checkouts %}
                    {% set order = order_checkout.order %}
                    {% set checkout = order_checkout.checkout %}
                    {% set products = checkout.cartProducts %}

                    <p class="text-center">{{ 'checkout.final_disclaimer' | trans({}, 'todotoday') }}</p>
                    <h2>{{ 'command' | trans({}, 'todotoday') }} : {{ order.salesOrderNumber }}</h2>
                    <ul class="multiple-orders">{{ 'checkout.final_command_list' | trans({}, 'todotoday') }}
                        {% for product in products %}
                            <li><strong>{{ product.productName }}</strong> <i
                                        class="mdi mdi-close"></i> {{ product.quantity }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </header>


            <p class="text-center"><a href="{{ path('todotoday_catalog_index') }}"
                                      class="btn btn-primaire half-width">{{ 'checkout.back_catalog' | trans({}, 'todotoday') }}</a>
            </p>

            {{ include(":default:contactDisclaimer.html.twig") }}

        </div>
    </div>
{% endblock %}




