{# {% extends 'TodotodayAccountBundle::layout.html.twig' %} #}
{% trans_default_domain 'FOSUserBundle' %}
{% extends ":default:fullWidth.html.twig" %}
{% block ga %}
    gtag('event', 'checkout_success', {
    'type': 'checkout',
    'order': '{{ order }}',
    });
    dataLayer.push({
        'transactionId': '{{ order }}',
        'transactionAffiliation': 'checkout',
        'transactionTotal': {{ total }},
        'transactionShipping': '{{ delivery }}',
        'transactionAngency': '{{ agency }},
        'transactionProducts': [
        {% for product in products %}
            {
            'sku': '{{ product.product }}',
            'name': '{{ product.productName }}',
            'category': '{{ product.productType }}',
            'price': {{ product.productPrice }},
            'quantity': {{ product.quantity }}
            }{% if loop.revindex0 > 0 %},{% endif %}
        {% endfor %}
        ]
    });
{% endblock %}
{% block mainContent_noclass %}
  <div class="fw-content fw-content-bgi">
        <div class="td-wf-box td-wf-box-lg content-checkout-success">
            <header class="td-wf-box-header text-center">
                <div class="icon-illustration">
                    <i class="mdi mdi-checkbox-marked-circle-outline"></i>
                </div>
                    <p class="text-center">{{ 'checkout.final_disclaimer' | trans({}, 'todotoday') }}</p>
                {% block command %}
                    <h2>{{ 'command' | trans({}, 'todotoday') }} : {{ order }}</h2>
                    <ul>{{ 'checkout.final_command_list' | trans({}, 'todotoday') }}
                        {% for product in products %}
                            <li><strong>{{ product.productName }}</strong> <i class="mdi mdi-close"></i> {{ product.quantity }}</li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            </header>


                    <p class="text-center"><a href="{{ path('todotoday_catalog_index') }}" class="btn btn-primaire full-width">{{ 'checkout.back_catalog' | trans({}, 'todotoday') }}</a></p>

            {{ include(":default:contactDisclaimer.html.twig") }}

        </div>
  </div>
{% endblock %}




