{% block craue_flow_stepList_class %}
    {%- if loop.index == flow.getCurrentStepNumber() -%}
        {{ ' class="craue_formflow_current_step"' }}
    {%- elseif flow.isStepSkipped(loop.index) -%}
        {{ ' class="craue_formflow_skipped_step"' }}
    {%- elseif flow.isStepDone(loop.index) -%}
        {{ ' class="craue_formflow_done_step"' }}
    {%- endif -%}
{% endblock %}

{% block craue_flow_stepLabel %}
    {{- stepLabel | trans({}, "todotoday") -}}
{% endblock %}
{% block ga %}
    {% if flow.currentStepNumber == 1 %}
        gtag('event', 'begin_checkout', {
        });
    {% else %}
        gtag('event', 'checkout_progress', {
        });
    {% endif %}
    gtag('event', 'set_checkout_option', {
    'checkout_step': {{ flow.currentStepNumber }},
    });
{% endblock %}