@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?93527746');
  src: url('../font/fontello.eot?93527746#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?93527746') format('woff2'),
       url('../font/fontello.woff?93527746') format('woff'),
       url('../font/fontello.ttf?93527746') format('truetype'),
       url('../font/fontello.svg?93527746#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?93527746#fontello') format('svg');
  }
}
*/
 
 [class^="p-"]:before, [class*=" p-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 2em;
  margin-right: .2em;
  text-align: right;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.p-mastercard:before { content: '\e85f'; } /* '' */
.p-maestro:before { content: '\e860'; font-size: 1.2em;} /* '' */
.p-amex:before { content: '\f001'; font-size: 1.2em;} /* '' */
.p-amex2:before { content: '\f002'; font-size: 1.2em;} /* '' */
.p-cartebleue:before { content: '\f00e'; } /* '' */
.p-diners-club:before { content: '\f013'; } /* '' */
.p-discover:before { content: '\f014'; } /* '' */
.p-googlewallet:before { content: '\f01d'; } /* '' */
.p-googlewallet-2:before { content: '\f01e'; } /* '' */
.p-jcb:before { content: '\f028'; } /* '' */
.p-paypal:before { content: '\f033'; } /* '' */
.p-paypal2:before { content: '\f034'; } /* '' */
.p-stripe:before { content: '\f03e'; } /* '' */
.p-unionpay:before { content: '\f041'; } /* '' */
.p-visa:before { content: '\f045'; } /* '' */
.p-visa-electron:before { content: '\f046'; } /* '' */
.p-westernunion:before { content: '\f047'; } /* '' */
.p-westernunion-banktransfer:before { content: '\f048'; } /* '' */
.p-sepa:before { content: '\f04a'; } /* '' */
.p-sepa-2:before { content: '\f04b'; } /* '' */
.p-apple-pay:before { content: '\f04c'; } /* '' */
.p-elo2:before { content: '\f055'; } /* '' */
.p-elo:before { content: '\f056'; } /* '' */