{% block cart_product_comment_row %}
    {{ form_label(form) }}
    {% set hierarchy = form.vars.value.hierarchy %}
    {% if has_checkout_info(form.vars.value.hierarchy) %}
        <div class="alert-info">
            <p>
                {{ 'checkout_fournisseur_info_label'|trans({},'todotoday') }}
                {% for info in get_checkout_info(hierarchy) %}
                    <span class="fournisseur_checkout_info">
                    {{ info|trans({},'todotoday')|capitalize }}
                    </span>
                {% endfor %}
            </p>
        </div>
    {% endif %}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{% endblock cart_product_comment_row %}

{% block cart_product_comment_label %}
    <span class="td-form-label">{{ form.vars.value.productName }} ({{ 'quantity'|trans({},'todotoday') }} : {{ form.vars.value.quantity }})</span>
{% endblock cart_product_comment_label %}

{% block cart_product_comment_errors %}
    {{ form_errors(form) }}
{% endblock cart_product_comment_errors %}

{% block cart_product_comment_widget %}
    {{ form_widget(form) }}
{% endblock cart_product_comment_widget %}