{% block checkout_delivery_row %}
    {{ form_label(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{% endblock checkout_delivery_row %}

{% block checkout_delivery_label %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    <h3>{{ label|trans({}, translation_domain) }}</h3>
{% endblock checkout_delivery_label %}

{% block checkout_delivery_errors %}
    {{ form_errors(form) }}
{% endblock checkout_delivery_errors %}

{% block checkout_delivery_widget %}

    {{ add_extra(block('checkout_delivery_js')) }}
    <div id="delivery-selector">
        {{ form_row(form.delivery) }}
        {{ form_row(form.cartProducts) }}
        {{ form_row(form.deliveryComment) }}
    </div>
{% endblock checkout_delivery_widget %}


{% block checkout_delivery_js %}
    <script>
      const delivery = new Vue(
        {
          el: '#delivery-selector',
          delimiters: ['${', '}'],
          data() {
            return {
              taskform: document.getElementById('checkout_delivery_delivery').value,
              selector: 'vselected',
              watchable: false,
            }
          },
          watch: {
            taskform() {
              var nodes = []
              nodes = document.getElementsByClassName('vselected')
              Array.prototype.forEach.call(nodes, child => {
                child.value = this.taskform
              })

            }
          },
        }
      )
    </script>
{% endblock %}


