{% block product_delivery_row %}
    {{ form_label(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{% endblock product_delivery_row %}

{% block product_delivery_label %}
    {{ form_label(form) }}
{% endblock product_delivery_label %}

{% block product_delivery_errors %}
    {{ form_errors(form) }}
{% endblock product_delivery_errors %}

{% block product_delivery_widget %}
    {{ form_widget(form) }}
{% endblock product_delivery_widget %}
