{% block product_choice_delivery_label %}
    {% if form.parent %} <h3>{{ form.parent.vars.value.productName }}</h3>
        {% if form.parent.vars.displayPriceExclTaxes %}
            <span>{{ 'cart.unitary_price'|trans({'%price%': (form.parent.vars.value.productPriceExclTax|localizedcurrency(form.parent.vars.value.currency)) }, 'todotoday') }} </span>
        {% else %}
            <span>{{ 'cart.unitary_price'|trans({'%price%': (form.parent.vars.value.productPrice|localizedcurrency(form.parent.vars.value.currency)) }, 'todotoday') }} </span>
        {% endif %}
    {% else %}
        {{ form_label(form) }}
    {% endif %}
{% endblock product_choice_delivery_label %}

{% block product_choice_delivery_widget %}
    {{ form_widget(form, {'attr': {'aria-label' : 'Selection : ' ~ form.parent.vars.value.productName, ':class': 'selector'}}) }}
{% endblock product_choice_delivery_widget %}
