{% trans_default_domain 'FOSUserBundle' %}
{% extends ":default:fullWidth.html.twig" %}
{% block mainContent_noclass %}
    <section class="fw-content fw-content-bgi">
        {% block fos_user_content %}
            <div class="td-wf-box td-wf-box-sm">
                <header class="td-wf-box-header text-center">
                    <h2>{{ 'account.connect_title'|trans({}, "account") }}</h2>
                    <p>{{ 'account.connect_explanations'|trans({}, "account") }}</p>
                </header>
                {% if error %}
                    <div class="td-wf-box-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    <div class="td-wf-box-container">

                        <p>
                            <label for="username">{{ 'signin.email_adresse'|trans({},'todotoday') }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}"
                                   placeholder="{{ 'form.your_email'|trans({},'todotoday') }}"
                                   class="td-input full-width {{ error ? 'td-input-error' }}" required="required"
                                   autocomplete="email" />
                        </p>
                        <p>
                            <label for="password">{{ 'security.login.password'|trans }}</label>
                            <input type="password" id="password" name="_password"
                                   placeholder="{{ 'security.login.password'|trans }}"
                                   class="td-input full-width {{ error ? 'td-input-error' }}"
                                   required="required" {{ error ? 'autofocus' }}
                                   autocomplete="current-password" />
                        </p>

                        {#<p>#}
                        {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                        {#</p>#}
                        {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

                        <p class="text-right">
                            <a href="{{ path('fos_user_resetting_request') }}"
                               class="text-right">{{ 'account.passwd_lost'|trans({}, "account") }}</a>
                            {# <a href="{{ path('fos_user_resetting_request') }}">Forgot Password</a> #}
                        </p>
                        
                        <input type="submit" class="btn-primaire full-width" id="_submit" name="_submit"
                               value="{{ 'security.login.submit'|trans }}"/>

                    </div>
                </form>

                {% if context_manager.currentContext.agency %}
                    {% if context_manager.currentContext.agency.allowAdherent and
                    context_manager.currentContext.agency.allowRegistration %}
                        <p class="text-center td-wf-box-noaccount">
                            <a href="{{ path('todotoday_account_registration_new') }}">{{ 'signin.noaccount_register'|trans({}, 'todotoday')|nl2br }}</a>
                        </p>
                    {% endif %}
                {% endif %}

                {{ include(":default:contactDisclaimer.html.twig") }}

            </div>
        {% endblock fos_user_content %}
    </section>
{% endblock %}