{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-pencil"></i> {{ agencies|length }} Conciergeries à creer</h3>
        </div>
        <div class="box-body">
            <div class="list-group">
                {% for agency in agencies %}
                    <a class="list-group-item"
                       href="{{ agencyAdmin.generateUrl('create', {'retailChannelId': agency.retailChannelId}) }}"
                       rel="nofollow"
                       title="{{ agency.storeName }}">
                        {{ agency.storeName }}
                    </a>
                {% else %}
                    No agencies available.
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
