{% trans_default_domain 'FOSUserBundle' %}
{% extends ":default:fullWidth.html.twig" %}
{% block mainContent_noclass %}
    <section class="fw-content fw-content-bgi">
        {% block fos_user_content %}
            <div class="td-wf-box td-wf-box-sm">
                <header class="td-wf-box-header text-center">
                    <h2>{{ 'account.connect_title'|trans({}, "account") }}</h2>
                </header>

                <p>{{ 'reset_password.success_message'|trans({'%user.email%': app.request.get('username')}, "todotoday") }}</p>

                {{ include(":default:contactDisclaimer.html.twig") }}

            </div>
        {% endblock fos_user_content %}
    </section>
{% endblock %}



