{% trans_default_domain 'FOSUserBundle' %}
{% if app.session.flashBag.has('error') %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert-warning">
            <p>
                {{ msg|trans({},'todotoday') }}
            </p>
        </div>
    {% endfor %}
{% endif %}
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <p>
        <label for="username">{{ 'form.your_email'|trans({}, 'todotoday') }}</label>
        <input type="text" id="username" name="username" class="full-width" required="required" autofocus/>
    </p>
    <p>
        <input type="submit" class="login full-width btn-primaire"
               value="{{ 'reset_password.button'|trans({}, "todotoday") }}"/>
    </p>
</form>
