
{% trans_default_domain 'FOSUserBundle' %}
{% extends ":default:fullWidth.html.twig" %}
{% block mainContent_noclass %}
    <section class="fw-content fw-content-bgi">
    {% block fos_user_content %}
        <div class="td-wf-box td-wf-box-sm">
            <header class="td-wf-box-header text-center">
                <h2>{{ 'login.button_reset_password'|trans({}, "todotoday") }}</h2>
                <p>{{ 'reset_password.subtitle'|trans({}, "todotoday") }}</p>
            </header>

            {% include "FOSUserBundle:Resetting:request_content.html.twig" %}

            {{ include(":default:contactDisclaimer.html.twig") }}

        </div>
    {% endblock fos_user_content %}
    </section>
{% endblock %}


