{#{% trans_default_domain 'FOSUserBundle' %}#}

{#{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}#}
    {#{{ form_widget(form) }}#}
    {#<div>#}
        {#<input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />#}
    {#</div>#}
{#{{ form_end(form) }}#}

{% trans_default_domain 'FOSUserBundle' %}
{#{% extends ":default:fullWidth.html.twig" %}#}
{% block mainContent_noclass %}
    <div class="fw-content fw-content-bgi">
        {% block fos_user_content %}
            <div class="td-wf-box td-wf-box-lg">
                <header class="td-wf-box-header">
                    <h2>{{ 'signin.password_title'|trans({}, "todotoday") }}</h2>
                </header>
                <div class="grid has-gutter">

                    {#{{ form(form) }}#}
                    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}"/>
                    </div>
                    {{ form_end(form) }}

                    <div class="td-wf-inscription-column">
                        <p>{{ 'signin.password_disclaimer'|trans({}, "todotoday") }}</p>
                        <p>{{ 'signin.password_disclaimer_additional'|trans({}, "todotoday") }}</p>
                    </div>
                </div>

                {#{{ include(":default:contactDisclaimer.html.twig") }}#}

            </div>
        {% endblock fos_user_content %}
    </div>
{% endblock %}
