{% trans_default_domain 'FOSUserBundle' %}
{% extends ":default:fullWidth.html.twig" %}
{% block mainContent_noclass %}
<div class="td-loginBox">
    {% block fos_user_content %}
    {% include "@FOSUser/Resetting/reset_content.html.twig" %}
    {% endblock fos_user_content %}
</div>
{% endblock %}