<template>
    <div>

        <booking-calendar></booking-calendar>

    </div>
</template>


<script>

    import ACTBookingCalendar from './../../components/bookingCalendar/ACTBookingCalendar.vue';

    export default {

        name: 'AppBookingCalendar',

        components: {
            'booking-calendar': ACTBookingCalendar,
        },
    }
</script>

<style lang="scss" scoped>
</style>
