{% block array_select_row %}
    <div class="form-group" id="sonata-ba-field-container-{{ form.vars.id }}">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <script>
            $($("#{{ form.vars.id }}").select2({
                tags: [],
                tokenSeparators: [",", " "]
            }));
        </script>
    </div>
{% endblock array_select_row %}

{% block array_select_label %}
    {{ form_label(form) }}
{% endblock array_select_label %}

{% block array_select_widget %}
    <div class="sonata-ba-field sonata-ba-field-standard-natural">
        <input id="{{ form.vars.id }}"
               name="{{ form.vars.full_name }}"
               type="text"
               class="full-width"
               style="width: 100%;"
               value="{{ form.vars.value }}">
    </div>
{% endblock array_select_widget %}

{% block array_select_errors %}
    {{ form_errors(form) }}
{% endblock array_select_errors %}