{% block date_time_picker_widget %}
    {% apply spaceless %}
        <span id="{{ form.vars.id }}"
              class="datetimepicker_form"
              time="{{ form.vars.time == 'true' ? 'true' : 'false' }}"
              date="{{ form.vars.value }}"
        >
            <div>
                <input type="hidden" v-model="dateSelected" name="{{ form.vars.full_name }}">
                <flatpickr v-model="dateSelected"
                           :options="flatpickrOptions"
                           :placeholder="translatePlaceHolder"
                >
                </flatpickr>
                <button class="btn btn-primary" type="button"
                        @click="clear">
                    <i class="mdi mdi-delete"></i>
                </button>
            </div>
        </span>
    {% endapply %}
{% endblock %}

{% block date_time_picker_label %}
    <label for="{{ form.vars.id }}">{{ form.vars.label ?? form.vars.name }}</label>
{% endblock %}
