{% macro render_button(id, prefix, class, tooltip, icon, route, form_id, discr, text, translation_domain) %}
    <button id="{{ id }}_{{ prefix }}_entity_button"
            type="button"
            {% if class is not null %}
                class="{{ class }}"
            {% endif %}
            data-original-title="{{ tooltip }}"
            data-src="{{ route }}"
            data-widget-id="{{ form_id }}"
            {% if discr is not null %}
                data-widget-discr="{{ discr }}"
            {% endif %}
            data-for="{{ id }}"
    >
        {% if icon is not null %}
            <i class="{{ icon }}"></i>
        {% endif %}
        {% if text is not null %}
            {{ text|trans({}, translation_domain) }}
        {% endif %}
    </button>
{% endmacro render_button %}

{% block actiane_tools_entity_row %}
    {{ form_row(form) }}
{% endblock actiane_tools_entity_row %}

{% block actiane_tools_entity_widget %}
    {% import _self as self %}
    <div class="row-fluid">
        <div class="span9">
            {{ form_widget(form) }}
        </div>
        <div class="span3">
            {% if buttons.allow.add and is_granted(roles['NEW']) %}
                {% if forms_id|length > 1 or forms_id|first is iterable %}
                    <div class="btn-group">
                        <button class="{{ buttons.class.add }} dropdown-toggle" data-toggle="dropdown">
                            <span class="{{ buttons.icon.add }}"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for key, value in forms_id %}
                                {% if value is iterable %}
                                    {% for discr in value %}
                                        <li>
                                            {{ self.render_button(id, 'add', null, null, null, routes.add, key, discr, discr, translation_domain) }}
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li>
                                        {{ self.render_button(id, 'add', null, null, null, routes.add, value, null, value, translation_domain) }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    {{ self.render_button(id, 'add', buttons.class.add, buttons.tooltip.add, buttons.icon.add, routes.add, forms_id|first) }}
                {% endif %}
            {% endif %}
            {% if buttons.allow.edit and is_granted(roles['EDIT']) %}
                {{ self.render_button(id, 'edit', buttons.class.edit, buttons.tooltip.edit, buttons.icon.edit, routes.edit, form_edit_id) }}
            {% endif %}
            {#{% if buttons.allow.delete %}#}
            {#<button id="{{ id }}_delete_entity_button"#}
            {#type="button"#}
            {#class="{{ buttons.class.delete }}"#}
            {#data-original-title="{{ buttons.tooltip.delete }}"#}
            {#data-src="{{ routes.delete }}"#}
            {#data-widget-id="{{ form_id }}"#}
            {#data-for="{{ id }}"#}
            {#>#}
            {#&nbsp;<i class="{{ buttons.icon.delete }}"></i>&nbsp;#}
            {#</button>#}
            {#{% endif %}#}
        </div>
    </div>
{% endblock actiane_tools_entity_widget %}
