{% for messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="alert alert-error">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% for subForm in subForms %}
    {{ form(subForm) }}
{% endfor %}
{{ form(mainForm) }}
