{% block time_picker_widget %}
    {% apply spaceless %}
        <span id="{{ form.vars.id }}"
              class="timepicker_form"
        >
            <div>
                <input type="hidden" v-model="timeFormated" name="{{ form.vars.full_name }}">
                <vue-timepicker
                        v-model="timeSelected"
                        format="HH:mm"
                        :minute-interval="15"
                        @change="formatTime"
                ></vue-timepicker>
            </div>
        </span>
    {% endapply %}
{% endblock %}

{% block time_picker_label %}
    <label for="{{ form.vars.id }}">{{ form.vars.label ?? form.vars.name }}</label>
{% endblock %}
