{% block account_phone_dial_info_row %}
    {{ form_label(form) }}
    {{ form_widget(form) }}
{% endblock account_phone_dial_info_row %}

{% block account_phone_dial_info_widget %}
    <div class="account-phone-dial-info-type">

        <div id="accountPhoneDialInfoType">
            {% set areaCode = (context_manager.currentContext.agency) ? context_manager.currentContext.agency.dataAreaId : null %}
            <vue-phone-input :init-country-with-ip="{{ form.vars.init_country_with_ip ? 'true' : 'false' }}"
                             :value="phoneNumber"
                             :dial-code="phoneExtension"
                             area-code="{{ areaCode }}"
                             @valueschanged="setValues">

            </vue-phone-input>

            <div class="input-fields-hidden">
                <div id="phone-init-value" value="{{ form.phone.vars.value }}"></div>
                {{ form_widget(form.phone) }}

                <div id="phone-extension-init-value" value="{{ form.phoneExtension.vars.value }}"></div>
                {{ form_widget(form.phoneExtension) }}
            </div>
        </div>

    </div>
{% endblock account_phone_dial_info_widget %}