{% block account_transactional_info_row %}
    {{ form_label(form) }}
    {{ form_widget(form) }}
{% endblock account_transactional_info_row %}

{% block account_transactional_info_label %}
    {{ form_label(form) }}
{% endblock account_transactional_info_label %}

{% block account_transactional_info_errors %}
    {% if form.vars.errors|length > 0 %}
        {% for error in form.vars.errors %}
            <div class="alert-warning">
                <p>{{ error.message }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock account_transactional_info_errors %}

{% block account_transactional_info_widget %}
    <script id="account_transactional_info_widget-data" type="text/javascript">
      function loadTransactionalInfoWidgetData () {
        return {
          button: '{{ form.paymentTypeSelected.vars.value }}',
          token: null
        }
      }
    </script>
    <script id="account_transactional_info_widget-template" type="text/template">
        <div>
            <h3>
            {% if form.vars.payment_methods|length > 1 %}
                {{ "card.disclaimer"|trans({}, "todotoday") }}
            {% else %}
                {{ "card.disclaimer.single_method"|trans({}, "todotoday") }}
            {% endif %}
            </h3>
            <div class="td-payment-selector">
                {% for payment_method in form.vars.payment_methods %}
                    {% if payment_method == 'sepa' %}
                        {% set icon = 'mdi-bank' %}
                    {% else %}
                        {% set icon = 'mdi-credit-card' %}
                    {% endif %}
                    <input id="{{ payment_method }}" type="radio" name="payment_method"
                           {{ form.vars.payment_method_required ? 'required="required"' : '' }}
                           {% if form.vars.payment_methods|length == 1 %} checked="checked" v-show="switchPayment('{{ payment_method }}')"{% endif %}
                           value="{{ payment_method }}"
                           @click="switchPayment('{{ payment_method }}')"/><label
                        for="{{ payment_method }}">{{ payment_method|trans({}, "todotoday") }}</label>

                {% endfor %}
            </div>
            <transition name="fade" mode="out-in">
                {% for payment_method in form.vars.payment_methods %}

                <{{ payment_method }} v-if="button === '{{ payment_method }}'"
                {% if payment_method == 'stripe' %}
                    v-model="token"
                    public_key="{{ get_publishable_key() }}"
                {% endif %}
                >
            </{{ payment_method }}>

            {% endfor %}
            </transition>
            {{ form_row(form.paymentTypeSelected) }}
        </div>
    </script>
    <div id="account_transactional_info_widget">
        <transaction-button></transaction-button>
    </div>
    {{ form_widget(form) }}
{% endblock account_transactional_info_widget %}