{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'method': 'post', 'action': path('adherent_registration'), 'attr': {'class': 'toto'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ "submit"|trans({}, "todotoday") }}"/>
    </div>
    {{ form_end(form) }}
{% endblock fos_user_content %}