{% block collection_vue_row %}
    {{ form_label(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{% endblock collection_vue_row %}

{% block collection_vue_label %}
    {{ form_label(form) }}
{% endblock collection_vue_label %}

{% block collection_vue_errors %}
    {{ form_errors(form) }}
{% endblock collection_vue_errors %}

{% block collection_vue_widget %}
    {{ add_extra(block('collection_vue_template')) }}
    {{ add_extra(block('collection_vue_javascript')) }}

<div id="{{ form.vars.id }}">
    <{{ form.vars.id|lower }}></{{ form.vars.id|lower }}>
    </div>
{% endblock collection_vue_widget %}

{% block collection_vue_template %}
    <script id="{{ form.vars.id }}-template" type="text/x-template">
        <div>
            {#<transition-group name="slide-fade">#}
                <div class="collection-item" v-for="item,key in items" v-bind:key="item.contact_person_id">
                    {{ form_row(form.vars.prototype)|prototype_to_vue }}
                    <button class="btn btn-action mdi mdi-delete" type="button"
                            v-on:click="buttonRemove(key)">{{ "cart.delete_product" | trans({}, "todotoday") }}</button>
                </div>
            {#</transition-group>#}
            <button class="btn btn-action mdi mdi-plus" type="button"
                    v-on:click="buttonAdd()">{{ "account.add" | trans({}, "todotoday") }}</button>
        </div>
    </script>
{% endblock collection_vue_template %}

{% block collection_vue_javascript %}
    <script type="text/javascript">
      Vue.component('{{ form.vars.id|lower }}', {
        data: function () {
          return {
            'items': {{ form.vars.value ? form.vars.value|serialize|raw : '[]' }}
          }
        },
        delimiters: ['${', '}'],
        template: '#{{ form.vars.id }}-template',
        methods: {
          buttonAdd() {
            this.items.push({})
          },
          buttonRemove(key) {
            this.items.splice(key, 1)
          }
        }
      })
      let {{ form.vars.id }}_var = new Vue({
        el: '#{{ form.vars.id }}'
      })
    </script>
{% endblock collection_vue_javascript %}
