<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <style>


    </style>
</head>
<body style="width: 100%;">

    <div style="text-align: center">
        <img style="display: inline-block;" width="236" height="53"
             src="{{ absolute_url(asset('images/logos/todotoday/logo.jpg')) }}" alt="To do Today">
    </div>

</body>
</html>