{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div class="text-center">
        <a href="{{ admin.generateUrl('comments', {'id' : object.id}) }}">
            <button type="button" class="btn btn-primary {{ (object.countMessage == 0) ? 'disabled' : '' }}">
                {{ 'see_messages'|transchoice(object.countMessage,{},'messages') }}
            </button>
        </a>
    </div>
{% endblock %}

