{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% set countMembers = render(url('admin_todotoday_social_socialgroup_members_count',{'id': object.id})) %}
    <div class="text-center">
        <a href="{{ admin.generateUrl('members_list', {'id' : object.id}) }}">
            <button type="button" class="btn btn-primary {{ (countMembers==0 ? 'disabled' : '') }}">
                {{ 'see_members'|transchoice(countMembers,{},'messages') }}
            </button>
        </a>
    </div>
{% endblock %}

