{% extends '@TodotodaySocial/Admin/SocialGroup/social_group_members_header.html.twig' %}

{% block sonata_admin_content %}
    {{ parent() }}
    <div class="container">
        <h1>{{ 'Count Members'|trans({},'messages') }} : {{ members|length }}</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr class="sonata-ba-view-container">
                        <th>Adherent Email</th>
                        <th>{{ 'Name'|trans({},'messages') }}</th>
                        <th>{{ 'Customer Account'|trans({},'messages') }}</th>
                        <th>{{ 'Status'|trans({},'messages') }}</th>
                        <th>Date</th>
                    </tr>
                    <tbody>
                    {% for member in members %}
                        <tr>
                            <td>{{ member.adherent.email }}</td>
                            <td>
                                <a href="{{ path('admin_todotoday_account_adherent_edit',{'id': member.adherent.id}) }}">
                                    {{ member.adherent.fullName }}
                                </a>
                            </td>
                            <td>{{ member.adherent.customerAccount }}</td>
                            <td>{{ member.status }}</td>
                            <td>{{ member.date|localizeddate }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}