{% extends 'TodotodayCoreBundle:Admin:standard_layout.html.twig' %}

{% block sonata_breadcrumb %}
    <div class="navbar-left">
        <div class="hidden-xs">
            <ol class="nav navbar-top-links breadcrumb">
                <li>
                    <a href="{{ path('admin_todotoday_social_social' ~type ~ '_list') }}">
                        {% set translateKey = 'Social ' ~ type|capitalize ~ ' List' %}
                        {{ translateKey|trans({},'messages') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_todotoday_social_social'~ type ~'_edit',{'id': members[0].socialGroup.id}) }}">
                        blablabla
                    </a>
                </li>
                <li>
                    {{ 'members_list'|trans({},'messages') }}
                </li>
            </ol>
        </div>
    </div>
{% endblock %}