{% set object = block_context.settings.object %}
{% set admin  = block_context.settings.admin %}
{% set locale_switcher_route = block_context.settings.locale_switcher_route %}
{% set locale_switcher_route_parameters = block_context.settings.locale_switcher_route_parameters %}

{% if admin.class is translatable %}
    {% set currentLocale = object.locale|default(null) %}

    {% for extension in admin.extensions %}
        {% if extension.translatableLocale is defined %}
            {% set currentLocale = extension.translatableLocale(admin) %}
        {% endif %}
    {% endfor %}

    <div class="locale_switcher">
        {% apply spaceless %}
            {% for locale in sonata_translation_locales %}
                {% set active = currentLocale == locale %}
                {% if locale_switcher_route is empty %}
                    {% if object.id %}
                        {% set locale_switcher_route = 'edit' %}
                    {% else %}
                        {% set locale_switcher_route = 'create' %}
                    {% endif %}
                {% endif %}
                <a href="{{ admin.generateUrl(
                locale_switcher_route,
                {'id': admin.id(object), 'tl': locale}|merge(locale_switcher_route_parameters)
                ) }}"
                   accesskey=""
                   class="{% if active %}active{% endif %}"
                   style="{% if not active %}opacity:0.2;{% endif %}"
                   title="{{ 'admin.locale_switcher.tooltip' |trans([], 'SonataTranslationBundle') }}">
                    <img src="{{ asset('bundles/todotodaycms/flags/' ~ locale[-2:2]|lower ~ '.png') }}"
                         style="margin-left:10px;"
                    />
                </a>
            {% endfor %}
        {% endapply %}
    </div>
{% endif %}
