{% extends 'ActianeApiDocBundle::layout.html.twig' %}

{% block content %}
    <h1>Documentation for API Actiane TodoToday</h1>
    <div class="container">
        <ul>
            {% for view in views|sort %}
                <li><a href="{{ path('nelmio_api_doc_index', {'view': view}) }}">{{ view|capitalize }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
