<div class="modal hide fade" id="form_generic_modal" style="width: 60%;margin-left: auto; left: 20%;">
    <div class="modal-header modal-header-style">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Formulaire</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button id="form_generic_modal_button_send" type="button" class="btn btn-primary">Enregistrer</button>
    </div>
</div>