body{
    @include mobile{
        &.sidebaropen{
            height: 100vh;
            overflow-y: hidden;
        }
    }
    @include belowdesktop{
        .rs-content > main.main-content{
            min-height: calc(100vh - 290px);
        }
    }
}

.header-bar{
    @include mobile{
        .menu-bar-main{
            align-items: center;
        }
        .concierge-logo{
            flex: 1 0 auto;
            white-space: nowrap;
            a{display: block;}
            img{
                max-width: calc(100vw - 185px);
                height: auto;
                margin-right: 0;
            }
        }
        &-menu{
            display: none;
        }
        &-lang{
            position: static;
        }
        &-burger{
            margin: 0 0.5rem;
            button{
                background: none;
                border: none;
                font-size: 2.4rem;
                color: white;
                box-shadow: none;
                padding: 0.5rem;
                line-height: 1;
                height: auto;
                border-radius: 0;
                outline: none;
                &:focus{
                    outline: 1px solid rgba(white, 0.1);
                }
            }
        }
    }

    @include tablet{
        &-burger{
            display: none;
        }
    }

    @include belowdesktop{
        &-loggedout {
            height: 66px;

            body[class*="authsso_registration"] &{
                display: none;
            }
        }
    }
    @include desktop{
        &-burger{
            display: none;
        }
    }
}

.menu-bar-side{
    @include belowdesktop {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;

        .header-bar-button{
            cursor: default;
            li{
                width: 50%;
                max-width: 200px;
                a{
                    width: 100%;
                    text-align: center;
                    cursor: default;
                }
            }
        }
    }
}

.rs-content{

    @include tablet-desktop{
        &.hide-desktop{
            display: none;
        }
    }

    .right-sidebar{
        .side-main-menu{
            background: rgba(white, 0.25);
            div{
                padding: 0.5rem;
                &:not(:last-child){
                    border-bottom: 1px solid white;
                }
            }
            a{
                color: white;
            }
        }
    }
    @include belowdesktop{
        .right-sidebar{
            overflow: auto;
            z-index: 5;
            padding-left: 15px;
            .side-chat-notif{
                overflow: visible;
                max-height: none;
                margin-bottom: 10px;
                .notification-box-item{
                    position: static;
                }
            }
            .sidebar-toggle{
                position: fixed;
                top: 0;
                right: 305px;
                left: auto;
                z-index: 9;
                height: 100%;
                i.mdi{
                    right: 306px;
                    transition: right .5s ease;
                }
            }
        }
        &.replie .right-sidebar{
            right: -305px;
            .sidebar-toggle{
                right: 0;
                i.mdi{
                    right: 2px;
                }
            }
        }
    }
    @include mobile{
        .right-sidebar{
            border: none;
            background: $main-color;
            height: calc(100% - 96px - 66px);
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                height: calc(100vh - 96px - 66px);
            }
            // height: calc(100vh - 96px - 66px);
            min-height: 0;
            padding: 0 15px;
            top: 96px;
            bottom: 66px;
            position: fixed;
            overflow: scroll;
            width: 100vw;
            z-index: 9;
    
            .sidebar-toggle{
                display: none;
            }
            .side-chat-notif{
                min-height: unset;
                background: #eee;
                .notification-box, section{
                    height: auto;
                }
                .notification-box-item{
                    position: static;
                    max-height: 300px;
                }
            }
        }

        &:not(.sidebaropen){
            .right-sidebar{
                right: -100vw;
            }
        }
        
        &.replie {
            .right-sidebar{
                position: fixed;
                top: 96px;
                bottom: 76px;
            }
        }
    }

    @include tablet{
        &:not(.replie){
            &:after{
                content: "";
                position: fixed;
                background: rgba(0,0,0,.3333);
                width: 100vw;
                height: 100vh;
                top: 0; left: 0;
                z-index: 4;
            }
        }
        .right-sidebar{
            .side-main-menu{
                display: none;
            }
        }
    }
    @include desktop{
        .right-sidebar{
            .side-main-menu{
                display: none;
            }
        }
    }
}

.fw-content{
    @include belowdesktop{
        min-height: calc(100vh - 96px - 76px)
    }
}


footer.pageFooter {
    padding: 30px 0 20px;

    @include tablet{
        margin-bottom: 96px;
    }
    @include mobile{
        margin-bottom: 76px;
    }

    ul {
        margin: 0 auto;
        padding: 10px;
        border-top: 1px solid #979797;
        max-width: 700px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 12px;

        li{
            margin: 0 5px 5px;
        }
        a {
            color: #000000;
            text-decoration: underline;
            font-weight: 400;

            &:hover {
                text-decoration: none;
            }
        }
    }
    main + & {
        background-color: #fcfcfd;
        ul {
            max-width: 940px;
        }
    }

}