<template>

    <adherent-create @submitForm="submitForm($event)" @cancel="cancel"
                     :init-name-label="'social.groupform_groupename' | $t"
                     :init-description-label="'social.groupform_description' | $t"
                     :init-submit-button-label="'social.group_validate' | $t">
    </adherent-create>

</template>

<script>
  import translation from './../../../../filters/translation';
  import AdherentCreateNew from './base/ACTAdherentCreateNew.vue';

  export default {

    name: 'ACTAdherentCreateNewGroup',

    components: {
      'adherent-create': AdherentCreateNew,
    },

    methods: {

      cancel() {
        this.$emit('cancel');
      },

      submitForm(data) {
        this.$emit('submitForm', data);
      }
    }
  }
</script>

<style lang="scss">
</style>
