<template>

    <adherent-create @submitForm="submitForm($event)" @cancel="cancel"
                     :init-name-label="'social.eventform_name' | $t"
                     :init-description-label="'social.eventform_description' | $t"
                     :init-submit-button-label="'social.event_validate' | $t">

        <div slot="practicalInformations" class="td-social-box-block">
            <h2>{{ 'social.practical_informations' | $t }}</h2>

            <div class="grid has-gutter-l">
                <div>
                    <label for="event-startDate" class="label">{{ 'social.eventform_start' | $t }}</label>
                    <form-error :active="showFormErrors"
                                :input-value="startDate"
                                :validations-enabled="['empty']"
                                :error-manager-field="getFormErrorManagerField('startDate')">
                    </form-error>
                    <Flatpickr v-model="startDate" :options="dateFormat1" id="event-startDate" class="block"/>

                </div>
                <div>
                    <label for="event-endDate" class="label">{{ 'social.eventform_end' | $t }}</label>
                    <form-error :active="showFormErrors"
                                :input-value="endDate"
                                :validations-enabled="['empty']"
                                :error-manager-field="getFormErrorManagerField('endDate')">
                    </form-error>
                    <Flatpickr v-model="endDate" :options="dateFormat2" id="event-endDate" class="block"/>
                </div>
            </div>
            <div class="form-row">
                <label for="location" class="label">{{ 'social.eventform_adrs' | $t }}</label>
                <google-places-autocomplete :defaultValue="location" @updateLocationEvent="updateLocation"></google-places-autocomplete>
            </div>
            <div class="form-row">
                <input v-model="hasLimitedPlaces" type="checkbox" id="limitedPlaces">
                <label class="checkbox" for="limitedPlaces">{{ 'social.free_limited_slots' | $t }}</label>
            </div>

            <div class="td-social-box-toggle-area" :class="(!hasLimitedPlaces)?'':'active'">

                <label for="numberOfPlaces" class="label">{{ 'social.number_available_slots' | $t }}</label>
                <input v-model="numberOfPlaces" :disabled="!hasLimitedPlaces" type="text" id="numberOfPlaces"
                       class="input">
            </div>
        </div>
    </adherent-create>

</template>

<script>
  import translation from './../../../../filters/translation'
  import Event from '../../models/ACTEvent'
  import AdherentCreateNew from './base/ACTAdherentCreateNew'
  import Flatpickr from 'vue-flatpickr'
  // import 'vue-flatpickr/theme/base16_flat.css'
  import FormError from './../../../../components/base/form/ACTFormError.vue'
  import FormMixin from './../../../../mixins/ACTMixinForm.vue'
  import GooglePlacesAutocomplete from './../GooglePlacesAutocomplete.vue'

  export default {

    name: 'ACTAdherentCreateNewEvent',

    components: {
      'adherent-create': AdherentCreateNew,
      Flatpickr,
      'form-error': FormError,
      'google-places-autocomplete': GooglePlacesAutocomplete,
    },

    mixins: [FormMixin],

    data () {
      return {
        mainForm: AdherentCreateNew.name,

        startDate: '',
        endDate: '',
        location: '',
        hasLimitedPlaces: false,
        numberOfPlaces: 0,
        dateFormat1: {
          // 'utc': true,
          enableTime: true,
          time_24hr: true,
          altInput: true,
          altFormat: 'd F Y H:i',
          dateFormat: 'Y-m-d H:i',
          firstDayOfWeek: 1,
          locale: window.flatpickrLocale,
          minDate: 'today'
        },
        dateFormat2: {}
      }
    },

    created () {
      this.addFieldsName(['startDate', 'endDate'])
      this.dateFormat2 = JSON.parse(JSON.stringify(this.dateFormat1))
    },

    methods: {

      cancel () {
        this.$emit('cancel')
      },

      submitForm (data) {
        const event = new Event(
          null, data.name, data.description, data.image, null,
          null, this.startDate, this.endDate, this.location, this.getNumberOfPlaces(),
          data.guestsEmail
        )
        this.$emit('submitForm', event)
      },

      getNumberOfPlaces () {
        return (this.hasLimitedPlaces) ? this.numberOfPlaces : 0
      },

      updateLocation(item) {
        this.location = item.toString()
      },
    },
    watch: {
      startDate (newVal) {
        let newDate = new Date(newVal);
        newDate.setHours(newDate.getHours() + 1);
        this.dateFormat2.minDate = newDate
      }
    }
  }
</script>