<template>

    <adherent-create @submitForm="submitForm($event)" @cancel="cancel"
                     :init-name-label="'social.groupform_groupename' | $t"
                     :init-description-label="'social.groupform_description' | $t"
                     :init-submit-button-label="'social.group_validate_edit' | $t"
                     :form="formData"
    >
    </adherent-create>

</template>

<script>
  import translation from './../../../../filters/translation';
  import AdherentCreateNew from './base/ACTAdherentCreateNew.vue';

  export default {
    name: 'FormEditGroup',
    components: {
      'adherent-create': AdherentCreateNew,
    },
    props: {
      formData: {
        type: Object,
        required: true
      }
    },
    methods: {
      cancel() {
        this.$emit('cancel');
      },

      submitForm(data) {
        this.$emit('submitForm', data);
      }
    }
  }
</script>
