<template>
    <span v-if="isVisible">

        <message :is-visible="isVisible"
                 alert-classes="form-error"
                 type="warning">

            <span v-if="isEmpty">{{ 'general.form.field_required' | $t }}</span>
        </message>

    </span>
</template>

<script>
  import translation from './../../../filters/translation'
  import Message from './../ACTMessage.vue'

  const validationsAllowed = ['empty']

  export default {

    name: 'ACTFormError',

    components: {
      'message': Message,
    },

    props: {
      active : {
        type: Boolean,
        required: true,
      },
      inputValue: {
        type: String,
        required: true
      },
      validationsEnabled: {
        type: Array,
        required: true,
        validator: function (values) {
          values.forEach((value) => {
            if (validationsAllowed.indexOf(value) === -1) {
              console.log('ACTFormError > "type" must equals to one value of ', validationsAllowed, 'but not \'', value + '\'');
              return false;
            }
          })

          return true;
        }
      },
      errorManagerField: {
        type: Object,
        required: true,
      }
    },

    mounted() {
        this.errorManagerField.hasError = this.isNotValid
    },

    computed: {
      isVisible() {
        return this.active && this.isNotValid
      },
      isNotValid() {
        return this.isEmpty
      },
      isValueEmpty() {
        return (typeof this.inputValue === 'undefined') || this.inputValue === null || this.inputValue === ''
      },
      isEmpty() {
        return this.validationsEnabled.includes('empty') && this.isValueEmpty
      }
    },

    watch: {
      isNotValid(newValue) {
        this.errorManagerField.hasError = newValue
      }
    }
  }
</script>

<style lang="scss">
</style>
