{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}

    {% set icon %}
        <span class="sf-toolbar-status" style="
        color: #fff;
        display: inline-block;
        font-size: 14px;
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
        background-color: #777dff;
    ">Context : {{ collector.currentDomainContext }}</span>
        <span class="sf-toolbar-label"> =></span>
        <span class="sf-toolbar-value sf-toolbar-info-piece-additional">
            {% if collector.currentAgency %}
                {{ collector.currentAgency }}
            {% else %}
                NULL
            {% endif %}
        </span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Current Agency</b>
            <span>{{ collector.currentAgency }}</span>
        </div>
    {% endset %}

    {{ include('WebProfilerBundle:Profiler:toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{#{% block head %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        {#<span class="icon"><img src="..." alt=""/></span>#}
        <strong>Domain Context</strong>
    </span>
{% endblock %}

{% block panel %}
    {# Optional, for showing the most details. #}
    <h2>Current Agency</h2>
    <p>
        {{ collector.currentAgency }}
    </p>
    <h2>Current Domain Contexts</h2>
    <p>
        {{ collector.currentDomainContext }}
    </p>
    <h2>Domain Contexts</h2>
    <table>
        <tr>
            <th>key</th>
            {#<th>Content Type</th>#}
        </tr>

        {% for key in collector.allDomainContext %}
            <tr>
                <td>{{ key }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}