/** ########################## FIL ARIANE ########################## */

.nav-ariane {
    padding: 10px calc((100vw - 700px - 320px + 30px) / 2) 20px;
    @include belowdesktop{
        padding: 10px 2% 20px;
    }
    // margin-top: -50px;
    font-family: $ft-roboto;
    font-size: 12px;

    a {
        color: #838383;
        font-weight: 300;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
            color: darken(#838383, 20)
        }

        &.active {
            color: black;
            text-decoration: none;
            cursor: default;

        }

    }
    span:last-child a {
        color: black;
        text-decoration: none;
        cursor: default;
    }

    i {
        font-size: 2em;
        vertical-align: middle;
        padding: 0 6px;
    }

    &.account-ariane {
        padding-bottom: 0;

        @media (min-width: 768px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}