.cc-grower {
    z-index: 12;
    position: relative;
    
    .cc-window.cc-floating{
        max-width: none;
        flex-direction: row;
        .cc-message{
            flex: 1;
            margin: 10px;
        }
        .cc-compliance{
            max-width: 150px;
            align-items: stretch;
            .cc-btn{
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    @include belowdesktop{
        position: fixed;
        width: 100%;
        bottom: 0;
        box-shadow: 0 -1px 5px rgba($main-color, 0.4);
    }

    @include smallmobile{
        .cc-window.cc-floating{
            flex-direction: column;
            .cc-compliance{
                max-width: none;
            }
        }
    }
}