/** ######################## HORIZONTAL NAV ######################## */

.td-horizontal-nav {
    font-size: .9em;
    font-weight: 500;
    margin-bottom: 15px;
    position: relative;

    ul{
        position: relative;
        &:after{
            @extend .mdi;
            content: "\F140";
            font: normal normal normal 24px/1 "Material Design Icons";
            font-size: inherit;
            text-rendering: auto;
            line-height: inherit;
            transform: translate(0, 0);
            display: none;
        }
    }

    & li {
        padding: 0 15px;
        border-right: 1px solid black;
        color: #777777;
        height: 2rem;

        &:last-child {
            border: 0;
            padding-right: 0;
        }

        &:first-child {
            padding-left: 0;
        }

        & .active {
            color: #404040;
        }

        @include tablet-desktop{
            &.end-row{
                border: 0;
                &:after{
                    content: '';
                    display: block;
                    width: 100%;
                }
                & + li{
                    padding-left: 0;
                }
            }
        }
    }

    a, span {
        line-height: 2rem;

        + a {
            margin-left: 1em;
        }
    }

    @include mobile{
        min-height: 38px;
        margin-bottom: 30px;
        ul{
            position: absolute;
            top: 0;
            left: 1rem;
            max-height: 38px;
            width: 240px;
            max-width: 100%;
            overflow: hidden;
            background: white;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            z-index: 3;
            transition: max-height .3s;
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
            border: 1px solid #ededed;
            border-radius: 6px;

            &:after{
                display: block;
                position: absolute;
                top: 7px;
                right: 5px;
                font-size: 24px;
                transition: transform .3s;
            }
            li{
                border: none;
                height: auto;
                order: 2;
                width: 100%;
                position: relative;
                &:first-child, &.end-row + li{
                    padding-left: 15px;
                }
                &.active{
                    order: 1;
                    a{
                        pointer-events: none;
                    }
                }
                a, button{
                    height: 38px;
                    display: flex;
                    align-items: center;
                }
            }
            &.open{
                box-shadow: 1px 1px 5px rgba(black, 0.2);
                max-height: 400px;
                &:after{
                    transform: rotate(180deg);
                }
            }
        }
    }
}