/** ########################### MODALS ############################ */

.modal {
    position: fixed;
    z-index: 15;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &.invisible {
        display: none;
    }

    &.visible {
        display: flex;
    }

    .modal-content {
        position: relative;
        // background-color: #fefefe;
        // margin: auto;
        // padding: 0;
        // border: 1px solid #888;
        // width: 80%;

        &.modal-sm {
            @extend .td-wf-box-sm;
        }
        &.modal-md {
            @extend .td-wf-box-md;
        }
        &.modal-lg {
            @extend .td-wf-box-lg;
        }
        &.modal-xl {
            @extend .td-wf-box-xl;
        }

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;

        padding: .8rem 2rem 0;

        border-radius: 8px;
        border: solid 1px #d5d5d5;
        background-color: #fff;

        font-family: $ft-roboto;
        text-align: left;

        .close {
            color: black;
            font-size: 28px;
            font-weight: bold;
            position: absolute;
            right: -15px;
            top: -5px;
            width: 30px;
            height: 30px;
            background: white;
            line-height: 30px;
            border-radius: 50%;
            text-align: center;
            border-right: solid 1px #d5d5d5;
        }

        .close:hover,
        .close:focus {
            color: $accent-color;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            position: relative;
            margin: 0 -2rem 0;
            border-bottom: 1px solid #efefef;
            padding: 0 2rem;

            h3 {
                color: #2e2e2e;
                font-size: 24px;
                margin-bottom: 1rem;
                margin-top: 1rem;
                text-align: left;
                @include smallmobile{
                    font-size: 21px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }

        .modal-body {
            font-size: 18px;
            text-align: left;
            margin: 2rem 0;
            @include smallmobile{
                font-size: 16px;
                margin: 20px 0;
            }
        }

        .modal-footer {
            text-align: right;
            margin: 0 -2rem 1rem;
            border-top: 1px solid #efefef;
            padding: 1rem 2rem 0;

            @include smallmobile{
                .btn-row-flex{
                    flex-direction: column-reverse;
                    align-items: center;
                    button, a{
                        margin-bottom: 10px;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}