/** ################### NEWS FEED ################### */
.news-feed {
    padding: 40px 0;
    h2 {
        margin-bottom: 2em;
    }

    &-article {
        margin-bottom: 50px;

        aside {
            margin-right: 1rem;
            width: 200px;
            display: inline-block;
            vertical-align: top;

            img {
                max-width: 100%;
            }
        }
        &-main {
            display: inline-block;
            width: calc(100% - (200px + 1.3rem));
            vertical-align: top;
        }

        header {
            font-family: $ft-roboto;
            font-size: 18px;
            text-align: left;
            color: $main-color;

            h3 {
                font-weight: 500;
                margin: 0;

                a {
                    color: darken($main-color, 10);

                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
        footer .read-more {
            margin-top: 1rem;
            font-family: $ft-roboto;
            font-size: 16px;
            font-weight: 500;
            color: darken($main-color, 10);
        }
        &-content {
            margin-top: 10px;
            p {
                margin-bottom: 0;
                font-size: 14px;
            }

        }
    }

    &-date {
        font-family: $ft-roboto;
        font-size: 14px;
        text-align: left;
        color: #2e2e2e;
    }

    @include smallmobile{
        &-article{
            aside{
                width: 100%;
                margin: 0 0 0.5rem;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &-main{
                width: 100%;
            }
        }
    }

}
