#smart-banner-app{
    display: none;
    .banner{
        position: fixed;
        z-index: 99;
        width: 100%;
        padding: 8px 10px;
        background: lighten($main-color, 10);
        color: white;
        display: flex;
        align-items: center;
        min-height: 60px;
        box-sizing: border-box;
        top: 0;
        transition: top .55s;
        .dismiss{
            margin-right: 15px;
            button{
                background: white;
                border: none;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 20px;
                padding: 0;
                font-weight: bold;
            }
        }
        .logo{
            margin-right: 10px;
            img{
                max-width: 40px;
                vertical-align: middle;
                display: inline-block;
            }
        }
        .text{
            flex: 1;
            p{
                margin-bottom: 0;
            }
            p + p{
                font-size: 13px;
            }
        }
        .action{
            a{
                display: inline-block;
                background: $accent-color;
                color: white;
                padding: 5px;
            }
        }
    }


    @include belowdesktop {
        display: block;
        .smart-banner-open &{
            & + .header-bar{
                top: 60px;
                transition: top .55s;
            }
            & + .header-bar + .body-content{
                padding-top: 156px;
                transition: padding-top .55s;
                .right-sidebar{
                    top: 156px;
                    transition: all .55s;
                }
            }
        }

        .smart-banner-close &{
            & + .header-bar{
                top: 0;
            }
            & + .header-bar + .body-content{
                padding-top: 96px;
                .right-sidebar{
                    top: 96px;
                }
            }
            .banner{
                top: -60px;
            }
        }
    }
}