{% extends ':account:layout.html.twig' %}
{% set sidetext = 'account.paiement_disclaimer' %}
{% block profileContent %}
    <h3>{{ 'account.my_co_adherents'|trans({}, 'todotoday') }}</h3>

    {% for message in app.session.flashbag.get('co_adherent_error_add') %}
        <div class="alert-error">
            <p>
                {{ message|trans({},'todotoday') }}
            </p>
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('co_adherent_success_add') %}
        <div class="alert-success">
            <p>
                {{ message|trans({},'todotoday') }}
            </p>
        </div>
    {% endfor %}

    <div class="co-adherent-manage-section">
        {% for coAdherent in coAdherents %}
            <div class="btn-row-flex co-adherent">
                {% set coAdherentEnabled = coAdherent.password %}

                <div class="one-sixth icon-status">
                    {% if not coAdherentEnabled %}
                        <span class="tooltip-toggle"
                              aria-label="{{ "account.co_adherent.not_finalized_yet"|trans({}, "todotoday") }}">
                            <i class="mdi mdi-account-alert icon-circle"></i>
                        </span>
                    {% else %}
                        <i class="mdi mdi-account-check account-icon-success"></i>
                    {% endif %}
                </div>

                <div class="two-thirds">
                    <span>{{ coAdherent.firstName|capitalize }}&nbsp;{{ coAdherent.lastName|capitalize }}</span>
                    {% if not coAdherentEnabled %}
                        <a href="{{ path('account.profile_co_adherent.resend_email', {'id': coAdherent.id}) }}" class="btn btn-action mdi mdi-email-outline">
                            {{ "account.co_adherent.resend_email"|trans({}, "todotoday") }}
                        </a>
                    {% endif %}
                </div>

                <div class="one-sixth">
                    <a href="{{ path('account.profile_co_adherent_disable', {'id': coAdherent.id}) }}"
                       class="btn tooltip-toggle"
                       aria-label="{{ "account.remove_co_adherent"|trans({}, "todotoday") }}"
                    >
                        <i class="mdi mdi-delete icon-remove-co-adherent"></i>
                    </a>
                </div>

            </div>
        {% else %}
            {{ 'account.no_co_adherents'|trans({}, 'todotoday') }}
        {% endfor %}
    </div>

    {% if form %}
        <h3>{{ 'account.add_co_adherent'|trans({}, 'todotoday') }}</h3>

        {{ form(form) }}
    {% endif %}

{% endblock %}

{% block profileMenu %}
    {% include 'account/menu.html.twig' %}
{% endblock %}
