{% extends ':account:layout.html.twig' %}
{% set sidetext = 'account.paiement_disclaimer' %}
{% block profileContent %}

    {{ form(form) }}
    {% for message in app.flashes('stripe_error') %}
        <div class="alert-error">
            <p>{{ message|trans({},'todotoday') }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block profileMenu %}
    {% include 'account/menu.html.twig' %}
{% endblock %}
