{% extends ':account:layout.html.twig' %}
{% set sidetext = 'account.paiement_disclaimer' %}
{% block profileContent %}
    <ul>
        <li>{{ 'account.paiement_methods' | trans({}, 'todotoday') }} : {{ defaultPayment|trans({},'todotoday') }}
        </li>
    </ul>

{% endblock %}

{% block profileMenu %}
    {% include 'account/menu.html.twig' %}
{% endblock %}
