{% extends ':account:layout.html.twig' %}
{% block profileContent %}
   {% if form %}
        <h3>{{ 'profil.become_member'|trans({}, 'todotoday') }}</h3>

        {% for message in app.session.flashbag.get('profile_type_error') %}
            <div class="alert-error">
                <p>
                    {{ message|trans({},'todotoday') }}
                </p>
            </div>
        {% endfor %}

        {{ form(form) }}
    {% endif %}

{% endblock %}


