{% extends ':account:layout.html.twig' %}
{% set sidetext = 'account.extra_info_disclaimer' %}
{% block profileContent %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}
    <h4 class="">{{ "signin.password_title"|trans({}, "todotoday") }}</h4>
    <p><a href="{{ path('fos_user_change_password') }}">{{ 'account.edit_password'|trans({}, "todotoday") }}</a></p>
    <h4 class="">{{ "account.more_info"|trans({}, "todotoday") }}</h4>
    <div id="v-extra-profile">
        <div class="dotted-loader dotted-loader-black"></div>
        <p>{{ "loading"|trans({}, "todotoday") }}</p>
    </div>
    {% if form %}
        {{ form(form) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script id="vt-extra-profile" type="x-template">
        <div class="extra-profile">
            <div v-if="extra_data.loading == 'error'">
                <p>Error</p>
            </div>
            <div v-else-if="!extra_data.loading">
                <v-collection-add @new="pushChild"></v-collection-add>
                <message :is-visible="hasDeletedChild" type="success">
                    {{ 'account.extra.child.deleted_success' | trans({}, 'todotoday') }}
                </message>
                <v-extra-child v-for="(child, index) in children"
                               @deleted="removeChild(index)"
                               @startdelete="hasDeletedChild = false"
                               :key="child.contact_person_id"
                               :child="child"></v-extra-child>


                <v-collection-add-assistants @new="pushcontact"></v-collection-add-assistants>
                <message :is-visible="hasDeletedAssistant" type="success">
                    {{ 'account.extra.assistant.deleted_success' | trans({}, 'todotoday') }}
                </message>
                <v-extra-assistant v-for="(assistant, index) in assistants"
                                   @deleted="removeAssistant(index)"
                                   @startdelete="hasDeletedAssistant = false"
                                   :key="assistant.contact_person_id"
                                   :assistant="assistant"></v-extra-assistant>
            </div>
            <div class="dotted-loader dotted-loader-black" v-else></div>
        </div>
    </script>

    <script id="vt-collection-add" type="x-template">
        <div>
            <div class="collection-item" v-if="edition">
                <form action="">
                    <div class="grid-2 has-gutter">
                        <input v-model="firstName"
                               id="extra-child-firstname"
                               @keydown.enter.prevent="sendData"
                               type="text"
                               placeholder="{{ 'account.child_firstname' | trans({}, 'todotoday') | raw }}">
                        <Flatpickr v-model="birthdate"
                                   :options="dateFormat"
                                   id="extra-child-birthdate"
                                   placeholder="{{ 'account.child_birthdate' | trans({}, 'todotoday') }}"/>

                    </div>
                    <div class="collection-item-btn-section">

                        <loader-content
                                :is-loading="isSendingData"
                                loader-size="small">

                            <button class="btn btn-action mdi mdi-close-circle first_button" @click.prevent="editSwitch">{{ 'cancel' | trans({}, 'todotoday') }}</button>
                            <button class="btn btn-action mdi mdi-check-circle" @click.prevent="sendData">{{ 'valid' | trans({}, 'todotoday') }}</button>

                        </loader-content>
                    </div>
                </form>
            </div>
            <div v-else>
                <button class="btn btn-action mdi mdi-plus-circle btn-add-child" @click="editSwitch">{{ "account.add_child" | trans({}, 'todotoday') }}</button>
            </div>
        </div>
    </script>
    <script id="vt-extra-child" type="x-template">
        <div class="collection-item">

{# MICROSOFT A SUPPRIMÉ LA ROUTE POUR UPDATE UN CONTACT_PERSON (cas du edition=true) DONC LE CAS v-if="edition" N'EST PAS UTILISÉ À L'HEURE ACTUELLE #}
            <div v-if="edition">
                <input type="text" v-model="child.first_name">
                <input type="text" v-model="child.birth_day">
                <input type="text" v-model="child.birth_month">
                <input type="text" v-model="child.birth_year">

                <div class="text-right">
                    <loader-content
                            :is-loading="isSendingData"
                            loader-size="small">

                        <button class="btn btn-action mdi mdi-pencil-circle"
                            @click.prevent="sendData">{{ 'valid' | trans({}, 'todotoday') }}
                        </button>

                        <button class="btn btn-action mdi mdi-close-circle"
                                @click.prevent="resetForm">{{ 'valid' | trans({}, 'todotoday') }}
                        </button>
                    </loader-content>
                </div>
            </div>
            <div v-else>
                <p><span>{{ 'account.child_firstname' | trans({}, 'todotoday') | raw }} : ${ child.first_name }</span></p>

                {{ 'account.child_birthdate' | trans({}, 'todotoday') }} : ${ birthDate | readableDate(false) }

                <div class="text-right">
                    {#<button class="btn btn-action mdi mdi-pencil-circle"#}
                    {#v-on:click.prevent="editSwitch(true)">{{ 'edit' | trans({}, 'todotoday') }}#}
                    {#</button>#}
                    <loader-content
                            :is-loading="isDeletingData"
                            loader-size="small">

                        <button class="btn btn-action mdi mdi-close-circle"
                                @click.prevent="deleteData">{{ 'cart.delete_product' | trans({}, 'todotoday') }}
                        </button>
                    </loader-content>

                </div>
            </div>
        </div>
    </script>

    <script id="vt-collection-add-assistants" type="x-template">
        <div>
            <div class="collection-item" v-if="edition">
                <form action="">
                    <div class="grid-2 has-gutter">

                        <input id="extra-child-firstname"
                               type="text"
                               @keydown.enter.prevent="sendData"
                               placeholder="{{ 'firstname' | trans({}, 'todotoday') }}"
                               v-model="firstName" class="assistants-input-first-line">
                        <input id="extra-child-lastname"
                               @keydown.enter.prevent="sendData"
                               type="text" placeholder="{{ 'lastname' | trans({}, 'todotoday') }}"
                               v-model="lastName" class="assistants-input-first-line">
                        <input id="extra-child-email"
                               @keydown.enter.prevent="sendData"
                               type="email" placeholder="{{ 'signin.email_adresse' | trans({}, 'todotoday') }}"
                               v-model="email">
                        <input type="text" placeholder="{{ 'signin.phone' | trans({}, 'todotoday') }}"
                               @keydown.enter.prevent="sendData"
                               v-model="phone">
                    </div>
                    <div class="collection-item-btn-section">

                        <loader-content
                                :is-loading="isSendingData"
                                loader-size="small">

                            <button class="btn btn-action mdi mdi-close-circle first_button" @click.prevent="editSwitch">{{ 'cancel' | trans({}, 'todotoday') }}</button>
                            <button class="btn btn-action mdi mdi-check-circle" @click.prevent="sendData">{{ 'valid' | trans({}, 'todotoday') }}</button>
                        </loader-content>

                    </div>
                </form>
            </div>
            <div v-else>
                <button class="btn btn-action mdi mdi-plus-circle" @click="editSwitch">{{ "profile.add_assistant" | trans({}, 'todotoday') }}</button>
            </div>
        </div>
    </script>
    <script id="vt-extra-assistant" type="x-template">
        <div class="collection-item">
            <div v-if="edition">
                <input type="text" v-model="assistant.first_name">
                <input type="text" v-model="assistant.last_name">
                <input type="text" v-model="assistant.primary_email_address">
                <input type="text" v-model="assistant.birth_year">
                <div class="text-right">
                    <loader-content
                            :is-loading="isSendingData"
                            loader-size="small">

                        <button class="btn btn-action mdi mdi-pencil-circle"
                                @click.prevent="sendData">{{ 'valid' | trans({}, 'todotoday') }}
                        </button>
                    </loader-content>

                    <button class="btn btn-action mdi mdi-close-circle"
                            @click.prevent="resetForm">{{ 'valid' | trans({}, 'todotoday') }}
                    </button>
                </div>
            </div>
            <div v-else>
                <p><span>{{ 'account.assistant.fullname' | trans({}, 'todotoday') }} : ${ assistant.first_name } ${ assistant.last_name }</span></p>

                <p><span>{{ 'account.assistant.email' | trans({}, 'todotoday') }} : ${ assistant.primary_email_address }</span></p>

                <p v-if="assistant.primary_phone_number">{{ 'account.assistant.phone' | trans({}, 'todotoday') }} : ${ assistant.primary_phone_number }</p>

                <div class="text-right">
                    {#<button class="btn btn-action mdi mdi-pencil-circle"#}
                    {#v-on:click.prevent="editSwitch(true)">{{ 'edit' | trans({}, 'todotoday') }}#}
                    {#</button>#}
                    <loader-content
                            :is-loading="isDeletingData"
                            loader-size="small">

                        <button class="btn btn-action mdi mdi-close-circle"
                                @click.prevent="deleteData">{{ 'cart.delete_product' | trans({}, 'todotoday') }}
                        </button>
                    </loader-content>
                </div>
            </div>
        </div>
    </script>

    <script src="{{ asset('build/extraProfile.js') }}"></script>
{% endblock %}

{% block profileMenu %}

    {% include 'account/menu.html.twig' %}
{% endblock %}
