{% extends ':account:layout.html.twig' %}
{% block profileContent %}
    <h1>Conversations</h1>
    <ul>
        {% if conversations|length == 0 %}
            <h4>Aucune conversation archivée</h4>
        {% endif %}
        {% for conversation in conversations %}
            <li>
                <h4>Conversation du {{ conversation.startAt|localizeddate }}</h4>
                <p>Service : {{ conversation.service }}<p>
                <p>Message : {{ conversation.messages|length }}</p>
                {% for message in conversation.messages %}
                    {% set displayName = message.author is instanceOf('Todotoday\\AccountBundle\\Entity\\Adherent') ? message.author.FullName : 'TO DO TODAY' %}
                    <ul>
                        <li>{{ displayName }}</li>
                        le {{ message.date|localizeddate }}
                        <p>{{ message.content }}</p>
                    </ul>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block profileMenu %}
    {% include 'account/menu.html.twig' %}
{% endblock %}
