{# admin/questionnaire/show_question_answer.html.twig #}

{% extends ':admin:layout.html.twig' %}

{% block show %}

    {{ sonata_block_render({ 'type': 'sonata_translation.block.locale_switcher' }, {
        'admin': admin,
        'object': questionnaire,
        'locale_switcher_route': 'show_question_answer',
        'locale_switcher_route_parameters': {'type': type}
    }) }}

    {# ... #}
{% endblock %}