
.p-mastercard:before { content: '\e85f'; } /* '' */
.p-maestro:before { content: '\e860'; font-size: 1.2em;} /* '' */
.p-amex:before { content: '\f001'; font-size: 1.2em;} /* '' */
.p-amex2:before { content: '\f002'; font-size: 1.2em;} /* '' */
.p-cartebleue:before { content: '\f00e'; } /* '' */
.p-diners-club:before { content: '\f013'; } /* '' */
.p-discover:before { content: '\f014'; } /* '' */
.p-googlewallet:before { content: '\f01d'; } /* '' */
.p-googlewallet-2:before { content: '\f01e'; } /* '' */
.p-jcb:before { content: '\f028'; } /* '' */
.p-paypal:before { content: '\f033'; } /* '' */
.p-paypal2:before { content: '\f034'; } /* '' */
.p-stripe:before { content: '\f03e'; } /* '' */
.p-unionpay:before { content: '\f041'; } /* '' */
.p-visa:before { content: '\f045'; } /* '' */
.p-visa-electron:before { content: '\f046'; } /* '' */
.p-westernunion:before { content: '\f047'; } /* '' */
.p-westernunion-banktransfer:before { content: '\f048'; } /* '' */
.p-sepa:before { content: '\f04a'; } /* '' */
.p-sepa-2:before { content: '\f04b'; } /* '' */
.p-apple-pay:before { content: '\f04c'; } /* '' */
.p-elo2:before { content: '\f055'; } /* '' */
.p-elo:before { content: '\f056'; } /* '' */