<a href="{{ admin.generateObjectUrl('group', object) }}"
   class="btn btn-sm btn-primary" target="_blank">
    <i class="fa fa-eye" aria-hidden="true"></i> {{ 'see_group_activity'|trans({},'messages') }}
</a>
