{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends base_template %}

{% block title %}{{ 'title_select_media_option'|trans({}, 'todotoday') }}{% endblock %}

{% block content %}
    <div class="box box-success">
        <div class="box-header">
            <h3 class="box-title">
                {{ block('title') }}
            </h3>
        </div>
        <div class="box-body">
            {% for option in options %}
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <a href="{{ admin.generateUrl(option, {'id': id}) }}"
                       class="btn btn-app btn-block"
                    >
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        {{ ('select_media_option_' ~ option)|trans({}, 'todotoday') }}
                    </a>
                </div>
            {% else %}
                <span class="alert alert-info">{{ 'no_options_available'|trans({}, 'todotoday') }}</span>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
