<li>
    <a class="sonata-action-element" href="{{ admin.generateObjectUrl('selectmedias', object) }}">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        {{ 'select_media_option_button'|trans({}, 'todotoday') }}
    </a>
</li>