{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <span style="display: block; overflow-wrap: break-word; width: 250px;">
    {{ object.content|nl2br }}
    <br /><br />
    {% if object.media is not null %}
        <a href="{{ path('admin_todotoday_media_media_edit', {id: object.media.id}) }}">
            {% thumbnail object.media, 'small' %}
        </a>
    {% endif %}
    </span>
{% endblock field %}