{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent_noclass %}

    <main class="new-full">
        <div class="main-content ">
            <h1 class="title-shadow">{{ cgv.title }}</h1>

            <p>
                {{ cgv.content|markdown }}
            </p>
            <br />
            <footer>
                <a class="btn btn-action mdi mdi-download" href="{% path cgvMedia, 'reference' %}" target="_blank">
                    {{ "cgv.download"|trans({}, "todotoday") }}
                </a>
            </footer>
        </div>
    </main>

{% endblock %}