{% extends ':default:rightsideWidth.html.twig' %}

{% block mainContent_noclass %}
    <div class="main-content">
        {% include 'order/order_nav.html.twig' %}
    </div>
    <main class="td-cmd main-content has_nav">

        <nav class="td-horizontal-nav">
            {% include 'order/order_menu.html.twig' %}
        </nav>

        <section class="">

            <header>
                <h3>{{ "my_ro"|trans({}, "todotoday") }}</h3>
            </header>

            {% if not months %}
                {{ "invoice.no_invoice"|trans({}, "todotoday") }}
            {% endif %}

            <ul class="td-cmd-list">

                {% for month, invoice in months %}
                    <li>
                        <article class="td-cmd-list-item grid-3 has-gutter">

                            <div class="cmd-content two-thirds relativist">
                                <header class="grid-2 has-gutter">
                                    <h4 class="five-sixths">
                                        {{ invoice[constant('Todotoday\\InvoiceBundle\\Services\\CustomerInvoicesManager::INVOICE_DATE')]
                                            | localizeddate('full', 'short', app.request.locale, null, 'MMMM Y' )
                                            | capitalize }}
                                    </h4>
                                    <span class="cmd-content-total one-sixth">
                                        {{ invoice[constant('Todotoday\\InvoiceBundle\\Services\\CustomerInvoicesManager::TOTAL_INVOICE_AMOUNT')]
                                            | localizedcurrency(currency) }}
                                    </span>
                                </header>
                            </div>

                            {# ACTION BUTTONS #}
                            <div class="cmd-content cmd-actions two-sixth">
                                <a class="btn btn-action mdi mdi-download btn-invoice-download"
                                   target="_blank"
                                   href="{{ invoice[constant('Todotoday\\InvoiceBundle\\Services\\CustomerInvoicesManager::INVOICE_MONTH_URL')] }}">
                                    {{ "download"|trans({}, "todotoday") }}
                                </a>
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/horizontalNav.js') }}"></script>
{% endblock %}