{% extends ":default:rightsideWidth.html.twig" %}

{% block mainContent_noclass %}
    <main class="td-fgs main-content">

        <section>

            <header class="main-title grid-2 has-gutter">
                <h3>
                    {{ "fgs.my_fgs"|trans({}, "todotoday") }}
                </h3>

                <a href="{{ path('fgs_select_order') }}" class="btn btn-action mdi mdi-plus">
                    {{ "fgs.new_fgs"|trans({}, "todotoday") }}
                </a>
            </header>

            {% if not all_fgs %}
                {{ "fgs.no_fgs"|trans({}, "todotoday") }}
            {% endif %}

            <ul class="td-cmd-list">
                {% for fgs in all_fgs %}
                    <li>

                        <article class="td-cmd-list-item">

                            <div class="cmd-content relativist">
                                <header class="grid-2 has-gutter">
                                    <h4 class="two-thirds">
                                        {{ "fgs.fgs_of_date"|trans({'%date%': fgs.createdon|localizeddate('full', 'short')}, "todotoday") }}
                                        <br>

                                        <small>
                                            {#{{ "fgs.fgs_order_of_date"|trans({'%date%': fgs.apsLignedecommandeValue|localizeddate}, "todotoday") }}#}
                                        </small>
                                    </h4>

                                    <div class="cmd-content-total one-third text-right">
                                        {{ fgs.statuscodeString }}
                                    </div>
                                </header>
                            </div>

                        </article>

                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>

{% endblock %}