{% extends ":default:rightsideWidth.html.twig" %}

{% block mainContent_noclass %}
    <main class="td-cmd main-content">

        <section class="history-orders">

            {% set targetCurrency = order.currencyCode %}

            <header>
                <h3>{{ "fgs.form_title"|trans({}, "todotoday") }}</h3>
            </header>

            <article class="td-cmd-list-item">

                <div class="cmd-content relativist">
                    <header class="grid-2 has-gutter">
                        <h4 class="five-sixths">
                            {{ "order.list_orders_header"|trans({}, "todotoday") }}
                            {{ order.creationDate | localizeddate('full', 'none', app.request.locale ) }}
                            <br>
                            <small>ref: {{ order.salesOrderNumber }} </small>
                            <br>
                            <small class="order-status">{{ order.orderStatusDisplay }}
                                {% if order.orderStatus == constant('Todotoday\\CheckoutBundle\\Enum\\OrderStatusEnum::READY') %}
                                    {% set deliveryTranslation = constant('Todotoday\\CoreBundle\\Serializer\\DeliveryModeTranslatorHandler::DELIVERY_PREFIX')~order.deliveryModeCode %}
                                    ({{ deliveryTranslation|trans({},'todotoday') }})
                                {% endif %}
                            </small>
                        </h4>
                        <span class="cmd-content-total one-sixth">
                            {{ order.totalAmount|localizedcurrency(targetCurrency) }}
                        </span>
                    </header>
                </div>

                {{ form(form) }}

            </article>

        </section>
    </main>



{% endblock %}