{% extends 'order/order_history.html.twig' %}

{% block navigation_menu %}
{% endblock %}

{% block page_header_title %}
    <h3>
        {{ "fgs.order.select_title"|trans({}, "todotoday") }}
    </h3>

    <p>{{ "fgs.order.select_subtitle"|trans({}, "todotoday") }}</p>
{% endblock %}

{% block error_get_orders %}
    {{ "fgs.error.get_order_for_fgs"|trans({}, "todotoday") }}
{% endblock %}

{% block action_buttons %}
    <div v-if="(order['order_status'] !== 'canceled')"
         class="cmd-content cmd-actions one-fifth">

        <button @click.prevent="selectOrder(order)"
                class="btn-action mdi mdi-clipboard-alert">
            {{ "fgs.order.select"|trans({}, "todotoday") }}
        </button>
    </div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block additional_javascripts %}
    <script src="{{ asset('dist/js/bundles/fgs_select_order.js') }}"></script>
{% endblock %}