<template>
    <div>
        <div class="row">
            <div class="col-xs-12">
                <message class="message-success"
                         type="success"
                         :is-visible="hasSucceded"
                >
                    {{ 'adherent.import_succeded'|$t }}
                </message>
                <form action="#" @submit.prevent="search">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="addon">
                            {{ 'adherent_account_number' | $t}}
                        </span>
                        <input
                                type="text"
                                class="form-control"
                                v-model="searchKey"
                                aria-describedby="addon"
                                placeholder="EPAxxx"
                                style="z-index: 1"
                        >
                        <div class="input-group-btn">
                            <button
                                    class="btn btn-primary"
                                    :class="{'disabled': isLoading || searchKey=== null || search===''}"
                                    :disabled="searchKey===null || search===''"
                                    type="submit"
                                    @click="search"
                                    style="z-index: 1"
                            >
                                <span
                                        class="glyphicon"
                                        :class="{
                                      'glyphicon-refresh gl-animated': isLoading,
                                      'glyphicon-search': !isLoading
                                        }">

                                </span>
                                {{ labelButton|$t }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="margin-top:20px;">
                <div v-if="hasResult">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>{{ adherent.name }}</h2>
                            <h3>{{ adherent.customer_account}}</h3>
                            <span>{{'adherent.already_in_front'|$t}} : </span>
                            <span
                                    class="label"
                                    :class="{
                                      'label-danger': !isAdherentInFront,
                                      'label-success': isAdherentInFront
                                    }"
                            >
                            {{ 'general.'+isAdherentInFront|$t }}
                            </span>
                            <br>
                            <span>{{ 'signin.email_adresse'|$t }} : {{ adherent.primary_contact_email}}</span>
                            <br>
                            <br>
                            <a href="#" @click.prevent="showInfo = !showInfo">
                                {{toggleInformationLabel|$t}}
                            </a>
                            <span v-if="isAdherentInFront">
                                <a :href="adherentFilterUrl" target="_blank">
                                <button class="btn btn-primary pull-right">
                                    {{'admin.adherent_see_information' | $t}}
                                </button>
                                    </a>
                            </span>
                            <span v-else>
                                <button class="btn btn-primary pull-right"
                                        @click="confirmModalImport"
                                >
                                        {{'admin.adherent_import'|$t}}
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div v-else-if="hasSearched">
                    {{'general.no_result'|$t}}
                </div>
                <div v-if="showInfo">
                    <pre>{{adherent}}</pre>
                </div>
            </div>
        </div>
        <modal
                :visible="showModalImport"
                size="md"
                @close="showModalImport = false"
        >
            <div slot="header">
                <h1>Confirmation</h1>
            </div>
            <div slot="body">
                <message class="message-error"
                         type="error"
                         :is-visible="hasError"
                >
                    <span v-for="error in messageErrors" style="display:block;margin-bottom:20px;">{{ error }}</span>
                </message>
                <p v-html="htmlDisclaimer"></p>
                <div class="form-group">
                    <label for="emailAdherentInFront">{{'signin.email_adresse'|$t}}</label>
                    <input
                            type="email"
                            class="form-control"
                            id="emailAdherentInFront"
                            v-model="emailAdherentInFront"
                    >
                </div>
            </div>
            <div slot="footer">
                <button class="btn btn-danger" @click="showModalImport=false">
                    <span class="glyphicon glyphicon-remove"></span>
                    {{ 'cancel' | $t}}
                </button>
                <button
                        class="btn btn-success"
                        :class="{
                            'disabled': !isAdherentMailInFrontValid || isImportLoading
                        }"
                        :disabled="!isAdherentMailInFrontValid || isImportLoading"
                        @click="importAdherent">
                    <span
                            class="glyphicon"
                            :class="{
                                        'glyphicon-refresh gl-animated': isImportLoading,
                                        'glyphicon-ok': !isImportLoading
                                        }"
                    >
                    </span>
                    {{ 'adherent.import_action'|$t }}
                </button>
            </div>
        </modal>
    </div>
</template>

<script>
  import JWTManager from '../../manager/JWTManager'
  import Api from '../../manager/apiManager'
  import Translation from '../../filters/translation'
  import Modal from '../../components/base/ACTModal'
  import Message from '../../components/base/ACTMessage'

  export default {
    name: 'adherent-migration',
    props: ['agency', 'data-area-id'],
    components: {
      'modal': Modal,
      'message': Message
    },
    data () {
      return {
        hasSucceded: false,
        messageErrors: [],
        hasError: false,
        showInfo: false,
        showModalImport: false,
        hasSearched: false,
        hasResult: false,
        isLoading: false,
        isImportLoading: false,
        searchKey: null,
        adherent: {
          name: '',
          customer_account: '',
          in_front: '',
          primary_contact_email: '',
        },
        emailAdherentInFront: null
      }
    },
    computed: {
      htmlDisclaimer () {
        const translatedText = this.$options.filters.$t('adherent.import_disclaimer', {
          '%name%': this.adherent.name,
          '%ccg%': this.agency
        })

        return this.$options.filters.nl2br(translatedText)
      },
      toggleInformationLabel () {
        return this.showInfo ? 'general.hide_info' : 'general.show_info'
      },
      isAdherentInFront () {
        return this.adherent.in_front === 'Yes'
      },
      labelButton () {
        return this.isLoading ? 'general.searching' : 'general.search'
      },
      adherentFilterUrl () {
        return Routing.generate('admin_todotoday_account_adherent_list', {
          'filter[customerAccount][value]': this.adherent.customer_account
        })
      },
      isAdherentMailInFrontValid () {
        const emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

        return emailRegex.test(this.emailAdherentInFront)
      }
    },
    beforeMount () {
      JWTManager.setApiManagerWithToken()
    },
    methods: {
      search () {
        const url = Routing.generate('todotoday.account.api.adherent.get_search_ax_adherent_by_account_number')
        this.isLoading = true
        Api.api_get(url, {
          params: {
            'account-number': this.searchKey
          }
        }).then(data => {
          this.hasResult = !!data.data
          this.hasSearched = true
          this.adherent = data.data
        }).catch(error => {
          console.log(error)
        }).then(() => this.isLoading = false)
      },
      confirmModalImport () {
        this.emailAdherentInFront = this.adherent.primary_contact_email
        this.showModalImport = true
      },
      importAdherent () {
        this.isImportLoading = true
        const url = Routing.generate('todotoday.account.api.adherent.post_migration')

        Api.api_post(url, {
          customerAccount: this.adherent.customer_account,
          dataAreaId: this.dataAreaId,
          email: this.emailAdherentInFront
        }, false, this.agency).then(data => {
          this.adherent.in_front = 'Yes'
          this.showModalImport = false
          this.hasSucceded = true
        })
          .catch(err => {
            this.messageErrors.length = 0
            if (err.response && err.response.status !== 400) {
              this.messageErrors.push(this.$options.filters.$t('rdv.popup_error_message'))
            }
            const errMsg = err.response.data.errors.children

            Object.keys(errMsg).map((key => {
              if (errMsg[key].hasOwnProperty('errors')) {
                errMsg[key].errors.forEach(el => this.messageErrors.push(key + ' : ' + el))
              }
            }))

            this.hasError = true
            console.error(err)
          }).then(() => {
          this.isImportLoading = false
        })

      }
    },
    watch: {
      showModalImport (newVal) {
        if (!newVal) {
          // if the modal is closed, we clear all the error message
          this.messageErrors.length = 0
          this.hasError = false
        }
      }
    }
  }
</script>

<style lang="scss">
    .sidebar-collapse .modal {
        padding-left: 0;
    }

    .modal {
        position: fixed;
        z-index: 1;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        padding-left: 230px;

        display: flex;
        align-items: center;
        justify-content: center;

        &.invisible {
            display: none;
        }

        &.visible {
            display: flex;
        }

        .modal-content {
            position: relative;

            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s;

            padding: .8rem 2rem 0;

            border-radius: 8px;
            border: solid 1px #d5d5d5;
            background-color: #fff;

            font-family: Roboto, helvetica, arial, sans-serif;
            text-align: left;

            .close {
                color: black;
                font-size: 28px;
                font-weight: bold;
                position: absolute;
                right: -15px;
                top: -5px;
                width: 30px;
                height: 30px;
                background: white;
                line-height: 30px;
                border-radius: 50%;
                text-align: center;
                border-right: solid 1px #d5d5d5;
            }

            .close:hover,
            .close:focus {
                color: #F36F20;
                text-decoration: none;
                cursor: pointer;
            }

            .modal-header {
                position: relative;
                margin: 0 -2rem 0;
                border-bottom: 1px solid #efefef;
                padding: 0 2rem;

                h3 {
                    color: #2e2e2e;
                    font-size: 24px;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    text-align: left;
                }
            }

            .modal-body {
                font-size: 18px;
                text-align: left;
                margin: 2rem 0;
            }

            .modal-footer {
                text-align: right;
                margin: 0 -2rem 1rem;
                border-top: 1px solid #efefef;
                padding: 1rem 2rem 0;
            }
        }
    }

    .gl-animated {
        -webkit-animation: gl-spin 2s infinite linear;
        animation: gl-spin 2s infinite linear;
    }

    @-webkit-keyframes gl-spin {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }

    @keyframes gl-spin {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }

    .modal .modal-content.modal-sm {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        max-width: 340px;
    }

    @media (min-width: 1024px) {
        .modal .modal-content.modal-sm {
            width: 340px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .modal .modal-content.modal-md {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        max-width: 500px;
    }

    @media (min-width: 1024px) {
        .modal .modal-content.modal-md {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .modal .modal-content.modal-lg {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        max-width: 660px;
    }

    @media (min-width: 1024px) {
        .modal .modal-content.modal-lg {
            width: 660px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .modal .modal-content.modal-xl {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        max-width: 940px;
    }

    @media (min-width: 1024px) {
        .modal .modal-content.modal-xl {
            width: 940px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    /** ########################### ALERT MESSAGES ############################ */
    [class^="alert-"] {
        margin: 1.5em 0;
        border-radius: 2px;
        padding: 0em 1em;
        line-height: 20px;

        &.margin-top-bottom {
            margin: 10px 0;
        }

        &.form-error {
            margin: 0.7em 0;
        }

        p {
            margin: .5em 0;
            color: black;

            &::before {
                font-size: 1.4em;
                line-height: 20px;
                vertical-align: middle;
                display: inline-block;
                margin-right: 10px;
                font-family: "MaterialDesignIcons", "Material Design Icons", mdi;
            }
        }
    }

    .alert-error {
        background-color: rgba(#FF2D55, .2) !important;
        border: 1px solid rgba(#FF2D55, .5);
        & p::before {
            content: "\F15C";
            color: #FF2D55;
        }
    }

    .alert-header {
        margin: 0;
    }

    .alert-success {
        background-color: rgba(#29BB9C, .2) !important;;
        border: 1px solid rgba(#29BB9C, .5);
        & p::before {
            content: "\F133";
            color: #29BB9C;
        }
    }

    .alert-warning {
        background-color: rgba(#F19B2C, .2) !important;;
        border: 1px solid rgba(#F19B2C, .5);
        & p::before {
            content: "\F026";
            color: #F19B2C;
        }
    }

    .alert-info {
        background-color: rgba(#314F9C, .2) !important;;
        border: 1px solid rgba(#314F9C, .5);
        & p::before {
            content: "\F2FC";
            color: #314F9C;
        }
    }

    .alert-checked {
        background-color: rgba(#314F9C, .2) !important;;
        border: 1px solid rgba(#314F9C, .5);
        & p::before {
            content: "\F5E0";
            color: #314F9C;
        }
    }
</style>