<template>
    <div>
        <table class="sonata-order-block-order-container table table-condensed">
            <thead>
                <tr>
                    <th>{{ 'title' | $t }}</th>
                    <th>{{ 'author' | $t }}</th>
                    <th>{{ 'agency' | $t }}</th>
                    <th>{{ 'state' | $t }}</th>
                </tr>
            </thead>

            <tbody>
                <tr v-if="noPosts">
                    <td colspan="4">
                        {{ 'no_posts' | $t }}
                    </td>
                </tr>

                <tr v-for="linkPostAgency in linkPostsAgencies">
                    <td><a :href="linkPostAgency.previewUrl" target="_blank">{{ linkPostAgency.ptitle }}</a></td>
                    <td>{{ linkPostAgency.username }}</td>
                    <td>{{ linkPostAgency.slug }}</td>
                    <td>
                        <button @click="switchState(linkPostAgency)"
                                v-if="linkPostAgency.state === 'published'"
                                class="btn btn-success">{{ 'published' | $t }}
                        </button>
                        <button @click="switchState(linkPostAgency)"
                                v-if="linkPostAgency.state === 'unpublished'"
                                class="btn btn-error">{{ 'unpublished' | $t }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import translation from './../../filters/translation';
    import Api from '../../manager/apiManager';
    import LinkPostAgencyFormatter from '../../models/cms/ACTLinkPostAgencyFormatter';

    export default {
        name: 'latestPosts',
        props: ['token'],
        data: function () {
            return {
                linkPostsAgencies: []
            }
        },
        mounted: function () {
//            console.log('mounting');

            let full = window.location.host;
            let parts = full.split('.');
            if (this.token) {
                let dataToken = JSON.parse(this.token);
                Api.setParameters(dataToken.jwt, parts[0]);
                this.getLatestPost();
            }
        },
        methods: {
            getLatestPost: function () {
                let $this = this;
                let url = Routing.generate('todotoday.cms.api.link_post_agency.get_latest');
//                console.log(url);
                Api.api_get(url).then((response) => {
                    $this.linkPostsAgencies = LinkPostAgencyFormatter.format(response.data);
                }).catch((error) => {
                    console.log(error);
//                    $this.getLatestPost();
                });
            },
            switchState: function (linkPostAgency) {
                let state;
                if (linkPostAgency.state == 'published') {
                    state = 'unpublished';
                } else {
                    state = 'published';
                }

                let url = Routing.generate('todotoday.cms.api.link_post_agency.put_changed_state', {
                    id: linkPostAgency.id,
                    state: state
                });
//                console.log(url);
                Api.api_put(url).then((response) => {
//                    console.log(response);
                    if (response.status == 200) {
                        linkPostAgency.state = state;
                    }
                });
            }
        },
        computed: {
            noPosts(){
                return (this.linkPostsAgencies.length === 0);
            }
        }
    };
</script>

<style lang="scss">
</style>
