{% extends ":default:fullWidth.html.twig" %}
{% block mainContent_noclass %}
    <header class="td-wf-box-xl td-cart-header">
        <h2>{{ 'quotation.request_for_quotation'|trans({}, "todotoday") }}</h2>
    </header>
    <section class="td-wf-box td-wf-box-xl td-cart content-quotation">
        <ul class="td-cart-list">
            <li id="product-cart-12" class="td-cart-list-item">
                <div class="td-cart-list-product">
                    <h3>{{ product.nameTrans }}</h3>
                    <p>{{ 'catalog.family'|trans({}, "todotoday") }}&nbsp;:&nbsp;{{ productFamily }}</p>
                </div>
                <div class="td-cart-list-button">
                    <a href="#" class="btn btn-action mdi mdi-close" onclick="history.go(-1); event.preventDefault(); return false;">
                        {{ 'quotation.cancel_button'|trans({}, "todotoday") }}
                    </a>
                </div>
            </li>
            <li class="td-cart-list-item"></li>
        </ul>

        <p>{{ 'quotation.informations_to_fill_form'|trans({}, "todotoday")|raw }}</p>
        {% if errors|length > 0 %}
            <div class="alert-error">
                <p>{{ 'quotation.form.error'|trans({},'todotoday') }}</p>
            </div>
            <ul>
                {% for error in errors %}
                    <li>
                        <div>
                            <a href="#{{ error.origin.parent.config.name ~ '_' ~ error.origin.config.name }}">
                                {{ error.origin.config.options['label'] }}
                            </a>: {{ error.message }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form(form) }}

    </section>

{% endblock %}