{# app/Resources/views/email/password_resetting.email.twig #}

{% block subject %}
{%- autoescape false -%}
{{ 'reset_password.sujet_mail'|trans({},'todotoday') }}
{%- endautoescape -%}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{{ 'reset_password.header_mail'|trans({},'todotoday') }}

{{ confirmationUrl }}

{{ 'reset_password.footer_mail'|trans({},'todotoday') }}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<html>
<body>
<p>
    {{ 'reset_password.header_mail'|trans({},'todotoday')|nl2br }}
</p>
<p>
    <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
</p>
<p>
    {{ 'reset_password.footer_mail'|trans({},'todotoday') }}
</p>

</body>
</html>
{% endblock %}