<html>
<body>
<p>
    Bonjour,
</p>
<p>Pour confirmer l'inscription sur la conciergerie {{ agency.name }}, veuillez cliquer sur le lien ci-dessous</p>
<p>
    <a href="{{ url_registration }}">{{ url_registration }}</a>
</p>
</body>
</html>

