<html>
<body>
<p>
    Cher(e) Adhérent(e),<br><br>

    Parce que notre métier est notre passion et que vous satisfaire est notre priorité découvrez la conciergerie 3.0 par
    TO DO TODAY . <br><br>

    Notre mission, permettre à tous de Vivre Pleinement!<br>
    Pour une Vie Libérée des Contraintes, une Vie en Pleine Forme et une Vie Engagée connectez vous sur TO DO TODAY,<br>
    notre nouveau portail, entièrement redessiné vous offre un accès rapide à vos services préférés et à de
    nombreuses<br>
    nouvelles fonctionnalités : devenez membre de la communauté TO DO TODAY, participez à un programme d'animations<br>
    riche et varié...
    <br>
    Pour pleinement profiter de ces nouveautés vous devrez tout d’abord réactiver votre compte<br>
    Connectez-vous sur <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>, choisissez votre nouveau mot de<br>
    passe et paramétrez votre compte. L'innovation digitale doit être au service de votre satisfaction, prenez<br>
    quelques instants pour nous faire part de votre avis sur votre nouvel espace adhérent.<br><br>
</p>
<p>
    <a href="{{ agencyUrl }}">{{ agencyUrl }}</a>
</p>
<p>
    A très bientôt,<br/>
    Votre concierge TO DO TODAY
</p>

</body>
</html>