<html>
<body>
<p>
    Dear Member,<br><br>

    Because our work is our passion and your satisfaction our priority, we invite you to discover La Conciergerie 3.0 by
    TO DO TODAY.<br><br>

    Our mission: create new opportunities so you can Live Fully, a Life Freed from Constraints, a Life in Top Shape, a
    Life of Engagement. <br>
    Our new web portal, completely redesigned, allows a quick access to your favorite services and provides many new<br>
    features: rate our services, become a member of the TO DO TODAY community, participate in the events program ...<br>
    <br>
    To fully benefit from these new features, you will need to reactivate your account first.<br>
    Log on to <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a> choose your new password and set up your
    account. <br>

    Because your satisfaction is essential to us, so please take a moment to provide feed-back on your experience
    with<br>
    the web portal and tell us how we can keep improving it.
</p>
<p>
    <a href="{{ agencyUrl }}">{{ agencyUrl }}</a>
</p>
<p>
    We are looking forward to hearing from you,<br/>
    Kind Regards<br>
    TO DO TODAY
</p>

</body>
</html>