Dear Member,

Because our work is our passion and your satisfaction our priority, we invite you to discover La Conciergerie 3.0 by
TO DO TODAY.

Our mission: create new opportunities so you can Live Fully, a Life Freed from Constraints, a Life in Top Shape, a
Life of Engagement.
Our new web portal, completely redesigned, allows a quick access to your favorite services and provides many new
features: rate our services, become a member of the TO DO TODAY community, participate in the events program ...

To fully benefit from these new features, you will need to reactivate your account first.
Log on to {{ confirmationUrl }} choose your new password and set up your account.

Because your satisfaction is essential to us, so please take a moment to provide feed-back on your experience
with the web portal and tell us how we can keep improving it.

{{ agencyUrl }}

We are looking forward to hearing from you,
Kind Regards
TO DO TODAY
