{# app/Resources/views/email/password_resetting.email.twig #}

{% block subject %}Objet : Nouveaux services TO DO TODAY{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Cher(e) Adhérent(e),

        Parce que notre métier est notre passion et que vous satisfaire est notre priorité découvrez la conciergerie 3.0
        par TO DO TODAY.
        Pour Une Vie Libérée des Contraintes, une Vie en Pleine Forme et Une Vie Engagée, un portail et une application
        redessinés qui offrent un accès rapide à vos services préférés et à de nombreuses nouvelles fonctionnalités :
        devenez membre de la communauté TO DO TODAY, participez à un programme d'animations riche et varié...

        Cependant, pour pleinement profiter de ces nouveautés vous devrez tout d’abord réactiver votre compte.
        Connectez-vous sur {{ confirmationUrl }}, choisissez votre nouveau mot
        de passe et paramétrez votre compte. L'innovation digitale doit être au service de votre satisfaction, prenez
        quelques instants pour nous faire part de votre avis sur votre nouvel espace adhérent.

        {{ agencyUrl }}

        A très bientôt,
        Votre Conciergerie TO DO TODAY
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    <html>
    <body>
    <p>
        Cher(e) adhérent(e),<br><br>

        Parce que notre métier est notre passion et que vous satisfaire est notre priorité découvrez la conciergerie 3.0
        par TO DO TODAY.<br/>

        Pour Une Vie Libérée des Contraintes, une Vie en Pleine Forme et Une Vie Engagée, un portail et une application
        redessinés qui offrent un accès rapide à vos services préférés et à de nombreuses nouvelles fonctionnalités :
        devenez membre de la communauté TO DO TODAY, participez à un programme d'animations riche et varié...<br/>

        Cependant, pour pleinement profiter de ces nouveautés vous devrez tout d’abord réactiver votre compte.
        Connectez-vous sur <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>, choisissez votre nouveau mot de
        passe et paramétrez votre compte. L'innovation digitale doit être au service de votre satisfaction, prenez
        quelques instants pour nous faire part de votre avis sur votre nouvel espace adhérent.<br/><br/>
    </p>
    <p>
        <a href="{{ agencyUrl }}">{{ agencyUrl }}</a>
    </p>
    <p>
        A très bientôt,<br/>
        Votre concierge TO DO TODAY
    </p>

    </body>
    </html>
{% endblock %}