<html>
<body>
<p>
    {{ 'mail.confirmation_coadh' | trans({'%adherent%': parentFullName, '%agency%': agency.name|capitalize}, 'todotoday')|nl2br }}
</p>
<p>
    <a href="{{ url_registration }}">{{ url_registration }}</a>
</p>
</body>
</html>

