{% if lockerCode %}
    {{ messageKey | trans({'%lockercode%': "mail.locker_confirmation"| trans({}, 'todotoday'),'%fullname%': fullname }, 'todotoday') |nl2br }}
{% else %}
    {{ messageKey | trans({'%lockercode%': '','%fullname%': fullname}, 'todotoday')|nl2br }}
{% endif %}