<html>
<body>
<p>
    {{ messageKey |trans({},'todotoday')|nl2br }}
</p>
<p>
    <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
</p>
<p>
    {{ 'reset_password.footer_mail'|trans({},'todotoday') }}
</p>

</body>
</html>