<html>
<body>
<p>
    {% if lockerCode %}
        {{ messageKey | trans({'%lockercode%': "mail.locker_confirmation"| trans({}, 'todotoday'),'%fullname%': fullname }, 'todotoday') |nl2br }}
    {% else %}
        {{ messageKey | trans({'%lockercode%': '','%fullname%': fullname}, 'todotoday')|nl2br }}
    {% endif %}
</p>
<p>
    {{ 'mail.text_link_agency' | trans({}, 'todotoday') }} : <a href="{{ agencyUrl }}">{{ agencyUrl }}</a><br />
    {{ 'mail.text_link_appstore' | trans({}, 'todotoday') }} : <a href="{{ 'mail.url_link_appstore' | trans({}, 'todotoday') }}">{{ 'mail.url_link_appstore' | trans({}, 'todotoday') }}</a><br />
    {{ 'mail.text_link_googleplaystore' | trans({}, 'todotoday') }} : <a href="{{ 'mail.url_link_googleplaystore' | trans({}, 'todotoday') }}">{{ 'mail.url_link_googleplaystore' | trans({}, 'todotoday') }}</a><br />
    {{ 'mail.text_link_legal_notice' | trans({}, 'todotoday') }} : <a href="{{ downloadsUrl }}">{{ downloadsUrl }}</a><br />
</p>
</body>
</html>

