<template>
    <div class="td-book">
        <!-- BOOKING CALENDAR NAVIGATION -->
        <nav class="td-book-nav grid-3">
            <span class="td-book-nav-l">
                <a @click.prevent="goToPreviousWeek" :class="{ 'link-disabled': isFirstWeek }" href="#">
                    <i class="mdi mdi-chevron-left mdi-large"></i>
                    {{ weekHeaderTitleByWeekNumber(-1, true) }}
                </a>
            </span>
            <span class="td-book-nav-center">
                <select v-model="currentWeek">
                    <option :value="0" selected>{{ weekHeaderTitleByWeekNumber(0) }}</option>
                    <option v-for="weekNumber in maxWeeksSelection" :value="weekNumber"
                            :key="'week-number-' + weekNumber">
                        {{ weekHeaderTitleByWeekNumber(weekNumber) }}
                    </option>
                </select>
            </span>
            <span class="td-book-nav-r">
                <a @click.prevent="goToNextWeek" :class="{ 'link-disabled': isLastWeek }" href="#">
                    {{ weekHeaderTitleByWeekNumber(1, true) }}
                    <i class="mdi mdi-chevron-right mdi-large"></i>
                </a>
            </span>
        </nav>

        <!-- BOOKING CALENDAR CONTENT -->
        <div class="table-booking-calendar">

            <transition-group name="list" class="table-row" tag="div" appear>
                <div v-for="(day , dayIndex) in arrayOfDaysForCurrentWeek"
                     :key="'table-day-' + dayIndex"
                     class="table-column"
                     :class="{ 'current' : (selectedDay == day.dayNumber) }">

                    <div class="table-header" @click="selectedDay = (selectedDay == day.dayNumber) ? 0 : day.dayNumber">
                        {{ day.dayWeekName }}<br>
                        {{ day.dayNumber }} {{ day.monthName }}
                        <i class="mdi mdi-chevron-down"></i>
                    </div>

                    <div v-for="(serviceBookingNumber, sbIndex) in getServicesLengthByDate(day.fullDate)"
                         :key="'table-service-booking-' + sbIndex">

                        <div v-if="serviceItemIsEnable(day.fullDate, sbIndex)" class="table-service-booking-cell">
                            <service-booking @click="selectService($event, dayIndex, sbIndex)"
                                             :is-pressed="(serviceSelected.sbIndex === sbIndex) && (serviceSelected.dayIndex === dayIndex)"
                                             :service-value="getServiceItem(day.fullDate, sbIndex)">
                            </service-booking>
                        </div>
                    </div>
                </div>
            </transition-group>

            <loader class="booking-calendar-loader"
                    size="large"
                    :is-visible="calendarIsLoading">
            </loader>

        </div>

        <!-- INFOS MESSAGES-->
        <message type="info"
                 :is-visible="!calendarIsLoading && !isBookingCalendarFailed && noServiceToBook">
            {{ 'booking.infos.no_service_to_book' | $t }}
        </message>

        <!-- ERROR MESSAGES-->
        <div class="booking-messages">
            <message class="message-error"
                     type="error"
                     :is-visible="isBookingCalendarFailed">
                {{ 'booking.errors.calendar_failed' | $t }}
            </message>

            <message class="message-error"
                     type="error"
                     :is-visible="noBookigServiceSelected">
                {{ 'booking.errors.no_service_selected' | $t }}
            </message>
        </div>


        <!-- ELEMENTS BELOW THE BOOKING CALENDAR -->

        <template v-if="activation">
            <div v-if="!isServiceIdEmpty">
                <booking-notify-wish-slot
                        :service-name="product.name"
                        :service-id="product.serviceId"
                        :service-length="product.serviceLength">
                </booking-notify-wish-slot>
            </div>

            <label for="textarea-commentToConcierge">{{ 'booking.comment_to_concierge' | $t }}</label>
            <textarea id="textarea-commentToConcierge"
                      v-model="commentToConcierge"
                      rows="4"
                      :placeholder="'booking.comment_to_concierge_optional' | $t">
            </textarea>
        </template>

        <div class="grid-2 has-gutter" style="align-items: flex-end; align-items: end;">
            <div class="">
                <button>{{ 'cancel' | $t }}</button>
            </div>

            <div class="text-right">

                <template v-if="!activation"></template>

                <template v-else-if="isPaymentValid">
                    <p>
                        <small>{{ 'booking.confirm_info' | $t }}</small>
                    </p>
                    <button @click="showModalConfirm" class="btn-primaire">
                        {{ 'booking.confirm_booking' | $t }}
                    </button>
                </template>

                <template v-else>
                    <p style="margin: 1em 0 0;">
                        <template v-if="isCoAdherent">
                            {{ 'booking.co_adherent_no_valid_payment' | $t }}
                        </template>

                        <template v-else>
                            {{ 'booking.no_valid_payment' | $t }}
                        </template>
                    </p>
                </template>

            </div>
        </div>

        <!-- MODALS -->
        <modal :visible="showModalConfirmation"
               size="md"
               @close="showModalConfirmation = false">
            <div slot="header">
                <h3>{{ 'confirmation' | $t }}</h3>
            </div>
            <p slot="body">
                <message class="message-error"
                         type="error"
                         :is-visible="isBookingReservationFailed">
                    {{ 'booking.booking_failed' | $t }}
                </message>

                <message class="message-error"
                         type="warning"
                         :is-visible="isBookingResourceLocked">
                    {{ 'booking.errors.calendar_locked' | $t }}
                </message>

                {{ 'service' | $t }}&nbsp;:&nbsp;<strong>{{ product.name }}</strong><br>
                {{ 'date' | $t }}&nbsp;:&nbsp;<strong>{{ serviceStartDate }}</strong><br><br>

                {{ 'amout' | $t }}&nbsp;:&nbsp;<strong>{{ product.amount | currency }}</strong><br>
                {{ 'duration' | $t }}&nbsp;:&nbsp;<strong>{{ product.serviceLength }}</strong>&nbsp;{{ 'minutes_short' |
                $t }}<br><br>

                {{ 'default_payment' | $t }}&nbsp;:&nbsp;<strong>{{ defaultPaymentMethod | $t }}</strong>
            </p>
            <div slot="footer">
                <loader-content :is-loading="isSendingPostBooking" loader-size="small">
                    <button :disabled="bookingIsSuccess" @click="confirmServiceBooking"
                            class="btn-primaire">
                        {{ 'booking.validate_booking' | $t }}
                    </button>
                </loader-content>
            </div>
        </modal>

        <!-- HIDDEN FORM TO REDIRECT-->
        <div id="hiddenFormToRedirect" style="display: none;"></div>

    </div>
</template>

<script>
  import ApiManager from './../../manager/apiManager'
  import JWTManager from './../../manager/JWTManager'
  import moment from './../../../node_modules/moment'
  import translation from './../../filters/translation'
  import ServicesBookingList from './../../models/bookingCalendar/ACTServicesBookingList'
  import currency from './../../filters/currency'

  import ServiceBooking from './ACTServiceBooking.vue'
  import Loader from './../base/ACTLoader.vue'
  import LoaderContent from './../base/ACTLoaderContent.vue'
  import Message from './../base/ACTMessage.vue'
  import Modal from './../base/ACTModal.vue'
  import BookingNotifyWishSlot from './ACTBookingNotifyWishSlot'

  export default {

    name: 'ACTBookingCalendar',

    components: {
      'service-booking': ServiceBooking,
      'loader': Loader,
      'loader-content': LoaderContent,
      'message': Message,
      'modal': Modal,
      'booking-notify-wish-slot': BookingNotifyWishSlot,
    },

    data () {
      return {
        product: {id: '', name: '', amount: '', serviceLength: 0},
        servicesBookingList: {},
        calendarIsLoading: false,
        isBookingCalendarFailed: false,
        noServicesEnable: true,

        today: moment(),
        refreshTodayEveryXSeconds: 30,

        currentDay: moment(),
        currentWeek: 0,
        selectedDay: 0,

        minWeeksSelection: 0,
        maxWeeksSelection: 10,

        hourReservationRules: [],
        defaultPaymentMethod: '',
        activation: false,

        paymentStatus: '',

        serviceSelected: {},

        commentToConcierge: '',

        showModalConfirmation: false,
        isSendingPostBooking: false,
        isBookingReservationFailed: false,
        noBookigServiceSelected: false,
        bookingIsSuccess: false,
        isBookingResourceLocked: false,
      }
    },

    created () {
      this.resetServiceSelected()
      this.getProductFromTwig()
      this.getRulesFromTwig()
      this.getActivation()
      this.getDefaultPaymentMethod()
      this.servicesBookingList = new ServicesBookingList()
      this.getAllServicesBooking(this.currentWeek)

      //We refresh the today date
      let self = this
      setInterval(function () {
        self.today = moment()
      }, this.refreshTodayEveryXSeconds * 1000)
    },

    methods: {

      getAllServicesBooking (currentWeek) {
        if (this.product.id === '') {
          this.isBookingCalendarFailed = true
          return
        }

        this.servicesBookingList.resetServicesBooking()
        this.isBookingCalendarFailed = false
        this.calendarIsLoading = true

        let self = this
        let url = Routing.generate(
          'todotoday.checkout.api.booking.get_slot',
          {nextWeek: currentWeek}
        )

        ApiManager.api_get(url, {
          headers: {'product': this.product.id}
        }).then(function (response) {
          //console.log(response);
          self.calendarIsLoading = false
          self.servicesBookingList.setServicesBookingWithDatas(
            response.data
          )
        }).catch(function (error) {
          console.log(error)
          self.calendarIsLoading = false
          self.isBookingCalendarFailed = true
        })
      },

      bookService (service) {
        if (this.product.id === '') {
          return
        }
        let self = this
        let url = Routing.generate(
          'todotoday.checkout.api.booking.post_booking'
        )

        ApiManager.api_post(url, {
          product: this.product.id,
          slot: service.getDatasForApi(),
          comment: this.commentToConcierge
        }).then(function (response) {
          self.isSendingPostBooking = false
          self.bookingIsSuccess = true
          self.redirectToBookingSuccessPage(service, response.data['aps_commandeid'])
        }).catch(function (error) {
          console.log('erreur', error)
          if (error.response && error.response.status === 400) {
            self.isBookingResourceLocked = true
          } else {
            self.isBookingReservationFailed = true
          }
          self.isSendingPostBooking = false
        })
      },

      redirectToBookingSuccessPage (service, commandId) {
        let redirectUrl = Routing.generate('order_checkout_booking_success')

        let form = '<form id="formToRedirect" action="' + redirectUrl + '" method="post">' +
          '<input type="text" name="order" value="' + commandId + '"/>' +
          '<input type="text" name="serviceId" value="' + this.product.serviceId + '"/>' +
          '<input type="text" name="serviceName" value="' + this.product.name + '"/>' +
          '<input type="text" name="serviceAmount" value="' + window.currency(this.product.amount) + '"/>' +
          '<input type="text" name="serviceDate" value="' + service.startDate.format() + '"/>' +
          '<input type="text" name="serviceDuration" value="' + this.product.serviceLength + '"/>' +
          '</form>'

        document.getElementById('hiddenFormToRedirect').innerHTML = form
        document.getElementById('formToRedirect').submit()
      },

      showModalConfirm () {
        if (this.hasSelectedService()) {
          this.showModalConfirmation = true
        }
      },

      confirmServiceBooking () {
        if (this.isSendingPostBooking) {
          return
        }
        this.isSendingPostBooking = true

        if (this.hasSelectedService()) {
          let service = this.serviceSelected.serviceValue
          this.bookService(service)
        } else {
          this.isSendingPostBooking = false
        }
      },

      hasSelectedService () {
        this.hideErrorsMessage()
        let serviceValue = this.serviceSelected.serviceValue

        if (serviceValue.hasOwnProperty('rawStartDate')) {
          return true
        } else {
          this.noBookigServiceSelected = true
          return false
        }
      },

      hideErrorsMessage () {
        this.isBookingReservationFailed = false
        this.noBookigServiceSelected = false
        this.isBookingResourceLocked = false
      },

      resetServiceSelected () {
        this.serviceSelected = {
          sbIndex: -1,
          dayIndex: -1,
          serviceValue: {}
        }
      },

      getRulesFromTwig () {
        this.hourReservationRules = []
        let rules = JSON.parse(document.getElementById('bookingRules').getAttribute('rules'))
        for (let key in rules) {
          if (rules.hasOwnProperty(key)) {
            this.hourReservationRules.push(rules[key])
          }
        }
      },

      getProductFromTwig () {
        let product = document.getElementById('bookingProduct')
        this.product = {
          id: product.getAttribute('productId'),
          serviceId: product.getAttribute('serviceId'),
          name: product.getAttribute('name'),
          amount: product.getAttribute('amount'),
          serviceLength: product.getAttribute('serviceLength')
        }
      },

      getDefaultPaymentMethod () {
        let payment = document.getElementById('defaultPaymentMethod')
        this.defaultPaymentMethod = payment.getAttribute('method')
        this.paymentStatus = payment.getAttribute('status')
      },

      getActivation () {
        const activation = document.getElementById('activateBooking')
        this.activation = activation.getAttribute('value')
        console.log(this.activation)
      },

      selectService (serviceValue, dayIndex, sbIndex) {
        this.noBookigServiceSelected = false
        this.serviceSelected = {
          sbIndex: sbIndex,
          dayIndex: dayIndex,
          serviceValue: serviceValue
        }
      },

      goToPreviousWeek () {
        if (this.currentWeek > this.minWeeksSelection) {
          this.currentWeek--
        }
      },

      goToNextWeek () {
        if (this.currentWeek < this.maxWeeksSelection) {
          this.currentWeek++
        }
      },

      getServicesLengthByDate (date) {
        return this.servicesBookingList.getServicesLengthByDate(date)
      },

      weekHeaderTitleByWeekNumber (weekNumber, fromCurrent) {
        let fromDay = fromCurrent ? this.currentDay : this.today,
          firstDay = moment(fromDay).add(weekNumber, 'w')

        return $t('booking.week_header', {
          '%week_number%': firstDay.isoWeek(),
          '%first_day%': firstDay.startOf('isoWeek').format($t('booking.week_header_date_format')),
          '%last_day%': firstDay.endOf('isoWeek').format($t('booking.week_header_date_format'))
        })
      },

      getServiceItem (date, sbIndex) {
        return this.servicesBookingList.getServiceItemByDateAndIndex(date, sbIndex)
      },

      serviceItemEmpty (date, sbIndex) {
        let service = this.getServiceItem(date, sbIndex)
        return (service.hasOwnProperty('empty')) && (service.empty)
      },

      serviceItemIsEnable (date, sbIndex) {
        let service = this.getServiceItem(date, sbIndex)

        if (!service.hasOwnProperty('empty')) {
          let enable = !this.isDateTimeAlreadyPassed(service) && this.areReservationRulesOK(service)
          if (enable) {
            this.noServicesEnable = false
            return true
          }
        }
        return false
      },

      isDateTimeAlreadyPassed (service) {
        let alreadyPassed = (typeof service !== 'undefined' && service.hasOwnProperty('startDate'))
          ? this.today.isAfter(service.startDate) : true
        return alreadyPassed
      },

      areReservationRulesOK (service) {
        if ((typeof service === 'undefined' || !service.hasOwnProperty('startDate'))) {
          return false
        }

        let areReservationRulesOk = true,
          serviceStartDateUTC = moment.utc(service.startDate),
          todayUTC = moment.utc(this.today)

        for (let i = 0, length = this.hourReservationRules.length; i < length; i++) {
          let hourReservationRule = this.hourReservationRules[i]

          if (moment(todayUTC).isSame(moment(serviceStartDateUTC).subtract(hourReservationRule.numberDaysBeforeReservation, 'days'), 'day')) {
            let minHourRaw = hourReservationRule.minHour.split(':'),
              minHour = moment(todayUTC).hour(parseInt(minHourRaw[0], 10))
                .minute(parseInt(minHourRaw[1], 10))
                .second(parseInt(minHourRaw[2], 10))

            if (moment(todayUTC).isAfter(minHour)) {
              let noUntilRaw = hourReservationRule.noReservationUntil.split(':'),
                //We take the most future date between (noReservationUntil + deltaHours) and (today's date + deltaHours)
                noUntil = moment.max(
                  moment(serviceStartDateUTC).hour(parseInt(noUntilRaw[0], 10) + hourReservationRule.deltaHours)
                    .minute(parseInt(noUntilRaw[1], 10))
                    .second(parseInt(noUntilRaw[2], 10)),
                  moment(todayUTC).add(hourReservationRule.deltaHours, 'h')
                )

              if (serviceStartDateUTC.isBefore(noUntil)) {
                return false
              }
            }
          }
        }

        return areReservationRulesOk
      },
    },

    computed: {
      noServiceToBook () {
        return this.servicesBookingList.isEmpty() || this.noServicesEnable
      },
      firstDayOfWeek () {
        return moment(this.currentDay).startOf('isoWeek')
      },
      lastDayOfWeek () {
        return moment(this.currentDay).endOf('isoWeek')
      },
      arrayOfDaysForCurrentWeek () {
        let days = [],
          currDate = this.firstDayOfWeek.clone().startOf('day'),
          lastDate = this.lastDayOfWeek.clone().startOf('day')

        do {
          days.push({
            'dayWeekName': moment(currDate).format('dddd'),
            'dayNumber': moment(currDate).format('D'),
            'monthName': moment(currDate).format('MMMM'),
            'fullDate': moment(currDate).format(this.servicesBookingList.getDefaultDateFormat())
          })
        } while (currDate.add(1, 'days').diff(lastDate) <= 0)

        return days
      },
      isFirstWeek () {
        return this.currentWeek === this.minWeeksSelection
      },
      isLastWeek () {
        return this.currentWeek === this.maxWeeksSelection
      },
      serviceStartDate () {
        return (this.serviceSelected.serviceValue.hasOwnProperty('rawStartDate')) ? this.serviceSelected.serviceValue.startDate.format($t('booking.modal_confirmation_start_date_format')) : ''
      },

      isServiceIdEmpty () {
        return (this.product.serviceId === '')
      },

      isPaymentValid () {
        return (this.defaultPaymentMethod !== '') && (this.paymentStatus === 'valid')
      },

      isCoAdherent () {
        return JWTManager.isCoAdherent
      }
    },

    watch: {
      currentWeek (newValue, oldValue) {
        this.resetServiceSelected()
        this.currentDay = moment(this.today).add(newValue, 'w')
        this.noServicesEnable = true
        this.getAllServicesBooking(newValue)
      },
      today (newValue, oldValue) {
        this.currentDay = moment(newValue).add(this.currentWeek, 'w')
      },
    }
  }
</script>

<style lang="scss" scoped>
    .link-disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }
</style>
