<template>
    <div>
        <div style="margin-bottom: 7px;">
            <slot name="question-label">
                {{ 'booking.no_interesting_booking' | $t }}&nbsp;
            </slot>
        </div>

        <button @click="showModalWishBook"
                class="btn btn-action mdi mdi-bell">
            <slot name="activator-button-label">
                {{ 'booking.notify_concierge' | $t }}
            </slot>
        </button>

        <message type="success"
                 :is-visible="isSendingWishBookingSuccess">
            {{ 'booking.wish_booking_success' | $t }}
        </message>

        <modal class="modal-wish-booking"
               :visible="showModalWishBooking"
               size="lg"
               :disable-click-away="true"
               @close="showModalWishBooking = false">
            <div slot="header">
                <h3>{{ 'booking.notify_concierge_title' | $t }}</h3>
            </div>
            <div slot="body">

                <div class="wish-dates">
                    <div class="header">
                        {{ 'booking.service_desired' | $t }}&nbsp;:&nbsp;<strong>{{ serviceName }}</strong>
                    </div>
                    <div class="wish-date">
                        <span>{{ 'booking.date_hour_desired' | $t }}&nbsp;:&nbsp;</span>
                        <flatpickr v-model="wishBookingStartDate"
                                   class="date"
                                   :options="flatpickrOptions">
                        </flatpickr>
                    </div>

                </div>

                <label for="textarea-commentwishBooking">{{ 'booking.comment_to_concierge' | $t }}</label>
                <textarea id="textarea-commentwishBooking"
                          v-model="commentWishBooking"
                          rows="4"
                          :placeholder="'booking.comment_to_concierge_optional' | $t">
                        </textarea>

                <!-- ERROR MESSAGES-->
                <div class="">
                    <message class="message-error"
                             type="error"
                             :is-visible="wishDateEmpty">
                        {{ 'booking.errors.wish_date_empty' | $t }}
                    </message>

                    <message class="message-error"
                             type="error"
                             :is-visible="isSendingWishBookingFailed">
                        {{ 'booking.errors.wish_booking_failed' | $t }}
                    </message>
                </div>
            </div>
            <div slot="footer">
                <loader-content :is-loading="isSendingWishBooking" loader-size="small">
                    <button @click="sendWishBooking"
                            class="btn-primaire">
                        {{ 'booking.notify_concierge_short' | $t }}
                    </button>
                </loader-content>
            </div>
        </modal>
    </div>
</template>

<script>
  import translation from './../../filters/translation'
  import moment from 'moment'
  import momentLocales from 'moment/min/locales.min'
  import Flatpickr from 'vue-flatpickr';
  import Message from './../../components/base/ACTMessage'
  import Modal from './../../components/base/ACTModal'
  import LoaderContent from './../../components/base/ACTLoaderContent'

  export default {

    name: 'ACTBookingNotifyWishSlot',

    components: {
      'flatpickr': Flatpickr,
      'message': Message,
      'modal': Modal,
      'loader-content': LoaderContent,
    },

    props: {
      serviceName: {type: String, default: ''},
      serviceId: {type: String, default: ''},
      orderId: {type: String, default: ''},
      serviceLength: {type: String, default: ''},
    },

    data() {
      return {
        showModalWishBooking: false,
        isSendingWishBooking: false,
        isSendingWishBookingSuccess: false,
        isSendingWishBookingFailed: false,
        wishDateEmpty: false,
        wishBookingStartDate: '',
        flatpickrOptions: {
          minDate: "today",
          enableTime: true,
          time_24hr: true,
          dateFormat: 'Y-m-d H:i',
          altInput: true,
          altFormat: $t('booking.desired_date_hour_format'),
          firstDayOfWeek: 1,
          locale: window.flatpickrLocale
        },
        commentWishBooking: '',
      }
    },

    methods: {
      sendWishBooking() {
        this.isSendingWishBookingFailed = false;
        this.wishDateEmpty = false;

        if ((this.wishBookingStartDate === '')) {
          this.wishDateEmpty = true;
          return;
        }

        this.isSendingWishBooking = true;

        let self = this;
        let url = Routing.generate(
          'todotoday.checkout.api.booking.post_booking_request'
        );

        manager.api_post(url, {
          serviceId: this.serviceId,
          startDate: this.wishBookingStartDate,
          endDate: moment(this.wishBookingStartDate).add(this.serviceLength, 'm'),
          comment: this.commentWishBooking,
          orderId: this.orderId
        }).then(function (response) {
          self.showModalWishBooking = false;
          self.isSendingWishBooking = false;
          self.isSendingWishBookingSuccess = true;
          self.wishBookingStartDate = ''
          self.commentWishBooking = ''
        }).catch(function (error) {
          console.log(error);
          self.isSendingWishBooking = false;
          self.isSendingWishBookingFailed = true;
        });
      },

      showModalWishBook() {
        this.showModalWishBooking = true;
      }
    }
  }
</script>


