<template>
    <div @click="emitClick" v-if="!isEmpty" class="service-booking"
         :class="{ 'service-booking-pressed': isPressed,
                   'service-booking-enable': isEnable,
                   'service-booking-disable': !isEnable }">
        {{ label }}
    </div>
</template>

<script>
    import translation from './../../filters/translation';
    import moment from './../../../node_modules/moment';

    export default {

        name: 'ACTServiceBooking',

        props: {
            serviceValue: { type: Object, default: function(){ return {empty: true}; } },
            isPressed: { type: Boolean, default: false },
            isEnable: {type: Boolean, default: true},
        },

        data() {
            return {
                isEmpty: true,
                startDate: '',
                endDate: '',
            }
        },

        mounted() {
            this.updateDatas(this.serviceValue);
        },

        methods: {
            emitClick() {
                if( this.isEnable ) {
                    this.$emit('click', this.serviceValue);
                }
            },

            updateDatas(datas) {
                this.isEmpty   = (datas.hasOwnProperty('empty') && datas.empty);
                if( !this.isEmpty ) {
                    this.startDate = datas.startDate;
                    this.endDate   = datas.endDate;
                }
            }
        },

        computed: {
            label(){
                return (this.startDate) ? this.startDate.format($t('booking.service_booking_date_label_format')) : '';
            }
        },

        watch: {
            serviceValue(newValue, oldValue) {
                this.updateDatas(newValue);
            }
        }

    }
</script>
