<li>
    <a class="sonata-action-element" href="{{ admin.generateUrl('origin',{'value' : 'post_tdtd'}) }}">
        <i class="fa fa-user-o" aria-hidden="true"></i>
        {{ 'see_post_tdtd' |trans({},'messages') }}
    </a>
</li>
<li>
    <a class="sonata-action-element" href="{{ admin.generateUrl('origin', {'value' : 'post_plugin'}) }}">
        <i class="fa fa-android" aria-hidden="true"></i>
        {{ 'see_post_plugin' |trans({},'messages') }}
    </a>
</li>