{% if is_granted('ROLE_TODOTODAY_CMS_POST_PREVIEW') %}
<a href="{{ admin.generateObjectUrl('preview', object) }}"
   class="btn btn-sm btn-primary" target="_blank">
    <i class="fa fa-eye" aria-hidden="true"></i> {{ 'article_preview'|trans({},'messages') }}
</a>
{% endif %}