{% if is_granted('ROLE_COMMUNITY_MANAGER') or (is_granted('ROLE_CONCIERGE') and object.agencies[0].editable) %}
    {% if object.state == constant('Todotoday\\CMSBundle\\Enum\\PostStateEnum::DRAFT') %}
        <a href="{{ admin.generateObjectUrl('switch_state', object, {'state': constant('Todotoday\\CMSBundle\\Enum\\PostStateEnum::TO_VALIDATE')}) }}"
           class="btn btn-sm btn-success">
            {{ 'action.to_validate'|trans({},'messages') }}
        </a>
    {% endif %}
    {% if object.state != constant('Todotoday\\CMSBundle\\Enum\\PostStateEnum::DRAFT') and is_granted('ROLE_COMMUNITY_MANAGER') %}
        <a href="{{ admin.generateObjectUrl('switch_state', object, {'state': constant('Todotoday\\CMSBundle\\Enum\\PostStateEnum::DRAFT')}) }}"
           class="btn btn-sm btn-info">
            {{ 'draft'|trans({},'messages') }}
        </a>
    {% endif %}
    {% if is_granted('ROLE_COMMUNITY_MANAGER') and object.state == constant('Todotoday\\CMSBundle\\Enum\\PostStateEnum::TO_VALIDATE') %}
        <a href="{{ admin.generateObjectUrl('switch_state', object, {'state': constant('Todotoday\\CMSBundle\\Enum\\PostStateEnum::REFUSED')}) }}"
           class="btn btn-sm btn-danger">
            {{ 'action.refused'|trans({},'messages') }}
        </a>
        <a href="{{ admin.generateObjectUrl('switch_state', object, {'state': constant('Todotoday\\CMSBundle\\Enum\\PostStateEnum::VALIDATE')}) }}"
           class="btn btn-sm btn-success">
            {{ 'action.validate'|trans({},'messages') }}
        </a>
    {% endif %}
{% endif %}