{% extends ':default:rightsideWidth.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block mainContent_noclass %}
    <main class="td-cmd main-content">
        <section class="">
            <img src="{{ asset('images/logos/blablacar-ridesharing-logo.svg') }}" alt="" style="margin-bottom: 50px;">
            <div id="main-blablacar" class="main-blablacar"></div>
        </section>
    </main>
    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
        <script>
            var axios2 = $.extend(true, {}, axios);
            window.blablapi = axios2;
        </script>
        {{ parent() }}
        <script type="x-template" id="v-blablacar">
            <div id="vblablacar">
                <form>
                    <input placeholder="{{ 'plugin.catalog.blablacar.departure'|trans({},'todotoday') }}" type="text"
                           v-model="depart" :disabled="searching" required>
                    <i class="mdi mdi-arrow-right"></i>
                    <input placeholder="{{ 'plugin.catalog.blablacar.arrival' | trans({},'todotoday') }}" type="text"
                           v-model="destination" :disabled="searching"
                           required><br>
                    <flat-pickr v-model="startDate"
                                :options="flatoptions"
                                class="block"
                                placeholder="{{ 'plugin.catalog.blablacar.date'|trans({},'todotoday') }}"/>

                    <input type="submit" value="{{ 'plugin.catalog.blablacar.action_title'|trans({},'todotoday') }}"
                           class="small button sending" @click.prevent="searchApiBlablacar"
                           :class="{ sending: searching }" :disabled="searching">
                    <div v-if="error" class="blabla-error">
                        ${ error.error }
                    </div>
                    <div v-if="noResult" class="blabla-error">
                        {{ 'plugin.catalog.blablacar.empty_title' | trans({},'todotoday') }}
                    </div>
                    <div v-if="formError" class="blabla-error">
                        {{ 'plugin.catalog.blablacar.empty_form' | trans({},'todotoday') }}
                    </div>
                </form>
                <div class="vblablacar-trips" style="margin-top: 25px;">
                    <ul v-if="blablaReturn.trips">
                        <li v-for="trip in blablaReturn.trips" class="vblablacar-trip">
                            <div class="grid">
                                <div class="three-quarters">
                                    <h4>
                                        <a :href="trip.links._front" target="_blank">
                            <span v-for=" (location, index) in trip.locations_to_display">
                              ${ location } <i v-if="index !== (trip.locations_to_display.length - 1)"
                                               class="mdi mdi-arrow-right"></i>
                            </span>
                                        </a>
                                    </h4>
                                    <div v-if="trip.departure_place" class="trip-departure grid">
                                        <p class="one-quarter trip-info-label">
                                            {{ 'plugin.catalog.blablacar.departure'|trans({},'todotoday') }}
                                        </p>
                                        <h5 class="two-quarters trip-info-title">${ trip.departure_place.city_name }
                                            <span v-if="trip.departure_meeting_point">, ${ trip.departure_meeting_point.name } </span>
                                        </h5>
                                    </div>
                                    <div v-if="trip.arrival_place" class="trip-arrival grid">
                                        <p class="one-quarter trip-info-label">
                                            {{ 'plugin.catalog.blablacar.arrival'|trans({},'todotoday') }}
                                        </p>
                                        <h5 class="two-quarters trip-info-title">${ trip.arrival_place.city_name }
                                            <span v-if="trip.arrival_meeting_point">, ${ trip.arrival_meeting_point.name } </span>
                                        </h5>
                                    </div>
                                    <div v-if="trip.arrival_place" class="trip-arrival grid">
                                        <p class="one-quarter trip-info-label">
                                            {{ 'plugin.catalog.blablacar.date'|trans({},'todotoday') }}
                                        </p>
                                        <h5 class="two-quarters trip-info-title">${ trip.departure_date }</h5>
                                    </div>
                                </div>
                                <div class="trip-column one-quarter">
                                    <h5 class="trip-price">${ trip.price_with_commission.string_value }</h5>
                                    <p>
                                        <strong>${ trip.seats_left }</strong>
                                        {{ 'plugin.catalog.blablacar.seats_available' | trans({},'todotoday') }}
                                        ${ trip.seats }
                                    </p>
                                    <p><a :href="trip.links._front" target="_blank"
                                          class="btn btn-action mdi mdi-calendar">
                                            {{ 'plugin.catalog.blablacar.book' | trans({},'todotoday') }}
                                        </a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </script>
        {#<script src="{{ asset('build/cart.js') }}">#}
        <script src="{{ asset('build/components/blablacar.js') }}"></script>
    {% endblock %}
{% endblock %}