.menu-profile{
    position: relative;
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            margin-bottom: 10px;
        }
    }
    @include tablet-desktop{
        .end-row{
            border: 0;
            &:after{
                content: '';
                display: block;
                width: 100%;
            }
            & + li{
                padding-left: 0;
            }
        }
    }   
    @include mobile{
        ul{
            li{
                &.end-row + li{
                    padding-left: 15px;
                }
            }
        }
    }
}

.extra-profile{
    margin-bottom: 20px;
    @include smallmobile{
        input{
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .collection-item{
        .text-right{
            margin-top: 10px;
        }
    }
}


.co-adherent-manage-section{
    .co-adherent{
        align-items: center;
        .two-thirds{
            span{
                display: inline-block;
                margin-right: 20px;
            }
        }
        @include smallmobile{
            align-items: flex-start;
            .one-sixth{
                width: auto;
                &:first-child{
                    margin-right: 10px;
                }
                .btn{
                    padding: 0 1em;
                    margin-left: 10px;
                }
            }
            .two-thirds{
                flex: 1;
                span{
                    width: 100%;
                    margin: 0 0 10px 0;
                }
            }
        }
        @include mobile{
            > div:first-child{
                .tooltip-toggle:before{
                    left: 0;
                }
            }
            > div:last-child{
                .tooltip-toggle:before{
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}

.grid.password-creation{
    @include mobile{
        display: flex;
        flex-flow: column;
        .td-wf-inscription-column{
            order: -1;
            padding-top: 0;
            padding-bottom: 30px;
        }
    }
}