/** ######################## NEWS FULL PAGE ######################## */

.new-full {

    @include tablet-desktop{
        font-size: 18px;
        line-height: 140%;
    }

    &-header {
        width: auto;
        height: 350px;

        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto, contain, auto, cover;
        background-color: rgba($main-color, .75);

        display: flex;
        justify-content: center;
        align-items: flex-end;

        h2 {
            margin: 0 0 40px;
            padding: 0 1em;

            font-size: 30px;
            line-height: 1.05em;
            text-shadow: 0 2px 25px #000000, 0 2px 4px rgba(0, 0, 0, 0.5);
            color: white;
        }

    }

    .nav-ariane {
        position: absolute;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 100%);
    }

    &-date {
        margin-top: 26px;
        margin-bottom: 22px;
    }

    .main-content {
        em {
            font-style: italic;
        }
        ol{
            list-style: decimal inside;
        }
        ul {
            list-style: disc inside;
            ul{
                list-style: circle;
            }
        }
        ul,ol{
            padding-left: 1rem;
            margin-bottom: 20px;
            ul,ol{
                margin-bottom: 0;
            }
        }
        @include mobile{
            ul,ol{
                padding-left: 2rem;
            }

            img{
                display: block;
                height: auto !important;
                max-width: 100%;
            }
        }
    }
}
