/**
    #################################################################
    ########################### BOOKING #############################
    #################################################################
 */

 .td-book {
    &-nav {
        display: flex;
        flex-wrap: wrap;
        &-l {
            text-align: left;
            &, & a {
                color: #2e2e2e;
            }
        }
        &-r {
            text-align: right;
            &, & a {
                color: #2e2e2e;
            }
        }

        &-r, &-l {
            font-size: 0.8em;
            font-weight: 500;
        }

        &-center {
            & select {
                overflow: hidden;
                // width: 350px;
                max-width: 100%;
                border: 0;
                background-color: #fff;
                background-color: rgba(#fff, 0);

                color: #2e2e2e;
                font-size: 1.1em;
                font-weight: 700;

            }
        }
        @include belowdesktop{
            justify-content: space-between;
            &-l, &-r{
                width: 50%;
            }
            &-center{
                order: 2;
                width: 100%;
                text-align: center;
                margin-top: 5px;
            }
        }
        @include smallmobile{
            &-l, &-r{
                width: 100%;
            }
        }
    }
    .table-booking-calendar {
        vertical-align: top;
        margin: 15px 0 35px 0;
        min-height: 200px;

        .table-header {
            text-align: center;
            background-color: white;
            padding: 10px 5px;
        }

        .table-row {
            margin-left: 1px;
            .table-column {
                .table-service-booking-cell {
                    padding: 5px 5px;
                    border-left: 1px solid #979797;
                    border-right: 1px solid #979797;

                    .service-booking {
                        text-align: center;
                        background-color: transparent;
                        // background-color: #F6F6F6;
                        border-radius: 2px;
                        box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.25);
                        line-height: 30px;
                    }
                    .service-booking-enable {
                        cursor: pointer;
                    }

                    /*we not use this class anymore because we hide serviceBooking when it is disable*/
                    .service-booking-disable {
                        background-color: #C2C2C2;
                        cursor: not-allowed;
                    }
                    .service-booking-enable:not(.service-booking-pressed):not(.service-booking-disable):hover {
                        color: #F5F5F5;
                        background-color: rgba(255, 97, 0, 0.666);
                    }
                    .service-booking-pressed {
                        color: #F5F5F5;
                        background-color: rgb(255, 97, 0);
                    }
                }
            }

            @include tablet-desktop{
                display: flex;
                .table-column {
                    flex-grow: 1;
                    margin-left: -1px;
    
                    &:nth-child(even) .table-service-booking-cell {
                        background: #F6F6F6;
                    }

                    .table-header{
                        i{
                            display: none;
                        }
                    }
                }
            }

            @include mobile{
                .table-column{
                    display: flex;
                    flex-wrap: wrap;
                    padding: 10px 5px;
                    &:nth-child(even){
                        background: #F6F6F6;
                    }
                    .table-header{
                        text-align: left;
                        font-weight: 700;
                        width: 100%;
                        background-color: inherit;
                        br{
                            display: none;
                        }
                        i{
                            display: inline-block;
                            position: relative;
                            transition: transform .3s;
                        }
                    }
                    & > div:not(.table-header){
                        display: none;
                    }
                    &.current{
                        .table-header{
                            i{
                                transform: rotate(180deg);
                            }
                        }
                        & > div:not(.table-header){
                            display: inline-block;
                        }
                    }
                    .table-service-booking-cell{
                        border: none;
                        min-width: 80px;
                        .service-booking{
                            box-shadow: 1px 1px 2px 0 rgba(black, 0.25);
                        }
                    }
                }
            }
        }

        .booking-calendar-loader {
            margin-top: 35px;
        }
    }

    & .booking-messages  {
        & .message-error {
            margin: 10px 0;
        }
    }

    @include mobile{
        .table-booking-calendar{
            position: relative;
            .booking-calendar-loader{
                position: absolute;
                margin-top: 0;
                z-index: 3;
                top: 0;
                height: 100%;
                width: 100%;
                background: rgba(#C2C2C2, 0.5);
                display: flex;
                & > *{
                    margin: auto;
                }
            }
        }
    }
}


/**
    #################################################################
    ######################### WISH BOOKING MODAL ####################
    #################################################################
 */
 .modal-wish-booking {

    .wish-dates {
        margin: 10px 0 20px 0;

        & .header {
            margin-bottom: 20px;
        }

        & .wish-date {
            margin-bottom: 10px;
            span{
                display: block;
                margin-right: 5px;
            }
            @include tablet-desktop{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                & input {
                    flex: 1;
                }
            }

            //The Flatpickr
            & input {
                color: $accent-color;
                font-weight: bold;
                max-width: 100%;
            }
        }
    }
}

