/**
**  CART
**/

//Fixme: !important a virer
.td-cart {
    margin: 0 auto auto !important;
    padding-top: 33px !important;

    background-color: #fff;

    .empty-cart{
        a{
            max-width: 100%;
            vertical-align: middle;
            min-height: 34px;
            padding: 3px 2em;
            line-height: 1.2;
            height: auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            white-space: inherit;
        }
    }

    .message-error {
        margin: 10px 0;
    }

    &-header {
        margin: 0 auto auto;
        padding: 20px 0 10px;

        font-family: $ft-roboto;
        font-size: 1em;

        text-align: left;
        color: #2e2e2e;

        & h2 {
            margin-bottom: 0;
        }

        & i {
            position: relative;
            top: 3px;

            font-size: 1.5em;
            font-weight: bold;
        }
        & small {
            font-weight: 400;
            size: 1.4em;
            margin-right: .6em;
        }

        // & ol, & ul {
        //     display: inline-flex;
        // }

        nav {
            font-size: 13px;

        }
    }

    &-list {
        & li {
            // height: 75px;
            width: 100%;

            padding: 16px 0;

            border-top: 1px solid #979797;
        }
        & h3 {
            margin: 0 0 5px;

            font-size: 1.2em;
            line-height: 1;
        }

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        &-product {
            flex-grow: 3;
            order: 1;
            width: 100%;
            @media (min-width: $tablet-width){
                width: 50%;
            }
        }

        &-info-quantity {
            width: 50%;
            margin: 5px 0;
            order: 2;
            flex-grow: 1;
            @include tablet {
                order: 3;
            }
            @include tablet-desktop {
                order: 2;
                width: unset;
            }
            input:disabled{
                color: #2b2b2b;
                opacity: 1;
            }
        }

        &-prix {
            width: 50%;
            order: 3;
            flex-grow: 1;
            text-align: right;
            font-size: 20px;
            @include tablet {
                order: 2;
            }
            @include tablet-desktop {
                width: unset;
                order: 3;
            }
        }
        &-info {
            font-size: 20px;
            span span {
                font-weight: bold;
            }
            textarea{
                margin-top: 10px;
            }
        }

        &-button {
            width: 100%;
            order: 4;
            flex-grow: 1;
            text-align: right;
            @media (min-width: $tablet-width){
                width: 50%;
            }
            @include tablet-desktop {
                width: unset;

            }
        }
    }

    .cart-total{
        @media (max-width: 420px){
            flex-direction: column-reverse;
            & > * {
                width: 100%;
            }

            .td-cart-list-info{
                text-align: left;
                span{
                    display: block;
                    span{
                        text-align: right;
                        padding: 1em 0;
                    }
                }
            }
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }
        @include tablet {
            flex-direction: row;
        }

        a {
            margin-top: 1em;
        }
    }
}

.cart-quantity {
    white-space: nowrap;

    button {
        background-color: $main-color;
        border-radius: 2px;

        color: #fff;
        font-size: 15px;
        font-weight: 500;
        width: 1.4em;
        height: 1.4em;
        line-height: 1em;
        text-align: center;
        padding: 0;

        &:hover {
            background-color: darken($main-color, 10%);
        }
    }
    input {
        width: 42px;
        padding: 5px;
        text-align: center;
    }
}


.craue_formflow_steplist {
    display: flex;
    flex-wrap: wrap;
    color: #666;

    i {
        color: black;
    }

    a {
        font-weight: 400;
        color: black;
    }
    .craue_formflow_current_step {
        color: black;
        font-weight: 500;
    }
}
