.research-catalog {
    display: inline-flex;
    width: 100%;
}

.reasearch-dropdown {
    width: 100%;
}

.research-not-found {
    padding-top: 15px;
    padding-left: 20px;
    font-size: 1.2em;
    font-weight: 500;
}

// catalog Dropdown
.dropdown-fast {
    position: relative;

    input {
        width: 100%;
        font-size: 20px;
        height: 48px;
        line-height: 48px;
        padding: 0 46px 0 13px;
        position: relative;
        @include smallmobile{
            font-size: 16px;
        }
    }

    &::after {
        font: normal normal normal 26px/1 "Material Design Icons";
        content: "\F349";
        position: absolute;
        right: 10px;
        color: #777777;
        top: 11px;
    }

    .dropdown-fast-menu {
        // display: none;
        position: absolute;
        top: calc(100% - 3px);
        background-color: #fff;
        // border: 1px solid black;
        width: 100%;
        z-index: 9;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.50), inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
        max-height: calc(100vh - 350px);
        overflow-x: hidden;
        overflow-y: scroll;

        &-item {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid #ccc;
            padding: 8px;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            position: relative;

            &:nth-child(even) {
                background-color: #F9F9F9;
            }

            & .icon-selection {
                margin-right: 7px;
            }

            &-content {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding-left: 40px;
                width: calc(100% - 85px - 165px);
                @include mobile{
                    padding-left: 10px;
                    width: calc(100% - 85px);
                    margin-bottom: 5px;
                }
                @include smallmobile{
                }
            }

            &-price {
                padding: 0 20px;
                width: 85px;
            }

            b {
                font-weight: 600;
            }

            &:hover {
                background-color: #F2F2F2;
                cursor: pointer;

                &::before {
                    content: "\F208";
                    font: normal normal normal 20px/1 "Material Design Icons";
                    position: absolute;
                    left: 15px;
                    top: 13px;
                    color: $main-color;
                }
            }
        }
    }
}

.catalogue-bloc {
    // @extend .grid;
    @include grid(3, 1rem);
    flex-wrap: wrap;
    // width: 100%;
    max-width: none!important;
    margin: 0 -.5em !important;

    @include mobile{
        @include grid(2, 1rem);
    }

    @include smallmobile{
        & > *{
            width: 100%;
            margin: 0;
        }
    }

    &-primaire {
        margin-bottom: 30px;
        padding: 0 5px;
        cursor: pointer;

        & > div {
            position: relative;

            & > div {
                display: block;
                width: 100%;
            }
        }

        a, div:not(.no-style) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border: 1px solid #ededed;
            border-radius: 6px;
            padding: 20px 20px 15px;
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
            font-size: 18px;
            font-family: $ft-poppins;
            color: #2e2e2e;
            transition: all .3s ease;

            height: 225px;
            position: relative;

            @include smallmobile{
                height: auto;
            }

            span {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                width: calc(100% - 25px);
            }

            img {
                display: block;
                margin: 0 auto 2em;
                transition: transform .3s ease;
                max-width: 108px;
                max-height: 108px;
                width: auto;
                height: auto;
                align-self: start;
                flex: none;
            }

            span.icon-no-img {
                font-size: 100px;
                display: inline-block;
                color: $main-color;
                width: auto;
                margin-right: auto;
                @include smallmobile{
                    font-size: 50px;
                    line-height: 1;
                    margin-bottom: 5px;
                }
            }

            span.icon-no-img::before {
                display: block;
                height: 100px;
                line-height: 100px;
                width: 100px;
                @include smallmobile{
                    height: 50px;
                    line-height: 50px;
                    width: 50px;
                }
            }

            i {
                display: inline-block;
                font-size: 24px;
                transition: all .3s ease;
            }

            &:hover {
                border: 1px solid #bdbdbd;
                box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3);
                text-decoration: none;
                img, span.icon-no-img {
                    transform: scale(1.15);
                }
                i {
                    transform: translate(0.3rem, 0);
                }
            }
        }

        & .family-plugin-mdi-icon {
            color: $main-color !important;
        }
    }
}

.catalogue-items{
    .product-info{
        display: flex;
        align-items: center;
        .product-img{
            margin-right: 1rem;
        }
        .product-name{
            font-weight: bold;
        }
    }
    .product-price{
        padding: 2px 10px 0 10px;
        line-height: 1.2;
    }
    .item-action{
        span{
            display: block;
            line-height: 0;
        }
    }

    @include mobile{
        .td-cart-list-item.noflexwrap{
            flex-wrap: wrap;
        }
        .product-info{
            display: block;
            width: 100%;
            margin-bottom: 1rem;
            p{
                margin-bottom: 0;
            }
            .product-img{
                display: block;
                margin: 0 auto 1rem;
            }
        }
        .product-price{
            padding-left: 0;
        }
    }
    // @include mobile{
    //     .td-cart-list-item{
    //         width: 100%;
    //         align-items: flex-start;
    //         .is-5{
    //             flex: 1 0 0;
    //         }
    //         .is-2{
    //             padding: 0 0 0 20px;
    //         }
    //         .item-action{
    //             width: 100%;
    //             margin-top: 10px;
    //         }
    //     }
    // }
}