.content-checkout-success{
    a.full-width{
        max-width: 350px;
        white-space: normal;
        line-height: 1.2;
        padding: 3px 2em;
        vertical-align: middle;
        min-height: 34px;
        height: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

#delivery-selector{
    .choice_row{
        @include mobile{
            & > * {
                width: 100%;
            }
        }
    }
}