/** ###################### CONCIERGE INFOS ###################### */

.concierge-infos {

    &-header {
        color: white;
        font-size: 14px;
        text-shadow: 0 2px 15px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.5);

        width: 100%;
        min-height: 300px;
        height: auto;

        background-position: 0 0, 50% 50%;
        background-repeat: repeat, no-repeat;
        background-size: auto, cover;
        background-color: rgba($main-color, 1);

        display: flex;
        justify-content: center;
        align-items: end;

        padding-bottom: 1rem;

        h1 {
            margin: 2em 0 .4em;
            line-height: 1.05em;
        }

    }

    &-contact-bar {
        padding: 1em 0;
        @media (min-width: $mobile-width){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        > p {
            color: #343434;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 5px;

            &:not(:last-child){
                margin-right: 10px;
            }

            a {

                i {
                    color: #343434;
                    display: inline-block;
                    transition: transform .1s ease;
                }

                &:hover {
                    text-decoration: none;

                    i {
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
}