.download-box {
    border: 1px solid #AAA;
    padding: 15px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

    &-info{
        & > span{
            font-weight: 600;
        }
    }

    @include smallmobile{
        display: block;
        &-action{
            margin-top: 10px;
            text-align: center;
        }
    }
}

.upload_document_container{
    .has-media{
        .media-image{
            max-width: 100%;
        } 
    }
}