/** ######################## FAQ PAGE ######################## */
.content-faq {

    ul {
        list-style-type: square;
        margin-bottom: 3rem;
        font-weight: 500;
        margin-left: 2rem;

        li {
            font-size: 1.2em;
            margin-bottom: .6em;
        }
    }
    h3 {
        margin: 3.5rem 0 .5rem;
    }
    p {
        font-size: 18px;
        line-height: 1.4;
    }

    @include belowdesktop{
        & > div:target{
            @include target(35px);
        }
    }
}