/**
    #################################################################
    ############################# FGS ###############################
    #################################################################
 */

 .td-fgs {
    // padding: 70px 20px 20px;
    margin-top: 70px;

    .main-title {
        align-items: center;
        margin-bottom: 30px;
        @include mobile{
            display: block;
        }
    }

    h3 {
        margin-top: 2rem;
    }

    & .cmd-content {
        header {
            padding-top: 0.2em;
            display: flex;
            h4{
                flex: 1;
            }
        }
    }

    &-list {

        li {
            width: 100%;
            border: 0 solid #d5d5d5;

            border-bottom-width: 1px;

            &:first-child {
                border-top-width: 1px;
            }

        }

        header {
            color: #2e2e2e;

            h4 {
                font-size: 1em;
                padding: 0;
                margin: 0;
            }
            small {
                font-size: 0.9em;
                font-weight: 400;
            }
        }

        &-item {
            padding: 1rem 0;

            .grid-2{
                display: flex;
            }
        }
    }
}