.td-social{
    .list-item{
        @include mobile{
            width: 100%;
        }
    }

    .td-horizontal-nav{
        display: flex;
        padding-bottom: 20px;
        align-items: flex-start;
        li{
            height: 38px;
        }

        .btn-home{
            border-right: 1px solid #000;
            padding-right: 15px;
            a{
                display: inline-block;
            }
            a.active{
                color: $dark-grey;
            }
        }
        .social-menu-tabs{
            margin-bottom: 0;
        }

        @include tablet-desktop{
            ul > li:first-child{
                display: none;
            }
            .btn-create{
                span{
                    display: none;
                }
            }
        }

        @include mobile{
            position: relative;
            .social-menu-tabs{
                top: 3.75em;
                left: calc(45px + 2rem);
                width: 230px;
                max-width: calc(100% - 45px - 1rem);
                li{
                    height: auto;
                    a, button{
                        height: 38px;
                        display: flex;
                        align-items: center;
                    }
                    button{
                        background: none;
                        width: auto;
                        color: $main-color;
                        font-size: inherit;
                        margin-left: 5px;
                        border-radius: 0;
                        border: none;
                        box-shadow: none;
                        span{
                            display: inline-block;
                        }
                        &:before, &:after{
                            display: none;
                        }
                    }
                    a.td-pastille{
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        width: 25px;
                        height: 25px;
                        font-size: 14px;
                        line-height: 25px;
                    }
                    &.active{
                        a.td-pastille{
                            right: 30px;
                        }
                    }
                }
            }
        }
    }


    //detail group / activites
    .td-social-full{
    
        .td-social-content-event{
            small{
                display: block;
            }
        }

        .comment-list{
            .comment-iframe{
                @include aspect-ratio(560, 315);
                position: relative;
            }
            iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        @include mobile{
            .td-social-content-description{
                .grid {
                    flex-wrap: wrap;
                    &> *{
                        width: 100%;
                        margin: 0 0 20px;
                    }
                }
            }

            article.media .media-left{
                margin-right: 0;
            }
            .comment-list{
                font-size: 16px;
            }
            .profile-badge{
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
            }
            
        }
                
        @include smallmobile{
            .add-event-to-group-content .events-box{
                nav .option-menu{
                    padding: 0 15px;
                }
                .events-list .event-section .event-miniature-horizontal{
                    display: block;
                }
            }

            .comment-add{
                .btn-group{
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    div{
                        width: 100%;
                    }
                }
                .group-flex{
                    display: block;
                    & > *{
                        margin: 0 0 5px;
                    }

                }
            }
            .comment-list .comment-meta{
                span:first-child{
                    display: inline-block;
                    width: 100%;
                }
                .comment-date{
                    margin-left: 0;
                }
            }
            
        }

        @include smallmobile{
            .add-event-to-group-content .events-box .events-list .event-section .event-miniature-horizontal .title-informations{
                .title-action-button{
                    display: block;
                    .action-button{
                        text-align: left;
                    }
                }
                .informations{
                    display: block;
                }
            }
        }

    }


    .box{
        .btn-group{
            @include smallmobile{
                flex-direction: column-reverse;
                align-items: flex-end;
                & > *{
                    margin-bottom: 5px;
                }
            }
        }
    }
}