.home-header {
    background-image: url($tdtd-background-url);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: cover;
    padding-top: 380px;
    margin-bottom: 3rem;

    @include mobile {
        padding-top: 66%;
    }

}

.catalogue-home {
    h2 {
        padding-bottom: 1em;
        margin-bottom: 0;
        border-bottom: 1px solid #e2e2e2;
    }
    .catalogue-bloc-home {
        padding: 0 5px;
        cursor: pointer;

        a, div {
            display: block;
            border-bottom: 1px solid #e2e2e2;
            padding: 1.3em 0 1em;
            font-size: 1.4em;
            color: #2e2e2e;
            transition: all .3s ease;
            display: flex;
            align-items: middle;
            justify-content: middle;
            position: relative;
            line-height: 42px;

            font-family: $ft-poppins;

            span {
                flex-basis: 100%;
                padding-right: 20px;
            }

            img {
                display: block;
                transition: transform .3s ease;
                max-width: 42px;
                max-height: 42px;
                width: auto;
                height: auto;
                margin-right: 15px;
                flex: 0 0 auto;
            }

            i {
                font-size: 1.2em;
                line-height: 36px;

                transition: all .3s ease;
            }
            &:hover {
                text-decoration: none;

                img {
                    transform: scale(1.15);
                }
                i {
                    transform: translate(0.3rem, 0);
                }
            }
        }
        @include smallmobile{
            a,div{
                line-height: 1.5;
            }
        }
    }
}