.container-login{
    flex-wrap: wrap;
    form,
    .td-wf-inscription-column{
        @include mobile{
            flex: 1 0 100%;
            margin-left: 0;
        }
    }
}

.td-wf-inscription-sidecolumn{
    @include belowdesktop{
        width: 100%;
        margin-left: 0;
        z-index: 12;
        color: $main-color;
        border-radius: 0;
        .tf-wf-loader{
            margin: 0;
            padding: 0;
        }
        .td-progress{
            width: 100%;
            height: 20px;
            border-radius: 0;
            .overlay{
                width: 50px;
                display: inline-block;
                height: auto;
                line-height: 1;
                font-size: 1em;
                color: white;
                background: none;
                border-radius: 0;
                top: 50%;
                left: 20%;
                background: none;
                transform: translate(-100%, -50%);
            }
        }
        .progress-20{
            background-image: linear-gradient(to right, #eb6607 20%, $main-color 20%, $main-color);
            .overlay{
                left: 20%;
            }
        }
        .progress-25 {
            background-image: linear-gradient(to right, #eb6607 25%, $main-color 25%, $main-color);
            .overlay{
                left: 25%;
            }
        }
        .progress-33 {
            background-image: linear-gradient(to right, #eb6607 33%, $main-color 33%, $main-color);
            .overlay{
                left: 33%;
            }
        }
        .progress-40{
            background-image: linear-gradient(to right, #eb6607 40%, $main-color 40%, $main-color);
            .overlay{
                left: 40%;
            }
        }
        .progress-50 {
            background-image: linear-gradient(to right, #eb6607 50%, $main-color 50%, $main-color);
            .overlay{
                left: 50%;
            }
        }
        .progress-60{
            background-image: linear-gradient(to right, #eb6607 60%, $main-color 60%, $main-color);
            .overlay{
                left: 60%;
            }
        }
        .progress-66 {
            background-image: linear-gradient(to right, #eb6607 66%, $main-color 66%, $main-color);
            .overlay{
                left: 66%;
            }
        }
        .progress-75 {
            background-image: linear-gradient(to right, #eb6607 75%, $main-color 75%, $main-color);
            .overlay{
                left: 75%;
            }
        }
        .progress-80{
            background-image: linear-gradient(to right, #eb6607 80%, $main-color 80%, $main-color);
            .overlay{
                left: 80%;
            }
        }
        .progress-100{
            background-image: linear-gradient(to right, #eb6607 100%, $main-color 100%, $main-color);
            .overlay{
                left: 100%;
            }
        }
        p{
            margin: 10px 0 0;
        }
    }
}

.ariane-validate {
    padding: 0 2%;
    @include tablet-desktop{
        position: absolute;
        top: 10px;
        & + .td-wf-box{
            margin-top: 30px;
        }
    }
}

#account_personal_info,
#account_cgv,
#account_cust_fields{
    & > div:first-of-type label{
        margin-top: 0;
    }
}

.container-subscribed{
    a.full-width{
        max-width: 350px;
        white-space: normal;
        line-height: 1.2;
        padding: 3px 2em;
        vertical-align: middle;
        min-height: 34px;
        height: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}