/**
    #################################################################
    ######################## ORDERS DIGEST ##########################
    #################################################################
 */

 .td-cmd {
    // padding: 70px 20px 20px;
    margin-top: 70px;

    &.has_nav{
        margin-top: 15px;
    }

    h3 {
        margin-top: 2rem;
    }

    .cmd-icon-thumb {
        max-width: 30%;
        height: auto;
        margin-right: 1%;

        &:last-child {
            margin-right: 0;
        }
    }

    & .cmd-content {
        header {
            padding-top: 0.2em;
        }
        &-total {
            // float: right;
            // position: absolute;
            // top: 0;
            // right: 0;

            font-size: 1.2em;
            font-weight: 500;
            text-align: right;
            color: #2e2e2e;
        }
        &.cmd-actions button {
            display: block;
            margin-bottom: 5px;
        }

        & .refused-description {
            display: flex;
            justify-content: space-between;
        }
    }

    .td-horizontal-nav {

        .td-cmd-menu {

            display: flex;
            flex-wrap: wrap;

            li {
                color: #000;
                border-right: 1px solid #d5d5d5;

                &:last-child {
                    padding-right: 0;
                    border-right-width: 0;
                }
                &.end-row{
                    border: 0;
                }

                a {
                    color: black;
                    font-weight: 400;

                    &:hover {

                    }
                }
            }
            .active {
                font-weight: 500;
            }

            @include mobile{
                max-height: 32px;
                &:after{
                    top: 5px;
                }
                &.open{
                    max-height: 600px;
                }
            }

        }
    }

    &-list {

        li {
            width: 100%;
            border: 0 solid #d5d5d5;

            border-bottom-width: 1px;

            &:first-child {
                border-top-width: 1px;
            }

        }

        header {
            color: #2e2e2e;

            h4 {
                font-size: 1em;
                padding: 0;
                margin: 0;
            }
            small {
                font-size: 0.9em;
                font-weight: 400;
            }
        }

        & li.canceled {
            opacity: 0.5;
        }

        & li.owned-by-coadherent {
            background-color: #eee;
        }

        &-item {
            padding: 1rem 0;

            .co-adherent-title {
                opacity: .25;
                font-weight: bold;
            }
            .cmd-content.two-thirds .five-sixths,
            .cmd-content.flex-item-fluid .five-sixths,
            .td-cmd-products-content{
                flex: 1;
            }
            .cmd-content-total, .td-cmd-products-price{
                width: 85px;
            }
            @include mobile{
                .cmd-content.two-thirds{
                    flex: 1;
                }
                .cmd-content.cmd-actions{
                    width: 100%;
                    margin: 5px auto 0;
                    text-align: right;
                    button{
                        display: inline-block;
                    }
                }
            }
            @include smallmobile{
                .cmd-content.flex-item-fluid .grid-2,
                .cmd-content.two-thirds .grid-2{
                    display: flex;
                }
            }
        }

        & .td-cmd-products {
            margin-top: 1rem;

            & li {
                width: 100%;
                border: 0;

                font-size: 0.9em;
                font-weight: 400;

                .td-cmd-products-content {
                    padding-left: 20px;
                    position: relative;
                    line-height: 1.25;
                    &::before {
                        content: "";
                        position: absolute;
                        display: inline-block;
                        background-color: #000;
                        width: 4px;
                        height: 4px;
                        vertical-align: 10%;
                        left: 0;
                        top: 7px;
                    }
                }
            }

            &-price {
                text-align: right;
            }
        }
    }

    .history-orders {
        .month-year-selector  {
            margin-bottom: 15px;
        }

        .orders-loader {
            padding: 15px 0;
        }
    }

}