.content-quotation{
    .td-cart-list{
        .td-cart-list-item{
            @include mobile{
                display: block;
                & > *{
                    width: 100%;
                }
            }
        }
    }
}