.registration_flow_form{
    .container-login {
        form {
            > .form-row > label{
                display: none;
            }
            #todotoday_account_bundle_account,
            #todotoday_authsso_bundle_account_sso{
                border: none;
                padding: 0;
            }
        }
    }

    .password-creation{
        > .form-row > label{
            display: none;
        }
        #todotoday_account_bundle_account_password{
            border: none;
            padding: 0;
        }
    }
}