{% extends ":default:rightsideWidth.html.twig" %}

{% block mainContent_noclass %}

    <div id="catalogApp"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/catalog.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/catalog.css') }}" rel="stylesheet" />
{% endblock %}
